<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.supplier.mapper.ApplySupplierMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.supplier.domain.pojo.ApplySupplier">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="supplier_abbreviation" jdbcType="VARCHAR" property="supplierAbbreviation" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="apply_supplier_code" jdbcType="VARCHAR" property="applySupplierCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="apply_status" jdbcType="TINYINT" property="applyStatus" />
    <result column="apply_type" jdbcType="TINYINT" property="applyType" />
    <result column="auditor_by" jdbcType="VARCHAR" property="auditorBy" />
    <result column="auditor_time" jdbcType="TIMESTAMP" property="auditorTime" />
    <result column="form_no" jdbcType="VARCHAR" property="formNo" />
    <result column="enable" jdbcType="VARCHAR" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, supplier_code,supplier_name, supplier_abbreviation, del_flag, apply_supplier_code, create_time,
    create_by, update_time, update_by, apply_status, apply_type, auditor_by, auditor_time, form_no,enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apply_supplier
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from apply_supplier
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.ApplySupplier">
     insert into apply_supplier (supplier_name, supplier_abbreviation,del_flag, create_time,create_by,
            update_time,update_by,apply_supplier_code,apply_type,form_no,enable,company_code,company_name,direct_supervisor_code,direct_supervisor_name)
    values (#{supplierName}, #{supplierAbbreviation},
      #{delFlag},#{createTime},#{createBy},
      #{updateTime},#{updateBy},
      #{applySupplierCode},#{applyType},#{formNo},
      #{enable}, #{companyCode},#{companyName},
      #{directSupervisorCode},#{directSupervisorName})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.ApplySupplier">
    insert into apply_supplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="supplierCode != null">
        supplier_code,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="supplierAbbreviation != null">
        supplier_abbreviation,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="applySupplierCode != null">
        apply_supplier_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="applyStatus != null">
        apply_status,
      </if>
      <if test="applyType != null">
        apply_type,
      </if>
      <if test="auditorBy != null">
        auditor_by,
      </if>
      <if test="auditorTime != null">
        auditor_time,
      </if>
      <if test="formNo != null">
        form_no,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="supplierCode != null">
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAbbreviation != null">
        #{supplierAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="applySupplierCode != null">
        #{applySupplierCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=TINYINT},
      </if>
      <if test="applyType != null">
        #{applyType,jdbcType=TINYINT},
      </if>
      <if test="auditorBy != null">
        #{auditorBy,jdbcType=VARCHAR},
      </if>
      <if test="auditorTime != null">
        #{auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="formNo != null">
        #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.ApplySupplier">
    update apply_supplier
    <set>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAbbreviation != null">
        supplier_abbreviation = #{supplierAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="applySupplierCode != null">
        apply_supplier_code = #{applySupplierCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null">
        apply_status = #{applyStatus,jdbcType=TINYINT},
      </if>

      <if test="applyType != null">
        apply_type = #{applyType,jdbcType=TINYINT},
      </if>
      <if test="auditorBy != null">
        auditor_by = #{auditorBy,jdbcType=VARCHAR},
      </if>
      <if test="auditorTime != null">
        auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="formNo != null">
        form_no = #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="directSupervisorCode != null">
        direct_supervisor_code = #{directSupervisorCode,jdbcType=VARCHAR},
      </if>
      <if test="directSupervisorName != null">
        direct_supervisor_name = #{directSupervisorName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByApplyCodeSelective" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.ApplySupplier">
    update apply_supplier
    <set>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAbbreviation != null">
        supplier_abbreviation = #{supplierAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="applySupplierCode != null">
        apply_supplier_code = #{applySupplierCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="applyStatus != null">
        apply_status = #{applyStatus,jdbcType=TINYINT},
      </if>

      <if test="applyType != null">
        apply_type = #{applyType,jdbcType=TINYINT},
      </if>
      <if test="auditorBy != null">
        auditor_by = #{auditorBy,jdbcType=VARCHAR},
      </if>
      <if test="auditorTime != null">
        auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="formNo != null">
        form_no = #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=VARCHAR},
      </if>
      <if test="directSupervisorCode != null">
        direct_supervisor_code = #{directSupervisorCode,jdbcType=VARCHAR},
      </if>
      <if test="directSupervisorName != null">
        direct_supervisor_name = #{directSupervisorName,jdbcType=VARCHAR},
      </if>
    </set>
    where apply_supplier_code = #{applySupplierCode,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.ApplySupplier">
    update apply_supplier
    set
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_abbreviation = #{supplierAbbreviation,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT},
      apply_supplier_code = #{applySupplierCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      apply_status = #{applyStatus,jdbcType=TINYINT},
      apply_type = #{applyType,jdbcType=TINYINT},
      auditor_by = #{auditorBy,jdbcType=VARCHAR},
      auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
      form_no = #{formNo,jdbcType=VARCHAR},
       enable = #{enable,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>