<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.supplier.mapper.SupplyCompanyMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplyCompany">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="supply_name" jdbcType="VARCHAR" property="supplyName" />
    <result column="supply_type" jdbcType="VARCHAR" property="supplyType" />
    <result column="supply_abbreviation" jdbcType="VARCHAR" property="supplyAbbreviation" />
    <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="supplier_abbreviation" jdbcType="VARCHAR" property="supplierAbbreviation" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="district_id" jdbcType="VARCHAR" property="districtId" />
    <result column="district_name" jdbcType="VARCHAR" property="districtName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="company_website" jdbcType="VARCHAR" property="companyWebsite" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supply_code" jdbcType="VARCHAR" property="supplyCode" />
    <result column="apply_supply_company_code" jdbcType="VARCHAR" property="applySupplyCompanyCode" />
    <result column="auditor_by" jdbcType="VARCHAR" property="auditorBy" />
    <result column="auditor_time" jdbcType="TIMESTAMP" property="auditorTime" />
    <result column="apply_status" jdbcType="TINYINT" property="applyStatus" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="purchasing_group_code" jdbcType="VARCHAR" property="purchasingGroupCode" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="purchasing_group_name" jdbcType="VARCHAR" property="purchasingGroupName"/>
    <result column="tax_id" jdbcType="VARCHAR" property="taxId"/>
    <result column="corporate_representative" jdbcType="VARCHAR" property="corporateRepresentative"/>
    <result column="registered_capital" jdbcType="BIGINT" property="registeredCapital"/>
    <result column="enable" jdbcType="TINYINT" property="enable"/>
    <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
    <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
    <result column="max_order_amount" jdbcType="BIGINT" property="maxOrderAmount"/>
    <result column="min_order_amount" jdbcType="BIGINT" property="minOrderAmount"/>
    <result column="business_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="star_score" jdbcType="DECIMAL" property="starScore" />
  </resultMap>
  <sql id="Base_Column_List">
    id, supply_name, supply_type, supply_abbreviation, province_id, province_name, city_id, 
    city_name, district_id, district_name, address, contact_name, mobile_phone,
    phone, fax, email, company_website, create_time, create_by, update_time, update_by, 
    del_flag, supplier_code, supply_code, apply_supply_company_code, auditor_by, auditor_time, 
    apply_status, supplier_name, purchasing_group_code, zip_code,purchasing_group_name,tax_id,
    corporate_representative,registered_capital,enable,company_code,company_name,max_order_amount,min_order_amount,
    business_license,star_score,supplier_abbreviation,property,pay_type_code,pay_type_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supply_company
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectBySupplyComCodes" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from supply_company
      where company_code = #{companyCode}
      and supply_code in
      <foreach collection="list" open="(" close=")" separator="," item="item">
              #{item}
      </foreach>
    </select>
  <select id="selectBySupplyComNames" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from supply_company
    where company_code = #{companyCode}
    and supply_name in
    <foreach collection="list" open="(" close=")" separator="," item="item">
      #{item}
    </foreach>
  </select>
  <select id="selectBySupplyComCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from supply_company
    where company_code = #{companyCode}
    and supply_code = #{supplyCompanyCode}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from supply_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplyCompany">
    insert into supply_company (id, supply_name, supply_type, 
      supply_abbreviation, province_id, province_name, 
      city_id, city_name, district_id, 
      district_name, address,
      contact_name, mobile_phone, phone, 
      fax, email, company_website, 
      create_time, create_by, update_time, 
      update_by, del_flag, supplier_code, 
      supply_code, apply_supply_company_code, auditor_by, 
      auditor_time, apply_status, supplier_name, 
      purchasing_group_code, zip_code,purchasing_group_name,tax_id,
      corporate_representative,registered_capital,enable,
      company_code,company_name,max_order_amount,min_order_amount,business_license,star_score,direct_supervisor_code,direct_supervisor_name,
      payment_method,brand,delivery_area,remark,approval_name,supplier_abbreviation,property,pay_type_code,pay_type_name)
    values (#{id,jdbcType=BIGINT}, #{supplyName,jdbcType=VARCHAR}, #{supplyType,jdbcType=VARCHAR}, 
      #{supplyAbbreviation,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, 
      #{districtName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{contactName,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{companyWebsite,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=TINYINT}, #{supplierCode,jdbcType=VARCHAR}, 
      #{supplyCode,jdbcType=VARCHAR}, #{applySupplyCompanyCode,jdbcType=VARCHAR}, #{auditorBy,jdbcType=VARCHAR}, 
      #{auditorTime,jdbcType=TIMESTAMP}, #{applyStatus,jdbcType=TINYINT}, #{supplierName,jdbcType=VARCHAR}, 
      #{purchasingGroupCode,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, #{purchasingGroupName,jdbcType=VARCHAR},
      #{taxId,jdbcType=VARCHAR}, #{corporateRepresentative,jdbcType=VARCHAR}, #{registeredCapital,jdbcType=DECIMAL},
      #{enable,jdbcType=TINYINT}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR},
      #{maxOrderAmount,jdbcType=BIGINT}, #{minOrderAmount,jdbcType=BIGINT},#{businessLicense, jdbcType=VARCHAR},
      #{starScore, jdbcType=DECIMAL}, #{directSupervisorCode,jdbcType=VARCHAR},#{directSupervisorName,jdbcType=VARCHAR},#{paymentMethod,jdbcType=VARCHAR},
      #{brand,jdbcType=VARCHAR},#{deliveryArea,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{approvalName,jdbcType=VARCHAR},#{supplierAbbreviation,jdbcType=VARCHAR}
      ,#{property,jdbcType=VARCHAR},#{payTypeCode,jdbcType=VARCHAR},#{payTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplyCompany">
    insert into supply_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="supplyName != null">
        supply_name,
      </if>
      <if test="supplyType != null">
        supply_type,
      </if>
      <if test="supplyAbbreviation != null">
        supply_abbreviation,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="provinceName != null">
        province_name,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
      <if test="districtName != null">
        district_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="mobilePhone != null">
        mobile_phone,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="companyWebsite != null">
        company_website,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="supplierCode != null">
        supplier_code,
      </if>
      <if test="supplyCode != null">
        supply_code,
      </if>
      <if test="applySupplyCompanyCode != null">
        apply_supply_company_code,
      </if>
      <if test="auditorBy != null">
        auditor_by,
      </if>
      <if test="auditorTime != null">
        auditor_time,
      </if>
      <if test="applyStatus != null">
        apply_status,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="purchasingGroupCode != null">
        purchasing_group_code,
      </if>
      <if test="zipCode != null">
        zip_code,
      </if>
      <if test="purchasingGroupName != null">
        purchasing_group_name,
      </if>
      <if test="taxId != null">
        tax_id,
      </if>
      <if test="corporateRepresentative != null">
        corporate_representative,
      </if>
      <if test="registeredCapital != null">
        registered_capital,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="maxOrderAmount != null">
        max_order_amount,
      </if>
      <if test="minOrderAmount != null">
        min_order_amount,
      </if>
      <if test="businessLicense != null">
        business_license,
      </if>
      <if test="starScore != null">
        star_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="supplyName != null">
        #{supplyName,jdbcType=VARCHAR},
      </if>
      <if test="supplyType != null">
        #{supplyType,jdbcType=VARCHAR},
      </if>
      <if test="supplyAbbreviation != null">
        #{supplyAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="districtName != null">
        #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="companyWebsite != null">
        #{companyWebsite,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="supplierCode != null">
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplyCode != null">
        #{supplyCode,jdbcType=VARCHAR},
      </if>
      <if test="applySupplyCompanyCode != null">
        #{applySupplyCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="auditorBy != null">
        #{auditorBy,jdbcType=VARCHAR},
      </if>
      <if test="auditorTime != null">
        #{auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatus != null">
        #{applyStatus,jdbcType=TINYINT},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="purchasingGroupCode != null">
        #{purchasingGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="purchasingGroupName != null">
        #{purchasingGroupName,jdbcType=VARCHAR},
      </if>
      <if test="taxId != null">
        #{taxId,jdbcType=VARCHAR},
      </if>
      <if test="corporateRepresentative != null">
        #{corporateRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null">
        #{registeredCapital,jdbcType=BIGINT},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="maxOrderAmount != null">
       #{maxOrderAmount,jdbcType=BIGINT},
      </if>
      <if test="minOrderAmount != null">
        #{minOrderAmount,jdbcType=BIGINT},
      </if>
      <if test="businessLicense != null">
        #{businessLicense, jdbcType=VARCHAR},
      </if>
      <if test="starScore != null">
        #{starScore, jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplyCompany">
    update supply_company
    <set>
      <if test="supplyName != null">
        supply_name = #{supplyName,jdbcType=VARCHAR},
      </if>
      <if test="supplyType != null">
        supply_type = #{supplyType,jdbcType=VARCHAR},
      </if>
      <if test="supplyAbbreviation != null">
        supply_abbreviation = #{supplyAbbreviation,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=VARCHAR},
      </if>
      <if test="districtName != null">
        district_name = #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="companyWebsite != null">
        company_website = #{companyWebsite,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplyCode != null">
        supply_code = #{supplyCode,jdbcType=VARCHAR},
      </if>
      <if test="applySupplyCompanyCode != null">
        apply_supply_company_code = #{applySupplyCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="auditorBy != null">
        auditor_by = #{auditorBy,jdbcType=VARCHAR},
      </if>
      <if test="auditorTime != null">
        auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyStatus != null">
        apply_status = #{applyStatus,jdbcType=TINYINT},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="purchasingGroupCode != null">
        purchasing_group_code = #{purchasingGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="purchasingGroupName != null">
        purchasing_group_name = #{purchasingGroupName,jdbcType=VARCHAR},
      </if>
      <if test="taxId != null">
        tax_id = #{taxId,jdbcType=VARCHAR},
      </if>
      <if test="corporateRepresentative != null">
        corporate_representative = #{corporateRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null">
        registered_capital = #{registeredCapital,jdbcType=BIGINT},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
      <if test="maxOrderAmount != null">
        max_order_amount = #{maxOrderAmount,jdbcType=BIGINT},
      </if>
      <if test="minOrderAmount != null">
        min_order_amount = #{minOrderAmount,jdbcType=BIGINT},
      </if>
      <if test="businessLicense != null">
        business_license = #{businessLicense, jdbcType=VARCHAR},
      </if>
      <if test="starScore != null">
        star_score = #{starScore, jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplyCompany">
    update supply_company
    set supply_name = #{supplyName,jdbcType=VARCHAR},
      supply_type = #{supplyType,jdbcType=VARCHAR},
      supply_abbreviation = #{supplyAbbreviation,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      district_id = #{districtId,jdbcType=VARCHAR},
      district_name = #{districtName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      company_website = #{companyWebsite,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      supply_code = #{supplyCode,jdbcType=VARCHAR},
      apply_supply_company_code = #{applySupplyCompanyCode,jdbcType=VARCHAR},
      auditor_by = #{auditorBy,jdbcType=VARCHAR},
      auditor_time = #{auditorTime,jdbcType=TIMESTAMP},
      apply_status = #{applyStatus,jdbcType=TINYINT},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      purchasing_group_code = #{purchasingGroupCode,jdbcType=VARCHAR},
      zip_code = #{zipCode,jdbcType=VARCHAR},
      purchasing_group_name = #{purchasingGroupName,jdbcType=VARCHAR},
      tax_id = #{taxId,jdbcType=VARCHAR},
      corporate_representative = #{corporateRepresentative,jdbcType=VARCHAR},
      registered_capital = #{registeredCapital,jdbcType=DECIMAL},
      enable = #{enable,jdbcType=TINYINT},
      max_order_amount = #{maxOrderAmount,jdbcType=BIGINT},
      min_order_amount = #{minOrderAmount,jdbcType=BIGINT},
      business_license = #{businessLicense, jdbcType=VARCHAR},
      star_score = #{starScore, jdbcType=DECIMAL},
      direct_supervisor_code = #{directSupervisorCode,jdbcType=VARCHAR},
      direct_supervisor_name = #{directSupervisorName,jdbcType=VARCHAR},
      payment_method = #{paymentMethod,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      delivery_area = #{deliveryArea,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      supplier_abbreviation = #{supplierAbbreviation,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      pay_type_code = #{payTypeCode,jdbcType=VARCHAR},
      pay_type_name = #{payTypeName,jdbcType=VARCHAR},
      approval_name = #{approvalName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateStarScore">
      update supply_company set star_score = #{startScore, jdbcType=DECIMAL}
      where supply_code =#{supplierCode,jdbcType=VARCHAR}
    </update>
    <update id="updateApplyCodeBySupplyComCode">
      update supply_company set apply_supply_company_code = #{applyCode, jdbcType=VARCHAR}
      where supply_code =#{supplyComCode,jdbcType=VARCHAR}
    </update>
</mapper>