<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.supplier.mapper.SupplierRuleMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplierRule">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="auto_return_goods_day" jdbcType="INTEGER" property="autoReturnGoodsDay" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="order_volume_coefficient" jdbcType="DECIMAL" property="orderVolumeCoefficient" />
    <result column="order_weight_coefficient" jdbcType="DECIMAL" property="orderWeightCoefficient" />
  </resultMap>
  <sql id="Base_Column_List">
    id, auto_return_goods_day, company_code, company_name, del_flag, create_by, create_time, 
    update_by, update_time,order_volume_coefficient,order_weight_coefficient
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supplier_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByCompanyCode" resultType="com.aiqin.bms.scmp.api.supplier.domain.response.rule.DetailRespVo">
    select
      id as id ,
      auto_return_goods_day as autoReturnGoodsDay,
      order_volume_coefficient as orderVolumeCoefficient,
      order_weight_coefficient as orderWeightCoefficient
    from supplier_rule
    where company_code = #{companyCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from supplier_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplierRule">
    insert into supplier_rule (id, auto_return_goods_day, company_code, 
      company_name, del_flag, create_by, 
      create_time, update_by, update_time,
      order_volume_coefficient,order_weight_coefficient
      )
    values (#{id,jdbcType=BIGINT}, #{autoReturnGoodsDay,jdbcType=INTEGER}, #{companyCode,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{delFlag,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{orderVolumeCoefficient,jdbcType=DECIMAL}, #{orderWeightCoefficient,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplierRule">
    insert into supplier_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="autoReturnGoodsDay != null">
        auto_return_goods_day,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="orderVolumeCoefficient != null">
        order_volume_coefficient,
      </if>
      <if test="orderWeightCoefficient != null">
        order_weight_coefficient,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="autoReturnGoodsDay != null">
        #{autoReturnGoodsDay,jdbcType=INTEGER},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderVolumeCoefficient != null">
        #{orderVolumeCoefficient,jdbcType=DECIMAL},
      </if>
      <if test="orderWeightCoefficient != null">
        #{orderWeightCoefficient,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplierRule">
    update supplier_rule
    <set>
      <if test="autoReturnGoodsDay != null">
        auto_return_goods_day = #{autoReturnGoodsDay,jdbcType=INTEGER},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderVolumeCoefficient != null">
        order_volume_coefficient = #{orderVolumeCoefficient,jdbcType=DECIMAL},
      </if>
      <if test="orderWeightCoefficient != null">
        order_weight_coefficient = #{orderWeightCoefficient,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.SupplierRule">
    update supplier_rule
    set auto_return_goods_day = #{autoReturnGoodsDay,jdbcType=INTEGER},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      order_volume_coefficient = #{orderVolumeCoefficient,jdbcType=DECIMAL},
      order_weight_coefficient = #{orderWeightCoefficient,jdbcType=DECIMAL},
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>