<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.supplier.mapper.TagInfoMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.supplier.domain.pojo.TagInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tag_code" jdbcType="VARCHAR" property="tagCode" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_use_num" jdbcType="INTEGER" property="tagUseNum" />
    <result column="tag_type_code" jdbcType="VARCHAR" property="tagTypeCode" />
    <result column="tag_type_name" jdbcType="VARCHAR" property="tagTypeName" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="ListResultMap" type="com.aiqin.bms.scmp.api.supplier.domain.response.tag.QueryTagRespVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tag_code" jdbcType="VARCHAR" property="tagCode" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_use_num" jdbcType="INTEGER" property="tagUseNum" />
    <result column="tag_type_code" jdbcType="VARCHAR" property="tagTypeCode" />
    <result column="tag_type_name" jdbcType="VARCHAR" property="tagTypeName" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="enable" jdbcType="TINYINT" property="enable" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, tag_code, tag_name, tag_use_num, tag_type_code, tag_type_name, company_code,
    company_name, enable, del_flag, create_by, create_time, update_by, update_time
  </sql>

  <sql id="List_Column_List">
    id, tag_code, tag_name, tag_use_num, tag_type_code, tag_type_name, company_code,
    company_name, enable, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag_info
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getList" parameterType="com.aiqin.bms.scmp.api.supplier.domain.request.tag.QueryTagReqVo" resultMap="ListResultMap">
    select
    <include refid="Base_Column_List" />
    from tag_info
    <where>
      <if test="tagCode != null and tagCode.length >0">
        tag_code like CONCAT('%',#{tagCode,jdbcType=VARCHAR},'%')
      </if>
      <if test="companyCode != null and companyCode.length >0">
        and company_code = #{companyCode,jdbcType=VARCHAR}
      </if>
      <if test="enable != null">
        and enable = #{enable,jdbcType=TINYINT}
      </if>
      <if test="tagTypeCode != null and tagTypeCode.length >0">
        and tag_type_code = #{tagTypeCode,jdbcType=TINYINT}
      </if>
      <if test="tagName != null and tagName.length >0">
        and tag_name like CONCAT('%', #{tagName,jdbcType=VARCHAR}, '%')
      </if>
    </where>
    order by tag_use_num,create_time desc
  </select>
  <select id="checkName" resultType="java.lang.Integer">
    select
    count(*)
    from tag_info
    <where>
      <if test="id != null">
        id != #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null  and name.length() > 0 ">
        and tag_name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="companyCode != null and companyCode.length()  > 0 ">
        and company_code =  #{companyCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tag_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.TagInfo">
    insert into tag_info (id, tag_code, tag_name,
      tag_use_num, tag_type_code, tag_type_name,
      company_code, company_name, enable,
      del_flag, create_by, create_time,
      update_by, update_time)
    values (#{id,jdbcType=BIGINT}, #{tagCode,jdbcType=VARCHAR}, #{tagName,jdbcType=VARCHAR},
      #{tagUseNum,jdbcType=INTEGER}, #{tagTypeCode,jdbcType=VARCHAR}, #{tagTypeName,jdbcType=VARCHAR},
      #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{enable,jdbcType=TINYINT},
      #{delFlag,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.TagInfo">
    insert into tag_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tagCode != null">
        tag_code,
      </if>
      <if test="tagName != null">
        tag_name,
      </if>
      <if test="tagUseNum != null">
        tag_use_num,
      </if>
      <if test="tagTypeCode != null">
        tag_type_code,
      </if>
      <if test="tagTypeName != null">
        tag_type_name,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tagCode != null">
        #{tagCode,jdbcType=VARCHAR},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagUseNum != null">
        #{tagUseNum,jdbcType=INTEGER},
      </if>
      <if test="tagTypeCode != null">
        #{tagTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="tagTypeName != null">
        #{tagTypeName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.TagInfo">
    update tag_info
    <set>
      <if test="tagCode != null">
        tag_code = #{tagCode,jdbcType=VARCHAR},
      </if>
      <if test="tagName != null">
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagUseNum != null">
        tag_use_num = #{tagUseNum,jdbcType=INTEGER},
      </if>
      <if test="tagTypeCode != null">
        tag_type_code = #{tagTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="tagTypeName != null">
        tag_type_name = #{tagTypeName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.supplier.domain.pojo.TagInfo">
    update tag_info
    set tag_code = #{tagCode,jdbcType=VARCHAR},
      tag_name = #{tagName,jdbcType=VARCHAR},
      tag_use_num = #{tagUseNum,jdbcType=INTEGER},
      tag_type_code = #{tagTypeCode,jdbcType=VARCHAR},
      tag_type_name = #{tagTypeName,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateUseNum" parameterType="java.util.List">
    <foreach collection="list" item="item" open="" close="" separator=";">
      update tag_info set  tag_use_num = tag_use_num + #{item.changeNum,jdbcType=INTEGER}
      where tag_code = #{item.tagCode,jdbcType=VARCHAR}
    </foreach>

  </update>
</mapper>