<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ApplyProductSkuSaleAreaChannelMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleAreaChannel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="price_channel_code" jdbcType="VARCHAR" property="priceChannelCode" />
    <result column="price_channel_name" jdbcType="VARCHAR" property="priceChannelName" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, price_channel_code, price_channel_name, company_code, company_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apply_product_sku_sale_area_channel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from apply_product_sku_sale_area_channel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleAreaChannel">
    insert into apply_product_sku_sale_area_channel (id, code, price_channel_code, 
      price_channel_name, company_code, company_name
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{priceChannelCode,jdbcType=VARCHAR}, 
      #{priceChannelName,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleAreaChannel">
    insert into apply_product_sku_sale_area_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="priceChannelCode != null">
        price_channel_code,
      </if>
      <if test="priceChannelName != null">
        price_channel_name,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="priceChannelCode != null">
        #{priceChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="priceChannelName != null">
        #{priceChannelName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <insert id="insertBatch" parameterType="java.util.List">
          insert into apply_product_sku_sale_area_channel (id, code, price_channel_code,
      price_channel_name, company_code, company_name
      )
    values
      <foreach collection="list" separator="," close="" open="" item="item">
      (#{item.id,jdbcType=BIGINT}, #{item.code,jdbcType=VARCHAR}, #{item.priceChannelCode,jdbcType=VARCHAR},
      #{item.priceChannelName,jdbcType=VARCHAR}, #{item.companyCode,jdbcType=VARCHAR}, #{item.companyName,jdbcType=VARCHAR}
      )
      </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleAreaChannel">
    update apply_product_sku_sale_area_channel
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="priceChannelCode != null">
        price_channel_code = #{priceChannelCode,jdbcType=VARCHAR},
      </if>
      <if test="priceChannelName != null">
        price_channel_name = #{priceChannelName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleAreaChannel">
    update apply_product_sku_sale_area_channel
    set code = #{code,jdbcType=VARCHAR},
      price_channel_code = #{priceChannelCode,jdbcType=VARCHAR},
      price_channel_name = #{priceChannelName,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>