<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ApplyProductSkuSupplyUnitMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSupplyUnit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="supply_unit_code" jdbcType="VARCHAR" property="supplyUnitCode" />
    <result column="supply_unit_name" jdbcType="VARCHAR" property="supplyUnitName" />
    <result column="no_tax_purchase_price" jdbcType="BIGINT" property="noTaxPurchasePrice" />
    <result column="tax_included_price" jdbcType="BIGINT" property="taxIncludedPrice" />
    <result column="joint_franchise_rate" jdbcType="BIGINT" property="jointFranchiseRate" />
    <result column="point" jdbcType="BIGINT" property="point" />
    <result column="tax_rate" jdbcType="BIGINT" property="taxRate" />
    <result column="factory_sku_code" jdbcType="VARCHAR" property="factorySkuCode" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
    <result column="usage_status" jdbcType="TINYINT" property="usageStatus" />
    <result column="product_sku_name" jdbcType="VARCHAR" property="productSkuName" />
    <result column="apply_code" jdbcType="VARCHAR" property="applyCode" />
    <result column="categories_supply_channels_code" jdbcType="VARCHAR" property="categoriesSupplyChannelsCode" />
    <result column="categories_supply_channels_name" jdbcType="VARCHAR" property="categoriesSupplyChannelsName" />
    <result column="be_effective"  property="beEffective" />
    <result column="selection_effective_time"  property="selectionEffectiveTime" />
    <result column="selection_effective_start_time"  property="selectionEffectiveStartTime" />
    <result column="direct_supervisor_code"  property="directSupervisorCode" />
    <result column="direct_supervisor_name"  property="directSupervisorName" />
    <result column="form_no"  property="formNo" />
    <result column="auditor_status"  property="auditorStatus" />
    <result column="apply_type"  property="applyType" />
    <result column="apply_show"  property="applyShow" />
    <result column="company_code"  property="companyCode" />
    <result column="company_name"  property="companyName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, supply_unit_code, supply_unit_name, no_tax_purchase_price, tax_included_price, 
    joint_franchise_rate, point, is_default, del_flag, create_time, create_by, update_time, 
    update_by, product_sku_code, usage_status, product_sku_name, apply_code,tax_rate,
    categories_supply_channels_code,categories_supply_channels_name,factory_sku_code,
    be_effective,
    selection_effective_time,
    selection_effective_start_time,
    direct_supervisor_code,
    direct_supervisor_name,
    form_no,
    auditor_status,
    apply_type,
    apply_show,
    company_code,
    company_name
  </sql>
</mapper>