<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ApplyProductSkuSaleAreaMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleArea">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="be_disable" jdbcType="INTEGER" property="beDisable" />
    <result column="categories_supply_channels_code" jdbcType="VARCHAR" property="categoriesSupplyChannelsCode" />
    <result column="categories_supply_channels_name" jdbcType="VARCHAR" property="categoriesSupplyChannelsName" />
    <result column="direct_delivery_supplier_code" jdbcType="VARCHAR" property="directDeliverySupplierCode" />
    <result column="direct_delivery_supplier_name" jdbcType="VARCHAR" property="directDeliverySupplierName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="ext_field_1" jdbcType="VARCHAR" property="extField1" />
    <result column="ext_field_2" jdbcType="VARCHAR" property="extField2" />
    <result column="ext_field_3" jdbcType="VARCHAR" property="extField3" />
    <result column="ext_field_4" jdbcType="TIMESTAMP" property="extField4" />
    <result column="ext_field_5" jdbcType="INTEGER" property="extField5" />
    <result column="ext_field_6" jdbcType="BIGINT" property="extField6" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, sku_code, sku_name, be_disable, categories_supply_channels_code, categories_supply_channels_name, 
    direct_delivery_supplier_code, direct_delivery_supplier_name, create_by, create_time, 
    update_by, update_time, company_code, company_name, ext_field_1, ext_field_2, ext_field_3, 
    ext_field_4, ext_field_5, ext_field_6
  </sql>
  <sql id="Base_Column_List1">
    a.id, a.code, a.sku_code, a.sku_name, a.be_disable, a.categories_supply_channels_code, a.categories_supply_channels_name,
    a.direct_delivery_supplier_code, a.direct_delivery_supplier_name, a.create_by, a.create_time,
    a.update_by, a.update_time, a.company_code, a.company_name, a.ext_field_1, a.ext_field_2, a.ext_field_3,
    a.ext_field_4, a.ext_field_5, a.ext_field_6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apply_product_sku_sale_area
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectBySkuCodes" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List1" />
    from apply_product_sku_sale_area a
    left join apply_product_sku_sale_area_main b
    on a.code = b.code
    where b.apply_status = 1 and b.company_code = #{companyCode} and sku_code in
    <foreach collection="items" item="item" open="(" close=")" separator=",">
       #{item}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from apply_product_sku_sale_area
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleArea">
    insert into apply_product_sku_sale_area (id, code, sku_code, 
      sku_name, be_disable, categories_supply_channels_code, 
      categories_supply_channels_name, direct_delivery_supplier_code, 
      direct_delivery_supplier_name, create_by, create_time, 
      update_by, update_time, company_code, 
      company_name, ext_field_1, ext_field_2, 
      ext_field_3, ext_field_4, ext_field_5, 
      ext_field_6)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, 
      #{skuName,jdbcType=VARCHAR}, #{beDisable,jdbcType=INTEGER}, #{categoriesSupplyChannelsCode,jdbcType=VARCHAR}, 
      #{categoriesSupplyChannelsName,jdbcType=VARCHAR}, #{directDeliverySupplierCode,jdbcType=VARCHAR}, 
      #{directDeliverySupplierName,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{companyCode,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{extField1,jdbcType=VARCHAR}, #{extField2,jdbcType=VARCHAR}, 
      #{extField3,jdbcType=VARCHAR}, #{extField4,jdbcType=TIMESTAMP}, #{extField5,jdbcType=INTEGER}, 
      #{extField6,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleArea">
    insert into apply_product_sku_sale_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="beDisable != null">
        be_disable,
      </if>
      <if test="categoriesSupplyChannelsCode != null">
        categories_supply_channels_code,
      </if>
      <if test="categoriesSupplyChannelsName != null">
        categories_supply_channels_name,
      </if>
      <if test="directDeliverySupplierCode != null">
        direct_delivery_supplier_code,
      </if>
      <if test="directDeliverySupplierName != null">
        direct_delivery_supplier_name,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="extField1 != null">
        ext_field_1,
      </if>
      <if test="extField2 != null">
        ext_field_2,
      </if>
      <if test="extField3 != null">
        ext_field_3,
      </if>
      <if test="extField4 != null">
        ext_field_4,
      </if>
      <if test="extField5 != null">
        ext_field_5,
      </if>
      <if test="extField6 != null">
        ext_field_6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="beDisable != null">
        #{beDisable,jdbcType=INTEGER},
      </if>
      <if test="categoriesSupplyChannelsCode != null">
        #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
      </if>
      <if test="categoriesSupplyChannelsName != null">
        #{categoriesSupplyChannelsName,jdbcType=VARCHAR},
      </if>
      <if test="directDeliverySupplierCode != null">
        #{directDeliverySupplierCode,jdbcType=VARCHAR},
      </if>
      <if test="directDeliverySupplierName != null">
        #{directDeliverySupplierName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="extField1 != null">
        #{extField1,jdbcType=VARCHAR},
      </if>
      <if test="extField2 != null">
        #{extField2,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="extField4 != null">
        #{extField4,jdbcType=TIMESTAMP},
      </if>
      <if test="extField5 != null">
        #{extField5,jdbcType=INTEGER},
      </if>
      <if test="extField6 != null">
        #{extField6,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="list">
    insert into apply_product_sku_sale_area (id, code, sku_code,
      sku_name, be_disable, categories_supply_channels_code,
      categories_supply_channels_name, direct_delivery_supplier_code,
      direct_delivery_supplier_name, create_by, create_time,
      update_by, update_time, company_code,
      company_name, ext_field_1, ext_field_2,
      ext_field_3, ext_field_4, ext_field_5,
      ext_field_6)
    values
    <foreach collection="items" item="item" open="" close="" separator=",">
    (#{item.id,jdbcType=BIGINT}, #{item.code,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR},
      #{item.skuName,jdbcType=VARCHAR}, #{item.beDisable,jdbcType=INTEGER}, #{item.categoriesSupplyChannelsCode,jdbcType=VARCHAR},
      #{item.categoriesSupplyChannelsName,jdbcType=VARCHAR}, #{item.directDeliverySupplierCode,jdbcType=VARCHAR},
      #{item.directDeliverySupplierName,jdbcType=VARCHAR}, #{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.companyCode,jdbcType=VARCHAR},
      #{item.companyName,jdbcType=VARCHAR}, #{item.extField1,jdbcType=VARCHAR}, #{item.extField2,jdbcType=VARCHAR},
      #{item.extField3,jdbcType=VARCHAR}, #{item.extField4,jdbcType=TIMESTAMP}, #{item.extField5,jdbcType=INTEGER},
      #{item.extField6,jdbcType=BIGINT})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleArea">
    update apply_product_sku_sale_area
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="beDisable != null">
        be_disable = #{beDisable,jdbcType=INTEGER},
      </if>
      <if test="categoriesSupplyChannelsCode != null">
        categories_supply_channels_code = #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
      </if>
      <if test="categoriesSupplyChannelsName != null">
        categories_supply_channels_name = #{categoriesSupplyChannelsName,jdbcType=VARCHAR},
      </if>
      <if test="directDeliverySupplierCode != null">
        direct_delivery_supplier_code = #{directDeliverySupplierCode,jdbcType=VARCHAR},
      </if>
      <if test="directDeliverySupplierName != null">
        direct_delivery_supplier_name = #{directDeliverySupplierName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="extField1 != null">
        ext_field_1 = #{extField1,jdbcType=VARCHAR},
      </if>
      <if test="extField2 != null">
        ext_field_2 = #{extField2,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        ext_field_3 = #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="extField4 != null">
        ext_field_4 = #{extField4,jdbcType=TIMESTAMP},
      </if>
      <if test="extField5 != null">
        ext_field_5 = #{extField5,jdbcType=INTEGER},
      </if>
      <if test="extField6 != null">
        ext_field_6 = #{extField6,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ApplyProductSkuSaleArea">
    update apply_product_sku_sale_area
    set code = #{code,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      be_disable = #{beDisable,jdbcType=INTEGER},
      categories_supply_channels_code = #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
      categories_supply_channels_name = #{categoriesSupplyChannelsName,jdbcType=VARCHAR},
      direct_delivery_supplier_code = #{directDeliverySupplierCode,jdbcType=VARCHAR},
      direct_delivery_supplier_name = #{directDeliverySupplierName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      ext_field_1 = #{extField1,jdbcType=VARCHAR},
      ext_field_2 = #{extField2,jdbcType=VARCHAR},
      ext_field_3 = #{extField3,jdbcType=VARCHAR},
      ext_field_4 = #{extField4,jdbcType=TIMESTAMP},
      ext_field_5 = #{extField5,jdbcType=INTEGER},
      ext_field_6 = #{extField6,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>