<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.PricePromotionDetailMapper">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.response.price.PricePromotionDetailRespVo">
        <!--
          This element was generated on Tue Nov 05 10:33:05 CST 2019.
        -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="promotion_id" jdbcType="BIGINT" property="promotionId" />
        <result column="condition_num" jdbcType="FLOAT" property="conditionNum" />
        <result column="give_num" jdbcType="FLOAT" property="giveNum" />
        <result column="promotion_type" jdbcType="INTEGER" property="promotionType" />
        <result column="rule_type" jdbcType="INTEGER" property="ruleType" />
        <result column="is_sign" jdbcType="INTEGER" property="isSign" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          This element was generated on Tue Nov 05 10:33:05 CST 2019.
        -->
        id, promotion_id, condition_num, give_num, promotion_type, rule_type, is_sign
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--
          This element was generated on Tue Nov 05 10:33:05 CST 2019.
        -->
        select 
        <include refid="Base_Column_List" />
        from price_promotion_detail
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="loadByPromotionId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from price_promotion_detail
        where promotion_id = #{promotionId,jdbcType=BIGINT}
    </select>

    <select id="loadById"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from price_promotion_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="getBusinessIdForEnough" resultType="java.lang.Long">
        select
        id
        from price_promotion_detail
        <where>
            id = #{promotionId,jdbcType=BIGINT}
       and condition_num=#{conditionNum,jdbcType=FLOAT}
        </where>
        where

    </select>

    <delete id="deteleByPromotionId" parameterType="java.lang.Long">
        delete from price_promotion_detail
        where promotion_id = #{promotionId,jdbcType=BIGINT}
    </delete>


    <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.request.price.PricePromotionDetailReqVo">
        <!--
          This element was generated on Tue Nov 05 10:33:05 CST 2019.
        -->
        insert into price_promotion_detail (id, promotion_id, condition_num, 
            give_num, promotion_type, rule_type, 
            is_sign)
        values (#{id,jdbcType=BIGINT}, #{promotionId,jdbcType=BIGINT}, #{conditionNum,jdbcType=FLOAT}, 
            #{giveNum,jdbcType=FLOAT}, #{promotionType,jdbcType=INTEGER}, #{ruleType,jdbcType=INTEGER}, 
            #{isSign,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="java.util.List">
        insert into price_promotion_detail
        (id,
        promotion_id,
        condition_num,
        give_num,
         promotion_type,
         rule_type,
        is_sign
        )values
        <foreach collection="pricePromotionDetailList" item="vo" index="vo" separator=",">
            (
                #{vo.id,jdbcType=BIGINT},
                #{vo.promotionId,jdbcType=BIGINT},
                #{vo.conditionNum,jdbcType=FLOAT},
                #{vo.giveNum,jdbcType=FLOAT},
                #{vo.promotionType,jdbcType=INTEGER},
                #{vo.ruleType,jdbcType=INTEGER},
                #{vo.isSign,jdbcType=INTEGER}
                )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.request.price.PricePromotionDetailReqVo">
        <!--
          This element was generated on Tue Nov 05 10:33:05 CST 2019.
        -->
        update price_promotion_detail
        <set>
            <if test="promotionId != null">
                promotion_id = #{promotionId,jdbcType=BIGINT},
            </if>
            <if test="conditionNum != null">
                condition_num = #{conditionNum,jdbcType=FLOAT},
            </if>
            <if test="giveNum != null">
                give_num = #{giveNum,jdbcType=FLOAT},
            </if>
            <if test="promotionType != null">
                promotion_type = #{promotionType,jdbcType=INTEGER},
            </if>
            <if test="ruleType != null">
                rule_type = #{ruleType,jdbcType=INTEGER},
            </if>
            <if test="isSign != null">
                is_sign = #{isSign,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.request.price.PricePromotionDetailReqVo">
        <!--
          This element was generated on Tue Nov 05 10:33:05 CST 2019.
        -->
        update price_promotion_detail
        set promotion_id = #{promotionId,jdbcType=BIGINT},
            condition_num = #{conditionNum,jdbcType=FLOAT},
            give_num = #{giveNum,jdbcType=FLOAT},
            promotion_type = #{promotionType,jdbcType=INTEGER},
            rule_type = #{ruleType,jdbcType=INTEGER},
            is_sign = #{isSign,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>