<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductApplyPromotionMapper">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.response.price.PriceApplyPromotionRespVo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="apply_promotion_no" jdbcType="BIGINT" property="applyPromotionNo" />
        <result column="apply_promotion_name" jdbcType="VARCHAR" property="applyPromotionName" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="promotion_no" jdbcType="BIGINT" property="promotionNo" />
        <result column="promotion_name" jdbcType="VARCHAR" property="promotionName" />
        <result column="create_name" jdbcType="VARCHAR" property="createName" />
        <result column="create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
        <result column="update_name" jdbcType="VARCHAR" property="updateName" />
        <result column="update_timestamp" jdbcType="TIMESTAMP" property="updateTimestamp" />
        <result column="operate_name" jdbcType="VARCHAR" property="operateName" />
        <result column="operate_timestamp" jdbcType="TIMESTAMP" property="operateTimestamp" />
        <result column="procurement_section_code" jdbcType="VARCHAR" property="procurementSectionCode" />
        <result column="procurement_section_name" jdbcType="VARCHAR" property="procurementSectionName" />
        <result column="categories_supply_channels_code" jdbcType="VARCHAR" property="categoriesSupplyChannelsCode" />
        <result column="categories_supply_channels_name" jdbcType="VARCHAR" property="categoriesSupplyChannelsName" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>


    <select id="list" parameterType="com.aiqin.bms.scmp.api.product.domain.request.price.PriceApplyPromotionReqVo" resultMap="BaseResultMap">
        select  *
        from price_promotion_apply
        where 1=1
        <if test="applyPromotionNo != null and applyPromotionNo != ''">
           and apply_promotion_no like concat('%',#{applyPromotionNo},'%')
        </if>
        <if test="applyPromotionName != null and applyPromotionName != ''">
           and apply_promotion_name like concat('%',#{applyPromotionName},'%')
        </if>
        <if test="status != null and status != ''">
           and status like concat('%',#{status},'%')
        </if>
        <if test="promotionNo != null and promotionNo != ''">
           and promotion_no like concat('%',#{promotionNo},'%')
        </if>
        <if test="promotionName != null and promotionName != ''">
           and promotion_name like concat('%',#{promotionName},'%')
        </if>
        <if test="createName != null and createName != ''">
          and  create_name like concat('%',#{createName},'%')
        </if>
        <if test="createTimestamp != null ">
           and create_timestamp like concat('%',#{createTimestamp},'%')
        </if>
        <if test="updateName != null and updateName != ''">
           and update_name like concat('%',#{updateName},'%')
        </if>
        <if test="updateTimestamp != null ">
           and update_timestamp like concat('%',#{updateTimestamp},'%')
        </if>
        <if test="operateName != null and operateName != ''">
           and operate_name like concat('%',#{operateName},'%')
        </if>
        <if test="operateTimestamp != null ">
           and operate_timestamp like concat('%',#{operateTimestamp},'%')
        </if>
        <if test="procurementSectionCode != null and procurementSectionCode != ''">
           and procurement_section_code like concat('%',#{procurementSectionCode},'%')
        </if>
        <if test="procurementSectionName != null and procurementSectionName != ''">
           and procurement_section_name like concat('%',#{procurementSectionName},'%')
        </if>
        <if test="categoriesSupplyChannelsCode != null and categoriesSupplyChannelsCode != ''">
           and categories_supply_channels_code like concat('%',#{categoriesSupplyChannelsCode},'%')
        </if>
        <if test="categoriesSupplyChannelsName != null and categoriesSupplyChannelsName != ''">
           and categories_supply_channels_name like concat('%',#{categoriesSupplyChannelsName},'%')
        </if>
        <if test="remark != null and remark != ''">
           and remark like concat('%',#{remark},'%')
        </if>
        and procurement_section_code in
        <foreach collection="purchaseGroupCodes" item="item" index="item" separator="," open="(" close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
        order By create_timestamp desc
    </select>

    <select id="loadById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        *
        from price_promotion_apply
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="loadByPromotionNo"  parameterType="java.lang.String" resultMap="BaseResultMap">
         select
        *
        from price_promotion_apply
        where promotion_no = #{promotionNo,jdbcType=VARCHAR}
    </select>


    <update id="deteleById" parameterType="java.lang.Long">
        update  price_promotion_apply
        set status = '2'
        where id = #{id,jdbcType=BIGINT}
    </update>

    <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.request.price.PriceApplyPromotionReqVo">
        <!--
          This element was generated on Tue Nov 05 10:33:04 CST 2019.
        -->
        insert into price_promotion_apply (id, apply_promotion_no, apply_promotion_name, 
            status, promotion_no, promotion_name, 
            create_name, create_timestamp, update_name, 
            update_timestamp, operate_name, operate_timestamp, 
            procurement_section_code, procurement_section_name, 
            categories_supply_channels_code, categories_supply_channels_name, 
            remark)
        values (#{id,jdbcType=BIGINT}, #{applyPromotionNo,jdbcType=BIGINT}, #{applyPromotionName,jdbcType=VARCHAR}, 
            #{status,jdbcType=INTEGER}, #{promotionNo,jdbcType=BIGINT}, #{promotionName,jdbcType=VARCHAR}, 
            #{createName,jdbcType=VARCHAR}, #{createTimestamp,jdbcType=TIMESTAMP}, #{updateName,jdbcType=VARCHAR}, 
            #{updateTimestamp,jdbcType=TIMESTAMP}, #{operateName,jdbcType=VARCHAR}, #{operateTimestamp,jdbcType=TIMESTAMP}, 
            #{procurementSectionCode,jdbcType=VARCHAR}, #{procurementSectionName,jdbcType=VARCHAR}, 
            #{categoriesSupplyChannelsCode,jdbcType=VARCHAR}, #{categoriesSupplyChannelsName,jdbcType=VARCHAR}, 
            #{remark,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.request.price.PriceApplyPromotionReqVo">
        <!--
          This element was generated on Tue Nov 05 10:33:04 CST 2019.
        -->
        insert into price_promotion_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="applyPromotionNo != null">
                apply_promotion_no,
            </if>
            <if test="applyPromotionName != null">
                apply_promotion_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="promotionNo != null">
                promotion_no,
            </if>
            <if test="promotionName != null">
                promotion_name,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="createTimestamp != null">
                create_timestamp,
            </if>
            <if test="updateName != null">
                update_name,
            </if>
            <if test="updateTimestamp != null">
                update_timestamp,
            </if>
            <if test="operateName != null">
                operate_name,
            </if>
            <if test="operateTimestamp != null">
                operate_timestamp,
            </if>
            <if test="procurementSectionCode != null">
                procurement_section_code,
            </if>
            <if test="procurementSectionName != null">
                procurement_section_name,
            </if>
            <if test="categoriesSupplyChannelsCode != null">
                categories_supply_channels_code,
            </if>
            <if test="categoriesSupplyChannelsName != null">
                categories_supply_channels_name,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="applyPromotionNo != null">
                #{applyPromotionNo,jdbcType=BIGINT},
            </if>
            <if test="applyPromotionName != null">
                #{applyPromotionName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="promotionNo != null">
                #{promotionNo,jdbcType=BIGINT},
            </if>
            <if test="promotionName != null">
                #{promotionName,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTimestamp != null">
                #{createTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null">
                #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTimestamp != null">
                #{updateTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="operateName != null">
                #{operateName,jdbcType=VARCHAR},
            </if>
            <if test="operateTimestamp != null">
                #{operateTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="procurementSectionCode != null">
                #{procurementSectionCode,jdbcType=VARCHAR},
            </if>
            <if test="procurementSectionName != null">
                #{procurementSectionName,jdbcType=VARCHAR},
            </if>
            <if test="categoriesSupplyChannelsCode != null">
                #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
            </if>
            <if test="categoriesSupplyChannelsName != null">
                #{categoriesSupplyChannelsName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateById" parameterType="com.aiqin.bms.scmp.api.product.domain.request.price.PriceApplyPromotionReqVo">
        <!--
          This element was generated on Tue Nov 05 10:33:04 CST 2019.
        -->
        update price_promotion_apply
        <set>
            <if test="applyPromotionNo != null">
                apply_promotion_no = #{applyPromotionNo,jdbcType=BIGINT},
            </if>
            <if test="applyPromotionName != null">
                apply_promotion_name = #{applyPromotionName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="promotionNo != null">
                promotion_no = #{promotionNo,jdbcType=BIGINT},
            </if>
            <if test="promotionName != null">
                promotion_name = #{promotionName,jdbcType=VARCHAR},
            </if>
            <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTimestamp != null">
                create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTimestamp != null">
                update_timestamp = #{updateTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="operateName != null">
                operate_name = #{operateName,jdbcType=VARCHAR},
            </if>
            <if test="operateTimestamp != null">
                operate_timestamp = #{operateTimestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="procurementSectionCode != null">
                procurement_section_code = #{procurementSectionCode,jdbcType=VARCHAR},
            </if>
            <if test="procurementSectionName != null">
                procurement_section_name = #{procurementSectionName,jdbcType=VARCHAR},
            </if>
            <if test="categoriesSupplyChannelsCode != null">
                categories_supply_channels_code = #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
            </if>
            <if test="categoriesSupplyChannelsName != null">
                categories_supply_channels_name = #{categoriesSupplyChannelsName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.aiqin.bms.scmp.api.product.domain.request.price.PriceApplyPromotionReqVo">
        <!--
          This element was generated on Tue Nov 05 10:33:04 CST 2019.
        -->
        update price_promotion_apply
        set apply_promotion_no = #{applyPromotionNo,jdbcType=BIGINT},
            apply_promotion_name = #{applyPromotionName,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            promotion_no = #{promotionNo,jdbcType=BIGINT},
            promotion_name = #{promotionName,jdbcType=VARCHAR},
            create_name = #{createName,jdbcType=VARCHAR},
            create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
            update_name = #{updateName,jdbcType=VARCHAR},
            update_timestamp = #{updateTimestamp,jdbcType=TIMESTAMP},
            operate_name = #{operateName,jdbcType=VARCHAR},
            operate_timestamp = #{operateTimestamp,jdbcType=TIMESTAMP},
            procurement_section_code = #{procurementSectionCode,jdbcType=VARCHAR},
            procurement_section_name = #{procurementSectionName,jdbcType=VARCHAR},
            categories_supply_channels_code = #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
            categories_supply_channels_name = #{categoriesSupplyChannelsName,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="update" parameterType="com.aiqin.bms.scmp.api.product.domain.request.price.PriceApplyPromotionReqVo">
        update price_promotion_apply
        set apply_promotion_no = #{applyPromotionNo,jdbcType=BIGINT},
            apply_promotion_name = #{applyPromotionName,jdbcType=VARCHAR},
            status = #{status,jdbcType=INTEGER},
            promotion_no = #{promotionNo,jdbcType=BIGINT},
            promotion_name = #{promotionName,jdbcType=VARCHAR},
            create_name = #{createName,jdbcType=VARCHAR},
            create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
            update_name = #{updateName,jdbcType=VARCHAR},
            update_timestamp = #{updateTimestamp,jdbcType=TIMESTAMP},
            operate_name = #{operateName,jdbcType=VARCHAR},
            operate_timestamp = #{operateTimestamp,jdbcType=TIMESTAMP},
            procurement_section_code = #{procurementSectionCode,jdbcType=VARCHAR},
            procurement_section_name = #{procurementSectionName,jdbcType=VARCHAR},
            categories_supply_channels_code = #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
            categories_supply_channels_name = #{categoriesSupplyChannelsName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>