<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuConfigSpareWarehouseMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigSpareWarehouse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="config_code" jdbcType="VARCHAR" property="configCode" />
    <result column="transport_center_code" jdbcType="VARCHAR" property="transportCenterCode" />
    <result column="transport_center_name" jdbcType="VARCHAR" property="transportCenterName" />
    <result column="use_order" jdbcType="INTEGER" property="useOrder" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, config_code, transport_center_code, transport_center_name, use_order, create_by, 
    create_time, update_by, update_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_sku_config_spare_warehouse
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByConfigCode" parameterType="java.util.List" resultMap="BaseResultMap">
      select
      a.config_code,
      group_concat(a.transport_center_name) as transport_center_name
      from product_sku_config_spare_warehouse a
      where config_code in
      <foreach collection="list" open="(" close=")" item="item" separator=",">
           #{item}
      </foreach>
      group by a.config_code
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_sku_config_spare_warehouse
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByConfigCodes" parameterType="java.util.List">
    delete from product_sku_config_spare_warehouse
    where config_code in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigSpareWarehouse">
    insert into product_sku_config_spare_warehouse (id, config_code, transport_center_code, 
      transport_center_name, use_order, create_by, 
      create_time, update_by, update_time, 
      del_flag)
    values (#{id,jdbcType=BIGINT}, #{configCode,jdbcType=VARCHAR}, #{transportCenterCode,jdbcType=VARCHAR}, 
      #{transportCenterName,jdbcType=VARCHAR}, #{useOrder,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
  insert into product_sku_config_spare_warehouse (config_code, transport_center_code,
  transport_center_name, use_order, create_by,
  create_time, update_by, update_time,
  del_flag)
  values
  <foreach collection="list" item="item" open="" close="" separator=",">
    (#{item.configCode,jdbcType=VARCHAR},#{item.transportCenterCode,jdbcType=VARCHAR},
    #{item.transportCenterName,jdbcType=VARCHAR},#{item.useOrder,jdbcType=INTEGER},#{item.createBy,jdbcType=VARCHAR},
    #{item.createTime,jdbcType=TIMESTAMP},#{item.updateBy,jdbcType=VARCHAR},#{item.updateTime,jdbcType=TIMESTAMP},
    #{item.delFlag,jdbcType=TINYINT})
  </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigSpareWarehouse">
    insert into product_sku_config_spare_warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="configCode != null">
        config_code,
      </if>
      <if test="transportCenterCode != null">
        transport_center_code,
      </if>
      <if test="transportCenterName != null">
        transport_center_name,
      </if>
      <if test="useOrder != null">
        use_order,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="configCode != null">
        #{configCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterName != null">
        #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="useOrder != null">
        #{useOrder,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigSpareWarehouse">
    update product_sku_config_spare_warehouse
    <set>
      <if test="configCode != null">
        config_code = #{configCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterName != null">
        transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="useOrder != null">
        use_order = #{useOrder,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigSpareWarehouse">
    update product_sku_config_spare_warehouse
    set config_code = #{configCode,jdbcType=VARCHAR},
      transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      use_order = #{useOrder,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>