<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuSaleAreaMainMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaMain">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="be_disable" jdbcType="INTEGER" property="beDisable" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="apply_code" jdbcType="VARCHAR" property="applyCode" />
    <result column="be_effective" jdbcType="INTEGER" property="beEffective" />
    <result column="selection_effective_time" jdbcType="TINYINT" property="selectionEffectiveTime" />
    <result column="selection_effective_start_time" jdbcType="TIMESTAMP" property="selectionEffectiveStartTime" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="ext_field_1" jdbcType="VARCHAR" property="extField1" />
    <result column="ext_field_2" jdbcType="VARCHAR" property="extField2" />
    <result column="ext_field_3" jdbcType="VARCHAR" property="extField3" />
    <result column="ext_field_4" jdbcType="TIMESTAMP" property="extField4" />
    <result column="ext_field_5" jdbcType="INTEGER" property="extField5" />
    <result column="ext_field_6" jdbcType="BIGINT" property="extField6" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, be_disable, create_by, create_time, update_by, update_time, apply_code, 
    be_effective, selection_effective_time, selection_effective_start_time, company_code, 
    company_name, ext_field_1, ext_field_2, ext_field_3, ext_field_4, ext_field_5, ext_field_6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_sku_sale_area_main
    where id = #{id,jdbcType=BIGINT}
  </select>
  <resultMap id="selectListByCodes" type="com.aiqin.bms.scmp.api.product.domain.dto.salearea.ProductSkuSaleAreaMainDTO">
    <!--<id column="id" jdbcType="BIGINT" property="id" />-->
    <result column="acode" jdbcType="VARCHAR" property="code" />
    <result column="aname" jdbcType="VARCHAR" property="name" />
    <result column="abe_disable" jdbcType="INTEGER" property="beDisable" />
    <result column="acreate_by" jdbcType="VARCHAR" property="createBy" />
    <result column="acreate_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="aupdate_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="aupdate_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="aapply_code" jdbcType="VARCHAR" property="applyCode" />
    <result column="abe_effective" jdbcType="INTEGER" property="beEffective" />
    <result column="aselection_effective_time" jdbcType="TINYINT" property="selectionEffectiveTime" />
    <result column="aselection_effective_start_time" jdbcType="TIMESTAMP" property="selectionEffectiveStartTime" />
    <result column="acompany_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="acompany_name" jdbcType="VARCHAR" property="companyName" />
    <result column="aext_field_1" jdbcType="VARCHAR" property="extField1" />
    <result column="aext_field_2" jdbcType="VARCHAR" property="extField2" />
    <result column="aext_field_3" jdbcType="VARCHAR" property="extField3" />
    <result column="aext_field_4" jdbcType="TIMESTAMP" property="extField4" />
    <result column="aext_field_5" jdbcType="INTEGER" property="extField5" />
    <result column="aext_field_6" jdbcType="BIGINT" property="extField6" />
    <collection property="skuList" ofType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleArea">
      <!--<id column="id" jdbcType="BIGINT" property="id" />-->
      <result column="bcode" jdbcType="VARCHAR" property="code" />
      <result column="bsku_code" jdbcType="VARCHAR" property="skuCode" />
      <result column="bsku_name" jdbcType="VARCHAR" property="skuName" />
      <result column="bbe_disable" jdbcType="INTEGER" property="beDisable" />
      <result column="bcategories_supply_channels_code" jdbcType="VARCHAR" property="categoriesSupplyChannelsCode" />
      <result column="bcategories_supply_channels_name" jdbcType="VARCHAR" property="categoriesSupplyChannelsName" />
      <result column="bdirect_delivery_supplier_code" jdbcType="VARCHAR" property="directDeliverySupplierCode" />
      <result column="bdirect_delivery_supplier_name" jdbcType="VARCHAR" property="directDeliverySupplierName" />
      <result column="bcreate_by" jdbcType="VARCHAR" property="createBy" />
      <result column="bcreate_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="bupdate_by" jdbcType="VARCHAR" property="updateBy" />
      <result column="bupdate_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="bcompany_code" jdbcType="VARCHAR" property="companyCode" />
      <result column="bcompany_name" jdbcType="VARCHAR" property="companyName" />
      <result column="bext_field_1" jdbcType="VARCHAR" property="extField1" />
      <result column="bext_field_2" jdbcType="VARCHAR" property="extField2" />
      <result column="bext_field_3" jdbcType="VARCHAR" property="extField3" />
      <result column="bext_field_4" jdbcType="TIMESTAMP" property="extField4" />
      <result column="bext_field_5" jdbcType="INTEGER" property="extField5" />
      <result column="bext_field_6" jdbcType="BIGINT" property="extField6" />
    </collection>
    <collection property="areaList" ofType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaInfo">
      <!--<id column="id" jdbcType="BIGINT" property="id" />-->
      <result column="cmain_code" jdbcType="VARCHAR" property="mainCode" />
      <result column="csku_code" jdbcType="VARCHAR" property="skuCode" />
      <result column="ctype" jdbcType="INTEGER" property="type" />
      <result column="cstatus" jdbcType="INTEGER" property="status" />
      <result column="cname" jdbcType="VARCHAR" property="name" />
      <result column="ccode" jdbcType="VARCHAR" property="code" />
      <result column="ccompany_code" jdbcType="VARCHAR" property="companyCode" />
      <result column="ccompany_name" jdbcType="VARCHAR" property="companyName" />
      <result column="cprovince_id" jdbcType="VARCHAR" property="provinceId" />
      <result column="cext_field_1" jdbcType="VARCHAR" property="extField1" />
      <result column="cext_field_2" jdbcType="VARCHAR" property="extField2" />
      <result column="cext_field_3" jdbcType="VARCHAR" property="extField3" />
      <result column="cext_field_4" jdbcType="TIMESTAMP" property="extField4" />
      <result column="cext_field_5" jdbcType="INTEGER" property="extField5" />
      <result column="cext_field_6" jdbcType="BIGINT" property="extField6" />
    </collection>
    <collection property="channelList" ofType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaChannel">
      <!--<id column="id" jdbcType="BIGINT" property="id" />-->
      <result column="dcode" jdbcType="VARCHAR" property="code" />
      <result column="dprice_channel_code" jdbcType="VARCHAR" property="priceChannelCode" />
      <result column="dprice_channel_name" jdbcType="VARCHAR" property="priceChannelName" />
      <result column="dcompany_code" jdbcType="VARCHAR" property="companyCode" />
      <result column="dcompany_name" jdbcType="VARCHAR" property="companyName" />
      <result column="dext_field_1" jdbcType="VARCHAR" property="extField1" />
      <result column="dext_field_2" jdbcType="VARCHAR" property="extField2" />
      <result column="dext_field_3" jdbcType="VARCHAR" property="extField3" />
      <result column="dext_field_4" jdbcType="TIMESTAMP" property="extField4" />
      <result column="dext_field_5" jdbcType="INTEGER" property="extField5" />
      <result column="dext_field_6" jdbcType="BIGINT" property="extField6" />
    </collection>
  </resultMap>
  <select id="selectListByCodes" resultMap="selectListByCodes">
    select a.id aid,
    a.code acode,
    a.name aname,
    a.be_disable abe_disable,
    a.create_by acreate_by,
    a.create_time acreate_time,
    a.update_by aupdate_by,
    a.update_time aupdate_time,
    a.apply_code aapply_code,
    a.be_effective abe_effective,
    a.selection_effective_time aselection_effective_time,
    a.selection_effective_start_time aselection_effective_start_time,
    a.company_code acompany_code,
    a.company_name acompany_name,
    a.ext_field_1 aext_field_1,
    a.ext_field_2 aext_field_2,
    a.ext_field_3 aext_field_3,
    a.ext_field_4 aext_field_4,
    a.ext_field_5 aext_field_5,
    a.ext_field_6 aext_field_6,
    b.id bid,
    b.code bcode,
    b.sku_code bsku_code,
    b.sku_name bsku_name,
    b.be_disable bbe_disable,
    b.categories_supply_channels_code bcategories_supply_channels_code,
    b.categories_supply_channels_name bcategories_supply_channels_name,
    b.direct_delivery_supplier_code bdirect_delivery_supplier_code,
    b.direct_delivery_supplier_name bdirect_delivery_supplier_name,
    b.create_by bcreate_by,
    b.create_time bcreate_time,
    b.update_by bupdate_by,
    b.update_time bupdate_time,
    b.company_code bcompany_code,
    b.company_name bcompany_name,
    b.ext_field_1 bext_field_1,
    b.ext_field_2 bext_field_2,
    b.ext_field_3 bext_field_3,
    b.ext_field_4 bext_field_4,
    b.ext_field_5 bext_field_5,
    b.ext_field_6 bext_field_6,
    c.id cid,
    c.main_code cmain_code,
    c.sku_code csku_code,
    c.type ctype,
    c.status cstatus,
    c.name cname,
    c.code ccode,
    c.company_code ccompany_code,
    c.company_name ccompany_name,
    c.province_id cprovince_id,
    c.ext_field_1 cext_field_1,
    c.ext_field_2 cext_field_2,
    c.ext_field_3 cext_field_3,
    c.ext_field_4 cext_field_4,
    c.ext_field_5 cext_field_5,
    c.ext_field_6 cext_field_6,
    d.id did,
    d.code dcode,
    d.price_channel_code dprice_channel_code,
    d.price_channel_name dprice_channel_name,
    d.company_code dcompany_code,
    d.company_name dcompany_name,
    d.ext_field_1 dext_field_1,
    d.ext_field_2 dext_field_2,
    d.ext_field_3 dext_field_3,
    d.ext_field_4 dext_field_4,
    d.ext_field_5 dext_field_5,
    d.ext_field_6 dext_field_6
    from product_sku_sale_area_main a
    left join product_sku_sale_area b
    on a.code = b.code
    left join product_sku_sale_area_info c
    on a.code = c.main_code
    left join product_sku_sale_area_channel d
    on a.code = d.code
    where a.code in
    <foreach collection="items" separator="," close=")" open="(" item="item">
      #{item}
    </foreach>
  </select>
  <resultMap id="selectListByQueryVo" type="com.aiqin.bms.scmp.api.product.domain.response.salearea.QueryProductSaleAreaMainRespVO">
    <result column="acode"  property="code" />
    <result column="aname"  property="name" />
    <result column="abe_disable"  property="beDisable" />
    <result column="acreate_by" property="createBy" />
    <result column="acreate_time"  property="createTime" />
    <result column="aupdate_by"  property="updateBy" />
    <result column="aupdate_time"  property="updateTime" />
    <result column="aapply_type"  property="applyType" />
    <collection property="skuList" ofType="com.aiqin.bms.scmp.api.product.domain.response.salearea.QueryProductSaleAreaRespVO">
      <result column="bsku_code"  property="skuCode" />
      <result column="bsku_name"  property="skuName" />
      <result column="bbe_disable"  property="beDisable" />
      <result column="bcategories_supply_channels_code"  property="categoriesSupplyChannelsCode" />
      <result column="bcategories_supply_channels_name"  property="categoriesSupplyChannelsName" />
      <result column="bdirect_delivery_supplier_code"  property="directDeliverySupplierCode" />
      <result column="bdirect_delivery_supplier_name"  property="directDeliverySupplierName" />
    </collection>
    <collection property="areaList" ofType="com.aiqin.bms.scmp.api.product.domain.response.salearea.ProductSaleAreaInfoRespVO">
      <result column="ctype"  property="type" />
      <result column="cstatus"  property="status" />
      <result column="cname"  property="name" />
      <result column="ccode"  property="code" />
    </collection>
  </resultMap>
  <select id="selectListByQueryVo" resultMap="selectListByQueryVo" parameterType="java.util.List">
     select
             a.code acode,
             a.name aname,
             a.be_disable abe_disable,
             a.create_by acreate_by,
             a.create_time acreate_time,
             a.update_by aupdate_by,
             a.update_time aupdate_time,
             b.sku_code bsku_code,
             b.sku_name bsku_name,
             b.be_disable bbe_disable,
             b.categories_supply_channels_code bcategories_supply_channels_code,
             b.categories_supply_channels_name bcategories_supply_channels_name,
             b.direct_delivery_supplier_code bdirect_delivery_supplier_code,
             b.direct_delivery_supplier_name bdirect_delivery_supplier_name,
             c.type ctype,
             c.status cstatus,
             c.name cname,
             c.code ccode
      from product_sku_sale_area_main a
             left join product_sku_sale_area b
                       on a.code = b.code
             left join product_sku_sale_area_info c
                       on a.code = c.main_code
      where a.id in
      <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
      </foreach>
      order by a.create_time desc
  </select>
  <select id="selectListByQueryVoCount" resultType="java.lang.Long">
    select
    a.id
    from product_sku_sale_area_main a
    left join product_sku_sale_area b
    on a.code = b.code
    left join product_sku_sale_area_info c
    on a.code = c.main_code
    where a.company_code = #{companyCode} and a.be_effective = 1
    <if test="code != null and code != ''">
      and a.code  like concat('%',#{code},'%')
    </if>
    <if test="name != null and name != ''">
      and a.name like concat('%',#{name},'%')
    </if>
    <if test="beDisable != null">
      and a.be_disable = #{beDisable}
    </if>
    <if test="skuCode != null and skuCode != ''">
      and b.sku_code like concat('%',#{skuCode},'%')
    </if>
    <if test="skuName != null and skuName != ''">
      and b.sku_name like concat('%',#{skuName},'%')
    </if>
    <if test="allowArea != null and allowArea != ''">
      and c.name like concat('%',#{allowArea},'%') and c.status = 1 and c.type = 1
    </if>
    <if test="forbiddenArea != null and forbiddenArea != ''">
      and c.name like concat('%',#{forbiddenArea},'%') and c.status = 0 and c.type = 1
    </if>
    <if test="allowStore != null and allowStore != ''">
      and c.name like concat('%',#{allowStore},'%') and c.status = 1 and c.type = 2
    </if>
    <if test="forbiddenStore != null and forbiddenStore != ''">
      and c.name like concat('%',#{forbiddenStore},'%') and c.status = 0 and c.type = 2
    </if>
    group by a.id order by a.create_time desc
  </select>
  <resultMap id="selectDetailByCode" type="com.aiqin.bms.scmp.api.product.domain.response.salearea.ProductSaleAreaForOfficialMainRespVO">
    <result column="acode"  property="code" />
    <result column="aname"  property="name" />
    <result column="acreate_by"  property="createBy" />
    <result column="acreate_time"  property="createTime" />
    <result column="aupdate_by"  property="updateBy" />
    <result column="aupdate_time"  property="updateTime" />
    <result column="abe_disable"  property="beDisable" />
    <collection property="skuList" ofType="com.aiqin.bms.scmp.api.product.domain.response.salearea.QueryProductSaleAreaRespVO">
      <result column="bsku_code"  property="skuCode" />
      <result column="bsku_name"  property="skuName" />
      <result column="bbe_disable"  property="beDisable" />
      <result column="bcolorName"  property="colorName" />
      <result column="bspec"  property="spec" />
      <result column="bmodelNumber"  property="modelNumber" />
      <result column="bcategories_supply_channels_code"  property="categoriesSupplyChannelsCode" />
      <result column="bcategories_supply_channels_name"  property="categoriesSupplyChannelsName" />
      <result column="bdirect_delivery_supplier_code"  property="directDeliverySupplierCode" />
      <result column="bdirect_delivery_supplier_name"  property="directDeliverySupplierName" />
    </collection>
    <collection property="areaList" ofType="com.aiqin.bms.scmp.api.product.domain.response.salearea.ProductSaleAreaInfoRespVO">
      <result column="ctype"  property="type" />
      <result column="cstatus"  property="status" />
      <result column="cname"  property="name" />
      <result column="ccode"  property="code" />
    </collection>
    <collection property="channelList" ofType="com.aiqin.bms.scmp.api.product.domain.response.salearea.ProductSaleAreaChannelRespVO">
      <result column="dprice_channel_code" property="priceChannelCode"></result>
      <result column="dprice_channel_name" property="priceChannelName"></result>
    </collection>
  </resultMap>
  <select id="selectDetailByCode" resultMap="selectDetailByCode">
        select
             a.code acode,
             a.name aname,
             a.be_disable abe_disable,
             a.create_by acreate_by,
             a.create_time acreate_time,
             a.update_by aupdate_by,
             a.update_time aupdate_time,
             b.sku_code bsku_code,
             b.sku_name bsku_name,
             e.color_name bcolorName,
             f.spec bspec,
             e.model_number bmodelNumber,
             b.be_disable bbe_disable,
             b.categories_supply_channels_code bcategories_supply_channels_code,
             b.categories_supply_channels_name bcategories_supply_channels_name,
             b.direct_delivery_supplier_code bdirect_delivery_supplier_code,
             b.direct_delivery_supplier_name bdirect_delivery_supplier_name,
             c.type ctype,
             c.status cstatus,
             c.name cname,
             c.code ccode,
             d.price_channel_code dprice_channel_code,
             d.price_channel_name dprice_channel_name
      from product_sku_sale_area_main a
             left join product_sku_sale_area b
                       on a.code = b.code
             left join product_sku_sale_area_info c
                       on a.code = c.main_code
             left join product_sku_sale_area_channel d
                       on a.code = d.code
             left join product_sku e
                   on b.sku_code = e.sku_code
         left join product_sku_distribution_info f
                   on f.product_sku_code = b.sku_code
      where a.code = #{code}
  </select>
    <select id="selectListByStatusAndDate" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from product_sku_sale_area_main
      where be_effective = 0 and <![CDATA[selection_effective_start_time <= now() ]]>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_sku_sale_area_main
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaMain">
    insert into product_sku_sale_area_main (id, code, name, 
      be_disable, create_by, create_time, 
      update_by, update_time, apply_code, 
      be_effective, selection_effective_time, selection_effective_start_time, 
      company_code, company_name, ext_field_1, 
      ext_field_2, ext_field_3, ext_field_4, 
      ext_field_5, ext_field_6)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{beDisable,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{applyCode,jdbcType=VARCHAR}, 
      #{beEffective,jdbcType=INTEGER}, #{selectionEffectiveTime,jdbcType=TINYINT}, #{selectionEffectiveStartTime,jdbcType=TIMESTAMP}, 
      #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{extField1,jdbcType=VARCHAR}, 
      #{extField2,jdbcType=VARCHAR}, #{extField3,jdbcType=VARCHAR}, #{extField4,jdbcType=TIMESTAMP}, 
      #{extField5,jdbcType=INTEGER}, #{extField6,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaMain">
    insert into product_sku_sale_area_main
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="beDisable != null">
        be_disable,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="applyCode != null">
        apply_code,
      </if>
      <if test="beEffective != null">
        be_effective,
      </if>
      <if test="selectionEffectiveTime != null">
        selection_effective_time,
      </if>
      <if test="selectionEffectiveStartTime != null">
        selection_effective_start_time,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="extField1 != null">
        ext_field_1,
      </if>
      <if test="extField2 != null">
        ext_field_2,
      </if>
      <if test="extField3 != null">
        ext_field_3,
      </if>
      <if test="extField4 != null">
        ext_field_4,
      </if>
      <if test="extField5 != null">
        ext_field_5,
      </if>
      <if test="extField6 != null">
        ext_field_6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="beDisable != null">
        #{beDisable,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyCode != null">
        #{applyCode,jdbcType=VARCHAR},
      </if>
      <if test="beEffective != null">
        #{beEffective,jdbcType=INTEGER},
      </if>
      <if test="selectionEffectiveTime != null">
        #{selectionEffectiveTime,jdbcType=TINYINT},
      </if>
      <if test="selectionEffectiveStartTime != null">
        #{selectionEffectiveStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="extField1 != null">
        #{extField1,jdbcType=VARCHAR},
      </if>
      <if test="extField2 != null">
        #{extField2,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="extField4 != null">
        #{extField4,jdbcType=TIMESTAMP},
      </if>
      <if test="extField5 != null">
        #{extField5,jdbcType=INTEGER},
      </if>
      <if test="extField6 != null">
        #{extField6,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
    <insert id="insertBatch">
          insert into product_sku_sale_area_main (id, code, name,
      be_disable, create_by, create_time,
      update_by, update_time, apply_code,
      be_effective, selection_effective_time, selection_effective_start_time,
      company_code, company_name, ext_field_1,
      ext_field_2, ext_field_3, ext_field_4,
      ext_field_5, ext_field_6)
    values
      <foreach collection="items" item="item" open="" close="" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.code,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR},
      #{item.beDisable,jdbcType=INTEGER}, #{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.applyCode,jdbcType=VARCHAR},
      #{item.beEffective,jdbcType=INTEGER}, #{item.selectionEffectiveTime,jdbcType=TINYINT}, #{item.selectionEffectiveStartTime,jdbcType=TIMESTAMP},
      #{item.companyCode,jdbcType=VARCHAR}, #{item.companyName,jdbcType=VARCHAR}, #{item.extField1,jdbcType=VARCHAR},
      #{item.extField2,jdbcType=VARCHAR}, #{item.extField3,jdbcType=VARCHAR}, #{item.extField4,jdbcType=TIMESTAMP},
      #{item.extField5,jdbcType=INTEGER}, #{item.extField6,jdbcType=BIGINT})
      </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaMain">
    update product_sku_sale_area_main
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="beDisable != null">
        be_disable = #{beDisable,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyCode != null">
        apply_code = #{applyCode,jdbcType=VARCHAR},
      </if>
      <if test="beEffective != null">
        be_effective = #{beEffective,jdbcType=INTEGER},
      </if>
      <if test="selectionEffectiveTime != null">
        selection_effective_time = #{selectionEffectiveTime,jdbcType=TINYINT},
      </if>
      <if test="selectionEffectiveStartTime != null">
        selection_effective_start_time = #{selectionEffectiveStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="extField1 != null">
        ext_field_1 = #{extField1,jdbcType=VARCHAR},
      </if>
      <if test="extField2 != null">
        ext_field_2 = #{extField2,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        ext_field_3 = #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="extField4 != null">
        ext_field_4 = #{extField4,jdbcType=TIMESTAMP},
      </if>
      <if test="extField5 != null">
        ext_field_5 = #{extField5,jdbcType=INTEGER},
      </if>
      <if test="extField6 != null">
        ext_field_6 = #{extField6,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaMain">
    update product_sku_sale_area_main
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      be_disable = #{beDisable,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      apply_code = #{applyCode,jdbcType=VARCHAR},
      be_effective = #{beEffective,jdbcType=INTEGER},
      selection_effective_time = #{selectionEffectiveTime,jdbcType=TINYINT},
      selection_effective_start_time = #{selectionEffectiveStartTime,jdbcType=TIMESTAMP},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      ext_field_1 = #{extField1,jdbcType=VARCHAR},
      ext_field_2 = #{extField2,jdbcType=VARCHAR},
      ext_field_3 = #{extField3,jdbcType=VARCHAR},
      ext_field_4 = #{extField4,jdbcType=TIMESTAMP},
      ext_field_5 = #{extField5,jdbcType=INTEGER},
      ext_field_6 = #{extField6,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByCode">
    <foreach collection="items" item="item" separator=";" close="" open="" >
     update product_sku_sale_area_main
    set
      name = #{item.name,jdbcType=VARCHAR},
      be_disable = #{item.beDisable,jdbcType=INTEGER},
      create_by = #{item.createBy,jdbcType=VARCHAR},
      create_time = #{item.createTime,jdbcType=TIMESTAMP},
      update_by = #{item.updateBy,jdbcType=VARCHAR},
      update_time = #{item.updateTime,jdbcType=TIMESTAMP},
      apply_code = #{item.applyCode,jdbcType=VARCHAR},
      be_effective = #{item.beEffective,jdbcType=INTEGER},
      selection_effective_time = #{item.selectionEffectiveTime,jdbcType=TINYINT},
      selection_effective_start_time = #{item.selectionEffectiveStartTime,jdbcType=TIMESTAMP},
      company_code = #{item.companyCode,jdbcType=VARCHAR},
      company_name = #{item.companyName,jdbcType=VARCHAR},
      ext_field_1 = #{item.extField1,jdbcType=VARCHAR},
      ext_field_2 = #{item.extField2,jdbcType=VARCHAR},
      ext_field_3 = #{item.extField3,jdbcType=VARCHAR},
      ext_field_4 = #{item.extField4,jdbcType=TIMESTAMP},
      ext_field_5 = #{item.extField5,jdbcType=INTEGER},
      ext_field_6 = #{item.extField6,jdbcType=BIGINT}
    where code = #{item.code,jdbcType=BIGINT}
    </foreach>
  </update>
</mapper>