<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuSupplyUnitDraftMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSupplyUnitDraft">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="supply_unit_code" jdbcType="VARCHAR" property="supplyUnitCode" />
    <result column="supply_unit_name" jdbcType="VARCHAR" property="supplyUnitName" />
    <result column="no_tax_purchase_price" jdbcType="BIGINT" property="noTaxPurchasePrice" />
    <result column="tax_included_price" jdbcType="BIGINT" property="taxIncludedPrice" />
    <result column="joint_franchise_rate" jdbcType="BIGINT" property="jointFranchiseRate" />
    <result column="point" jdbcType="BIGINT" property="point" />
    <result column="tax_rate" jdbcType="BIGINT" property="taxRate" />
    <result column="factory_sku_code" jdbcType="VARCHAR" property="factorySkuCode" />
    <result column="is_default" jdbcType="TINYINT" property="isDefault" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
    <result column="usage_status" jdbcType="TINYINT" property="usageStatus" />
    <result column="product_sku_name" jdbcType="VARCHAR" property="productSkuName" />
    <result column="categories_supply_channels_code" jdbcType="VARCHAR" property="categoriesSupplyChannelsCode" />
    <result column="categories_supply_channels_name" jdbcType="VARCHAR" property="categoriesSupplyChannelsName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, supply_unit_code, supply_unit_name, no_tax_purchase_price, tax_included_price, 
    joint_franchise_rate, point, is_default, del_flag, create_time, create_by, update_time, 
    update_by, product_sku_code, usage_status, product_sku_name,tax_rate,
    categories_supply_channels_code,categories_supply_channels_name,factory_sku_code
  </sql>

  <select id="selectByIds" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_sku_supply_unit_draft
    where id in
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id,jdbcType=BIGINT}
    </foreach>
  </select>
    <select id="selectByVo" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from product_sku_supply_unit_draft
      where product_sku_code in
      <foreach collection="list" item="item" separator="," open="(" close=")">
        #{item.productSkuCode,jdbcType=BIGINT}
      </foreach>
    </select>
    <delete id="delete" parameterType="java.util.List">
    delete from product_sku_supply_unit_draft where product_sku_code in
    <foreach collection="list" item="skuCode" separator="," open="(" close=")">
      #{skuCode,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <delete id="deleteDraftByIds" parameterType="java.util.List">
     delete from product_sku_supply_unit_draft where  id in
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id,jdbcType=BIGINT}
    </foreach>
  </delete>

  <delete id="deleteDraftById" parameterType="java.util.List">
    delete from product_sku_supply_unit_draft where id = #{id,jdbcType=BIGINT}
  </delete>

</mapper>