<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuSaleAreaInfoDraftMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaInfoDraft">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="main_code" jdbcType="VARCHAR" property="mainCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, main_code, sku_code, type, status, name, code, company_code, company_name, province_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_sku_sale_area_info_draft
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_sku_sale_area_info_draft
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteDraftBatchByCodes">
      delete from product_sku_sale_area_info_draft
    where main_code in
      <foreach collection="items" separator="," close=")" open="(" item="item">
        #{item}
      </foreach>
    </delete>
    <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaInfoDraft">
    insert into product_sku_sale_area_info_draft (id, main_code, sku_code, 
      type, status, name, 
      code, company_code, company_name, 
      province_id)
    values (#{id,jdbcType=BIGINT}, #{mainCode,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaInfoDraft">
    insert into product_sku_sale_area_info_draft
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mainCode != null">
        main_code,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mainCode != null">
        #{mainCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <insert id="insertBatch">
          insert into product_sku_sale_area_info_draft (id, main_code, sku_code,
      type, status, name,
      code, company_code, company_name,
      province_id)
    values
      <foreach collection="items" separator="," close="" open="" item="item">
      (#{item.id,jdbcType=BIGINT}, #{item.mainCode,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR},
      #{item.type,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR},
      #{item.code,jdbcType=VARCHAR}, #{item.companyCode,jdbcType=VARCHAR}, #{item.companyName,jdbcType=VARCHAR},
      #{item.provinceId,jdbcType=VARCHAR})
      </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaInfoDraft">
    update product_sku_sale_area_info_draft
    <set>
      <if test="mainCode != null">
        main_code = #{mainCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleAreaInfoDraft">
    update product_sku_sale_area_info_draft
    set main_code = #{mainCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>