<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuCheckoutDraftMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuCheckoutDraft">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="output_tax_rate" jdbcType="BIGINT" property="outputTaxRate" />
    <result column="Input_tax_rate" jdbcType="BIGINT" property="inputTaxRate" />
    <result column="Integral_coefficient" jdbcType="BIGINT" property="integralCoefficient" />
    <result column="rebate" jdbcType="BIGINT" property="rebate" />
    <result column="settlement_method_code" jdbcType="VARCHAR" property="settlementMethodCode" />
    <result column="settlement_method_name" jdbcType="VARCHAR" property="settlementMethodName" />
    <result column="logistics_fee_award_ratio" jdbcType="DECIMAL" property="logisticsFeeAwardRatio" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, del_flag, sku_code, sku_name, 
    output_tax_rate, Input_tax_rate, Integral_coefficient, rebate,
    settlement_method_code,settlement_method_name,logistics_fee_award_ratio
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_sku_checkout_draft
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_sku_checkout_draft
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuCheckoutDraft">
    insert into product_sku_checkout_draft ( create_by, create_time,
      update_by, update_time, del_flag, 
      sku_code, sku_name, output_tax_rate, 
      Input_tax_rate, Integral_coefficient, rebate,settlement_method_code,settlement_method_name,logistics_fee_award_ratio
      )
    values (#{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT}, 
      #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, #{outputTaxRate,jdbcType=BIGINT}, 
      #{inputTaxRate,jdbcType=BIGINT}, #{integralCoefficient,jdbcType=BIGINT}, #{rebate,jdbcType=BIGINT},
      #{settlementMethodCode,jdbcType=VARCHAR}, #{settlementMethodName,jdbcType=VARCHAR}, #{logisticsFeeAwardRatio,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into product_sku_checkout_draft ( create_by, create_time,
      update_by, update_time, del_flag,
      sku_code, sku_name, output_tax_rate,
      Input_tax_rate, Integral_coefficient, rebate,settlement_method_code,settlement_method_name,logistics_fee_award_ratio
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.delFlag,jdbcType=TINYINT},
      #{item.skuCode,jdbcType=VARCHAR}, #{item.skuName,jdbcType=VARCHAR}, #{item.outputTaxRate,jdbcType=BIGINT},
      #{item.inputTaxRate,jdbcType=BIGINT}, #{item.integralCoefficient,jdbcType=BIGINT}, #{item.rebate,jdbcType=BIGINT},
      #{item.settlementMethodCode,jdbcType=VARCHAR}, #{item.settlementMethodName,jdbcType=VARCHAR}, #{item.logisticsFeeAwardRatio,jdbcType=DECIMAL}
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuCheckoutDraft">
    insert into product_sku_checkout_draft
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="outputTaxRate != null">
        output_tax_rate,
      </if>
      <if test="inputTaxRate != null">
        Input_tax_rate,
      </if>
      <if test="integralCoefficient != null">
        Integral_coefficient,
      </if>
      <if test="rebate != null">
        rebate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="outputTaxRate != null">
        #{outputTaxRate,jdbcType=BIGINT},
      </if>
      <if test="inputTaxRate != null">
        #{inputTaxRate,jdbcType=BIGINT},
      </if>
      <if test="integralCoefficient != null">
        #{integralCoefficient,jdbcType=BIGINT},
      </if>
      <if test="rebate != null">
        #{rebate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuCheckoutDraft">
    update product_sku_checkout_draft
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="outputTaxRate != null">
        output_tax_rate = #{outputTaxRate,jdbcType=BIGINT},
      </if>
      <if test="inputTaxRate != null">
        Input_tax_rate = #{inputTaxRate,jdbcType=BIGINT},
      </if>
      <if test="integralCoefficient != null">
        Integral_coefficient = #{integralCoefficient,jdbcType=BIGINT},
      </if>
      <if test="rebate != null">
        rebate = #{rebate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuCheckoutDraft">
    update product_sku_checkout_draft
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      output_tax_rate = #{outputTaxRate,jdbcType=BIGINT},
      Input_tax_rate = #{inputTaxRate,jdbcType=BIGINT},
      Integral_coefficient = #{integralCoefficient,jdbcType=BIGINT},
      rebate = #{rebate,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="delete" parameterType="java.util.List">
    delete from product_sku_checkout_draft where sku_code in
    <foreach collection="list" item="skuCode" separator="," open="(" close=")">
      #{skuCode,jdbcType=VARCHAR}
    </foreach>
  </delete>
</mapper>