<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuBoxPackingMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuBoxPacking">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="large_unit" jdbcType="VARCHAR" property="largeUnit" />
    <result column="box_length" jdbcType="BIGINT" property="boxLength" />
    <result column="box_width" jdbcType="BIGINT" property="boxWidth" />
    <result column="box_height" jdbcType="BIGINT" property="boxHeight" />
    <result column="box_volume" jdbcType="BIGINT" property="boxVolume" />
    <result column="box_gross_weight" jdbcType="DECIMAL" property="boxGrossWeight" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
    <result column="product_sku_name" jdbcType="VARCHAR" property="productSkuName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="apply_code" jdbcType="VARCHAR" property="applyCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, large_unit, box_length, box_width, box_height, box_volume, box_gross_weight, 
    del_flag, product_sku_code, product_sku_name, create_by, create_time, update_by, 
    update_time, apply_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_sku_box_packing
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_sku_box_packing
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteBySkuCode" parameterType="java.lang.String">
    delete from product_sku_box_packing
    where product_sku_code = #{skuCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuBoxPacking">
    insert into product_sku_box_packing (id, large_unit, box_length, 
      box_width, box_height, box_volume, 
      box_gross_weight, del_flag, product_sku_code, 
      product_sku_name, create_by, create_time, 
      update_by, update_time, apply_code
      )
    values (#{id,jdbcType=BIGINT}, #{largeUnit,jdbcType=VARCHAR}, #{boxLength,jdbcType=BIGINT}, 
      #{boxWidth,jdbcType=BIGINT}, #{boxHeight,jdbcType=BIGINT}, #{boxVolume,jdbcType=BIGINT}, 
      #{boxGrossWeight,jdbcType=BIGINT}, #{delFlag,jdbcType=TINYINT}, #{productSkuCode,jdbcType=VARCHAR}, 
      #{productSkuName,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{applyCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuBoxPacking">
    insert into product_sku_box_packing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="largeUnit != null">
        large_unit,
      </if>
      <if test="boxLength != null">
        box_length,
      </if>
      <if test="boxWidth != null">
        box_width,
      </if>
      <if test="boxHeight != null">
        box_height,
      </if>
      <if test="boxVolume != null">
        box_volume,
      </if>
      <if test="boxGrossWeight != null">
        box_gross_weight,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="productSkuCode != null">
        product_sku_code,
      </if>
      <if test="productSkuName != null">
        product_sku_name,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="applyCode != null">
        apply_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="largeUnit != null">
        #{largeUnit,jdbcType=VARCHAR},
      </if>
      <if test="boxLength != null">
        #{boxLength,jdbcType=BIGINT},
      </if>
      <if test="boxWidth != null">
        #{boxWidth,jdbcType=BIGINT},
      </if>
      <if test="boxHeight != null">
        #{boxHeight,jdbcType=BIGINT},
      </if>
      <if test="boxVolume != null">
        #{boxVolume,jdbcType=BIGINT},
      </if>
      <if test="boxGrossWeight != null">
        #{boxGrossWeight,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="productSkuCode != null">
        #{productSkuCode,jdbcType=VARCHAR},
      </if>
      <if test="productSkuName != null">
        #{productSkuName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyCode != null">
        #{applyCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuBoxPacking">
    update product_sku_box_packing
    <set>
      <if test="largeUnit != null">
        large_unit = #{largeUnit,jdbcType=VARCHAR},
      </if>
      <if test="boxLength != null">
        box_length = #{boxLength,jdbcType=BIGINT},
      </if>
      <if test="boxWidth != null">
        box_width = #{boxWidth,jdbcType=BIGINT},
      </if>
      <if test="boxHeight != null">
        box_height = #{boxHeight,jdbcType=BIGINT},
      </if>
      <if test="boxVolume != null">
        box_volume = #{boxVolume,jdbcType=BIGINT},
      </if>
      <if test="boxGrossWeight != null">
        box_gross_weight = #{boxGrossWeight,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="productSkuCode != null">
        product_sku_code = #{productSkuCode,jdbcType=VARCHAR},
      </if>
      <if test="productSkuName != null">
        product_sku_name = #{productSkuName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyCode != null">
        apply_code = #{applyCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuBoxPacking">
    update product_sku_box_packing
    set large_unit = #{largeUnit,jdbcType=VARCHAR},
      box_length = #{boxLength,jdbcType=BIGINT},
      box_width = #{boxWidth,jdbcType=BIGINT},
      box_height = #{boxHeight,jdbcType=BIGINT},
      box_volume = #{boxVolume,jdbcType=BIGINT},
      box_gross_weight = #{boxGrossWeight,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=TINYINT},
      product_sku_code = #{productSkuCode,jdbcType=VARCHAR},
      product_sku_name = #{productSkuName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      apply_code = #{applyCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>