<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuSaleAreaMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleArea">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="be_disable" jdbcType="INTEGER" property="beDisable" />
    <result column="categories_supply_channels_code" jdbcType="VARCHAR" property="categoriesSupplyChannelsCode" />
    <result column="categories_supply_channels_name" jdbcType="VARCHAR" property="categoriesSupplyChannelsName" />
    <result column="direct_delivery_supplier_code" jdbcType="VARCHAR" property="directDeliverySupplierCode" />
    <result column="direct_delivery_supplier_name" jdbcType="VARCHAR" property="directDeliverySupplierName" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, sku_code, sku_name, be_disable, categories_supply_channels_code, categories_supply_channels_name, 
    direct_delivery_supplier_code, direct_delivery_supplier_name, create_by, create_time, 
    update_by, update_time, company_code, company_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_sku_sale_area
    where id = #{id,jdbcType=BIGINT}
  </select>
    <resultMap id="officialSkuList" type="com.aiqin.bms.scmp.api.product.domain.response.salearea.QueryProductSaleAreaSkuRespVO">
      <result property="skuCode" column="asku_code"/>
      <result property="skuName" column="asku_name"/>
      <result property="categoriesSupplyChannelsCode" column="acategories_supply_channels_code"/>
      <result property="directDeliverySupplierName" column="adirect_delivery_supplier_name"/>
      <result property="beDisable" column="cbe_disable"/>
      <result property="code" column="ccode"/>
      <result property="name" column="cname"/>
      <collection property="areaList" ofType="com.aiqin.bms.scmp.api.product.domain.response.salearea.ProductSaleAreaInfoRespVO">
        <result column="btype"  property="type" />
        <result column="bstatus"  property="status" />
        <result column="bname"  property="name" />
        <result column="bcode"  property="code" />
      </collection>
    </resultMap>
    <select id="officialSkuList" parameterType="java.util.List" resultMap="officialSkuList">
        select a.sku_code asku_code,
               a.sku_name asku_name,
               a.categories_supply_channels_code acategories_supply_channels_code,
               a.categories_supply_channels_name acategories_supply_channels_name,
               a.direct_delivery_supplier_code adirect_delivery_supplier_code,
               a.direct_delivery_supplier_name adirect_delivery_supplier_name,
               b.type btype,
               b.status bstatus,
               b.name bname,
               b.code bcode,
               c.code ccode,
               c.name cname,
               c.be_disable cbe_disable
        from product_sku_sale_area a
               left join product_sku_sale_area_info b
                         on a.code = b.main_code
               left join product_sku_sale_area_main c
                         on a.code = c.code
        where a.id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
</select>
  <select id="officialSkuListCount" resultType="java.lang.Long">
    select a.id
    from product_sku_sale_area a
    left join product_sku_sale_area_info b
    on a.code = b.main_code
    left join product_sku_sale_area_main c
    on a.code = c.code
    where c.company_code = #{companyCode}
    <if test="skuCode != null and skuCode != ''">
      and a.sku_code like CONCAT('%',#{skuCode},'%')
    </if>
    <if test="skuName != null and skuName != ''">
      and a.sku_name like CONCAT('%',#{skuName},'%')
    </if>
    <if test="code != null and code != ''">
      and c.code like CONCAT('%',#{code},'%')
    </if>
    <if test="name != null and name != ''">
      and c.name like CONCAT('%',#{name},'%')
    </if>
    <if test="beDisable != null">
      and c.be_disable = #{beDisable}
    </if>
    <if test="categoriesSupplyChannelsCode != null and categoriesSupplyChannelsCode != ''">
      and a.categories_supply_channels_code = #{categoriesSupplyChannelsCode}
    </if>
    <if test="directDeliverySupplierCode != null and directDeliverySupplierCode != ''">
      and a.direct_delivery_supplier_code like CONCAT('%',#{directDeliverySupplierCode},'%')
    </if>
    group by a.id
    order by a.create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_sku_sale_area
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByCodes">
    delete from product_sku_sale_area
    where code in
    <foreach collection="items" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleArea">
    insert into product_sku_sale_area (id, code, sku_code, 
      sku_name, be_disable, categories_supply_channels_code, 
      categories_supply_channels_name, direct_delivery_supplier_code, 
      direct_delivery_supplier_name, create_by, create_time, 
      update_by, update_time, company_code, 
      company_name)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, 
      #{skuName,jdbcType=VARCHAR}, #{beDisable,jdbcType=INTEGER}, #{categoriesSupplyChannelsCode,jdbcType=VARCHAR}, 
      #{categoriesSupplyChannelsName,jdbcType=VARCHAR}, #{directDeliverySupplierCode,jdbcType=VARCHAR}, 
      #{directDeliverySupplierName,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{companyCode,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleArea">
    insert into product_sku_sale_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="beDisable != null">
        be_disable,
      </if>
      <if test="categoriesSupplyChannelsCode != null">
        categories_supply_channels_code,
      </if>
      <if test="categoriesSupplyChannelsName != null">
        categories_supply_channels_name,
      </if>
      <if test="directDeliverySupplierCode != null">
        direct_delivery_supplier_code,
      </if>
      <if test="directDeliverySupplierName != null">
        direct_delivery_supplier_name,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="beDisable != null">
        #{beDisable,jdbcType=INTEGER},
      </if>
      <if test="categoriesSupplyChannelsCode != null">
        #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
      </if>
      <if test="categoriesSupplyChannelsName != null">
        #{categoriesSupplyChannelsName,jdbcType=VARCHAR},
      </if>
      <if test="directDeliverySupplierCode != null">
        #{directDeliverySupplierCode,jdbcType=VARCHAR},
      </if>
      <if test="directDeliverySupplierName != null">
        #{directDeliverySupplierName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <insert id="insertBatch">
          insert into product_sku_sale_area (id, code, sku_code,
      sku_name, be_disable, categories_supply_channels_code,
      categories_supply_channels_name, direct_delivery_supplier_code,
      direct_delivery_supplier_name, create_by, create_time,
      update_by, update_time, company_code,
      company_name)
    values
    <foreach collection="items" item="item" open="" close="" separator=",">
    (#{item.id,jdbcType=BIGINT}, #{item.code,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR},
      #{item.skuName,jdbcType=VARCHAR}, #{item.beDisable,jdbcType=INTEGER}, #{item.categoriesSupplyChannelsCode,jdbcType=VARCHAR},
      #{item.categoriesSupplyChannelsName,jdbcType=VARCHAR}, #{item.directDeliverySupplierCode,jdbcType=VARCHAR},
      #{item.directDeliverySupplierName,jdbcType=VARCHAR}, #{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.companyCode,jdbcType=VARCHAR},
      #{item.companyName,jdbcType=VARCHAR})
    </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleArea">
    update product_sku_sale_area
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="beDisable != null">
        be_disable = #{beDisable,jdbcType=INTEGER},
      </if>
      <if test="categoriesSupplyChannelsCode != null">
        categories_supply_channels_code = #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
      </if>
      <if test="categoriesSupplyChannelsName != null">
        categories_supply_channels_name = #{categoriesSupplyChannelsName,jdbcType=VARCHAR},
      </if>
      <if test="directDeliverySupplierCode != null">
        direct_delivery_supplier_code = #{directDeliverySupplierCode,jdbcType=VARCHAR},
      </if>
      <if test="directDeliverySupplierName != null">
        direct_delivery_supplier_name = #{directDeliverySupplierName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuSaleArea">
    update product_sku_sale_area
    set code = #{code,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      be_disable = #{beDisable,jdbcType=INTEGER},
      categories_supply_channels_code = #{categoriesSupplyChannelsCode,jdbcType=VARCHAR},
      categories_supply_channels_name = #{categoriesSupplyChannelsName,jdbcType=VARCHAR},
      direct_delivery_supplier_code = #{directDeliverySupplierCode,jdbcType=VARCHAR},
      direct_delivery_supplier_name = #{directDeliverySupplierName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectMainCode" resultType="java.lang.String">
    select b.code from
    product_sku_sale_area a inner join product_sku_sale_area_main b
    on a.code = b.code
    <where>
      b.be_disable = 0
      and be_effective = 1
      and selection_effective_time = 0
      and a.sku_code = #{skuCode,jdbcType=VARCHAR}
    </where>
  </select>
</mapper>