<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuChangePriceInfoMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuChangePriceInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="purchase_price_newest" jdbcType="BIGINT" property="purchasePriceNewest" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="be_default" jdbcType="INTEGER" property="beDefault" />
    <result column="purchase_price_old" jdbcType="BIGINT" property="purchasePriceOld" />
    <result column="effective_time_start" jdbcType="TIMESTAMP" property="effectiveTimeStart" />
    <result column="effective_time_end" jdbcType="TIMESTAMP" property="effectiveTimeEnd" />
    <result column="purchase_price_new" jdbcType="BIGINT" property="purchasePriceNew" />
    <result column="old_price" jdbcType="BIGINT" property="oldPrice" />
    <result column="new_price" jdbcType="BIGINT" property="newPrice" />
    <result column="warehouse_batch_number" jdbcType="VARCHAR" property="warehouseBatchNumber" />
    <result column="warehouse_batch_name" jdbcType="VARCHAR" property="warehouseBatchName" />
    <result column="change_price_reason_code" jdbcType="VARCHAR" property="changePriceReasonCode" />
    <result column="change_price_reason_name" jdbcType="VARCHAR" property="changePriceReasonName" />
    <result column="temporary_price" jdbcType="BIGINT" property="temporaryPrice" />
    <result column="price_item_code" jdbcType="VARCHAR" property="priceItemCode" />
    <result column="price_item_name" jdbcType="VARCHAR" property="priceItemName" />
    <result column="price_type_code" jdbcType="VARCHAR" property="priceTypeCode" />
    <result column="price_type_name" jdbcType="VARCHAR" property="priceTypeName" />
    <result column="price_attribute_code" jdbcType="VARCHAR" property="priceAttributeCode" />
    <result column="price_attribute_name" jdbcType="VARCHAR" property="priceAttributeName" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="transport_center_code" jdbcType="VARCHAR" property="transportCenterCode" />
    <result column="transport_center_name" jdbcType="VARCHAR" property="transportCenterName" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="batch_remark" jdbcType="VARCHAR" property="batchRemark" />
    <result column="official_code" jdbcType="VARCHAR" property="officialCode" />
    <result column="ext_field_3" jdbcType="VARCHAR" property="extField3" />
    <result column="product_time" jdbcType="TIMESTAMP" property="productTime" />
    <result column="be_synchronize" jdbcType="INTEGER" property="beSynchronize" />
    <result column="ext_field_6" jdbcType="BIGINT" property="extField6" />
    <result column="old_gross_profit_margin" jdbcType="BIGINT" property="oldGrossProfitMargin" />
    <result column="new_gross_profit_margin" jdbcType="BIGINT" property="newGrossProfitMargin" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, sku_code, sku_name, purchase_price_newest, supplier_code, supplier_name, 
    be_default, purchase_price_old, effective_time_start, effective_time_end, purchase_price_new, 
    old_price, new_price, warehouse_batch_number, warehouse_batch_name, change_price_reason_code, 
    change_price_reason_name, temporary_price, price_item_code, price_item_name, price_type_code, 
    price_type_name, price_attribute_code, price_attribute_name, company_code, company_name, 
    transport_center_code, transport_center_name, warehouse_code, warehouse_name, batch_remark,
    official_code, ext_field_3, product_time, be_synchronize, ext_field_6, old_gross_profit_margin, new_gross_profit_margin
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_sku_change_price_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectListByQueryVOCount" parameterType="com.aiqin.bms.scmp.api.product.domain.request.changeprice.QueryProductSkuChangePriceReqVO" resultType="java.lang.Long">
    select a.id
    from product_sku_change_price a
    left join product_sku_change_price_info b
    on a.code = b.code
    where a.company_code = #{companyCode}
    <if test="createTimeStart != null">
      and a.create_time&gt;=#{createTimeStart,jdbcType=TIMESTAMP}
    </if>
    <if test="flag != null">
      and a.apply_status != 5
    </if>
    <if test="createTimeEnd != null">
      and a.create_time&lt;=#{createTimeEnd,jdbcType=TIMESTAMP}
    </if>
    <if test="code != null and code !=''">
      and a.code LIKE CONCAT('%',#{code},'%')
    </if>
    <if test="name != null and name !=''">
      and a.name LIKE CONCAT('%',#{name},'%')
    </if>
    <if test="skuCode != null and skuCode !=''">
      and b.sku_code LIKE CONCAT('%',#{skuCode},'%')
    </if>
    <if test="skuName != null and skuName !=''">
      and b.sku_name LIKE CONCAT('%',#{skuName},'%')
    </if>
    <if test="changePriceType != null and changePriceType !=''">
      and a.change_price_type = #{changePriceType}
    </if>
    <if test="purchaseGroupCode != null and purchaseGroupCode !=''">
      and a.purchase_group_code = #{purchaseGroupCode}
    </if>
    <if test="applyStatus != null and applyStatus !=''">
      and a.apply_status = #{applyStatus}
    </if>
    <if test="beContainArea != null">
      and a.ext_field_5 = #{beContainArea}
    </if>
    group by a.id
    order by a.create_time desc
  </select>
  <resultMap id="selectListByQueryVO" type="com.aiqin.bms.scmp.api.product.domain.response.changeprice.QueryProductSkuChangePriceRespVO">
    <result column="code" property="code"/>
    <result column="name" property="name"/>
    <result column="createTime" property="createTime"/>
    <result column="createBy" property="createBy"/>
    <result column="changePriceName" property="changePriceName"/>
    <result column="beContainArea" property="beContainArea"/>
    <result column="purchaseGroupName" property="purchaseGroupName"/>
    <result column="applyStatus" property="applyStatus"/>
    <result column="createBy" property="createBy"/>
    <result column="createTime" property="createTime"/>
    <result column="updateBy" property="updateBy"/>
    <result column="updateTime" property="updateTime"/>
    <collection property="skuList" ofType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuChangePriceInfo">
      <result column="skuCode" property="skuCode"/>
      <result column="skuName" property="skuName"/>
    </collection>
  </resultMap>
  <select id="selectListByQueryVO" parameterType="java.util.List" resultMap="selectListByQueryVO">
    select a.code                        as code,
    a.name                               as name,
    a.create_time                        as createTime,
    a.create_by                          as createBy,
    a.change_price_name                  as changePriceName,
    a.ext_field_5                        as beContainArea,
    a.purchase_group_name                as purchaseGroupName,
    a.apply_status                       as applyStatus,
    a.create_by                          as createBy,
    a.create_time                        as createTime,
    a.update_by                          as updateBy,
    a.update_time                        as updateTime,
    a.purchase_group_name                as purchaseGroupName,
    b.sku_code                           as skuCode,
    b.sku_name                           as skuName
    from product_sku_change_price a
    left join product_sku_change_price_info b
    on a.code = b.code
    where a.id in
    <foreach collection="list" open="(" close=")" item="item" separator=",">
         #{item}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_sku_change_price_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByCode">
      delete from product_sku_change_price_info
    where code = #{code}
    </delete>
    <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuChangePriceInfo">
    insert into product_sku_change_price_info (id, code, sku_code, 
      sku_name, purchase_price_newest, supplier_code, 
      supplier_name, be_default, purchase_price_old, 
      effective_time_start, effective_time_end, 
      purchase_price_new, old_price, new_price, 
      warehouse_batch_number, warehouse_batch_name, 
      change_price_reason_code, change_price_reason_name, 
      temporary_price, price_item_code, price_item_name, 
      price_type_code, price_type_name, price_attribute_code, 
      price_attribute_name, company_code, company_name, 
      transport_center_code, transport_center_name, 
      warehouse_code, warehouse_name, batch_remark,
      official_code, ext_field_3, product_time,
      be_synchronize, ext_field_6, old_gross_profit_margin, new_gross_profit_margin)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, 
      #{skuName,jdbcType=VARCHAR}, #{purchasePriceNewest,jdbcType=BIGINT}, #{supplierCode,jdbcType=VARCHAR}, 
      #{supplierName,jdbcType=VARCHAR}, #{beDefault,jdbcType=INTEGER}, #{purchasePriceOld,jdbcType=BIGINT}, 
      #{effectiveTimeStart,jdbcType=TIMESTAMP}, #{effectiveTimeEnd,jdbcType=TIMESTAMP}, 
      #{purchasePriceNew,jdbcType=BIGINT}, #{oldPrice,jdbcType=BIGINT}, #{newPrice,jdbcType=BIGINT}, 
      #{warehouseBatchNumber,jdbcType=VARCHAR}, #{warehouseBatchName,jdbcType=VARCHAR}, 
      #{changePriceReasonCode,jdbcType=VARCHAR}, #{changePriceReasonName,jdbcType=VARCHAR}, 
      #{temporaryPrice,jdbcType=BIGINT}, #{priceItemCode,jdbcType=VARCHAR}, #{priceItemName,jdbcType=VARCHAR}, 
      #{priceTypeCode,jdbcType=VARCHAR}, #{priceTypeName,jdbcType=VARCHAR}, #{priceAttributeCode,jdbcType=VARCHAR}, 
      #{priceAttributeName,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{transportCenterCode,jdbcType=VARCHAR}, #{transportCenterName,jdbcType=VARCHAR}, 
      #{warehouseCode,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR}, #{batchRemark,jdbcType=VARCHAR},
      #{officialCode,jdbcType=VARCHAR}, #{extField3,jdbcType=VARCHAR}, #{productTime,jdbcType=TIMESTAMP},
      #{beSynchronize,jdbcType=INTEGER}, #{extField6,jdbcType=BIGINT}, #{oldGrossProfitMargin,jdbcType=BIGINT}, #{newGrossProfitMargin,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuChangePriceInfo">
    insert into product_sku_change_price_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="purchasePriceNewest != null">
        purchase_price_newest,
      </if>
      <if test="supplierCode != null">
        supplier_code,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="beDefault != null">
        be_default,
      </if>
      <if test="purchasePriceOld != null">
        purchase_price_old,
      </if>
      <if test="effectiveTimeStart != null">
        effective_time_start,
      </if>
      <if test="effectiveTimeEnd != null">
        effective_time_end,
      </if>
      <if test="purchasePriceNew != null">
        purchase_price_new,
      </if>
      <if test="oldPrice != null">
        old_price,
      </if>
      <if test="newPrice != null">
        new_price,
      </if>
      <if test="warehouseBatchNumber != null">
        warehouse_batch_number,
      </if>
      <if test="warehouseBatchName != null">
        warehouse_batch_name,
      </if>
      <if test="changePriceReasonCode != null">
        change_price_reason_code,
      </if>
      <if test="changePriceReasonName != null">
        change_price_reason_name,
      </if>
      <if test="temporaryPrice != null">
        temporary_price,
      </if>
      <if test="priceItemCode != null">
        price_item_code,
      </if>
      <if test="priceItemName != null">
        price_item_name,
      </if>
      <if test="priceTypeCode != null">
        price_type_code,
      </if>
      <if test="priceTypeName != null">
        price_type_name,
      </if>
      <if test="priceAttributeCode != null">
        price_attribute_code,
      </if>
      <if test="priceAttributeName != null">
        price_attribute_name,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="transportCenterCode != null">
        transport_center_code,
      </if>
      <if test="transportCenterName != null">
        transport_center_name,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="warehouseName != null">
        warehouse_name,
      </if>
      <if test="batchRemark != null">
        batch_remark,
      </if>
      <if test="officialCode != null">
        official_code,
      </if>
      <if test="extField3 != null">
        ext_field_3,
      </if>
      <if test="productTime != null">
        product_time,
      </if>
      <if test="beSynchronize != null">
        be_synchronize,
      </if>
      <if test="extField6 != null">
        ext_field_6,
      </if>
    <if test="oldGrossProfitMargin != null">
      old_gross_profit_margin,
      </if>
    <if test="newGrossProfitMargin != null">
      new_gross_profit_margin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="purchasePriceNewest != null">
        #{purchasePriceNewest,jdbcType=BIGINT},
      </if>
      <if test="supplierCode != null">
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="beDefault != null">
        #{beDefault,jdbcType=INTEGER},
      </if>
      <if test="purchasePriceOld != null">
        #{purchasePriceOld,jdbcType=BIGINT},
      </if>
      <if test="effectiveTimeStart != null">
        #{effectiveTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTimeEnd != null">
        #{effectiveTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="purchasePriceNew != null">
        #{purchasePriceNew,jdbcType=BIGINT},
      </if>
      <if test="oldPrice != null">
        #{oldPrice,jdbcType=BIGINT},
      </if>
      <if test="newPrice != null">
        #{newPrice,jdbcType=BIGINT},
      </if>
      <if test="warehouseBatchNumber != null">
        #{warehouseBatchNumber,jdbcType=VARCHAR},
      </if>
      <if test="warehouseBatchName != null">
        #{warehouseBatchName,jdbcType=VARCHAR},
      </if>
      <if test="changePriceReasonCode != null">
        #{changePriceReasonCode,jdbcType=VARCHAR},
      </if>
      <if test="changePriceReasonName != null">
        #{changePriceReasonName,jdbcType=VARCHAR},
      </if>
      <if test="temporaryPrice != null">
        #{temporaryPrice,jdbcType=BIGINT},
      </if>
      <if test="priceItemCode != null">
        #{priceItemCode,jdbcType=VARCHAR},
      </if>
      <if test="priceItemName != null">
        #{priceItemName,jdbcType=VARCHAR},
      </if>
      <if test="priceTypeCode != null">
        #{priceTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="priceTypeName != null">
        #{priceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="priceAttributeCode != null">
        #{priceAttributeCode,jdbcType=VARCHAR},
      </if>
      <if test="priceAttributeName != null">
        #{priceAttributeName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterName != null">
        #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="batchRemark != null">
        #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="officialCode != null">
        #{officialCode,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="productTime != null">
        #{productTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beSynchronize != null">
        #{beSynchronize,jdbcType=INTEGER},
      </if>
      <if test="extField6 != null">
        #{extField6,jdbcType=BIGINT},
      </if>
       <if test="oldGrossProfitMargin != null">
        #{oldGrossProfitMargin,jdbcType=BIGINT},
      </if>
       <if test="newGrossProfitMargin != null">
        #{newGrossProfitMargin,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
    <insert id="insertBatch">
      insert into product_sku_change_price_info (id, code, sku_code,
      sku_name, purchase_price_newest, supplier_code,
      supplier_name, be_default, purchase_price_old,
      effective_time_start, effective_time_end,
      purchase_price_new, old_price, new_price,
      warehouse_batch_number, warehouse_batch_name,
      change_price_reason_code, change_price_reason_name,
      temporary_price, price_item_code, price_item_name,
      price_type_code, price_type_name, price_attribute_code,
      price_attribute_name, company_code, company_name,
      transport_center_code, transport_center_name,
      warehouse_code, warehouse_name, batch_remark,
      official_code, ext_field_3, product_time,
      be_synchronize, ext_field_6, old_gross_profit_margin, new_gross_profit_margin)
    values
      <foreach collection="items" item="item" close="" open="" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.code,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR},
        #{item.skuName,jdbcType=VARCHAR}, #{item.purchasePriceNewest,jdbcType=BIGINT}, #{item.supplierCode,jdbcType=VARCHAR},
        #{item.supplierName,jdbcType=VARCHAR}, #{item.beDefault,jdbcType=INTEGER}, #{item.purchasePriceOld,jdbcType=BIGINT},
        #{item.effectiveTimeStart,jdbcType=TIMESTAMP}, #{item.effectiveTimeEnd,jdbcType=TIMESTAMP},
        #{item.purchasePriceNew,jdbcType=BIGINT}, #{item.oldPrice,jdbcType=BIGINT}, #{item.newPrice,jdbcType=BIGINT},
        #{item.warehouseBatchNumber,jdbcType=VARCHAR}, #{item.warehouseBatchName,jdbcType=VARCHAR},
        #{item.changePriceReasonCode,jdbcType=VARCHAR}, #{item.changePriceReasonName,jdbcType=VARCHAR},
        #{item.temporaryPrice,jdbcType=BIGINT}, #{item.priceItemCode,jdbcType=VARCHAR}, #{item.priceItemName,jdbcType=VARCHAR},
        #{item.priceTypeCode,jdbcType=VARCHAR}, #{item.priceTypeName,jdbcType=VARCHAR}, #{item.priceAttributeCode,jdbcType=VARCHAR},
        #{item.priceAttributeName,jdbcType=VARCHAR}, #{item.companyCode,jdbcType=VARCHAR}, #{item.companyName,jdbcType=VARCHAR},
        #{item.transportCenterCode,jdbcType=VARCHAR}, #{item.transportCenterName,jdbcType=VARCHAR},
        #{item.warehouseCode,jdbcType=VARCHAR}, #{item.warehouseName,jdbcType=VARCHAR}, #{item.batchRemark,jdbcType=VARCHAR},
        #{item.officialCode,jdbcType=VARCHAR}, #{item.extField3,jdbcType=VARCHAR}, #{item.productTime,jdbcType=TIMESTAMP},
        #{item.beSynchronize,jdbcType=INTEGER}, #{item.extField6,jdbcType=BIGINT}, #{item.oldGrossProfitMargin,jdbcType=BIGINT}, #{item.newGrossProfitMargin,jdbcType=BIGINT})
      </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuChangePriceInfo">
    update product_sku_change_price_info
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="purchasePriceNewest != null">
        purchase_price_newest = #{purchasePriceNewest,jdbcType=BIGINT},
      </if>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="beDefault != null">
        be_default = #{beDefault,jdbcType=INTEGER},
      </if>
      <if test="purchasePriceOld != null">
        purchase_price_old = #{purchasePriceOld,jdbcType=BIGINT},
      </if>
      <if test="effectiveTimeStart != null">
        effective_time_start = #{effectiveTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTimeEnd != null">
        effective_time_end = #{effectiveTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="purchasePriceNew != null">
        purchase_price_new = #{purchasePriceNew,jdbcType=BIGINT},
      </if>
      <if test="oldPrice != null">
        old_price = #{oldPrice,jdbcType=BIGINT},
      </if>
      <if test="newPrice != null">
        new_price = #{newPrice,jdbcType=BIGINT},
      </if>
      <if test="warehouseBatchNumber != null">
        warehouse_batch_number = #{warehouseBatchNumber,jdbcType=VARCHAR},
      </if>
      <if test="warehouseBatchName != null">
        warehouse_batch_name = #{warehouseBatchName,jdbcType=VARCHAR},
      </if>
      <if test="changePriceReasonCode != null">
        change_price_reason_code = #{changePriceReasonCode,jdbcType=VARCHAR},
      </if>
      <if test="changePriceReasonName != null">
        change_price_reason_name = #{changePriceReasonName,jdbcType=VARCHAR},
      </if>
      <if test="temporaryPrice != null">
        temporary_price = #{temporaryPrice,jdbcType=BIGINT},
      </if>
      <if test="priceItemCode != null">
        price_item_code = #{priceItemCode,jdbcType=VARCHAR},
      </if>
      <if test="priceItemName != null">
        price_item_name = #{priceItemName,jdbcType=VARCHAR},
      </if>
      <if test="priceTypeCode != null">
        price_type_code = #{priceTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="priceTypeName != null">
        price_type_name = #{priceTypeName,jdbcType=VARCHAR},
      </if>
      <if test="priceAttributeCode != null">
        price_attribute_code = #{priceAttributeCode,jdbcType=VARCHAR},
      </if>
      <if test="priceAttributeName != null">
        price_attribute_name = #{priceAttributeName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterName != null">
        transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="batchRemark != null">
        batch_remark = #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="officialCode != null">
        official_code = #{officialCode,jdbcType=VARCHAR},
      </if>
      <if test="extField3 != null">
        ext_field_3 = #{extField3,jdbcType=VARCHAR},
      </if>
      <if test="productTime != null">
        product_time = #{productTime,jdbcType=TIMESTAMP},
      </if>
      <if test="beSynchronize != null">
        be_synchronize = #{beSynchronize,jdbcType=INTEGER},
      </if>
      <if test="extField6 != null">
        ext_field_6 = #{extField6,jdbcType=BIGINT},
      </if>
    <if test="oldGrossProfitMargin != null">
      old_gross_profit_margin = #{oldGrossProfitMargin,jdbcType=BIGINT},
      </if>
    <if test="newGrossProfitMargin != null">
      new_gross_profit_margin = #{newGrossProfitMargin,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuChangePriceInfo">
    update product_sku_change_price_info
    set code = #{code,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      purchase_price_newest = #{purchasePriceNewest,jdbcType=BIGINT},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      be_default = #{beDefault,jdbcType=INTEGER},
      purchase_price_old = #{purchasePriceOld,jdbcType=BIGINT},
      effective_time_start = #{effectiveTimeStart,jdbcType=TIMESTAMP},
      effective_time_end = #{effectiveTimeEnd,jdbcType=TIMESTAMP},
      purchase_price_new = #{purchasePriceNew,jdbcType=BIGINT},
      old_price = #{oldPrice,jdbcType=BIGINT},
      new_price = #{newPrice,jdbcType=BIGINT},
      warehouse_batch_number = #{warehouseBatchNumber,jdbcType=VARCHAR},
      warehouse_batch_name = #{warehouseBatchName,jdbcType=VARCHAR},
      change_price_reason_code = #{changePriceReasonCode,jdbcType=VARCHAR},
      change_price_reason_name = #{changePriceReasonName,jdbcType=VARCHAR},
      temporary_price = #{temporaryPrice,jdbcType=BIGINT},
      price_item_code = #{priceItemCode,jdbcType=VARCHAR},
      price_item_name = #{priceItemName,jdbcType=VARCHAR},
      price_type_code = #{priceTypeCode,jdbcType=VARCHAR},
      price_type_name = #{priceTypeName,jdbcType=VARCHAR},
      price_attribute_code = #{priceAttributeCode,jdbcType=VARCHAR},
      price_attribute_name = #{priceAttributeName,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      batch_remark = #{batchRemark,jdbcType=VARCHAR},
      official_code = #{officialCode,jdbcType=VARCHAR},
      ext_field_3 = #{extField3,jdbcType=VARCHAR},
      product_time = #{productTime,jdbcType=TIMESTAMP},
      be_synchronize = #{beSynchronize,jdbcType=INTEGER},
      ext_field_6 = #{extField6,jdbcType=BIGINT},
      old_gross_profit_margin = #{oldGrossProfitMargin,jdbcType=BIGINT},
      new_gross_profit_margin = #{newGrossProfitMargin,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="list">
    <foreach collection="items" separator=";" open="" close="" item="item">
      update product_sku_change_price_info
      set
      sku_code = #{item.skuCode,jdbcType=VARCHAR},
      sku_name = #{item.skuName,jdbcType=VARCHAR},
      purchase_price_newest = #{item.purchasePriceNewest,jdbcType=BIGINT},
      supplier_code = #{item.supplierCode,jdbcType=VARCHAR},
      supplier_name = #{item.supplierName,jdbcType=VARCHAR},
      be_default = #{item.beDefault,jdbcType=INTEGER},
      purchase_price_old = #{item.purchasePriceOld,jdbcType=BIGINT},
      effective_time_start = #{item.effectiveTimeStart,jdbcType=TIMESTAMP},
      effective_time_end = #{item.effectiveTimeEnd,jdbcType=TIMESTAMP},
      purchase_price_new = #{item.purchasePriceNew,jdbcType=BIGINT},
      old_price = #{item.oldPrice,jdbcType=BIGINT},
      new_price = #{item.newPrice,jdbcType=BIGINT},
      warehouse_batch_number = #{item.warehouseBatchNumber,jdbcType=VARCHAR},
      warehouse_batch_name = #{item.warehouseBatchName,jdbcType=VARCHAR},
      change_price_reason_code = #{item.changePriceReasonCode,jdbcType=VARCHAR},
      change_price_reason_name = #{item.changePriceReasonName,jdbcType=VARCHAR},
      temporary_price = #{item.temporaryPrice,jdbcType=BIGINT},
      price_item_code = #{item.priceItemCode,jdbcType=VARCHAR},
      price_item_name = #{item.priceItemName,jdbcType=VARCHAR},
      price_type_code = #{item.priceTypeCode,jdbcType=VARCHAR},
      price_type_name = #{item.priceTypeName,jdbcType=VARCHAR},
      price_attribute_code = #{item.priceAttributeCode,jdbcType=VARCHAR},
      price_attribute_name = #{item.priceAttributeName,jdbcType=VARCHAR},
      company_code = #{item.companyCode,jdbcType=VARCHAR},
      company_name = #{item.companyName,jdbcType=VARCHAR},
      transport_center_code = #{item.transportCenterCode,jdbcType=VARCHAR},
      transport_center_name = #{item.transportCenterName,jdbcType=VARCHAR},
      warehouse_code = #{item.warehouseCode,jdbcType=VARCHAR},
      warehouse_name = #{item.warehouseName,jdbcType=VARCHAR},
      batch_remark = #{item.batchRemark,jdbcType=VARCHAR},
      official_code = #{item.officialCode,jdbcType=VARCHAR},
      ext_field_3 = #{item.extField3,jdbcType=VARCHAR},
      product_time = #{item.productTime,jdbcType=TIMESTAMP},
      be_synchronize = #{item.beSynchronize,jdbcType=INTEGER},
      ext_field_6 = #{item.extField6,jdbcType=BIGINT},
      old_gross_profit_margin = #{item.oldGrossProfitMargin,jdbcType=BIGINT},
      new_gross_profit_margin = #{item.newGrossProfitMargin,jdbcType=BIGINT}
      where id = #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
</mapper>