<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuPriceInfoLogMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuPriceInfoLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="price_tax" jdbcType="BIGINT" property="priceTax" />
    <result column="price_no_tax" jdbcType="BIGINT" property="priceNoTax" />
    <result column="tax" jdbcType="BIGINT" property="tax" />
    <result column="effective_time_start" jdbcType="TIMESTAMP" property="effectiveTimeStart" />
    <result column="effective_time_end" jdbcType="TIMESTAMP" property="effectiveTimeEnd" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="area_info" jdbcType="VARCHAR" property="areaInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, price_tax, price_no_tax, tax, effective_time_start, effective_time_end, 
    status, create_by, create_time, remark, area_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_sku_price_info_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_sku_price_info_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuPriceInfoLog">
    insert into product_sku_price_info_log (id, code, price_tax, 
      price_no_tax, tax, effective_time_start, 
      effective_time_end, status, create_by, 
      create_time, remark, area_info
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{priceTax,jdbcType=BIGINT}, 
      #{priceNoTax,jdbcType=BIGINT}, #{tax,jdbcType=BIGINT}, #{effectiveTimeStart,jdbcType=TIMESTAMP}, 
      #{effectiveTimeEnd,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{areaInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuPriceInfoLog">
    insert into product_sku_price_info_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="priceTax != null">
        price_tax,
      </if>
      <if test="priceNoTax != null">
        price_no_tax,
      </if>
      <if test="tax != null">
        tax,
      </if>
      <if test="effectiveTimeStart != null">
        effective_time_start,
      </if>
      <if test="effectiveTimeEnd != null">
        effective_time_end,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="areaInfo != null">
        area_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="priceTax != null">
        #{priceTax,jdbcType=BIGINT},
      </if>
      <if test="priceNoTax != null">
        #{priceNoTax,jdbcType=BIGINT},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=BIGINT},
      </if>
      <if test="effectiveTimeStart != null">
        #{effectiveTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTimeEnd != null">
        #{effectiveTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="areaInfo != null">
        #{areaInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuPriceInfoLog">
    update product_sku_price_info_log
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="priceTax != null">
        price_tax = #{priceTax,jdbcType=BIGINT},
      </if>
      <if test="priceNoTax != null">
        price_no_tax = #{priceNoTax,jdbcType=BIGINT},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=BIGINT},
      </if>
      <if test="effectiveTimeStart != null">
        effective_time_start = #{effectiveTimeStart,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTimeEnd != null">
        effective_time_end = #{effectiveTimeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="areaInfo != null">
        area_info = #{areaInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuPriceInfoLog">
    update product_sku_price_info_log
    set code = #{code,jdbcType=VARCHAR},
      price_tax = #{priceTax,jdbcType=BIGINT},
      price_no_tax = #{priceNoTax,jdbcType=BIGINT},
      tax = #{tax,jdbcType=BIGINT},
      effective_time_start = #{effectiveTimeStart,jdbcType=TIMESTAMP},
      effective_time_end = #{effectiveTimeEnd,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      area_info = #{areaInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insertBatch">
    insert into product_sku_price_info_log (id, code, price_tax,
      price_no_tax, tax, effective_time_start,
      effective_time_end, status, create_by,
      create_time, remark, area_info
      )
    values
    <foreach collection="items" separator="," open="" close="" item="item">
    (#{item.id,jdbcType=BIGINT}, #{item.code,jdbcType=VARCHAR}, #{item.priceTax,jdbcType=BIGINT},
      #{item.priceNoTax,jdbcType=BIGINT}, #{item.tax,jdbcType=BIGINT}, #{item.effectiveTimeStart,jdbcType=TIMESTAMP},
      #{item.effectiveTimeEnd,jdbcType=TIMESTAMP}, #{item.status,jdbcType=INTEGER}, #{item.createBy,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.remark,jdbcType=VARCHAR}, #{item.areaInfo,jdbcType=VARCHAR}
      )
      </foreach>
  </insert>
</mapper>