<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProductSkuConfigDraftMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigDraft">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="apply_show" jdbcType="TINYINT" property="applyShow" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="config_code" jdbcType="VARCHAR" property="configCode" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="transport_center_code" jdbcType="VARCHAR" property="transportCenterCode" />
    <result column="transport_center_name" jdbcType="VARCHAR" property="transportCenterName" />
    <result column="config_status" jdbcType="TINYINT" property="configStatus" />
    <result column="arrival_cycle" jdbcType="INTEGER" property="arrivalCycle" />
    <result column="order_cycle" jdbcType="INTEGER" property="orderCycle" />
    <result column="basic_inventory_day" jdbcType="INTEGER" property="basicInventoryDay" />
    <result column="large_inventory_warn_day" jdbcType="INTEGER" property="largeInventoryWarnDay" />
    <result column="big_effect_period_warn_day" jdbcType="INTEGER" property="bigEffectPeriodWarnDay" />
    <result column="turnover_period_after_arrival" jdbcType="INTEGER" property="turnoverPeriodAfterArrival" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="apply_type" jdbcType="TINYINT" property="applyType" />
  </resultMap>

  <resultMap id="ListResultMap" type="com.aiqin.bms.scmp.api.product.domain.response.sku.config.SkuConfigsRepsVo">
    <id column="aid" jdbcType="BIGINT" property="id" />
    <result column="acreate_by" jdbcType="VARCHAR" property="createBy" />
    <result column="acreate_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="aupdate_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="aupdate_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="aconfig_code" jdbcType="VARCHAR" property="configCode" />
    <result column="aproduct_code" jdbcType="VARCHAR" property="productCode" />
    <result column="aproduct_name" jdbcType="VARCHAR" property="productName" />
    <result column="asku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="asku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="atransport_center_code" jdbcType="VARCHAR" property="transportCenterCode" />
    <result column="atransport_center_name" jdbcType="VARCHAR" property="transportCenterName" />
    <result column="aconfig_status" jdbcType="TINYINT" property="configStatus" />
    <result column="aarrival_cycle" jdbcType="INTEGER" property="arrivalCycle" />
    <result column="aorder_cycle" jdbcType="INTEGER" property="orderCycle" />
    <result column="abasic_inventory_day" jdbcType="INTEGER" property="basicInventoryDay" />
    <result column="alarge_inventory_warn_day" jdbcType="INTEGER" property="largeInventoryWarnDay" />
    <result column="abig_effect_period_warn_day" jdbcType="INTEGER" property="bigEffectPeriodWarnDay" />
    <result column="aturnover_period_after_arrival" jdbcType="INTEGER" property="turnoverPeriodAfterArrival" />
    <result column="acompany_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="acompany_name" jdbcType="VARCHAR" property="companyName" />
    <result column="aprocurement_section_code" jdbcType="VARCHAR" property="purchasingGroupCode"/>
    <result column="aprocurement_section_name" jdbcType="VARCHAR" property="purchasingGroupName"/>
    <collection property="spareWarehouses" ofType="com.aiqin.bms.scmp.api.product.domain.response.sku.config.SpareWarehouseRepsVo">
      <result column="bconfig_code" jdbcType="VARCHAR" property="configCode"/>
      <result column="btransport_center_code" jdbcType="VARCHAR" property="transportCenterCode"/>
      <result column="btransport_center_name" jdbcType="VARCHAR" property="transportCenterName"/>
      <result column="buse_order" jdbcType="VARCHAR" property="useOrder"/>
    </collection>
  </resultMap>


  <sql id="Base_Column_List">
    id, apply_show, create_by, create_time, update_by, update_time, del_flag, config_code, 
    product_code, product_name, sku_code, sku_name, transport_center_code, transport_center_name, 
    config_status, arrival_cycle, order_cycle, basic_inventory_day, large_inventory_warn_day, 
    big_effect_period_warn_day, turnover_period_after_arrival, company_code, company_name,apply_type
  </sql>


  <sql id="List_Column">
       a.id aid,
       a.create_by acreate_by,
       a.create_time acreate_time,
       a.update_by aupdate_by,
       a.update_time aupdate_time,
       a.config_code aconfig_code,
       a.product_code aproduct_code,
       a.product_name aproduct_name,
       a.sku_code asku_code,
       a.sku_name asku_name,
       a.transport_center_code atransport_center_code,
       a.transport_center_name atransport_center_name,
       a.config_status aconfig_status,
       a.arrival_cycle aarrival_cycle,
       a.order_cycle aorder_cycle,
       a.basic_inventory_day abasic_inventory_day,
       a.large_inventory_warn_day alarge_inventory_warn_day,
       a.big_effect_period_warn_day abig_effect_period_warn_day,
       a.turnover_period_after_arrival aturnover_period_after_arrival,
       a.company_code acompany_code,
       a.company_name acompany_name,
       b.config_code bconfig_code,
       b.transport_center_code btransport_center_code,
       b.transport_center_name btransport_center_name,
       b.use_order buse_order,
       c.procurement_section_code aprocurement_section_code,
       c.procurement_section_name aprocurement_section_name
  </sql>


    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from product_sku_config_draft
        where id = #{id,jdbcType=BIGINT}
    </select>

    <resultMap id="SkuResultMap" type="com.aiqin.bms.scmp.api.product.domain.response.sku.config.SkuConfigDetailRepsVo">
        <result column="product_code" jdbcType="VARCHAR" property="productCode" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
        <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
        <result column="product_sort_code" jdbcType="VARCHAR" property="productSortCode" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="product_sort_name" jdbcType="VARCHAR" property="productSortName" />
        <result column="product_category_code" jdbcType="VARCHAR" property="productCategoryCode" />
        <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName" />
        <result column="categories_supply_channels_code" jdbcType="VARCHAR" property="categoriesSupplyChannelsCode" />
        <result column="categories_supply_channels_name" jdbcType="VARCHAR" property="categoriesSupplyChannelsName" />
        <result column="goods_gifts" jdbcType="TINYINT" property="skuType" />
        <collection property="configs" column="{skuCode = sku_code}"
                    javaType="java.util.ArrayList" ofType="com.aiqin.bms.scmp.api.product.domain.response.sku.config.SkuConfigsRepsVo" select="getList2"/>
    </resultMap>

    <select id="getList2" parameterType="com.aiqin.bms.scmp.api.product.domain.response.sku.config.SkuConfigId"
            resultMap="com.aiqin.bms.scmp.api.product.mapper.ProductSkuConfigDraftMapper.ListResultMap">
        select
        <include refid="com.aiqin.bms.scmp.api.product.mapper.ProductSkuConfigDraftMapper.List_Column"/>
        from
        product_sku_config_draft a
        left join product_sku_config_spare_warehouse_draft b
        on a.config_code = b.config_code
        left join product_sku c
        on a.sku_code = c.sku_code
        where a.del_flag = 0
        <if test="id != null">
            and a.id = #{id}
        </if>
    </select>


    <resultMap id="SkuResultDraftMap" type="com.aiqin.bms.scmp.api.product.domain.response.sku.config.SkuConfigDetailRepsVo">
        <result column="product_code" jdbcType="VARCHAR" property="productCode" />
        <result column="product_name" jdbcType="VARCHAR" property="productName" />
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
        <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
        <result column="product_sort_code" jdbcType="VARCHAR" property="productSortCode" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <result column="product_sort_name" jdbcType="VARCHAR" property="productSortName" />
        <result column="product_category_code" jdbcType="VARCHAR" property="productCategoryCode" />
        <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName" />
        <result column="categories_supply_channels_code" jdbcType="VARCHAR" property="categoriesSupplyChannelsCode" />
        <result column="categories_supply_channels_name" jdbcType="VARCHAR" property="categoriesSupplyChannelsName" />
        <result column="product_brand_code" jdbcType="VARCHAR" property="productBrandCode" />
        <result column="product_brand_name" jdbcType="VARCHAR" property="productBrandName" />
        <result column="product_property_code" jdbcType="VARCHAR" property="productPropertyCode" />
        <result column="product_property_name" jdbcType="VARCHAR" property="productPropertyName" />
        <result column="procurement_section_name" jdbcType="VARCHAR" property="purchaseGroupName" />
        <result column="goods_gifts" jdbcType="TINYINT" property="skuType" />
        <result column="aId"/>
        <collection property="configs" column="{id = aId}"
                    javaType="java.util.ArrayList" ofType="com.aiqin.bms.scmp.api.product.domain.response.sku.config.SkuConfigsRepsVo" select="getList2"/>
    </resultMap>
  <select id="detailForDraft"  resultMap="SkuResultDraftMap">
      select
      c.sku_code,
      c.sku_name,
      c.product_code,
      c.product_name,
      c.product_sort_code,
      c.product_sort_name,
      c.product_category_code,
      c.product_category_name,
      c.categories_supply_channels_code,
      c.categories_supply_channels_name,
      c.product_brand_code,
      c.product_brand_name,
      c.product_property_code,
      c.product_property_name,
      c.goods_gifts,
      c.create_time,
      c.create_by,
      c.update_by,
      c.update_time,
      #{draftId,jdbcType=BIGINT} aId,
      procurement_section_name
    from product_sku c
    where c.sku_code = #{skuCode,jdbcType=VARCHAR}
  </select>
  <select id="getList" resultMap="ListResultMap" parameterType="java.util.List">
    select
    <include refid="List_Column"/>
    from product_sku_config_draft a
    left join product_sku_config_spare_warehouse_draft b
    on a.config_code = b.config_code
    left join product_sku c
    on a.sku_code = c.sku_code
    where a.id in
    <foreach collection="list" open="(" close=")" item="item" separator=",">
         #{item}
    </foreach>
  </select>
  <select id="getListCount" resultType="java.lang.Long" parameterType="com.aiqin.bms.scmp.api.product.domain.request.sku.ConfigSearchVo">
    select
    a.id
    from product_sku_config_draft a
    left join product_sku_config_spare_warehouse_draft b
    on a.config_code = b.config_code
    left join product_sku c
    on a.sku_code = c.sku_code
    LEFT JOIN product_category lv4
    on lv4.category_id = c.product_category_code
    LEFT JOIN product_category lv3
    on lv3.category_id = lv4.parent_id
    LEFT JOIN product_category lv2
    on lv2.category_id = lv3.parent_id
    LEFT JOIN product_category lv1
    on lv1.category_id = lv2.parent_id
    where a.del_flag = 0
    and a.apply_show = 0
    and a.company_code = #{vo.companyCode,jdbcType=VARCHAR}
    <if test="vo.skuName!=null and vo.skuName!=''">
      AND a.sku_name LIKE CONCAT('%',#{vo.skuName,jdbcType=VARCHAR},'%')
    </if>
    <if test="vo.productCategoryLv1Code != null and  vo.productCategoryLv1Code != '' ">
      and lv1.category_id = #{vo.productCategoryLv1Code,jdbcType=VARCHAR}
    </if>
    <if test="vo.productCategoryLv2Code != null and  vo.productCategoryLv2Code != '' ">
      and lv2.category_id = #{vo.productCategoryLv2Code,jdbcType=VARCHAR}
    </if>
    <if test="vo.productCategoryLv3Code != null and  vo.productCategoryLv3Code != '' ">
      and lv3.category_id = #{vo.productCategoryLv3Code,jdbcType=VARCHAR}
    </if>
    <if test="vo.productCategoryLv4Code != null and  vo.productCategoryLv4Code != '' ">
      and lv4.category_id = #{vo.productCategoryLv4Code,jdbcType=VARCHAR}
    </if>
    <if test="vo.productBrandCode!=null and vo.productBrandCode!=''">
      AND c.product_brand_code = #{vo.productBrandCode,jdbcType=VARCHAR}
    </if>
    <if test="vo.productBrandName!=null and vo.productBrandName!=''">
      AND c.product_brand_name like CONCAT('%',#{vo.productBrandName,jdbcType=VARCHAR},'%')
    </if>
    <if test="vo.warehouseCode!=null and vo.warehouseCode!=''">
      AND a.transport_center_code like CONCAT('%',#{vo.warehouseCode,jdbcType=VARCHAR},'%')
    </if>
    <if test="vo.warehouseName!=null and vo.warehouseName!=''">
      AND a.transport_center_name like CONCAT('%',#{vo.warehouseName,jdbcType=VARCHAR},'%')
    </if>
    <if test="vo.personId != null and vo.personId != '' ">
      and exists (select purchase_group_code from purchase_group_buyer where buyer_code =#{vo.personId,jdbcType=VARCHAR})
    </if>
    group by a.id
    order by id desc
  </select>
  <select id="selectByCodes" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_sku_config_draft
    where del_flag = 0
    and apply_show = 0
    and config_code in
    <foreach collection="list" open="(" close=")" separator="," item="item">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>

    <select id="loadAllConfigCode"  resultMap="BaseResultMap">
        select
        config_code
        from product_sku_config_draft
        where del_flag = 0
        and apply_show = 0
    </select>

  <select id="getListBySkuCodes" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_sku_config_draft
    where del_flag = 0
    and apply_show = 1
    and sku_code in
    <foreach collection="list" open="(" close=")" separator="," item="item">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </select>
  <select id="getListBySkuCode" resultMap="ListResultMap">
    select
    <include refid="List_Column"/>
    from product_sku_config_draft a
    left join product_sku_config_spare_warehouse_draft b
    on a.config_code = b.config_code
    left join product_sku c
    on a.sku_code = c.sku_code
    where a.del_flag = 0
    and a.apply_show = 1
    and a.sku_code = #{skuCode}
  </select>
  <select id="getListBySkuVo" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_sku_config_draft
    where sku_code in
    <foreach collection="list" open="(" close=")" separator="," item="item">
      #{item.skuCode,jdbcType=VARCHAR}
    </foreach>
  </select>
  <select id="selectbyConfigCode"
          parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_sku_config_draft
    where config_code in
    <foreach collection="list" open="(" close=")" separator="," item="item">
      #{item}
    </foreach>
  </select>
    <select id="selectBySkuCodeAndTransportCenterCodes" resultType="java.lang.String">
        select
          config_code
        from
        product_sku_config_draft
        where sku_code = #{skuCode}
        and transport_center_code in
        <foreach collection="transportCenterCodes" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_sku_config_draft
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByConfigCodes" parameterType="java.util.List">
     delete from product_sku_config_draft
     where apply_show = 0 and config_code in
    <foreach collection="list" open="(" close=")" separator="," item="item">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <delete id="deleteOutByConfigCodes" parameterType="java.util.List">
    delete from product_sku_config_draft
    where apply_show = 1 and config_code in
    <foreach collection="list" open="(" close=")" separator="," item="item">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <delete id="deleteBySkuCodes">
    delete from product_sku_config_draft
    where apply_show = 1 and sku_code in
    <foreach collection="list" open="(" close=")" separator="," item="item">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>
    <delete id="deleteByIds" parameterType="java.util.List">
       delete from product_sku_config_draft
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
                #{item}
        </foreach>
    </delete>

    <delete id="deleteByTransportCenterCodes" parameterType="java.util.List">
        delete from product_sku_config_draft
        where  sku_code =#{skuCode} and
        transport_center_code in
        <foreach collection="deleteCodes" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigDraft">
    insert into product_sku_config_draft (id, apply_show, create_by,
      create_time, update_by, update_time,
      del_flag, config_code, product_code,
      product_name, sku_code, sku_name,
      transport_center_code, transport_center_name,
      config_status, arrival_cycle, order_cycle,
      basic_inventory_day, large_inventory_warn_day,
      big_effect_period_warn_day, turnover_period_after_arrival,
      company_code, company_name,apply_type
      )
    values (#{id,jdbcType=BIGINT}, #{applyShow,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
      #{delFlag,jdbcType=TINYINT}, #{configCode,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR},
      #{productName,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR},
      #{transportCenterCode,jdbcType=VARCHAR}, #{transportCenterName,jdbcType=VARCHAR},
      #{configStatus,jdbcType=TINYINT}, #{arrivalCycle,jdbcType=INTEGER}, #{orderCycle,jdbcType=INTEGER},
      #{basicInventoryDay,jdbcType=INTEGER}, #{largeInventoryWarnDay,jdbcType=INTEGER},
      #{bigEffectPeriodWarnDay,jdbcType=INTEGER}, #{turnoverPeriodAfterArrival,jdbcType=INTEGER},
      #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR},
      #{applyType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigDraft">
    insert into product_sku_config_draft
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applyShow != null">
        apply_show,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="configCode != null">
        config_code,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="transportCenterCode != null">
        transport_center_code,
      </if>
      <if test="transportCenterName != null">
        transport_center_name,
      </if>
      <if test="configStatus != null">
        config_status,
      </if>
      <if test="arrivalCycle != null">
        arrival_cycle,
      </if>
      <if test="orderCycle != null">
        order_cycle,
      </if>
      <if test="basicInventoryDay != null">
        basic_inventory_day,
      </if>
      <if test="largeInventoryWarnDay != null">
        large_inventory_warn_day,
      </if>
      <if test="bigEffectPeriodWarnDay != null">
        big_effect_period_warn_day,
      </if>
      <if test="turnoverPeriodAfterArrival != null">
        turnover_period_after_arrival,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="applyType != null">
        apply_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="applyShow != null">
        #{applyShow,jdbcType=TINYINT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="configCode != null">
        #{configCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterName != null">
        #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="configStatus != null">
        #{configStatus,jdbcType=TINYINT},
      </if>
      <if test="arrivalCycle != null">
        #{arrivalCycle,jdbcType=INTEGER},
      </if>
      <if test="orderCycle != null">
        #{orderCycle,jdbcType=INTEGER},
      </if>
      <if test="basicInventoryDay != null">
        #{basicInventoryDay,jdbcType=INTEGER},
      </if>
      <if test="largeInventoryWarnDay != null">
        #{largeInventoryWarnDay,jdbcType=INTEGER},
      </if>
      <if test="bigEffectPeriodWarnDay != null">
        #{bigEffectPeriodWarnDay,jdbcType=INTEGER},
      </if>
      <if test="turnoverPeriodAfterArrival != null">
        #{turnoverPeriodAfterArrival,jdbcType=INTEGER},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null">
        #{applyType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into product_sku_config_draft (apply_show, create_by,
      create_time, update_by, update_time,
      del_flag, config_code, product_code,
      product_name, sku_code, sku_name,
      transport_center_code, transport_center_name,
      config_status, arrival_cycle, order_cycle,
      basic_inventory_day, large_inventory_warn_day,
      big_effect_period_warn_day, turnover_period_after_arrival,
     company_code, company_name,apply_type
      )
    values
    <foreach collection="list" item="item" open="" close="" separator=",">
      (#{item.applyShow,jdbcType=TINYINT}, #{item.createBy,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP},
      #{item.delFlag,jdbcType=TINYINT}, #{item.configCode,jdbcType=VARCHAR}, #{item.productCode,jdbcType=VARCHAR},
      #{item.productName,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR}, #{item.skuName,jdbcType=VARCHAR},
      #{item.transportCenterCode,jdbcType=VARCHAR}, #{item.transportCenterName,jdbcType=VARCHAR},
      #{item.configStatus,jdbcType=TINYINT}, #{item.arrivalCycle,jdbcType=INTEGER}, #{item.orderCycle,jdbcType=INTEGER},
      #{item.basicInventoryDay,jdbcType=INTEGER}, #{item.largeInventoryWarnDay,jdbcType=INTEGER},
      #{item.bigEffectPeriodWarnDay,jdbcType=INTEGER}, #{item.turnoverPeriodAfterArrival,jdbcType=INTEGER},
      #{item.companyCode,jdbcType=VARCHAR}, #{item.companyName,jdbcType=VARCHAR},
      #{item.applyType,jdbcType=TINYINT}
      )
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigDraft">
    update product_sku_config_draft
    <set>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="configCode != null">
        config_code = #{configCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterName != null">
        transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="configStatus != null">
        config_status = #{configStatus,jdbcType=TINYINT},
      </if>
      <if test="arrivalCycle != null">
        arrival_cycle = #{arrivalCycle,jdbcType=INTEGER},
      </if>
      <if test="orderCycle != null">
        order_cycle = #{orderCycle,jdbcType=INTEGER},
      </if>
      <if test="basicInventoryDay != null">
        basic_inventory_day = #{basicInventoryDay,jdbcType=INTEGER},
      </if>
      <if test="largeInventoryWarnDay != null">
        large_inventory_warn_day = #{largeInventoryWarnDay,jdbcType=INTEGER},
      </if>
      <if test="bigEffectPeriodWarnDay != null">
        big_effect_period_warn_day = #{bigEffectPeriodWarnDay,jdbcType=INTEGER},
      </if>
      <if test="turnoverPeriodAfterArrival != null">
        turnover_period_after_arrival = #{turnoverPeriodAfterArrival,jdbcType=INTEGER},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null">
        apply_type = #{applyType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProductSkuConfigDraft">
    update product_sku_config_draft
    set create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT},
      config_code = #{configCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      config_status = #{configStatus,jdbcType=TINYINT},
      arrival_cycle = #{arrivalCycle,jdbcType=INTEGER},
      order_cycle = #{orderCycle,jdbcType=INTEGER},
      basic_inventory_day = #{basicInventoryDay,jdbcType=INTEGER},
      large_inventory_warn_day = #{largeInventoryWarnDay,jdbcType=INTEGER},
      big_effect_period_warn_day = #{bigEffectPeriodWarnDay,jdbcType=INTEGER},
      turnover_period_after_arrival = #{turnoverPeriodAfterArrival,jdbcType=INTEGER},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      apply_type = #{applyType,jdbcType=TINYINT},
      apply_show = #{applyShow,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>