<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.ProfitLossMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.ProfitLoss">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="logistics_center_code" jdbcType="VARCHAR" property="logisticsCenterCode" />
    <result column="logistics_center_name" jdbcType="VARCHAR" property="logisticsCenterName" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="quantity" jdbcType="BIGINT" property="quantity" />
    <result column="total_cost_rate" jdbcType="BIGINT" property="totalCostRate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <resultMap id="ResultListMap" type="com.aiqin.bms.scmp.api.product.domain.response.profitloss.QueryProfitLossRespVo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="logistics_center_code" jdbcType="VARCHAR" property="logisticsCenterCode" />
    <result column="logistics_center_name" jdbcType="VARCHAR" property="logisticsCenterName" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="quantity" jdbcType="BIGINT" property="quantity" />
    <result column="total_cost_rate" jdbcType="BIGINT" property="totalCostRate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="order_type_name" jdbcType="TINYINT" property="orderTypeName" />

  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, order_type, logistics_center_code, logistics_center_name, warehouse_code, 
    warehouse_name, quantity, total_cost_rate, remark, del_flag, create_time, create_by, 
    update_time, update_by
  </sql>
  <sql id="Result_Column_List">
     id, order_code, order_type, logistics_center_code, logistics_center_name, warehouse_code,
    warehouse_name, quantity, total_cost_rate, create_time,
    case when order_type = 0 then '报损' else '报益' end as order_type_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from profit_loss
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getList" parameterType="com.aiqin.bms.scmp.api.product.domain.request.profitloss.QueryProfitLossVo" resultMap="ResultListMap">
    select
    <include refid="Result_Column_List" />
    from profit_loss
    where del_flag = 0
    <if test="createTimeStart != null">
      and <![CDATA[ create_time >= #{createTimeStart}]]>
    </if>
    <if test="createTimeEnd != null">
      and <![CDATA[ create_time <= #{createTimeEnd}]]>
    </if>
    <if test="orderCode != null and orderCode != '' ">
      and order_code LIKE CONCAT('%',#{orderCode},'%')
    </if>
    <if test="orderType != null">
      and order_type = #{orderType}
    </if>
    <if test="logisticsCenterCode != null and logisticsCenterCode != '' ">
      and logistics_center_code = #{logisticsCenterCode}
    </if>
    <if test="logisticsCenterName != null and logisticsCenterName != '' ">
      and logistics_center_name like CONCAT('%',#{logisticsCenterName},'%')
    </if>
    <if test="warehouseCode != null and warehouseCode != '' ">
      and warehouse_code = #{warehouseCode}
    </if>
    <if test="warehouseName != null and warehouseName != '' ">
      and warehouse_name like CONCAT('%',#{warehouseName},'%')
    </if>
    order by create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from profit_loss
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProfitLoss">
    insert into profit_loss (id, order_code, order_type, 
      logistics_center_code, logistics_center_name, 
      warehouse_code, warehouse_name, quantity, 
      total_cost_rate, remark, del_flag, 
      create_time, create_by, update_time, 
      update_by)
    values (#{id,jdbcType=BIGINT}, #{orderCode,jdbcType=VARCHAR}, #{orderType,jdbcType=TINYINT}, 
      #{logisticsCenterCode,jdbcType=VARCHAR}, #{logisticsCenterName,jdbcType=VARCHAR}, 
      #{warehouseCode,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR}, #{quantity,jdbcType=BIGINT}, 
      #{totalCostRate,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{delFlag,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProfitLoss">
    insert into profit_loss
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="logisticsCenterCode != null">
        logistics_center_code,
      </if>
      <if test="logisticsCenterName != null">
        logistics_center_name,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="warehouseName != null">
        warehouse_name,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="totalCostRate != null">
        total_cost_rate,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="logisticsCenterCode != null">
        #{logisticsCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCenterName != null">
        #{logisticsCenterName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=BIGINT},
      </if>
      <if test="totalCostRate != null">
        #{totalCostRate,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProfitLoss">
    update profit_loss
    <set>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="logisticsCenterCode != null">
        logistics_center_code = #{logisticsCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCenterName != null">
        logistics_center_name = #{logisticsCenterName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=BIGINT},
      </if>
      <if test="totalCostRate != null">
        total_cost_rate = #{totalCostRate,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.ProfitLoss">
    update profit_loss
    set order_code = #{orderCode,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=TINYINT},
      logistics_center_code = #{logisticsCenterCode,jdbcType=VARCHAR},
      logistics_center_name = #{logisticsCenterName,jdbcType=VARCHAR},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=BIGINT},
      total_cost_rate = #{totalCostRate,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>