<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.VariablePriceMapper">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.VariablePrice">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="variable_price_code" jdbcType="VARCHAR" property="variablePriceCode"/>
        <result column="price_type_code" jdbcType="VARCHAR" property="priceTypeCode"/>
        <result column="price_type_name" jdbcType="VARCHAR" property="priceTypeName"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="variable_price_name" jdbcType="VARCHAR" property="variablePriceName"/>
        <result column="procurement_section_code" jdbcType="VARCHAR" property="procurementSectionCode"/>
        <result column="procurement_section_name" jdbcType="VARCHAR" property="procurementSectionName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="price_revoke" jdbcType="TINYINT" property="priceRevoke"/>
        <result column="form_no" jdbcType="VARCHAR" property="formNo"/>
        <result column="auditor_by" jdbcType="VARCHAR" property="auditorBy"/>
        <result column="auditor_time" jdbcType="TIMESTAMP" property="auditorTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, variable_price_code, price_type_code, price_type_name, del_flag, create_time,
        create_by, update_time, update_by, variable_price_name, procurement_section_code,
        procurement_section_name, remark, status,price_revoke,form_no,auditor_by,auditor_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from variable_price
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByPrimaryCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from variable_price
        where variable_price_code = #{variablePriceCode,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from variable_price
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.VariablePrice">
        insert into variable_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="variablePriceCode != null">
                variable_price_code,
            </if>
            <if test="priceTypeCode != null">
                price_type_code,
            </if>
            <if test="priceTypeName != null">
                price_type_name,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="variablePriceName != null">
                variable_price_name,
            </if>
            <if test="procurementSectionCode != null">
                procurement_section_code,
            </if>
            <if test="procurementSectionName != null">
                procurement_section_name,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="priceRevoke != null">
                price_revoke,
            </if>
            <if test="formNo != null">
                form_no,
            </if>
            <if test="auditorBy != null">
                auditor_by,
            </if>
            <if test="auditorTime != null">
                auditor_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="variablePriceCode != null">
                #{variablePriceCode,jdbcType=VARCHAR},
            </if>
            <if test="priceTypeCode != null">
                #{priceTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="priceTypeName != null">
                #{priceTypeName,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="variablePriceName != null">
                #{variablePriceName,jdbcType=VARCHAR},
            </if>
            <if test="procurementSectionCode != null">
                #{procurementSectionCode,jdbcType=VARCHAR},
            </if>
            <if test="procurementSectionName != null">
                #{procurementSectionName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="priceRevoke != null">
                #{priceRevoke,jdbcType=TINYINT},
            </if>
            <if test="formNo != null">
                #{formNo,jdbcType=VARCHAR},
            </if>
            <if test="auditorBy != null">
                #{auditorBy,jdbcType=VARCHAR},
            </if>
            <if test="auditorTime != null">
                #{auditorTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.VariablePrice">
        update variable_price
        <set>
            <if test="variablePriceCode != null">
                variable_price_code = #{variablePriceCode,jdbcType=VARCHAR},
            </if>
            <if test="priceTypeCode != null">
                price_type_code = #{priceTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="priceTypeName != null">
                price_type_name = #{priceTypeName,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="variablePriceName != null">
                variable_price_name = #{variablePriceName,jdbcType=VARCHAR},
            </if>
            <if test="procurementSectionCode != null">
                procurement_section_code = #{procurementSectionCode,jdbcType=VARCHAR},
            </if>
            <if test="procurementSectionName != null">
                procurement_section_name = #{procurementSectionName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="priceRevoke != null">
                price_revoke=#{priceRevoke,jdbcType=TINYINT},
            </if>
            <if test="formNo != null">
                form_no = #{formNo,jdbcType=VARCHAR},
            </if>
            <if test="auditorBy != null">
                auditor_by= #{auditorBy,jdbcType=VARCHAR},
            </if>
            <if test="auditorTime != null">
                auditor_time= #{auditorTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="variableDetail" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        variable_price
        WHERE del_flag=0
        <if test="priceTypeCode!=null and priceTypeCode!=''">
            AND price_type_code=#{priceTypeCode,jdbcType=VARCHAR}
        </if>
        <if test="variablePriceCode!=null and variablePriceCode!=''">
            AND variable_price_code=#{variablePriceCode,jdbcType=VARCHAR}
        </if>
        <if test="status!=null">
            AND status=#{status,jdbcType=TINYINT}
        </if>
        ORDER BY create_time DESC
    </select>
    <select id="getManagement"
            parameterType="com.aiqin.bms.scmp.api.product.domain.request.variableprice.PriceManagementReqVo"
            resultType="com.aiqin.bms.scmp.api.product.domain.response.variableprice.PriceManagement">
        SELECT
        psk.sku_code as skuCode,
        psk.sku_name as skuName,
        psp.price_type_code as priceTypeCode,
        psp.price_type_name as priceTypeName,
        psp.price_value as taxAmount,
        str_to_date(psk.selection_effective_start_time,'%Y-%m-%d %H:%i:%s') as takeEffectTime,
        str_to_date(psk.selection_effective_end_time,'%Y-%m-%d %H:%i:%s') as failureTime,
        psp.supplier_code as supplierCode,
        psp.supplier_name as supplierName,
        psp.is_default as isDefault,
        psp.id as productSkuPriceId
        FROM product_sku psk
        LEFT JOIN product_sku_price psp
        ON psk.sku_code=psp.sku_code
        WHERE psk.del_flag=0
        AND psp.del_flag=0
        <if test="procurementSectionCode!=null and procurementSectionCode!=''">
            AND psk.procurement_section_code =#{procurementSectionCode,jdbcType=VARCHAR}
        </if>
        <if test="priceTypeCode!=null and priceTypeCode!=''">
            AND psp.price_type_code=#{priceTypeCode,jdbcType=VARCHAR}
        </if>
        <if test="skuCode!=null and skuCode!=''">
            AND psk.sku_code LIKE CONCAT(CONCAT('%',#{skuCode},'%'))
        </if>
        <if test="skuName!=null and skuName!=''">
            AND psk.sku_name LIKE CONCAT(CONCAT('%',#{skuName},'%'))
        </if>
        <if test="amountSta!=null">
            AND psp.price_value &gt;=#{amountSta,jdbcType=BIGINT}
        </if>
        <if test="amountEnd!=null">
            AND psp.price_value &lt;=#{amountEnd,jdbcType=BIGINT}
        </if>
        <if test="productCategoryCode!=null and productCategoryCode!=''">
            AND psk.product_category_code= #{productCategoryCode,jdbcType=VARCHAR}
        </if>
        <if test="productBrandCode!=null and productBrandCode!=''">
            AND psk.product_brand_code=#{productBrandCode,jdbcType=VARCHAR}
        </if>
        <if test="productPropertyCode!=null and productPropertyCode!=''">
            AND psk.product_property_code =#{productPropertyCode,jdbcType=VARCHAR}
        </if>
        <if test="takeEffectTimeSta!=null">
            AND psk.selection_effective_start_time &gt;=#{takeEffectTimeSta,jdbcType=TIMESTAMP}
        </if>
        <if test="takeEffectTimeEnd!=null">
            AND psk.selection_effective_start_time &lt;=#{takeEffectTimeEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="failureTimeSta!=null">
            AND psk.selection_effective_end_time &gt;=#{failureTimeSta,jdbcType=TIMESTAMP}
        </if>
        <if test="failureTimeEnd!=null">
            AND psk.selection_effective_end_time &lt;=#{failureTimeEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="supplierCode!=null and supplierCode!=''">
            AND psp.supplier_code =#{supplierCode,jdbcType=VARCHAR}
        </if>
        GROUP BY psp.id
    </select>
    <select id="getConfirm" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM variable_price
        WHERE del_flag=0
        AND status=0
        <if test="priceTypeCode!=null and priceTypeCode!=''">
            AND price_type_code=#{priceTypeCode,jdbcType=VARCHAR}
        </if>
        ORDER BY create_time DESC
    </select>
    <select id="getPriceDataList"
            resultType="com.aiqin.bms.scmp.api.product.domain.response.variableprice.VariablePriceManagementResVO"
            parameterType="com.aiqin.bms.scmp.api.product.domain.request.variableprice.VariablePriceManagementReqVO">
        SELECT
        vpk.sku_code as skuCode,
        vpri.variable_price_code as variablePriceCode,
        vpri.variable_price_name as variablePriceName,
        vpri.create_time as createTime,
        vpk.take_effect_time as takeEffectTime,
        vpk.failure_time as failureTime,
        vpri.price_type_code as priceTypeCode,
        vpri.price_type_name as priceTypeName,
        vpri.procurement_section_code as procurementSectionCode,
        vpri.procurement_section_name as procurementSectionName,
        vpri.status as status,
        vpri.update_time as updateTime,
        vpri.price_revoke as priceRevoke,
        vpri.update_by as updateBy
        FROM variable_price vpri LEFT JOIN variable_price_sku vpk
        ON vpri.variable_price_code=vpk.variable_price_code
        WHERE vpri.del_flag=0
        <if test="skuCode!=null and skuCode!=''">
            AND vpk.sku_code LIKE CONCAT(CONCAT('%',#{skuCode},'%'))
        </if>
        <if test="variablePriceName!=null and variablePriceName!=''">
            AND vpri.variable_price_name LIKE CONCAT(CONCAT('%',#{variablePriceName},'%'))
        </if>
        <if test="priceTypeCode!=null and priceTypeCode!=''">
            AND vpri.price_type_code =#{priceTypeCode,jdbcType=VARCHAR}
        </if>
        <if test="procurementSectionCode!=null and procurementSectionCode!=''">
            AND vpri.procurement_section_code=#{procurementSectionCode,jdbcType=VARCHAR}
        </if>
        <if test="createStaTime!=null">
            AND vpri.create_time &gt;=#{createStaTime,jdbcType=TIMESTAMP}
        </if>
        <if test="createEndTime!=null">
            AND vpri.create_time &lt;=#{createEndTime,jdbcType=TIMESTAMP}
        </if>
        <if test="status!=null">
            AND vpri.status=#{status,jdbcType=TINYINT}
        </if>
        <if test="variablePriceCode!=null and variablePriceCode!=''">
            AND vpri.variable_price_code LIKE CONCAT(CONCAT('%',#{variablePriceCode},'%'))
        </if>
    </select>
    <select id="selectByFormNO" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM variable_price
        WHERE del_flag=0
        <if test="formNo!=null and formNo!=''">
            AND form_no=#{formNo,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="getName" resultType="java.lang.Integer">
        SELECT
        COUNT(id)
        FROM variable_price
        WHERE
        1=1
        <if test="name!=null and name!=''">
            AND variable_price_name=#{name,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
