<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.VariablePriceSkuMapper">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.VariablePriceSku">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="sku_name" jdbcType="VARCHAR" property="skuName"/>
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="new_purchasing_price" jdbcType="BIGINT" property="newPurchasingPrice"/>
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode"/>
        <result column="is_default" jdbcType="TINYINT" property="isDefault"/>
        <result column="original_tax_purchase_price" jdbcType="BIGINT" property="originalTaxPurchasePrice"/>
        <result column="take_effect_time" jdbcType="TIMESTAMP" property="takeEffectTime"/>
        <result column="new_taxed_purchasing_price" jdbcType="BIGINT" property="newTaxedPurchasingPrice"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="original_membership_price" jdbcType="BIGINT" property="originalMembershipPrice"/>
        <result column="new_taxed_membership_price" jdbcType="BIGINT" property="newTaxedMembershipPrice"/>
        <result column="update_price_reason" jdbcType="VARCHAR" property="updatePriceReason"/>
        <result column="update_price_reason_code" jdbcType="VARCHAR" property="updatePriceReasonCode"/>
        <result column="failure_time" jdbcType="TIMESTAMP" property="failureTime"/>
        <result column="temporary_taxed_price" jdbcType="BIGINT" property="temporaryTaxedPrice"/>
        <result column="variable_price_name" jdbcType="VARCHAR" property="variablePriceName"/>
        <result column="product_category_code" jdbcType="VARCHAR" property="productCategoryCode"/>
        <result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName"/>
        <result column="variable_price_code" jdbcType="VARCHAR" property="variablePriceCode"/>
        <result column="variable_price_sku_code" jdbcType="VARCHAR" property="variablePriceSkuCode"/>
        <result column="price_revoke" jdbcType="TINYINT" property="priceRevoke"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, sku_code, sku_name, supplier_name, new_purchasing_price, supplier_code, is_default, 
    original_tax_purchase_price, take_effect_time, new_taxed_purchasing_price, del_flag, 
    create_time, create_by, update_time, update_by, original_membership_price, new_taxed_membership_price, 
    update_price_reason, update_price_reason_code, failure_time, temporary_taxed_price, 
    variable_price_name, product_category_code, product_category_name, variable_price_code,variable_price_sku_code,price_revoke
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from variable_price_sku
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from variable_price_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.VariablePriceSku">
    insert into variable_price_sku (id, sku_code, sku_name, 
      supplier_name, new_purchasing_price, supplier_code, 
      is_default, original_tax_purchase_price, take_effect_time, 
      new_taxed_purchasing_price, del_flag, create_time, 
      create_by, update_time, update_by, 
      original_membership_price, new_taxed_membership_price, 
      update_price_reason, update_price_reason_code, 
      failure_time, temporary_taxed_price, variable_price_name, 
      product_category_code, product_category_name, 
      variable_price_code,variable_price_sku_code,price_revoke)
    values (#{id,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, 
      #{supplierName,jdbcType=VARCHAR}, #{newPurchasingPrice,jdbcType=BIGINT}, #{supplierCode,jdbcType=VARCHAR}, 
      #{isDefault,jdbcType=TINYINT}, #{originalTaxPurchasePrice,jdbcType=BIGINT}, #{takeEffectTime,jdbcType=TIMESTAMP}, 
      #{newTaxedPurchasingPrice,jdbcType=BIGINT}, #{delFlag,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{originalMembershipPrice,jdbcType=BIGINT}, #{newTaxedMembershipPrice,jdbcType=BIGINT}, 
      #{updatePriceReason,jdbcType=VARCHAR}, #{updatePriceReasonCode,jdbcType=VARCHAR}, 
      #{failureTime,jdbcType=TIMESTAMP}, #{temporaryTaxedPrice,jdbcType=BIGINT}, #{variablePriceName,jdbcType=VARCHAR}, 
      #{productCategoryCode,jdbcType=VARCHAR}, #{productCategoryName,jdbcType=VARCHAR}, 
      #{variablePriceCode,jdbcType=VARCHAR}, #{variablePriceSkuCode,jdbcType=VARCHAR},
      #{priceRevoke,jdbcType=TINYINT}
      )
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.VariablePriceSku">
        insert into variable_price_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="skuCode != null">
                sku_code,
            </if>
            <if test="skuName != null">
                sku_name,
            </if>
            <if test="supplierName != null">
                supplier_name,
            </if>
            <if test="newPurchasingPrice != null">
                new_purchasing_price,
            </if>
            <if test="supplierCode != null">
                supplier_code,
            </if>
            <if test="isDefault != null">
                is_default,
            </if>
            <if test="originalTaxPurchasePrice != null">
                original_tax_purchase_price,
            </if>
            <if test="takeEffectTime != null">
                take_effect_time,
            </if>
            <if test="newTaxedPurchasingPrice != null">
                new_taxed_purchasing_price,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="originalMembershipPrice != null">
                original_membership_price,
            </if>
            <if test="newTaxedMembershipPrice != null">
                new_taxed_membership_price,
            </if>
            <if test="updatePriceReason != null">
                update_price_reason,
            </if>
            <if test="updatePriceReasonCode != null">
                update_price_reason_code,
            </if>
            <if test="failureTime != null">
                failure_time,
            </if>
            <if test="temporaryTaxedPrice != null">
                temporary_taxed_price,
            </if>
            <if test="variablePriceName != null">
                variable_price_name,
            </if>
            <if test="productCategoryCode != null">
                product_category_code,
            </if>
            <if test="productCategoryName != null">
                product_category_name,
            </if>
            <if test="variablePriceCode != null">
                variable_price_code,
            </if>
            <if test="variablePriceSkuCode != null">
                variable_price_sku_code,
            </if>
            <if test="priceRevoke != null">
                price_revoke,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="skuCode != null">
                #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="skuName != null">
                #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="supplierName != null">
                #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="newPurchasingPrice != null">
                #{newPurchasingPrice,jdbcType=BIGINT},
            </if>
            <if test="supplierCode != null">
                #{supplierCode,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=TINYINT},
            </if>
            <if test="originalTaxPurchasePrice != null">
                #{originalTaxPurchasePrice,jdbcType=BIGINT},
            </if>
            <if test="takeEffectTime != null">
                #{takeEffectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="newTaxedPurchasingPrice != null">
                #{newTaxedPurchasingPrice,jdbcType=BIGINT},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="originalMembershipPrice != null">
                #{originalMembershipPrice,jdbcType=BIGINT},
            </if>
            <if test="newTaxedMembershipPrice != null">
                #{newTaxedMembershipPrice,jdbcType=BIGINT},
            </if>
            <if test="updatePriceReason != null">
                #{updatePriceReason,jdbcType=VARCHAR},
            </if>
            <if test="updatePriceReasonCode != null">
                #{updatePriceReasonCode,jdbcType=VARCHAR},
            </if>
            <if test="failureTime != null">
                #{failureTime,jdbcType=TIMESTAMP},
            </if>
            <if test="temporaryTaxedPrice != null">
                #{temporaryTaxedPrice,jdbcType=BIGINT},
            </if>
            <if test="variablePriceName != null">
                #{variablePriceName,jdbcType=VARCHAR},
            </if>
            <if test="productCategoryCode != null">
                #{productCategoryCode,jdbcType=VARCHAR},
            </if>
            <if test="productCategoryName != null">
                #{productCategoryName,jdbcType=VARCHAR},
            </if>
            <if test="variablePriceCode != null">
                #{variablePriceCode,jdbcType=VARCHAR},
            </if>
            <if test="variablePriceSkuCode != null">
                #{variablePriceSkuCode,jdbcType=VARCHAR},
            </if>
            <if test="priceRevoke != null">
                #{priceRevoke,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.VariablePriceSku">
        update variable_price_sku
        <set>
            <if test="skuCode != null">
                sku_code = #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="skuName != null">
                sku_name = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="supplierName != null">
                supplier_name = #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="newPurchasingPrice != null">
                new_purchasing_price = #{newPurchasingPrice,jdbcType=BIGINT},
            </if>
            <if test="supplierCode != null">
                supplier_code = #{supplierCode,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault,jdbcType=TINYINT},
            </if>
            <if test="originalTaxPurchasePrice != null">
                original_tax_purchase_price = #{originalTaxPurchasePrice,jdbcType=BIGINT},
            </if>
            <if test="takeEffectTime != null">
                take_effect_time = #{takeEffectTime,jdbcType=TIMESTAMP},
            </if>
            <if test="newTaxedPurchasingPrice != null">
                new_taxed_purchasing_price = #{newTaxedPurchasingPrice,jdbcType=BIGINT},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="originalMembershipPrice != null">
                original_membership_price = #{originalMembershipPrice,jdbcType=BIGINT},
            </if>
            <if test="newTaxedMembershipPrice != null">
                new_taxed_membership_price = #{newTaxedMembershipPrice,jdbcType=BIGINT},
            </if>
            <if test="updatePriceReason != null">
                update_price_reason = #{updatePriceReason,jdbcType=VARCHAR},
            </if>
            <if test="updatePriceReasonCode != null">
                update_price_reason_code = #{updatePriceReasonCode,jdbcType=VARCHAR},
            </if>
            <if test="failureTime != null">
                failure_time = #{failureTime,jdbcType=TIMESTAMP},
            </if>
            <if test="temporaryTaxedPrice != null">
                temporary_taxed_price = #{temporaryTaxedPrice,jdbcType=BIGINT},
            </if>
            <if test="variablePriceName != null">
                variable_price_name = #{variablePriceName,jdbcType=VARCHAR},
            </if>
            <if test="productCategoryCode != null">
                product_category_code = #{productCategoryCode,jdbcType=VARCHAR},
            </if>
            <if test="productCategoryName != null">
                product_category_name = #{productCategoryName,jdbcType=VARCHAR},
            </if>
            <if test="variablePriceCode != null">
                variable_price_code = #{variablePriceCode,jdbcType=VARCHAR},
            </if>
            <if test="variablePriceSkuCode != null">
                variable_price_sku_code = #{variablePriceSkuCode,jdbcType=VARCHAR},
            </if>
            <if test="priceRevoke != null">
                price_revoke= #{priceRevoke,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.VariablePriceSku">
    update variable_price_sku
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      new_purchasing_price = #{newPurchasingPrice,jdbcType=BIGINT},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=TINYINT},
      original_tax_purchase_price = #{originalTaxPurchasePrice,jdbcType=BIGINT},
      take_effect_time = #{takeEffectTime,jdbcType=TIMESTAMP},
      new_taxed_purchasing_price = #{newTaxedPurchasingPrice,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      original_membership_price = #{originalMembershipPrice,jdbcType=BIGINT},
      new_taxed_membership_price = #{newTaxedMembershipPrice,jdbcType=BIGINT},
      update_price_reason = #{updatePriceReason,jdbcType=VARCHAR},
      update_price_reason_code = #{updatePriceReasonCode,jdbcType=VARCHAR},
      failure_time = #{failureTime,jdbcType=TIMESTAMP},
      temporary_taxed_price = #{temporaryTaxedPrice,jdbcType=BIGINT},
      variable_price_name = #{variablePriceName,jdbcType=VARCHAR},
      product_category_code = #{productCategoryCode,jdbcType=VARCHAR},
      product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      variable_price_code = #{variablePriceCode,jdbcType=VARCHAR},
      variable_price_sku_code = #{variablePriceSkuCode,jdbcType=VARCHAR},
      price_revoke= #{priceRevoke,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <insert id="insertList" parameterType="java.util.List">
        insert into variable_price_sku
                (
            id,
            sku_code,
            sku_name,
            supplier_name,
            new_purchasing_price,
            supplier_code,
            is_default,
            original_tax_purchase_price,
            take_effect_time,
            new_taxed_purchasing_price,
            del_flag,
            create_time,
            create_by,
            update_time,
            update_by,
            original_membership_price,
            new_taxed_membership_price,
            update_price_reason,
            update_price_reason_code,
            failure_time,
            temporary_taxed_price,
            variable_price_name,
            product_category_code,
            product_category_name,
            variable_price_code,
            variable_price_sku_code,
            price_revoke
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.id,jdbcType=BIGINT},
                    #{item.skuCode,jdbcType=VARCHAR},
                    #{item.skuName,jdbcType=VARCHAR},
                    #{item.supplierName,jdbcType=VARCHAR},
                    #{item.newPurchasingPrice,jdbcType=BIGINT},
                    #{item.supplierCode,jdbcType=VARCHAR},
                    #{item.isDefault,jdbcType=TINYINT},
                    #{item.originalTaxPurchasePrice,jdbcType=BIGINT},
                    #{item.takeEffectTime,jdbcType=TIMESTAMP},
                    #{item.newTaxedPurchasingPrice,jdbcType=BIGINT},
                    #{item.delFlag,jdbcType=TINYINT},
                    #{item.createTime,jdbcType=TIMESTAMP},
                    #{item.createBy,jdbcType=VARCHAR},
                    #{item.updateTime,jdbcType=TIMESTAMP},
                    #{item.updateBy,jdbcType=VARCHAR},
                    #{item.originalMembershipPrice,jdbcType=BIGINT},
                    #{item.newTaxedMembershipPrice,jdbcType=BIGINT},
                    #{item.updatePriceReason,jdbcType=VARCHAR},
                    #{item.updatePriceReasonCode,jdbcType=VARCHAR},
                    #{item.failureTime,jdbcType=TIMESTAMP},
                    #{item.temporaryTaxedPrice,jdbcType=BIGINT},
                    #{item.variablePriceName,jdbcType=VARCHAR},
                    #{item.productCategoryCode,jdbcType=VARCHAR},
                    #{item.productCategoryName,jdbcType=VARCHAR},
                    #{item.variablePriceCode,jdbcType=VARCHAR},
                    #{item.variablePriceSkuCode,jdbcType=VARCHAR},
                    #{item.priceRevoke,jdbcType=TINYINT}
            )
        </foreach>
    </insert>
    <update id="updateAndCode" parameterType="com.aiqin.bms.scmp.api.product.domain.request.variableprice.PriceRevokeReqVo">
        update
        variable_price_sku
        SET
        price_revoke= #{priceRevoke,jdbcType=TINYINT}
        where
        variable_price_code = #{variablePriceCode,jdbcType=VARCHAR}
    </update>
    <select id="getList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        variable_price_sku
        WHERE del_flag=0
        <if test="variablePriceCode!=null">
            AND variable_price_code=#{variablePriceCode,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>