<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
    <!-- Console 输出设置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <!--<encoder>-->
            <!--<pattern>%date [%5p] - %25c - %m%n</pattern>-->
        <!--</encoder>-->
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_HOME}/logs/scmp-api.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%5p] - %25c - %m%n</pattern>
        </encoder>
    </appender>
    <!--请求参数,写入日志文件中-->
    <appender name="CALLBACK_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_HOME}/logs/abutment/callback.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date [%5p] - %25c - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="druid.sql.Statement" level="${LOGGER_LEVEL:-DEBUG}" additivity="false">
        <appender-ref ref="${LOGGER_APPENDER:-CONSOLE}"/>
    </logger>
    <logger name="springfox" level="INFO" additivity="false">
        <appender-ref ref="${LOGGER_APPENDER:-CONSOLE}"/>
    </logger>
    <logger name="org.springframework.beans.factory" level="INFO" additivity="false">
        <appender-ref ref="${LOGGER_APPENDER:-CONSOLE}"/>
    </logger>
    <logger name="org.springframework.core.env" level="INFO" additivity="false">
        <appender-ref ref="${LOGGER_APPENDER:-CONSOLE}"/>
    </logger>
    <logger name="org.springframework.context.annotation" level="INFO" additivity="false">
        <appender-ref ref="${LOGGER_APPENDER:-CONSOLE}"/>
    </logger>
    <logger name="org.apache.ibatis.io.DefaultVFS" level="INFO" additivity="false">
        <appender-ref ref="${LOGGER_APPENDER:-CONSOLE}"/>
    </logger>
    <logger name="com.aiqin.bms.scmp.api.purchase.service.impl.OrderCallbackServiceImpl" level="ERROR" additivity="false">
        <appender-ref ref="CALLBACK_FILE"/>
        <appender-ref ref="${LOGGER_APPENDER:-CONSOLE}"/>
    </logger>
    <logger name="com.aiqin.bms.scmp.api" level="DEBUG" additivity="false">
        <appender-ref ref="${LOGGER_APPENDER:-CONSOLE}"/>
    </logger>
    <root level="${LOGGER_LEVEL:-INFO}">
        <appender-ref ref="${LOGGER_APPENDER:-CONSOLE}"/>
        <appender-ref ref="${LOGGER_APPENDER:-FILE}"/>
    </root>
</configuration>