<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.ApplyPurchaseOrderProductDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.ApplyPurchaseOrderProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_product_id" jdbcType="VARCHAR" property="orderProductId" />
    <result column="purchase_order_id" jdbcType="VARCHAR" property="purchaseOrderId" />
    <result column="purchase_order_code" jdbcType="VARCHAR" property="purchaseOrderCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="product_spec" jdbcType="VARCHAR" property="productSpec" />
    <result column="color_name" jdbcType="VARCHAR" property="colorName" />
    <result column="model_number" jdbcType="VARCHAR" property="modelNumber" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="purchase_whole" jdbcType="INTEGER" property="purchaseWhole" />
    <result column="purchase_single" jdbcType="INTEGER" property="purchaseSingle" />
    <result column="base_product_content" jdbcType="INTEGER" property="baseProductContent" />
    <result column="box_gauge" jdbcType="VARCHAR" property="boxGauge" />
    <result column="single_count" jdbcType="INTEGER" property="singleCount" />
    <result column="tax_rate" jdbcType="INTEGER" property="taxRate" />
    <result column="product_amount" jdbcType="DECIMAL" property="productAmount" />
    <result column="product_total_amount" jdbcType="DECIMAL" property="productTotalAmount" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="actual_single_count" jdbcType="INTEGER" property="actualSingleCount" />
    <result column="factory_sku_code" jdbcType="VARCHAR" property="factorySkuCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
    <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="stock_amount" jdbcType="DECIMAL" property="stockAmount" />
    <result column="stock_turnover" jdbcType="INTEGER" property="stockTurnover" />
    <result column="receipt_turnover" jdbcType="INTEGER" property="receiptTurnover" />
    <result column="linnum" jdbcType="INTEGER" property="linnum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_product_id, purchase_order_id, purchase_order_code,
    sku_code, sku_name, brand_id, brand_name, category_id, category_name, product_spec, 
    color_name, model_number, product_type, purchase_whole, purchase_single, base_product_content, 
    box_gauge, single_count, tax_rate, product_amount, product_total_amount, stock_count, 
    actual_single_count, factory_sku_code, create_time, update_time, create_by_id, update_by_id, 
    create_by_name, update_by_name, stock_amount, stock_turnover, receipt_turnover, linnum
  </sql>
  <insert id="insertAll">
    insert into apply_purchase_order_product (order_product_id,
      purchase_order_id, purchase_order_code, sku_code, sku_name, brand_id, brand_name,
      category_id, category_name, product_spec, color_name, model_number, product_type,
      purchase_whole, purchase_single, base_product_content, box_gauge, single_count, tax_rate,
      product_amount, product_total_amount, stock_count, actual_single_count, factory_sku_code,
      create_time, create_by_id, create_by_name, stock_amount, stock_turnover, receipt_turnover, linnum)
    values
    <foreach collection="list" item="item" index="" separator=",">
     (#{item.orderProductId,jdbcType=VARCHAR}, #{item.purchaseOrderId,jdbcType=VARCHAR},
      #{item.purchaseOrderCode,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR},
      #{item.skuName,jdbcType=VARCHAR}, #{item.brandId,jdbcType=VARCHAR}, #{item.brandName,jdbcType=VARCHAR}, 
      #{item.categoryId,jdbcType=VARCHAR}, #{item.categoryName,jdbcType=VARCHAR}, #{item.productSpec,jdbcType=VARCHAR}, 
      #{item.colorName,jdbcType=VARCHAR}, #{item.modelNumber,jdbcType=VARCHAR}, #{item.productType,jdbcType=INTEGER}, 
      #{item.purchaseWhole,jdbcType=INTEGER}, #{item.purchaseSingle,jdbcType=INTEGER}, #{item.baseProductContent,jdbcType=INTEGER}, 
      #{item.boxGauge,jdbcType=VARCHAR}, #{item.singleCount,jdbcType=INTEGER}, #{item.taxRate,jdbcType=INTEGER}, 
      #{item.productAmount,jdbcType=DECIMAL}, #{item.productTotalAmount,jdbcType=DECIMAL}, #{item.stockCount,jdbcType=INTEGER},
      #{item.actualSingleCount,jdbcType=INTEGER}, #{item.factorySkuCode,jdbcType=VARCHAR}, now(), 
      #{item.createById,jdbcType=VARCHAR}, #{item.createByName,jdbcType=VARCHAR},#{item.stockAmount,jdbcType=DECIMAL},
      #{item.stockTurnover,jdbcType=INTEGER},#{item.receiptTurnover,jdbcType=INTEGER},#{item.linnum,jdbcType=INTEGER})
    </foreach>
  </insert>
  <select id="applyPurchaseOrderList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from apply_purchase_order_product
    <where>
      purchase_order_id = #{purchaseOrderId,jdbcType=VARCHAR}
    </where>
    <if test="isPage == 0">
      LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="applyPurchaseOrderCount" resultType="java.lang.Integer">
    select count(1)
    from apply_purchase_order_product
    <where>
      purchase_order_id = #{purchaseOrderId,jdbcType=VARCHAR}
    </where>
  </select>
</mapper>