<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.ApplyPurchaseOrderDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.ApplyPurchaseOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="purchase_order_id" jdbcType="VARCHAR" property="purchaseOrderId" />
    <result column="purchase_order_code" jdbcType="VARCHAR" property="purchaseOrderCode" />
    <result column="transport_center_code" jdbcType="VARCHAR" property="transportCenterCode" />
    <result column="transport_center_name" jdbcType="VARCHAR" property="transportCenterName" />
    <result column="purchase_group_code" jdbcType="VARCHAR" property="purchaseGroupCode" />
    <result column="purchase_group_name" jdbcType="VARCHAR" property="purchaseGroupName" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="info_status" jdbcType="INTEGER" property="infoStatus" />
    <result column="purchase_order_status" jdbcType="INTEGER" property="purchaseOrderStatus" />
    <result column="storage_status" jdbcType="INTEGER" property="storageStatus" />
    <result column="single_count" jdbcType="INTEGER" property="singleCount" />
    <result column="product_total_amount" jdbcType="INTEGER" property="productTotalAmount" />
    <result column="return_amount" jdbcType="INTEGER" property="returnAmount" />
    <result column="purchase_mode" jdbcType="INTEGER" property="purchaseMode" />
    <result column="settlement_method_code" jdbcType="VARCHAR" property="settlementMethodCode" />
    <result column="settlement_method_name" jdbcType="VARCHAR" property="settlementMethodName" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="cancel_remark" jdbcType="VARCHAR" property="cancelRemark" />
    <result column="apply_type_form" jdbcType="VARCHAR" property="applyTypeForm" />
    <result column="approval_code" jdbcType="VARCHAR" property="approvalCode" />
    <result column="gift_tax_sum" jdbcType="INTEGER" property="giftTaxSum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
    <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, purchase_order_id, purchase_order_code, transport_center_code,
    transport_center_name, purchase_group_code, purchase_group_name, warehouse_code, 
    warehouse_name, supplier_code, supplier_name, info_status, purchase_order_status, 
    storage_status, single_count, product_total_amount, return_amount, purchase_mode, 
    settlement_method_code, settlement_method_name, cancel_reason, cancel_remark, apply_type_form, 
    approval_code, gift_tax_sum, create_time, update_time, create_by_id, update_by_id, 
    create_by_name, update_by_name
  </sql>
  <insert id="insert">
    insert into apply_purchase_order (purchase_order_id,
      purchase_order_code, transport_center_code, transport_center_name, purchase_group_code,
      purchase_group_name, warehouse_code, warehouse_name, supplier_code, supplier_name, info_status,
      purchase_order_status, storage_status, single_count, product_total_amount, return_amount, purchase_mode,
      settlement_method_code, settlement_method_name, cancel_reason, cancel_remark, apply_type_form,
      approval_code, gift_tax_sum, create_time, create_by_id, create_by_name)
    values (#{purchaseOrderId,jdbcType=VARCHAR},
      #{purchaseOrderCode,jdbcType=VARCHAR}, #{transportCenterCode,jdbcType=VARCHAR}, 
      #{transportCenterName,jdbcType=VARCHAR}, #{purchaseGroupCode,jdbcType=VARCHAR}, 
      #{purchaseGroupName,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR}, 
      #{supplierCode,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{infoStatus,jdbcType=INTEGER}, 
      #{purchaseOrderStatus,jdbcType=INTEGER}, #{storageStatus,jdbcType=INTEGER}, #{singleCount,jdbcType=INTEGER}, 
      #{productTotalAmount,jdbcType=INTEGER}, #{returnAmount,jdbcType=INTEGER}, #{purchaseMode,jdbcType=INTEGER}, 
      #{settlementMethodCode,jdbcType=VARCHAR}, #{settlementMethodName,jdbcType=VARCHAR}, 
      #{cancelReason,jdbcType=VARCHAR}, #{cancelRemark,jdbcType=VARCHAR}, #{applyTypeForm,jdbcType=VARCHAR}, 
      #{approvalCode,jdbcType=VARCHAR}, #{giftTaxSum,jdbcType=INTEGER}, now(), #{createById,jdbcType=VARCHAR},
      #{createByName,jdbcType=VARCHAR})
  </insert>
  <update id="update">
    update apply_purchase_order
    <set>
      <if test="purchaseOrderStatus != null">
        purchase_order_status = #{purchaseOrderStatus,jdbcType=INTEGER},
      </if>
      <if test="storageStatus != null">
        storage_status = #{storageStatus,jdbcType=INTEGER},
      </if>
      update_time = now(),
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR}
      </if>
    </set>
    where purchase_order_id = #{purchaseOrderId,jdbcType=VARCHAR}
  </update>
</mapper>