<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.ApplyPurchaseOrderDetailsDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.ApplyPurchaseOrderDetails">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="purchase_details_id" jdbcType="VARCHAR" property="purchaseDetailsId" />
    <result column="purchase_order_id" jdbcType="VARCHAR" property="purchaseOrderId" />
    <result column="purchase_order_code" jdbcType="VARCHAR" property="purchaseOrderCode" />
    <result column="account_code" jdbcType="VARCHAR" property="accountCode" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="charge_person" jdbcType="VARCHAR" property="chargePerson" />
    <result column="contact_person" jdbcType="VARCHAR" property="contactPerson" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="expect_arrival_time" jdbcType="TIMESTAMP" property="expectArrivalTime" />
    <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
    <result column="direct_supervisor_code" jdbcType="VARCHAR" property="directSupervisorCode" />
    <result column="direct_supervisor_name" jdbcType="VARCHAR" property="directSupervisorName" />
    <result column="payment_type" jdbcType="INTEGER" property="paymentType" />
    <result column="advance_payment" jdbcType="INTEGER" property="advancePayment" />
    <result column="amount_payable" jdbcType="INTEGER" property="amountPayable" />
    <result column="month_amount" jdbcType="INTEGER" property="monthAmount" />
    <result column="payable_time" jdbcType="INTEGER" property="payableTime" />
    <result column="month_time" jdbcType="INTEGER" property="monthTime" />
    <result column="receipt" jdbcType="VARCHAR" property="receipt" />
    <result column="receipt_address" jdbcType="VARCHAR" property="receiptAddress" />
    <result column="delivery" jdbcType="VARCHAR" property="delivery" />
    <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="warehouse_time" jdbcType="TIMESTAMP" property="warehouseTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="details_status" jdbcType="INTEGER" property="detailsStatus" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="score_code" jdbcType="VARCHAR" property="scoreCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
    <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, purchase_details_id, purchase_order_id, purchase_order_code,
    account_code, account_name, contract_code, contract_name, charge_person, contact_person, 
    mobile, expect_arrival_time, valid_time, direct_supervisor_code, direct_supervisor_name, 
    payment_type, advance_payment, amount_payable, month_amount, payable_time, month_time, 
    receipt, receipt_address, delivery, delivery_address, delivery_time, warehouse_time, 
    remark, details_status, order_code, order_type, score_code, create_time, update_time, 
    create_by_id, update_by_id, create_by_name, update_by_name
  </sql>
  <insert id="insert">
    insert into apply_purchase_order_details (purchase_details_id,
      purchase_order_id, purchase_order_code, account_code, account_name, contract_code, contract_name,
      charge_person, contact_person, mobile, expect_arrival_time, valid_time, direct_supervisor_code,
      direct_supervisor_name, payment_type, advance_payment, amount_payable, month_amount, payable_time,
      month_time, receipt, receipt_address, delivery, delivery_address, delivery_time,
      warehouse_time, remark, details_status, order_code, order_type, score_code,
      create_time, create_by_id, create_by_name)
    values (#{purchaseDetailsId,jdbcType=VARCHAR},
      #{purchaseOrderId,jdbcType=VARCHAR}, #{purchaseOrderCode,jdbcType=VARCHAR}, #{accountCode,jdbcType=VARCHAR}, 
      #{accountName,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR}, 
      #{chargePerson,jdbcType=VARCHAR}, #{contactPerson,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{expectArrivalTime,jdbcType=TIMESTAMP}, #{validTime,jdbcType=TIMESTAMP}, #{directSupervisorCode,jdbcType=VARCHAR}, 
      #{directSupervisorName,jdbcType=VARCHAR}, #{paymentType,jdbcType=INTEGER}, #{advancePayment,jdbcType=INTEGER}, 
      #{amountPayable,jdbcType=INTEGER}, #{monthAmount,jdbcType=INTEGER}, #{payableTime,jdbcType=INTEGER}, 
      #{monthTime,jdbcType=INTEGER}, #{receipt,jdbcType=VARCHAR}, #{receiptAddress,jdbcType=VARCHAR}, 
      #{delivery,jdbcType=VARCHAR}, #{deliveryAddress,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=TIMESTAMP}, 
      #{warehouseTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{detailsStatus,jdbcType=INTEGER}, 
      #{orderCode,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, #{scoreCode,jdbcType=VARCHAR}, 
      now(), #{createById,jdbcType=VARCHAR}, #{createByName,jdbcType=VARCHAR})
  </insert>
  <update id="update">
    update apply_purchase_order_details
    <set>
      <if test="purchaseDetailsId != null">
        purchase_details_id = #{purchaseDetailsId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderId != null">
        purchase_order_id = #{purchaseOrderId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderCode != null">
        purchase_order_code = #{purchaseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="accountCode != null">
        account_code = #{accountCode,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null">
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null">
        contract_name = #{contractName,jdbcType=VARCHAR},
      </if>
      <if test="chargePerson != null">
        charge_person = #{chargePerson,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null">
        contact_person = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="expectArrivalTime != null">
        expect_arrival_time = #{expectArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validTime != null">
        valid_time = #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="directSupervisorCode != null">
        direct_supervisor_code = #{directSupervisorCode,jdbcType=VARCHAR},
      </if>
      <if test="directSupervisorName != null">
        direct_supervisor_name = #{directSupervisorName,jdbcType=VARCHAR},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=INTEGER},
      </if>
      <if test="advancePayment != null">
        advance_payment = #{advancePayment,jdbcType=INTEGER},
      </if>
      <if test="amountPayable != null">
        amount_payable = #{amountPayable,jdbcType=INTEGER},
      </if>
      <if test="monthAmount != null">
        month_amount = #{monthAmount,jdbcType=INTEGER},
      </if>
      <if test="payableTime != null">
        payable_time = #{payableTime,jdbcType=INTEGER},
      </if>
      <if test="monthTime != null">
        month_time = #{monthTime,jdbcType=INTEGER},
      </if>
      <if test="receipt != null">
        receipt = #{receipt,jdbcType=VARCHAR},
      </if>
      <if test="receiptAddress != null">
        receipt_address = #{receiptAddress,jdbcType=VARCHAR},
      </if>
      <if test="delivery != null">
        delivery = #{delivery,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warehouseTime != null">
        warehouse_time = #{warehouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="detailsStatus != null">
        details_status = #{detailsStatus,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="scoreCode != null">
        score_code = #{scoreCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        create_by_id = #{createById,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="applyOrderDetails" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseApplyDetailResponse">
    select o.purchase_order_id as purchaseOrderId, o.purchase_order_code as purchaseOrderCode,
    o.warehouse_code as warehouseCode, o.warehouse_name as warehouseName, o.transport_center_code as transportCenterCode,
    o.transport_center_name as transportCenterName, o.purchase_order_status as purchaseOrderStatus,
    d.expect_arrival_time as expectArrivalTime, d.valid_time as validTime, o.create_time as createTime,
    o.purchase_group_code as purchaseGroupCode, o.purchase_group_name as purchaseGroupName, o.purchase_mode as purchaseMode,
    d.charge_person as chargePerson, d.contract_code as contractCode, d.contract_name as contractName,
    d.account_code as accountCode, d.account_name as accountName, o.settlement_method_code as settlementMethodCode,
    o.settlement_method_name as settlementMethodName, d.contact_person as contactPerson, d.mobile,
    d.delivery_time as deliveryTime, d.warehouse_time as warehouseTime, d.update_time as updateTime,
    d.order_type as orderType, d.order_code as orderCode, o.cancel_reason as cancelReason, o.cancel_remark as cancelRemark,
    d.score_code as scoreCode, o.storage_status as storageStatus, o.supplier_code as supplierCode, o.supplier_name as supplierName,
    o.update_time as updateTime, o.update_by_id as updateById, o.update_by_name as updateByName, d.payment_type as paymentType,
    d.advance_payment as advancePayment, d.amount_payable as amountPayable, d.month_amount as monthAmount,
    d.payable_time as payableTime, d.month_time as monthTime, d.remark, o.create_by_name as createByName
    from apply_purchase_order o
    inner join apply_purchase_order_details d
    on o.purchase_order_id = d.purchase_order_id
    <where>
      o.purchase_order_code = #{purchaseOrderCode,jdbcType=VARCHAR}
    </where>
  </select>
</mapper>