<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.BiStockoutDetailDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.BiStockoutDetail">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="is_stockout" jdbcType="TINYINT" property="isStockout" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_name, is_stockout, create_time, update_time, run_time
  </sql>
  <select id="stockOutList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from bi_stockout where
    create_time &gt;=#{beginTime,jdbcType=VARCHAR}
    and create_time &lt;=#{finishTime,jdbcType=VARCHAR}
  </select>
  <select id="stockOutBySkuCount" resultType="java.lang.String">
    select sku_code as skuCode
    from bi_stockout where is_stockout = 0
  </select>
</mapper>