<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.mapper.OrderInfoItemProductBatchDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItemProductBatch">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="product_line_num" jdbcType="BIGINT" property="productLineNum" />
    <result column="original_line_num" jdbcType="BIGINT" property="originalLineNum" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="num" jdbcType="BIGINT" property="num" />
    <result column="actual_deliver_num" jdbcType="BIGINT" property="actualDeliverNum" />
    <result column="product_time" jdbcType="TIMESTAMP" property="productTime" />
    <result column="batch_remark" jdbcType="VARCHAR" property="batchRemark" />
    <result column="batch_number" jdbcType="VARCHAR" property="batchNumber" />
    <result column="lock_type" jdbcType="INTEGER" property="lockType" />
    <result column="transport_center_name" jdbcType="VARCHAR" property="transportCenterName" />
    <result column="transport_center_code" jdbcType="VARCHAR" property="transportCenterCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, product_line_num, original_line_num, sku_code, sku_name, num, actual_deliver_num, 
    product_time, batch_remark, batch_number, lock_type, transport_center_name, transport_center_code, 
    warehouse_name, warehouse_code, company_code, company_name,supplier_code,supplier_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info_item_product_batch
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_info_item_product_batch
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItemProductBatch">
    insert into order_info_item_product_batch (id, order_code, product_line_num, 
      original_line_num, sku_code, sku_name, 
      num, actual_deliver_num, product_time, 
      batch_remark, batch_number, lock_type, 
      transport_center_name, transport_center_code, 
      warehouse_name, warehouse_code, company_code, 
      company_name)
    values (#{id,jdbcType=BIGINT}, #{orderCode,jdbcType=VARCHAR}, #{productLineNum,jdbcType=BIGINT}, 
      #{originalLineNum,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, 
      #{num,jdbcType=BIGINT}, #{actualDeliverNum,jdbcType=BIGINT}, #{productTime,jdbcType=TIMESTAMP}, 
      #{batchRemark,jdbcType=VARCHAR}, #{batchNumber,jdbcType=VARCHAR}, #{lockType,jdbcType=INTEGER}, 
      #{transportCenterName,jdbcType=VARCHAR}, #{transportCenterCode,jdbcType=VARCHAR}, 
      #{warehouseName,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertList" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItemProductBatch">
    insert into order_info_item_product_batch ( order_code,   sku_code, sku_name,
      num, actual_deliver_num, product_time,
      batch_remark, batch_number, lock_type,
      transport_center_name, transport_center_code,
      warehouse_name, warehouse_code, company_code,
      company_name,supplier_code,supplier_name)
    values
     <foreach collection="list" item="item"  separator=",">
       (
       #{item.orderCode,jdbcType=VARCHAR},
       #{item.skuCode,jdbcType=VARCHAR},
       #{item.skuName,jdbcType=VARCHAR},
       #{item.num,jdbcType=BIGINT},
       #{item.actualDeliverNum,jdbcType=BIGINT},
       #{item.productTime,jdbcType=TIMESTAMP},
       #{item.batchRemark,jdbcType=VARCHAR},
       #{item.batchNumber,jdbcType=VARCHAR},
       #{item.lockType,jdbcType=INTEGER},
       #{item.transportCenterName,jdbcType=VARCHAR},
       #{item.transportCenterCode,jdbcType=VARCHAR},
       #{item.warehouseName,jdbcType=VARCHAR},
       #{item.warehouseCode,jdbcType=VARCHAR},
       #{item.companyCode,jdbcType=VARCHAR},
       #{item.companyName,jdbcType=VARCHAR},
       #{item.supplierCode,jdbcType=VARCHAR},
       #{item.supplierName,jdbcType=VARCHAR}
       )
     </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItemProductBatch">
    insert into order_info_item_product_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="productLineNum != null">
        product_line_num,
      </if>
      <if test="originalLineNum != null">
        original_line_num,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="actualDeliverNum != null">
        actual_deliver_num,
      </if>
      <if test="productTime != null">
        product_time,
      </if>
      <if test="batchRemark != null">
        batch_remark,
      </if>
      <if test="batchNumber != null">
        batch_number,
      </if>
      <if test="lockType != null">
        lock_type,
      </if>
      <if test="transportCenterName != null">
        transport_center_name,
      </if>
      <if test="transportCenterCode != null">
        transport_center_code,
      </if>
      <if test="warehouseName != null">
        warehouse_name,
      </if>
      <if test="warehouseCode != null">
        warehouse_code,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="productLineNum != null">
        #{productLineNum,jdbcType=BIGINT},
      </if>
      <if test="originalLineNum != null">
        #{originalLineNum,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=BIGINT},
      </if>
      <if test="actualDeliverNum != null">
        #{actualDeliverNum,jdbcType=BIGINT},
      </if>
      <if test="productTime != null">
        #{productTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchRemark != null">
        #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="lockType != null">
        #{lockType,jdbcType=INTEGER},
      </if>
      <if test="transportCenterName != null">
        #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
        insert into order_info_item_product_batch (id, order_code, product_line_num,
      original_line_num, sku_code, sku_name,
      num, actual_deliver_num, product_time,
      batch_remark, batch_number, lock_type,
      transport_center_name, transport_center_code,
      warehouse_name, warehouse_code, company_code,
      company_name)
    values
    <foreach collection="list" open="" close="" separator="," item="item">
    (#{item.id,jdbcType=BIGINT}, #{item.orderCode,jdbcType=VARCHAR}, #{item.productLineNum,jdbcType=BIGINT},
      #{item.originalLineNum,jdbcType=BIGINT}, #{item.skuCode,jdbcType=VARCHAR}, #{item.skuName,jdbcType=VARCHAR},
      #{item.num,jdbcType=BIGINT}, #{item.actualDeliverNum,jdbcType=BIGINT}, #{item.productTime,jdbcType=TIMESTAMP},
      #{item.batchRemark,jdbcType=VARCHAR}, #{item.batchNumber,jdbcType=VARCHAR}, #{item.lockType,jdbcType=INTEGER},
      #{item.transportCenterName,jdbcType=VARCHAR}, #{item.transportCenterCode,jdbcType=VARCHAR},
      #{item.warehouseName,jdbcType=VARCHAR}, #{item.warehouseCode,jdbcType=VARCHAR}, #{item.companyCode,jdbcType=VARCHAR},
      #{item.companyName,jdbcType=VARCHAR})
    </foreach>
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItemProductBatch">
    update order_info_item_product_batch
    <set>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="productLineNum != null">
        product_line_num = #{productLineNum,jdbcType=BIGINT},
      </if>
      <if test="originalLineNum != null">
        original_line_num = #{originalLineNum,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="actualDeliverNum != null">
        actual_deliver_num = #{actualDeliverNum,jdbcType=BIGINT},
      </if>
      <if test="productTime != null">
        product_time = #{productTime,jdbcType=TIMESTAMP},
      </if>
      <if test="batchRemark != null">
        batch_remark = #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="batchNumber != null">
        batch_number = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="lockType != null">
        lock_type = #{lockType,jdbcType=INTEGER},
      </if>
      <if test="transportCenterName != null">
        transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItemProductBatch">
    update order_info_item_product_batch
    set order_code = #{orderCode,jdbcType=VARCHAR},
      product_line_num = #{productLineNum,jdbcType=BIGINT},
      original_line_num = #{originalLineNum,jdbcType=BIGINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      num = #{num,jdbcType=BIGINT},
      actual_deliver_num = #{actualDeliverNum,jdbcType=BIGINT},
      product_time = #{productTime,jdbcType=TIMESTAMP},
      batch_remark = #{batchRemark,jdbcType=VARCHAR},
      batch_number = #{batchNumber,jdbcType=VARCHAR},
      lock_type = #{lockType,jdbcType=INTEGER},
      transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>