<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.mapper.OrderInfoItemMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="spec_code" jdbcType="VARCHAR" property="specCode" />
    <result column="color_name" jdbcType="VARCHAR" property="colorName" />
    <result column="color_code" jdbcType="VARCHAR" property="colorCode" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="model_code" jdbcType="VARCHAR" property="modelCode" />
    <result column="unit_code" jdbcType="VARCHAR" property="unitCode" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="zero_disassembly_coefficient" jdbcType="INTEGER" property="zeroDisassemblyCoefficient" />
    <result column="give_promotion" jdbcType="INTEGER" property="givePromotion" />
    <result column="batch_number" jdbcType="VARCHAR" property="batchNumber" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="num" jdbcType="BIGINT" property="num" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="activity_apportionment" jdbcType="BIGINT" property="activityApportionment" />
    <result column="preferential_allocation" jdbcType="BIGINT" property="preferentialAllocation" />
    <result column="actual_deliver_num" jdbcType="BIGINT" property="actualDeliverNum" />
    <result column="activity_code" jdbcType="VARCHAR" property="activityCode" />
    <result column="product_line_num" jdbcType="BIGINT" property="productLineNum" />
    <result column="promotion_line_num" jdbcType="BIGINT" property="promotionLineNum" />
    <result column="return_num" jdbcType="BIGINT" property="returnNum" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="channel_unit_price" jdbcType="DECIMAL" property="channelUnitPrice" />
    <result column="total_channel_price" jdbcType="INTEGER" property="totalChannelPrice" />
    <result column="actual_channel_unit_price" jdbcType="DECIMAL" property="actualChannelUnitPrice" />
    <result column="actual_total_channel_price" jdbcType="DECIMAL" property="actualTotalChannelPrice" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_code, sku_code, sku_name, picture_url, spec, spec_code, color_name, color_code, 
    model, model_code, unit_code, unit_name, zero_disassembly_coefficient, give_promotion, 
    batch_number, price, num, amount, activity_apportionment, preferential_allocation, 
    actual_deliver_num, activity_code, product_line_num, promotion_line_num, return_num,
    company_name, company_code, channel_unit_price, total_channel_price, actual_channel_unit_price,
    actual_total_channel_price, actual_amount, actual_price,tax
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_info_item
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectOrderProductList" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.order.QueryOrderProductListRespVO">
      select
      b.order_original_name orderOriginal,
      b.customer_name customerName,
      b.customer_code customerCode,
      a.sku_name skuName,
      a.sku_code skuCode,
      a.spec spec,
      a.unit_name unitName,
      a.price price,
      a.amount amount,
      b.order_code orderCode,
      b.transport_center_name transportCenterName,
      b.warehouse_name warehouseName,
      a.give_promotion givePromotion,
      b.create_date createDate,
      '1' as status,
      b.create_by_name createByName,
      b.create_time createTime,
      b.update_by_name updateByName,
      b.update_time updateTime
      from order_info_item a
      left join order_info b
      on a.order_code = b.order_code
      where b.company_code = #{companyCode}
      <if test="createDateStart != null">
        and b.create_time &gt;=#{createDateStart,jdbcType=TIMESTAMP}
      </if>
      <if test="createDateEnd != null">
        and b.create_time &lt;=#{createDateEnd,jdbcType=TIMESTAMP}
      </if>
      <if test="transportCenterCode != null and transportCenterCode != ''">
        and b.transport_center_code = #{transportCenterCode}
      </if>
      <if test="warehouseCode != null and warehouseCode != ''">
        and b.warehouse_code = #{warehouseCode}
      </if>
      <if test="storeName != null and storeName != ''">
        and b.customer_name like concat('%',#{storeName},'%')
      </if>
      <if test="storeCode != null and storeCode != ''">
        and b.customer_code like concat('%',#{storeCode},'%')
      </if>
      <if test="skuName != null and skuName != ''">
        and a.sku_name like concat('%',#{skuName},'%')
      </if>
      <if test="skuCode != null and skuCode != ''">
        and a.sku_code like concat('%',#{skuCode},'%')
      </if>
      <if test="orderCode != null and orderCode != ''">
        and b.order_code LIKE CONCAT(CONCAT('%',#{orderCode},'%'))
      </if>
    </select>
    <select id="selectproductUniqueCodeList"
            resultType="com.aiqin.bms.scmp.api.purchase.domain.response.order.QueryOrderProductListRespVO">
      select
             b.order_original_name orderOriginal,
             b.customer_name customerName,
             b.customer_code customerCode,
             1 as uniqueCode,
             a.sku_name skuName,
             a.sku_code skuCode,
             a.spec spec,
             a.unit_name unitName,
             a.price price,
             a.amount amount,
             b.order_code orderCode,
             b.transport_center_name transportCenterName,
             b.warehouse_name warehouseName,
             a.give_promotion givePromotion,
             b.create_date createDate,
             '1' as status,
             b.create_by_name createByName,
             b.create_time createTime,
             b.update_by_name updateByName,
             b.update_time updateTime
      from order_info_item a
               left join order_info b
                         on a.order_code = b.order_code
      where b.company_code = #{companyCode}
      <if test="createDateStart != null">
        and b.create_time &gt;=#{createDateStart,jdbcType=TIMESTAMP}
      </if>
      <if test="createDateEnd != null">
        and b.create_time &lt;=#{createDateEnd,jdbcType=TIMESTAMP}
      </if>
      <if test="transportCenterCode != null and transportCenterCode != ''">
        and b.transport_center_code = #{transportCenterCode}
      </if>
      <if test="warehouseCode != null and warehouseCode != ''">
        and b.warehouse_code = #{warehouseCode}
      </if>
      <if test="storeName != null and storeName != ''">
        and b.customer_name like concat('%',#{storeName},'%')
      </if>
      <if test="storeCode != null and storeCode != ''">
        and b.customer_code like concat('%',#{storeCode},'%')
      </if>
      <if test="skuName != null and skuName != ''">
        and a.sku_name like concat('%',#{skuName},'%')
      </if>
      <if test="skuCode != null and skuCode != ''">
        and a.sku_code like concat('%',#{skuCode},'%')
      </if>
      <if test="orderCode != null and orderCode != ''">
        and b.order_code LIKE CONCAT(CONCAT('%',#{orderCode},'%'))
      </if>
<!--      <if test="uniqueCode != null and uniqueCode != ''">-->
<!--        and a.unique_code = #{uniqueCode}-->
<!--      </if>-->
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_info_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItem">
    insert into order_info_item (order_code, sku_code,
      sku_name, picture_url, spec,
      spec_code, color_name, color_code,
      model, model_code, unit_code,
      unit_name, zero_disassembly_coefficient, give_promotion,
      batch_number, price, num,
      amount, activity_apportionment, preferential_allocation,
      actual_deliver_num, activity_code, product_line_num,
      promotion_line_num, return_num, company_name,
      company_code, channel_unit_price, total_channel_price,
      actual_channel_unit_price, actual_total_channel_price,
      actual_amount, actual_price)
    values (#{orderCode,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR},
      #{skuName,jdbcType=VARCHAR}, #{pictureUrl,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR},
      #{specCode,jdbcType=VARCHAR}, #{colorName,jdbcType=VARCHAR}, #{colorCode,jdbcType=VARCHAR},
      #{model,jdbcType=VARCHAR}, #{modelCode,jdbcType=VARCHAR}, #{unitCode,jdbcType=VARCHAR},
      #{unitName,jdbcType=VARCHAR}, #{zeroDisassemblyCoefficient,jdbcType=INTEGER}, #{givePromotion,jdbcType=INTEGER},
      #{batchNumber,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{num,jdbcType=BIGINT},
      #{amount,jdbcType=DECIMAL}, #{activityApportionment,jdbcType=DECIMAL}, #{preferentialAllocation,jdbcType=DECIMAL},
      #{actualDeliverNum,jdbcType=BIGINT}, #{activityCode,jdbcType=VARCHAR}, #{productLineNum,jdbcType=BIGINT},
      #{promotionLineNum,jdbcType=BIGINT}, #{returnNum,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR},
      #{companyCode,jdbcType=VARCHAR}, #{channelUnitPrice,jdbcType=DECIMAL}, #{totalChannelPrice,jdbcType=DECIMAL},
      #{actualChannelUnitPrice,jdbcType=DECIMAL}, #{actualTotalChannelPrice,jdbcType=DECIMAL},
      #{actualAmount,jdbcType=DECIMAL}, #{actualPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItem">
    insert into order_info_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderCode != null">
        order_code,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="specCode != null">
        spec_code,
      </if>
      <if test="colorName != null">
        color_name,
      </if>
      <if test="colorCode != null">
        color_code,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="modelCode != null">
        model_code,
      </if>
      <if test="unitCode != null">
        unit_code,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="zeroDisassemblyCoefficient != null">
        zero_disassembly_coefficient,
      </if>
      <if test="givePromotion != null">
        give_promotion,
      </if>
      <if test="batchNumber != null">
        batch_number,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="activityApportionment != null">
        activity_apportionment,
      </if>
      <if test="preferentialAllocation != null">
        preferential_allocation,
      </if>
      <if test="actualDeliverNum != null">
        actual_deliver_num,
      </if>
      <if test="activityCode != null">
        activity_code,
      </if>
      <if test="productLineNum != null">
        product_line_num,
      </if>
      <if test="promotionLineNum != null">
        promotion_line_num,
      </if>
      <if test="returnNum != null">
        return_num,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="channelUnitPrice != null">
        channel_unit_price,
      </if>
      <if test="totalChannelPrice != null">
        total_channel_price,
      </if>
      <if test="actualChannelUnitPrice != null">
        actual_channel_unit_price,
      </if>
      <if test="actualTotalChannelPrice != null">
        actual_total_channel_price,
      </if>
      <if test="actualAmount != null">
        actual_amount,
      </if>
      <if test="actualPrice != null">
        actual_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="specCode != null">
        #{specCode,jdbcType=VARCHAR},
      </if>
      <if test="colorName != null">
        #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="colorCode != null">
        #{colorCode,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="modelCode != null">
        #{modelCode,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null">
        #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="zeroDisassemblyCoefficient != null">
        #{zeroDisassemblyCoefficient,jdbcType=INTEGER},
      </if>
      <if test="givePromotion != null">
        #{givePromotion,jdbcType=INTEGER},
      </if>
      <if test="batchNumber != null">
        #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        #{num,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="activityApportionment != null">
        #{activityApportionment,jdbcType=BIGINT},
      </if>
      <if test="preferentialAllocation != null">
        #{preferentialAllocation,jdbcType=BIGINT},
      </if>
      <if test="actualDeliverNum != null">
        #{actualDeliverNum,jdbcType=BIGINT},
      </if>
      <if test="activityCode != null">
        #{activityCode,jdbcType=VARCHAR},
      </if>
      <if test="productLineNum != null">
        #{productLineNum,jdbcType=BIGINT},
      </if>
      <if test="promotionLineNum != null">
        #{promotionLineNum,jdbcType=BIGINT},
      </if>
      <if test="returnNum != null">
        #{returnNum,jdbcType=BIGINT},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="channelUnitPrice != null">
        #{channelUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalChannelPrice != null">
        #{totalChannelPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualChannelUnitPrice != null">
        #{actualChannelUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualTotalChannelPrice != null">
        #{actualTotalChannelPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualAmount != null">
        #{actualAmount,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        #{actualPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into order_info_item (order_code, sku_code, sku_name, picture_url, spec, spec_code, color_name, color_code,
      model, model_code, unit_code, unit_name, zero_disassembly_coefficient, give_promotion, batch_number, price, num,
      amount, activity_apportionment, preferential_allocation, actual_deliver_num, activity_code, product_line_num,
      promotion_line_num, return_num, company_name, company_code, channel_unit_price, total_channel_price,
      actual_channel_unit_price, actual_total_channel_price, actual_amount, actual_price, tax, supplier_code, supplier_name, unique_code)
    values
    <foreach collection="list" open="" close="" item="item" separator=",">
     (#{item.orderCode,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR},
      #{item.skuName,jdbcType=VARCHAR}, #{item.pictureUrl,jdbcType=VARCHAR}, #{item.spec,jdbcType=VARCHAR},
      #{item.specCode,jdbcType=VARCHAR}, #{item.colorName,jdbcType=VARCHAR}, #{item.colorCode,jdbcType=VARCHAR},
      #{item.model,jdbcType=VARCHAR}, #{item.modelCode,jdbcType=VARCHAR}, #{item.unitCode,jdbcType=VARCHAR},
      #{item.unitName,jdbcType=VARCHAR}, #{item.zeroDisassemblyCoefficient,jdbcType=INTEGER}, #{item.givePromotion,jdbcType=INTEGER},
      #{item.batchNumber,jdbcType=VARCHAR}, #{item.price,jdbcType=DECIMAL}, #{item.num,jdbcType=BIGINT},
      #{item.amount,jdbcType=DECIMAL}, #{item.activityApportionment,jdbcType=BIGINT}, #{item.preferentialAllocation,jdbcType=BIGINT},
      #{item.actualDeliverNum,jdbcType=BIGINT}, #{item.activityCode,jdbcType=VARCHAR}, #{item.productLineNum,jdbcType=BIGINT},
      #{item.promotionLineNum,jdbcType=BIGINT}, #{item.returnNum,jdbcType=BIGINT}, #{item.companyName,jdbcType=VARCHAR},
      #{item.companyCode,jdbcType=VARCHAR}, #{item.channelUnitPrice,jdbcType=DECIMAL}, #{item.totalChannelPrice,jdbcType=DECIMAL},
      #{item.actualChannelUnitPrice,jdbcType=DECIMAL}, #{item.actualTotalChannelPrice,jdbcType=DECIMAL},
      #{item.actualAmount,jdbcType=DECIMAL}, #{item.actualPrice,jdbcType=DECIMAL}, #{item.tax,jdbcType=DECIMAL},
      #{item.supplierCode,jdbcType=VARCHAR},#{item.supplierName,jdbcType=VARCHAR},#{item.uniqueCode,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItem">
    update order_info_item
    <set>
      <if test="orderCode != null">
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="specCode != null">
        spec_code = #{specCode,jdbcType=VARCHAR},
      </if>
      <if test="colorName != null">
        color_name = #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="colorCode != null">
        color_code = #{colorCode,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="modelCode != null">
        model_code = #{modelCode,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null">
        unit_code = #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="zeroDisassemblyCoefficient != null">
        zero_disassembly_coefficient = #{zeroDisassemblyCoefficient,jdbcType=INTEGER},
      </if>
      <if test="givePromotion != null">
        give_promotion = #{givePromotion,jdbcType=INTEGER},
      </if>
      <if test="batchNumber != null">
        batch_number = #{batchNumber,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="activityApportionment != null">
        activity_apportionment = #{activityApportionment,jdbcType=BIGINT},
      </if>
      <if test="preferentialAllocation != null">
        preferential_allocation = #{preferentialAllocation,jdbcType=BIGINT},
      </if>
      <if test="actualDeliverNum != null">
        actual_deliver_num = #{actualDeliverNum,jdbcType=BIGINT},
      </if>
      <if test="activityCode != null">
        activity_code = #{activityCode,jdbcType=VARCHAR},
      </if>
      <if test="productLineNum != null">
        product_line_num = #{productLineNum,jdbcType=BIGINT},
      </if>
      <if test="promotionLineNum != null">
        promotion_line_num = #{promotionLineNum,jdbcType=BIGINT},
      </if>
      <if test="returnNum != null">
        return_num = #{returnNum,jdbcType=BIGINT},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="channelUnitPrice != null">
        channel_unit_price = #{channelUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalChannelPrice != null">
        total_channel_price = #{totalChannelPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualChannelUnitPrice != null">
        actual_channel_unit_price = #{actualChannelUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualTotalChannelPrice != null">
        actual_total_channel_price = #{actualTotalChannelPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualAmount != null">
        actual_amount = #{actualAmount,jdbcType=DECIMAL},
      </if>
      <if test="actualPrice != null">
        actual_price = #{actualPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.order.OrderInfoItem">
    update order_info_item
    set order_code = #{orderCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      spec_code = #{specCode,jdbcType=VARCHAR},
      color_name = #{colorName,jdbcType=VARCHAR},
      color_code = #{colorCode,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      model_code = #{modelCode,jdbcType=VARCHAR},
      unit_code = #{unitCode,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      zero_disassembly_coefficient = #{zeroDisassemblyCoefficient,jdbcType=INTEGER},
      give_promotion = #{givePromotion,jdbcType=INTEGER},
      batch_number = #{batchNumber,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      num = #{num,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DECIMAL},
      activity_apportionment = #{activityApportionment,jdbcType=BIGINT},
      preferential_allocation = #{preferentialAllocation,jdbcType=BIGINT},
      actual_deliver_num = #{actualDeliverNum,jdbcType=BIGINT},
      activity_code = #{activityCode,jdbcType=VARCHAR},
      product_line_num = #{productLineNum,jdbcType=BIGINT},
      promotion_line_num = #{promotionLineNum,jdbcType=BIGINT},
      return_num = #{returnNum,jdbcType=BIGINT},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      channel_unit_price = #{channelUnitPrice,jdbcType=DECIMAL},
      total_channel_price = #{totalChannelPrice,jdbcType=DECIMAL},
      actual_channel_unit_price = #{actualChannelUnitPrice,jdbcType=DECIMAL},
      actual_total_channel_price = #{actualTotalChannelPrice,jdbcType=DECIMAL},
      actual_amount = #{actualAmount,jdbcType=DECIMAL},
      actual_price = #{actualPrice,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateBatchNumById" parameterType="java.util.List">
      <foreach collection="list" open="" close="" separator=";" item="item">
        update order_info_item
        set actual_deliver_num = #{item.actualDeliverNum}
        where id = #{item.id}
      </foreach>
    </update>
  <insert id="insertList">
    insert into order_info_item (order_code, sku_code,
    sku_name, picture_url, spec,color_name, color_code,model,  unit_code,
    unit_name, zero_disassembly_coefficient, num,product_line_num,
    channel_unit_price,total_channel_price, company_name,company_code,   actual_channel_unit_price,
    actual_total_channel_price, actual_amount, actual_price,actual_deliver_num,give_promotion,tax)
    values
    <foreach collection="list" item="item" separator="," close="" open="">
      (
      #{item.orderCode,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR},
      #{item.skuName,jdbcType=VARCHAR}, #{item.pictureUrl,jdbcType=VARCHAR}, #{item.spec,jdbcType=VARCHAR},
      #{item.colorName,jdbcType=VARCHAR}, #{item.colorCode,jdbcType=VARCHAR},
      #{item.model,jdbcType=VARCHAR},  #{item.unitCode,jdbcType=VARCHAR},
      #{item.unitName,jdbcType=VARCHAR}, #{item.zeroDisassemblyCoefficient,jdbcType=INTEGER}, #{item.num,jdbcType=BIGINT},
      #{item.productLineNum,jdbcType=BIGINT},#{item.channelUnitPrice,jdbcType=DECIMAL},#{item.totalChannelPrice,jdbcType=DECIMAL},
      #{item.companyName,jdbcType=VARCHAR}, #{item.companyCode,jdbcType=VARCHAR},
      #{item.actualChannelUnitPrice,jdbcType=DECIMAL}, #{item.actualTotalChannelPrice,jdbcType=DECIMAL},
      #{item.actualAmount,jdbcType=DECIMAL}, #{item.actualPrice,jdbcType=DECIMAL}, #{item.actualDeliverNum,jdbcType=DECIMAL},
      #{item.givePromotion,jdbcType=BIGINT},#{item.tax,jdbcType=DECIMAL}
      )
    </foreach>
  </insert>
  <select id="listDetailForSap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_info_item
    where
    order_code in(
    <foreach collection="orderCodeList" separator="," item="item">
      #{item}
    </foreach>
    )
  </select>
  <select id="productList" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.order.QueryOrderInfoItemRespVO">
    select
    order_code as orderCode, sku_code as skuCode, sku_name as skuName, product_line_num as productLineNum,
    actual_channel_unit_price as actualChannelUnitPrice, actual_total_channel_price as actualTotalChannelPrice,
    actual_amount as actualAmount, actual_price as actualPrice,
    color_name as colorName, spec, model, unit_name as unitName, give_promotion as givePromotion,
    channel_unit_price as channelUnitPrice, price, num, activity_apportionment as activityApportionment,
    preferential_allocation as preferentialAllocation, actual_deliver_num as actualDeliverNum,
    promotion_line_num as promotionLineNum, return_num as returnNum, activity_code as activityCode,
    supplier_code as supplierCode, supplier_name as supplierName, tax
    from order_info_item
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </select>
  <select id="selectOrderByLine" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_info_item
    where order_code = #{orderCode,jdbcType=VARCHAR}
    and product_line_num = #{lineCode,jdbcType=BIGINT}
  </select>
  <select id="selectByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_info_item
    where id in
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </select>
  <update id="updateBatch">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update order_info_item
      <set>
        <if test="item.actualDeliverNum != null and item.actualDeliverNum != ''">
          actual_deliver_num = #{item.actualDeliverNum,jdbcType=BIGINT},
        </if>
        <if test="item.actualChannelUnitPrice != null and item.actualChannelUnitPrice != ''">
          actual_channel_unit_price = #{item.actualChannelUnitPrice,jdbcType=DECIMAL},
        </if>
        <if test="item.actualTotalChannelPrice != null and item.actualTotalChannelPrice != ''">
          actual_total_channel_price = #{item.actualTotalChannelPrice,jdbcType=DECIMAL},
        </if>
        <if test="item.actualAmount != null and item.actualAmount != ''">
          actual_amount = #{item.actualAmount,jdbcType=DECIMAL},
        </if>
        <if test="item.actualPrice != null and item.actualPrice != ''">
          actual_price = #{item.actualPrice,jdbcType=DECIMAL},
        </if>
        <if test="item.uniqueCode != null and item.uniqueCode != ''">
          unique_code = #{item.uniqueCode,jdbcType=VARCHAR},
        </if>
      </set>
      where order_code = #{item.orderCode,jdbcType=VARCHAR}
      and product_line_num = #{item.productLineNum,jdbcType=BIGINT}
    </foreach>
  </update>
</mapper>