<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.PurchaseApplyProductDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.PurchaseApplyProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="apply_product_id" jdbcType="VARCHAR" property="applyProductId" />
    <result column="purchase_apply_id" jdbcType="VARCHAR" property="purchaseApplyId" />
    <result column="purchase_apply_code" jdbcType="VARCHAR" property="purchaseApplyCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="spu_code" jdbcType="VARCHAR" property="spuCode" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="purchase_group_code" jdbcType="VARCHAR" property="purchaseGroupCode" />
    <result column="purchase_group_name" jdbcType="VARCHAR" property="purchaseGroupName" />
    <result column="transport_center_code" jdbcType="VARCHAR" property="transportCenterCode" />
    <result column="transport_center_name" jdbcType="VARCHAR" property="transportCenterName" />
    <result column="product_property_code" jdbcType="VARCHAR" property="productPropertyCode" />
    <result column="product_property_name" jdbcType="VARCHAR" property="productPropertyName" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="product_sort_code" jdbcType="VARCHAR" property="productSortCode" />
    <result column="product_sort_name" jdbcType="VARCHAR" property="productSortName" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="product_purchase_amount" jdbcType="DECIMAL" property="productPurchaseAmount" />
    <result column="new_purchase_price" jdbcType="DECIMAL" property="newPurchasePrice" />
    <result column="purchase_whole" jdbcType="INTEGER" property="purchaseWhole" />
    <result column="purchase_single" jdbcType="INTEGER" property="purchaseSingle" />
    <result column="stock_unit_name" jdbcType="VARCHAR" property="stockUnitName" />
    <result column="stock_count" jdbcType="INTEGER" property="stockCount" />
    <result column="total_way_num" jdbcType="INTEGER" property="totalWayNum" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="sales_volume" jdbcType="INTEGER" property="salesVolume" />
    <result column="base_product_content" jdbcType="INTEGER" property="baseProductContent" />
    <result column="box_gauge" jdbcType="VARCHAR" property="boxGauge" />
    <result column="purchase_number" jdbcType="INTEGER" property="purchaseNumber" />
    <result column="receipt_time" jdbcType="TIMESTAMP" property="receiptTime" />
    <result column="purchase_max" jdbcType="DECIMAL" property="purchaseMax" />
    <result column="product_spec" jdbcType="VARCHAR" property="productSpec" />
    <result column="color_name" jdbcType="VARCHAR" property="colorName" />
    <result column="model_number" jdbcType="VARCHAR" property="modelNumber" />
    <result column="shortage_number" jdbcType="DECIMAL" property="shortageNumber" />
    <result column="shortage_day" jdbcType="INTEGER" property="shortageDay" />
    <result column="stock_turnover" jdbcType="INTEGER" property="stockTurnover" />
    <result column="receipt_turnover" jdbcType="INTEGER" property="receiptTurnover" />
    <result column="error_info" jdbcType="VARCHAR" property="errorInfo" />
    <result column="apply_product_status" jdbcType="INTEGER" property="applyProductStatus" />
    <result column="info_status" jdbcType="INTEGER" property="infoStatus" />
    <result column="factory_sku_code" jdbcType="VARCHAR" property="factorySkuCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
    <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
  </resultMap>
  <sql id="Base_Column_List">
    apply_product_id as applyProductId, purchase_apply_id as purchaseApplyId, sku_code as skuCode, sku_name as skuName, 
    spu_code as spuCode, product_name as productName, warehouse_code as warehouseCode, warehouse_name as warehouseName, supplier_code as supplierCode,
    supplier_name as supplierName, purchase_group_code as purchaseGroupCode, purchase_group_name as purchaseGroupName, 
    transport_center_code as transportCenterCode, transport_center_name as transportCenterName, purchase_group_code as purchaseGroupCode,
    purchase_group_name as purchaseGroupName, product_sort_code as productSortCode, product_sort_name as productSortName,
    brand_id as brandId, brand_name as brandName, category_id as categoryId, category_name as categoryName,
    product_type as productType, product_purchase_amount as productPurchaseAmount, new_purchase_price as newPurchasePrice,
    purchase_whole as purchaseWhole, purchase_single as purchaseSingle, stock_unit_name as stockUnitName,
    stock_count as stockCount, total_way_num as totalWayNum, last_time as lastTime, sales_volume as salesVolume,
    base_product_content as baseProductContent, box_gauge as boxGauge, purchase_number as purchaseNumber, receipt_time as receiptTime,
    purchase_max as purchaseMax, product_spec as productSpec, color_name as colorName, model_number as modelNumber,
    shortage_number as shortageNumber, shortage_day as shortageDay, stock_turnover as stockTurnover,
    receipt_turnover as receiptTurnover, error_info as errorInfo, purchase_apply_code as purchaseApplyCode,
    factory_sku_code as factorySkuCode, product_property_code as productPropertyCode, product_property_name as productPropertyName,
    tax_rate as taxRate
  </sql>
  <insert id="insert">
    insert into purchase_apply_product (apply_product_id, purchase_apply_id, purchase_apply_code,
      sku_code, sku_name, spu_code, product_name, warehouse_code, warehouse_name, supplier_code,
      supplier_name, purchase_group_code, purchase_group_name, transport_center_code, transport_center_name,
      product_property_code, product_property_name, brand_id, brand_name, category_id, category_name, product_sort_code,
      product_sort_name, product_type, product_purchase_amount, new_purchase_price, purchase_whole, purchase_single,
      stock_unit_name, stock_count, total_way_num, last_time, sales_volume, box_gauge, base_product_content,
      purchase_number, receipt_time, purchase_max, product_spec, color_name, model_number, shortage_number,
      shortage_day, stock_turnover, receipt_turnover, error_info, apply_product_status, factory_sku_code, create_time,
      create_by_id, create_by_name, tax_rate)
    values ( #{applyProductId,jdbcType=VARCHAR}, #{purchaseApplyId,jdbcType=VARCHAR}, #{purchaseApplyCode,jdbcType=VARCHAR},
      #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, #{spuCode,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR}, #{warehousName,jdbcType=VARCHAR},
      #{supplierCode,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{purchaseGroupCode,jdbcType=VARCHAR},
      #{purchaseGroupName,jdbcType=VARCHAR}, #{transportCenterCode,jdbcType=VARCHAR}, #{transportCenterName,jdbcType=VARCHAR},
      #{productPropertyCode,jdbcType=VARCHAR}, #{productPropertyName,jdbcType=VARCHAR}, #{brandId,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR},
      #{categoryId,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{productSortCode,jdbcType=VARCHAR}, #{productSortName,jdbcType=VARCHAR},
      #{productType,jdbcType=INTEGER}, #{productPurchaseAmount,jdbcType=DECIMAL},  #{newPurchasePrice,jdbcType=DECIMAL},
      #{purchaseWhole,jdbcType=INTEGER}, #{purchaseSingle,jdbcType=INTEGER}, #{stockUnitName,jdbcType=VARCHAR},
      #{stockCount,jdbcType=INTEGER}, #{totalWayNum,jdbcType=INTEGER},
      #{lastTime,jdbcType=TIMESTAMP}, #{salesVolume,jdbcType=INTEGER}, #{baseProductContent,jdbcType=INTEGER},
      #{boxGauge,jdbcType=VARCHAR}, #{purchaseNumber,jdbcType=INTEGER}, #{receiptTime,jdbcType=TIMESTAMP},
      #{purchaseMax,jdbcType=DECIMAL}, #{productSpec,jdbcType=VARCHAR}, #{colorName,jdbcType=VARCHAR},
      #{modelNumber,jdbcType=VARCHAR}, #{shortageNumber,jdbcType=DECIMAL}, #{shortageDay,jdbcType=INTEGER},
      #{stockTurnover,jdbcType=INTEGER}, #{receiptTurnover,jdbcType=INTEGER}, #{errorInfo,jdbcType=VARCHAR}, 
      #{applyProductStatus,jdbcType=INTEGER}, #{factorySkuCode,jdbcType=VARCHAR}, now(), #{createById,jdbcType=VARCHAR},
      #{createByName,jdbcType=VARCHAR},  #{taxRate,jdbcType=DECIMAL})
  </insert>
  <update id="update">
    update purchase_apply_product
    <set>
      <if test="applyProductId != null">
        apply_product_id = #{applyProductId,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="spuCode != null">
        spu_code = #{spuCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseGroupCode != null">
        purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseGroupName != null">
        purchase_group_name = #{purchaseGroupName,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterName != null">
        transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="productPropertyCode != null">
        product_property_code = #{productPropertyCode,jdbcType=VARCHAR},
      </if>
      <if test="productPropertyName!= null">
        product_property_name = #{productPropertyName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="productSortCode != null">
        product_sort_code = #{productSortCode,jdbcType=VARCHAR},
      </if>
      <if test="productSortName != null">
        product_sort_name = #{productSortName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=INTEGER},
      </if>
      <if test="productPurchaseAmount != null">
        product_purchase_amount = #{productPurchaseAmount,jdbcType=DECIMAL},
      </if>
      <if test="newPurchasePrice != null">
        new_purchase_price = #{newPurchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="purchaseWhole != null">
        purchase_whole = #{purchaseWhole,jdbcType=INTEGER},
      </if>
      <if test="purchaseSingle != null">
        purchase_single = #{purchaseSingle,jdbcType=INTEGER},
      </if>
      <if test="stockUnitName != null">
        stock_unit_name = #{stockUnitName,jdbcType=VARCHAR},
      </if>
      <if test="stockCount != null">
        stock_count = #{stockCount,jdbcType=INTEGER},
      </if>
      <if test="totalWayNum != null">
        total_way_num = #{totalWayNum,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="salesVolume != null">
        sales_volume = #{salesVolume,jdbcType=INTEGER},
      </if>
      <if test="baseProductContent != null">
        base_product_content = #{baseProductContent,jdbcType=INTEGER},
      </if>
      <if test="boxGauge != null">
        box_gauge = #{boxGauge,jdbcType=VARCHAR},
      </if>
      <if test="purchaseNumber != null">
        purchase_number = #{purchaseNumber,jdbcType=INTEGER},
      </if>
      <if test="receiptTime != null">
        receipt_time = #{receiptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseMax != null">
        purchase_max = #{purchaseMax,jdbcType=DECIMAL},
      </if>
      <if test="productSpec != null">
        product_spec = #{productSpec,jdbcType=VARCHAR},
      </if>
      <if test="colorName != null">
        color_name = #{colorName,jdbcType=VARCHAR},
      </if>
      <if test="modelNumber != null">
        model_number = #{modelNumber,jdbcType=VARCHAR},
      </if>
      <if test="shortageNumber != null">
        shortage_number = #{shortageNumber,jdbcType=DECIMAL},
      </if>
      <if test="shortageDay != null">
        shortage_day = #{shortageDay,jdbcType=INTEGER},
      </if>
      <if test="stockTurnover != null">
        stock_turnover = #{stockTurnover,jdbcType=INTEGER},
      </if>
      <if test="receiptTurnover != null">
        receipt_turnover = #{receiptTurnover,jdbcType=INTEGER},
      </if>
      <if test="errorInfo != null">
        error_info = #{errorInfo,jdbcType=VARCHAR},
      </if>
      <if test="applyProductStatus != null">
        apply_product_status = #{applyProductStatus,jdbcType=INTEGER},
      </if>
      update_time = now(),
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
    </set>
    where apply_product_id = #{applyProductId,jdbcType=VARCHAR}
  </update>
  <select id="applyProductList" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseApplyDetailResponse">
    select
    apply_product_id as applyProductId, purchase_apply_id as purchaseApplyId, sku_code as skuCode, sku_name as skuName,
    spu_code as spuCode, product_name as productName, warehouse_code as warehouseCode, warehouse_name as warehouseName, supplier_code as supplierCode,
    supplier_name as supplierName, purchase_group_code as purchaseGroupCode, purchase_group_name as purchaseGroupName,
    transport_center_code as transportCenterCode, transport_center_name as transportCenterName, purchase_group_code as purchaseGroupCode,
    purchase_group_name as purchaseGroupName, product_sort_code as productSortCode, product_sort_name as productSortName,
    brand_id as brandId, brand_name as brandName, category_id as categoryId, category_name as categoryName,
    product_type as productType, product_purchase_amount as productPurchaseAmount, new_purchase_price as newPurchasePrice,
    purchase_whole as purchaseWhole, purchase_single as purchaseSingle, stock_unit_name as stockUnitName,
    stock_count as stockCount, total_way_num as totalWayNum, last_time as lastTime, sales_volume as salesVolume,
    base_product_content as baseProductContent, box_gauge as boxGauge, purchase_number as purchaseNumber, receipt_time as receiptTime,
    purchase_max as purchaseMax, product_spec as productSpec, color_name as colorName, model_number as modelNumber,
    shortage_number as shortageNumber, shortage_day as shortageDay, stock_turnover as stockTurnover,
    receipt_turnover as receiptTurnover, error_info as errorInfo, purchase_apply_code as purchaseApplyCode,
    factory_sku_code as factorySkuCode, product_property_code as productPropertyCode, product_property_name as productPropertyName
    from purchase_apply_product
    <where>
      apply_product_status = 1
      <if test="supplierCode != null">
        and supplier_code = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="transportCenterCode != null">
        and transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
      </if>
      <if test="skuCode != null">
        and sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
      <if test="skuName != null">
        and sku_name like CONCAT('',#{skuName,jdbcType=VARCHAR},"%")
      </if>
      <if test="purchaseGroupCode != null">
        and purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="productPropertyCode != null">
        and product_property_code = #{productPropertyCode,jdbcType=VARCHAR}
      </if>
      <if test="productPropertyName != null">
        and product_property_name like CONCAT('', #{productPropertyName,jdbcType=VARCHAR},"%")
      </if>
      <if test="brandId != null">
        and brand_id = #{brandId,jdbcType=VARCHAR}
      </if>
      <if test="categoryId != null">
        and category_id = #{categoryId,jdbcType=VARCHAR}
      </if>
      <if test="brandName != null">
        and brand_name like CONCAT('', #{brandName,jdbcType=VARCHAR},"%")
      </if>
      <if test="categoryName != null">
        and category_name like CONCAT('',#{categoryName,jdbcType=VARCHAR},"%")
      </if>
      <if test="spuCode != null">
        and spu_code = #{spuCode,jdbcType=VARCHAR}
      </if>
      <if test="productName != null">
        and product_name like CONCAT('',#{productName,jdbcType=VARCHAR},"%")
      </if>
      <if test="aReplenish != null and aReplenish.size > 0">
        and sku_code in
        <foreach collection="aReplenish" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="productReplenish != null and productReplenish.size > 0">
        and sku_code in
        <foreach collection="productReplenish" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="aShortage != null and aShortage.size > 0">
        and sku_code in
        <foreach collection="aShortage" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="productShortage != null and productShortage.size > 0">
        and sku_code in
        <foreach collection="productShortage" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
    group by sku_code
    order by create_time desc
    LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  <select id="applyProductCount" resultType="java.lang.Integer">
    select count(DISTINCT(sku_code)) from purchase_apply_product
    <where>
      apply_product_status = 1
      <if test="supplierCode != null">
        and supplier_code = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="transportCenterCode != null">
        and transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
      </if>
      <if test="skuCode != null">
        and sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
      <if test="skuName != null">
        and sku_name like CONCAT('',#{skuName,jdbcType=VARCHAR},"%")
      </if>
      <if test="purchaseGroupCode != null">
        and purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="productPropertyCode != null">
        and product_property_code = #{productPropertyCode,jdbcType=VARCHAR}
      </if>
      <if test="productPropertyName != null">
        and product_property_name like CONCAT('', #{productPropertyName,jdbcType=VARCHAR},"%")
      </if>
      <if test="brandId != null">
        and brand_id = #{brandId,jdbcType=VARCHAR}
      </if>
      <if test="categoryId != null">
        and category_id = #{categoryId,jdbcType=VARCHAR}
      </if>
      <if test="brandName != null">
        and brand_name like CONCAT('', #{brandName,jdbcType=VARCHAR},"%")
      </if>
      <if test="categoryName != null">
        and category_name like CONCAT('',#{categoryName,jdbcType=VARCHAR},"%")
      </if>
      <if test="spuCode != null">
        and spu_code = #{spuCode,jdbcType=VARCHAR}
      </if>
      <if test="productName != null">
        and product_name like CONCAT('',#{productName,jdbcType=VARCHAR},"%")
      </if>
      <if test="aReplenish != null and aReplenish.size > 0">
        and sku_code in
        <foreach collection="aReplenish" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="productReplenish != null and productReplenish.size > 0">
        and sku_code in
        <foreach collection="productReplenish" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="aShortage != null and aShortage.size > 0">
        and sku_code in
        <foreach collection="aShortage" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="productShortage != null and productShortage.size > 0">
        and sku_code in
        <foreach collection="productShortage" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </select>
  <select id="applyProduct" resultType="com.aiqin.bms.scmp.api.purchase.domain.PurchaseApplyProduct">
    select <include refid="Base_Column_List"></include> from purchase_apply_product
    <where>
      apply_product_status = 1
      <if test="purchaseApplyId != null">
        and purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
      </if>
      <if test="skuCode != null">
        and sku_code = #{skuCode,jdbcType=VARCHAR}
      </if>
      <if test="productType != null">
        and product_type = #{productType,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="productListByDetail" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseApplyDetailResponse">
    select
    apply_product_id as applyProductId, purchase_apply_id as purchaseApplyId, sku_code as skuCode, sku_name as skuName,
    product_type as productType, product_purchase_amount as productPurchaseAmount, purchase_whole as purchaseWhole,
    purchase_single as purchaseSingle, supplier_code as supplierCode, supplier_name as supplierName,
    purchase_group_code as purchaseGroupCode, purchase_group_name as purchaseGroupName,
    transport_center_code as transportCenterCode, transport_center_name as transportCenterName, base_product_content as baseProductContent,
    box_gauge as boxGauge, stock_unit_name as stockUnitName, product_sort_code as productSortCode, product_sort_name as productSortName,
    brand_id as brandId, brand_name as brandName, category_id as categoryId, category_name as categoryName,
    new_purchase_price as newPurchasePrice, last_time as lastTime, sales_volume as salesVolume,  receipt_time as receiptTime,
    product_spec as productSpec, color_name as colorName, model_number as modelNumber, product_property_code as productPropertyCode,
    product_property_name as productPropertyName, warehouse_code as warehouseCode,  warehouse_name as warehouseName,
    receipt_turnover as receiptTurnover, tax_rate as taxRate
    from purchase_apply_product
    where apply_product_status = 1
    and purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
  </select>
  <select id="skuCount" resultType="java.lang.Integer">
    select count(DISTINCT(sku_code)) from purchase_apply_product
    where apply_product_status = 1
    and purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
    <if test="infoStatus != null">
      and info_status = #{infoStatus,jdbcType=INTEGER}
    </if>
  </select>
  <insert id="insertAll">
     insert into purchase_apply_product (apply_product_id, purchase_apply_id, purchase_apply_code,
      sku_code, sku_name, spu_code, product_name, warehouse_code, warehouse_name, supplier_code,
      supplier_name, purchase_group_code, purchase_group_name, transport_center_code, transport_center_name,
      product_property_code, product_property_name, brand_id, brand_name, category_id, category_name, product_sort_code,
      product_sort_name, product_type, product_purchase_amount, new_purchase_price, purchase_whole, purchase_single,
      stock_unit_name, stock_count, total_way_num, last_time, sales_volume, box_gauge, base_product_content,
      purchase_number, receipt_time, purchase_max, product_spec, color_name, model_number, shortage_number,
      shortage_day, stock_turnover, receipt_turnover, error_info, apply_product_status, factory_sku_code,
      create_time, create_by_id, create_by_name, update_time, update_by_id, update_by_name, tax_rate)
    values
     <foreach collection="list" item="item" index="" separator=",">
      (#{item.applyProductId,jdbcType=VARCHAR},
       #{item.purchaseApplyId,jdbcType=VARCHAR}, #{item.purchaseApplyCode,jdbcType=VARCHAR},
       #{item.skuCode,jdbcType=VARCHAR}, #{item.skuName,jdbcType=VARCHAR},
       #{item.spuCode,jdbcType=VARCHAR}, #{item.productName,jdbcType=VARCHAR},
       #{item.warehouseCode,jdbcType=VARCHAR}, #{item.warehouseName,jdbcType=VARCHAR},
       #{item.supplierCode,jdbcType=VARCHAR}, #{item.supplierName,jdbcType=VARCHAR},
       #{item.purchaseGroupCode,jdbcType=VARCHAR}, #{item.purchaseGroupName,jdbcType=VARCHAR},
       #{item.transportCenterCode,jdbcType=VARCHAR}, #{item.transportCenterName,jdbcType=VARCHAR},
       #{item.productPropertyCode,jdbcType=VARCHAR}, #{item.productPropertyName,jdbcType=VARCHAR},
       #{item.brandId,jdbcType=VARCHAR}, #{item.brandName,jdbcType=VARCHAR},
       #{item.categoryId,jdbcType=VARCHAR}, #{item.categoryName,jdbcType=VARCHAR},
       #{item.productSortCode,jdbcType=VARCHAR}, #{item.productSortName,jdbcType=VARCHAR},
       #{item.productType,jdbcType=INTEGER}, #{item.productPurchaseAmount,jdbcType=DECIMAL},
       #{item.newPurchasePrice,jdbcType=DECIMAL}, #{item.purchaseWhole,jdbcType=INTEGER},
       #{item.purchaseSingle,jdbcType=INTEGER}, #{item.stockUnitName,jdbcType=VARCHAR},
       #{item.stockCount,jdbcType=INTEGER}, #{item.totalWayNum,jdbcType=INTEGER},
       #{item.lastTime,jdbcType=VARCHAR}, #{item.salesVolume,jdbcType=INTEGER},
       #{item.boxGauge,jdbcType=VARCHAR}, #{item.baseProductContent,jdbcType=INTEGER},
       #{item.purchaseNumber,jdbcType=INTEGER}, #{item.receiptTime,jdbcType=VARCHAR},
       #{item.purchaseMax,jdbcType=DECIMAL}, #{item.productSpec,jdbcType=VARCHAR},
       #{item.colorName,jdbcType=VARCHAR}, #{item.modelNumber,jdbcType=VARCHAR},
       #{item.shortageNumber,jdbcType=DECIMAL}, #{item.shortageDay,jdbcType=INTEGER},
       #{item.stockTurnover,jdbcType=INTEGER}, #{item.receiptTurnover,jdbcType=INTEGER},
       #{item.errorInfo,jdbcType=VARCHAR}, #{item.applyProductStatus,jdbcType=INTEGER},
       #{item.factorySkuCode,jdbcType=VARCHAR}, now(), #{item.createById,jdbcType=VARCHAR},
       #{item.createByName,jdbcType=VARCHAR}, now(),
       #{item.updateById,jdbcType=VARCHAR}, #{item.updateByName,jdbcType=VARCHAR}, #{item.taxRate,jdbcType=DECIMAL})
     </foreach>
  </insert>
  <select id="selectPurchaseForm" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseFormResponse">
    SELECT a.supplier_code as supplierCode,a.supplier_name as supplierName,a.sku_code as skuCode,
    a.sku_name as skuName,a.warehouse_code as warehouseCode,a.warehouse_name as warehouseName,
    a.transport_center_code as transportCenterCode, a.transport_center_name as transportCenterName,
    a.purchase_group_code as purchaseGroupCode,a.purchase_group_name as purchaseGroupName,
    s.settlement_method_code as settlementMethodCode, s.settlement_method_name as settlementMethodName
    from purchase_apply_product a
    inner join product_sku_checkout s on a.sku_code = s.sku_code
    WHERE a.apply_product_status = 1 and a.info_status = 0
    and a.purchase_apply_id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    group by a.supplier_code,a.transport_center_code,a.warehouse_code,
    s.settlement_method_code,a.purchase_group_code
  </select>
  <select id="purchaseFormProduct" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseApplyDetailResponse">
    select
    a.purchase_whole as purchaseWhole, a.purchase_single as purchaseSingle, a.product_type as productType,
    a.product_purchase_amount as productPurchaseAmount, a.apply_product_id as applyProductId,
    a.purchase_apply_id as purchaseApplyId, a.sku_code as skuCode, a.base_product_content as baseProductContent,
    a.product_spec as productSpec, a.color_name as colorName, a.model_number as modelNumber,
    a.stock_unit_name as stockUnitName, s.Input_tax_rate as taxRate, a.product_type as productType,
    a.brand_id as brandId, a.brand_name as brandName, a.category_id as categoryId, a.category_name as categoryName,
    s.settlement_method_code as settlementMethodCode, s.settlement_method_name as settlementMethodName,
    a.sku_name as skuName, a.box_gauge as boxGauge, pa.apply_type as applyType
    from purchase_apply_product a
    inner join product_sku_checkout s on a.sku_code = s.sku_code
    inner join purchase_apply pa on pa.purchase_apply_id = a.purchase_apply_id
    <where>
      a.apply_product_status = 1 and  a.info_status = 0
      <if test="supplierCode != null">
        and a.supplier_code = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="transportCenterCode != null">
        and a.transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseGroupCode != null">
        and a.purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="warehouseCode != null">
        and a.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
      </if>
      <if test="settlementMethodCode != null">
        and s.settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR}
      </if>
      <if test="applyIds != null and applyIds.size > 0">
        and a.purchase_apply_id in
        <foreach collection="applyIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </select>
  <select id="formSkuCount" resultType="java.lang.Integer">
    select count(DISTINCT(a.sku_code))
    from purchase_apply_product a inner join
    product_sku_checkout s on
    a.sku_code = s.sku_code
    <where>
      a.apply_product_status = 1 and a.info_status = 0
      <if test="supplierCode != null">
        and a.supplier_code = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="transportCenterCode != null">
        and a.transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseGroupCode != null">
        and a.purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="warehouseCode != null">
        and a.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
      </if>
      <if test="settlementMethodCode != null">
        and s.settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR}
      </if>
      <if test="applyIds != null and applyIds.size > 0">
        and a.purchase_apply_id in
        <foreach collection="applyIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </select>
  <select id="applyByProduct" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseFormResponse">
    select a.apply_product_id as applyProductId, a.purchase_apply_id as purchaseApplyId,
    a.purchase_apply_code as purchaseApplyCode, p.apply_type as applyType
    from purchase_apply_product a inner join
    product_sku_checkout s on
    a.sku_code = s.sku_code
    inner join purchase_apply p
    on a.purchase_apply_id = p.purchase_apply_id
    <where>
      a.apply_product_status = 1 and a.info_status = 0
      <if test="supplierCode != null">
        and a.supplier_code = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="transportCenterCode != null">
        and a.transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseGroupCode != null">
        and a.purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="warehouseCode != null">
        and a.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
      </if>
      <if test="settlementMethodCode != null">
        and s.settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR}
      </if>
      <if test="applyIds != null and applyIds.size > 0">
        and a.purchase_apply_id in
        <foreach collection="applyIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
    group by a.purchase_apply_id
  </select>
  <select id="purchaseFormList" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseApplyDetailResponse">
    select
      a.purchase_whole as purchaseWhole, a.purchase_single as purchaseSingle, a.product_type as productType,
      a.product_purchase_amount as productPurchaseAmount, a.base_product_content as baseProductContent, a.sku_code as  skuCode,
      (ifnull(a.purchase_whole, 0) * ifnull(a.base_product_content, 0) + ifnull(a.purchase_single, 0)) as singleCount
      from purchase_apply_product a inner join
      product_sku_checkout s on
      a.sku_code = s.sku_code
      <where>
        a.apply_product_status = 1 and a.info_status = 0
        and  a.sku_code = #{skuCode,jdbcType=VARCHAR}
        <if test="supplierCode != null">
           and a.supplier_code = #{supplierCode,jdbcType=VARCHAR}
        </if>
        <if test="transportCenterCode != null">
           and a.transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
        </if>
        <if test="purchaseGroupCode != null">
           and a.purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
        </if>
        <if test="warehouseCode != null">
           and a.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
        </if>
        <if test="settlementMethodCode != null">
          and s.settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR}
        </if>
        <if test="applyIds != null and applyIds.size > 0">
           and a.purchase_apply_id in
        <foreach collection="applyIds" index="index" item="item" open="(" separator="," close=")">
           #{item}
        </foreach>
        </if>
      </where>
  </select>
  <select id="productBySku" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseApplyDetailResponse">
    select
    a.product_type as productType, a.product_purchase_amount as productPurchaseAmount, a.apply_product_id as applyProductId,
    a.purchase_apply_id as purchaseApplyId, a.sku_code as skuCode,
    a.product_spec as productSpec, a.color_name as colorName, a.model_number as modelNumber,
    a.stock_unit_name as stockUnitName, s.Input_tax_rate as taxRate, a.product_type as productType,
    a.brand_id as brandId, a.brand_name as brandName, a.category_id as categoryId, a.category_name as categoryName,
    s.settlement_method_code as settlementMethodCode, s.settlement_method_name as settlementMethodName,
    a.sku_name as skuName, a.purchase_apply_id as purchaseApplyId, a.transport_center_code as transportCenterCode,
    a.warehouse_code as warehouseCode, b.company_code as companyCode
    from purchase_apply_product a inner join
    purchase_apply b on a.purchase_apply_code = b.purchase_apply_code
    inner join product_sku_checkout s on a.sku_code = s.sku_code
    <where>
      a.apply_product_status = 1 and a.info_status = 0
      <if test="supplierCode != null">
        and a.supplier_code = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="transportCenterCode != null">
        and a.transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseGroupCode != null">
        and a.purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="warehouseCode != null">
        and a.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
      </if>
      <if test="settlementMethodCode != null">
        and s.settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR}
      </if>
      <if test="applyIds != null and applyIds.size > 0">
        and a.purchase_apply_id in
        <foreach collection="applyIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
    group by a.sku_code
    LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  <select id="purchaseFormCount" resultType="java.lang.Integer">
     select COUNT(DISTINCT(a.sku_code))
     from purchase_apply_product a inner join
      product_sku_checkout s on
      a.sku_code = s.sku_code
     <where>
      a.apply_product_status = 1 and a.info_status = 0
      <if test="supplierCode != null">
         and a.supplier_code = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="transportCenterCode != null">
         and a.transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseGroupCode != null">
         and a.purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="warehouseCode != null">
         and a.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
      </if>
      <if test="settlementMethodCode != null">
         and s.settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR}
      </if>
      <if test="applyIds != null and applyIds.size > 0">
          and a.purchase_apply_id in
          <foreach collection="applyIds" index="index" item="item" open="(" separator="," close=")">
              #{item}
          </foreach>
      </if>
     </where>
  </select>
  <delete id="delete">
    delete from purchase_apply_product where purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
  </delete>
  <update id="updateInfoStatus">
    update purchase_apply_product
    <set>
      info_status = 1,
      update_time = now(),
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
    </set>
    where purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
    and warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
    and supplier_code = #{supplierCode,jdbcType=VARCHAR}
    and purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
    and transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
    and sku_code = #{skuCode,jdbcType=VARCHAR}
  </update>
  <select id="purchaseFormByComplete" resultType="java.lang.Integer">
    select count(1)
    from purchase_apply_product
    where info_status = 0
    and purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
  </select>
  <select id="purchaseFormByRepeat" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseApplyDetailResponse">
     select
      a.purchase_whole as purchaseWhole, a.purchase_single as purchaseSingle, a.product_type as productType,
      a.product_purchase_amount as productPurchaseAmount, a.apply_product_id as applyProductId,
      a.purchase_apply_id as purchaseApplyId, a.sku_code as skuCode, a.base_product_content as baseProductContent,
      a.product_spec as productSpec, a.color_name as colorName, a.model_number as modelNumber,
      a.stock_unit_name as stockUnitName, s.Input_tax_rate as taxRate, a.product_type as productType,
      a.brand_id as brandId, a.brand_name as brandName, a.category_id as categoryId, a.category_name as categoryName,
      s.settlement_method_code as settlementMethodCode, s.settlement_method_name as settlementMethodName,
      a.sku_name as skuName, a.purchase_apply_id as purchaseApplyId, a.transport_center_code as transportCenterCode,
      a.warehouse_code as warehouseCode, b.company_code as companyCode,
      a.product_purchase_amount as productPurchaseAmount, a.base_product_content as baseProductContent, a.sku_code as  skuCode,
      (ifnull(a.purchase_whole, 0) * ifnull(a.base_product_content, 0) + ifnull(a.purchase_single, 0)) as singleCount
     from purchase_apply_product a inner join
     purchase_apply b on a.purchase_apply_code = b.purchase_apply_code
     inner join product_sku_checkout s on a.sku_code = s.sku_code
     <where>
         a.apply_product_status = 1 and a.info_status = 0
         <if test="supplierCode != null">
             and a.supplier_code = #{supplierCode,jdbcType=VARCHAR}
         </if>
         <if test="transportCenterCode != null">
             and a.transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
         </if>
         <if test="purchaseGroupCode != null">
             and a.purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
         </if>
         <if test="warehouseCode != null">
             and a.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
         </if>
         <if test="settlementMethodCode != null">
             and s.settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR}
         </if>
         <if test="applyIds != null and applyIds.size > 0">
             and a.purchase_apply_id in
             <foreach collection="applyIds" index="index" item="item" open="(" separator="," close=")">
                 #{item}
             </foreach>
         </if>
     </where>
     LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  <select id="purchaseFormByRepeatCount" resultType="java.lang.Integer">
      select COUNT(1)
      from purchase_apply_product a inner join
      product_sku_checkout s on
      a.sku_code = s.sku_code
      <where>
          a.apply_product_status = 1 and a.info_status = 0
          <if test="supplierCode != null">
              and a.supplier_code = #{supplierCode,jdbcType=VARCHAR}
          </if>
          <if test="transportCenterCode != null">
              and a.transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
          </if>
          <if test="purchaseGroupCode != null">
              and a.purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
          </if>
          <if test="warehouseCode != null">
              and a.warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
          </if>
          <if test="settlementMethodCode != null">
              and s.settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR}
          </if>
          <if test="applyIds != null and applyIds.size > 0">
              and a.purchase_apply_id in
              <foreach collection="applyIds" index="index" item="item" open="(" separator="," close=")">
                  #{item}
              </foreach>
          </if>
      </where>
  </select>
  <select id="applyPurchaseProductList" resultType="com.aiqin.bms.scmp.api.purchase.domain.PurchaseApplyProduct">
      select
      <include refid="Base_Column_List"></include>
      from purchase_apply_product
      where purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
  </select>
  <select id="productCodeByDetail" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseApplyDetailResponse">
    select
    apply_product_id as applyProductId, purchase_apply_id as purchaseApplyId, sku_code as skuCode, sku_name as skuName,
    product_type as productType, product_purchase_amount as productPurchaseAmount, purchase_whole as purchaseWhole,
    purchase_single as purchaseSingle, supplier_code as supplierCode, supplier_name as supplierName,
    purchase_group_code as purchaseGroupCode, purchase_group_name as purchaseGroupName,
    transport_center_code as transportCenterCode, transport_center_name as transportCenterName, base_product_content as baseProductContent,
    box_gauge as boxGauge, stock_unit_name as stockUnitName, product_sort_code as productSortCode, product_sort_name as productSortName,
    brand_id as brandId, brand_name as brandName, category_id as categoryId, category_name as categoryName,
    new_purchase_price as newPurchasePrice, last_time as lastTime, sales_volume as salesVolume,  receipt_time as receiptTime,
    product_spec as productSpec, color_name as colorName, model_number as modelNumber, product_property_code as productPropertyCode,
    product_property_name as productPropertyName, warehouse_code as warehouseCode,  warehouse_name as warehouseName,
    receipt_turnover as receiptTurnover, tax_rate as taxRate,
    stock_turnover as stockTurnover, receipt_turnover as receiptTurnover
    from purchase_apply_product
    where apply_product_status = 1
    and purchase_apply_code = #{purchaseApplyCode,jdbcType=VARCHAR}
    <if test="transportCenterCode != null">
       and transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>