<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.PurchaseOrderDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.PurchaseOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="purchase_order_id" jdbcType="VARCHAR" property="purchaseOrderId" />
    <result column="purchase_order_code" jdbcType="VARCHAR" property="purchaseOrderCode" />
    <result column="purchase_apply_id" jdbcType="VARCHAR" property="purchaseApplyId" />
    <result column="purchase_apply_code" jdbcType="VARCHAR" property="purchaseApplyCode" />
    <result column="purchase_apply_name" jdbcType="VARCHAR" property="purchaseApplyName" />
    <result column="transport_center_code" jdbcType="VARCHAR" property="transportCenterCode" />
    <result column="transport_center_name" jdbcType="VARCHAR" property="transportCenterName" />
    <result column="purchase_group_code" jdbcType="VARCHAR" property="purchaseGroupCode" />
    <result column="purchase_group_name" jdbcType="VARCHAR" property="purchaseGroupName" />
    <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
    <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="info_status" jdbcType="INTEGER" property="infoStatus" />
    <result column="purchase_order_status" jdbcType="INTEGER" property="purchaseOrderStatus" />
    <result column="storage_status" jdbcType="INTEGER" property="storageStatus" />
    <result column="single_count" jdbcType="INTEGER" property="singleCount" />
    <result column="product_total_amount" jdbcType="DECIMAL" property="productTotalAmount" />
    <result column="return_amount" jdbcType="DECIMAL" property="returnAmount" />
    <result column="purchase_mode" jdbcType="INTEGER" property="purchaseMode" />
    <result column="settlement_method_code" jdbcType="VARCHAR" property="settlementMethodCode" />
    <result column="settlement_method_name" jdbcType="VARCHAR" property="settlementMethodName" />
    <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="cancel_remark" jdbcType="VARCHAR" property="cancelRemark" />
    <result column="apply_type_form" jdbcType="VARCHAR" property="applyTypeForm" />
    <result column="approval_code" jdbcType="VARCHAR" property="approvalCode" />
    <result column="gift_tax_sum" jdbcType="DECIMAL" property="giftTaxSum" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="purchase_source" jdbcType="INTEGER" property="purchaseSource" />
    <result column="pre_arrival_time" jdbcType="TIMESTAMP" property="preArrivalTime" />
    <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
    <result column="actual_total_count" jdbcType="BIGINT" property="actualTotalCount" />
    <result column="actual_product_amount" jdbcType="DECIMAL" property="actualProductAmount" />
    <result column="actual_return_amount" jdbcType="DECIMAL" property="actualReturnAmount" />
    <result column="actual_gift_amount" jdbcType="DECIMAL" property="actualGiftAmount" />
    <result column="charge_person_code" jdbcType="VARCHAR" property="chargePersonCode" />
    <result column="charge_person_name" jdbcType="VARCHAR" property="chargePersonName" />
    <result column="supplier_person" jdbcType="VARCHAR" property="supplierPerson" />
    <result column="supplier_mobile" jdbcType="VARCHAR" property="supplierMobile" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="warehouse_time" jdbcType="TIMESTAMP" property="warehouseTime" />
    <result column="payment_mode" jdbcType="INTEGER" property="paymentMode" />
    <result column="payment_time" jdbcType="INTEGER" property="paymentTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="inbound_line" jdbcType="INTEGER" property="inboundLine" />
    <result column="pre_payment_amount" jdbcType="DECIMAL" property="prePaymentAmount" />
    <result column="account_code" jdbcType="VARCHAR" property="accountCode" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
    <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="synchr_status" jdbcType="INTEGER" property="synchrStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    purchase_order_id, purchase_order_code, purchase_apply_id, purchase_apply_code,
    purchase_apply_name, transport_center_code, transport_center_name, purchase_group_code,
    purchase_group_name, warehouse_code, warehouse_name, supplier_code, supplier_name,
    info_status, purchase_order_status, storage_status, single_count, product_total_amount,
    return_amount, purchase_mode, settlement_method_code, settlement_method_name, cancel_reason,
    cancel_remark, apply_type_form, approval_code, gift_tax_sum, company_code, company_name,
    purchase_source, pre_arrival_time, valid_time, actual_total_count, actual_product_amount,
    actual_return_amount, actual_gift_amount, charge_person_code, charge_person_name,
    supplier_person, supplier_mobile, delivery_time, warehouse_time, payment_mode, payment_time,
    remark, inbound_line, pre_payment_amount, account_code, account_name, contract_code,
    contract_name, create_time, update_time, create_by_id, update_by_id, create_by_name,
    update_by_name, synchr_status
  </sql>
  <insert id="insert">
    insert into purchase_order (purchase_order_id, purchase_order_code, purchase_apply_id, purchase_apply_code, purchase_apply_name,
      transport_center_code, transport_center_name, purchase_group_code, purchase_group_name, warehouse_code,
      warehouse_name, supplier_code, supplier_name, info_status, purchase_order_status, storage_status,
      single_count, product_total_amount, return_amount, purchase_mode, settlement_method_code, settlement_method_name,
      cancel_reason, cancel_remark, apply_type_form, approval_code, gift_tax_sum, company_code,
      company_name, purchase_source, pre_arrival_time, valid_time, actual_total_count, actual_product_amount,
      actual_return_amount, actual_gift_amount, charge_person_code, charge_person_name, supplier_person,
      supplier_mobile, delivery_time, warehouse_time, payment_mode, payment_time, remark,
      inbound_line, pre_payment_amount, account_code, account_name, contract_code, contract_name,
      create_time, update_time, create_by_id, update_by_id, create_by_name, update_by_name)
    values (#{purchaseOrderId,jdbcType=VARCHAR}, #{purchaseOrderCode,jdbcType=VARCHAR},
      #{purchaseApplyId,jdbcType=VARCHAR}, #{purchaseApplyCode,jdbcType=VARCHAR}, #{purchaseApplyName,jdbcType=VARCHAR},
      #{transportCenterCode,jdbcType=VARCHAR}, #{transportCenterName,jdbcType=VARCHAR},
      #{purchaseGroupCode,jdbcType=VARCHAR}, #{purchaseGroupName,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR},
      #{warehouseName,jdbcType=VARCHAR}, #{supplierCode,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR},
      #{infoStatus,jdbcType=INTEGER}, #{purchaseOrderStatus,jdbcType=INTEGER}, #{storageStatus,jdbcType=INTEGER},
      #{singleCount,jdbcType=INTEGER}, #{productTotalAmount,jdbcType=DECIMAL}, #{returnAmount,jdbcType=DECIMAL},
      #{purchaseMode,jdbcType=INTEGER}, #{settlementMethodCode,jdbcType=VARCHAR}, #{settlementMethodName,jdbcType=VARCHAR},
      #{cancelReason,jdbcType=VARCHAR}, #{cancelRemark,jdbcType=VARCHAR}, #{applyTypeForm,jdbcType=VARCHAR},
      #{approvalCode,jdbcType=VARCHAR}, #{giftTaxSum,jdbcType=DECIMAL}, #{companyCode,jdbcType=VARCHAR},
      #{companyName,jdbcType=VARCHAR}, #{purchaseSource,jdbcType=VARCHAR}, #{preArrivalTime,jdbcType=TIMESTAMP},
      #{validTime,jdbcType=TIMESTAMP}, #{actualTotalCount,jdbcType=BIGINT}, #{actualProductAmount,jdbcType=DECIMAL},
      #{actualReturnAmount,jdbcType=DECIMAL}, #{actualGiftAmount,jdbcType=DECIMAL},
      #{chargePersonCode,jdbcType=VARCHAR}, #{chargePersonName,jdbcType=VARCHAR}, #{supplierPerson,jdbcType=VARCHAR},
      #{supplierMobile,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=TIMESTAMP}, #{warehouseTime,jdbcType=TIMESTAMP},
      #{paymentMode,jdbcType=INTEGER}, #{paymentTime,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{inboundLine,jdbcType=INTEGER}, #{prePaymentAmount,jdbcType=DECIMAL}, #{accountCode,jdbcType=VARCHAR},
      #{accountName,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR},
      now(), now(), #{createById,jdbcType=VARCHAR},
      #{updateById,jdbcType=VARCHAR}, #{createByName,jdbcType=VARCHAR}, #{updateByName,jdbcType=VARCHAR})
  </insert>
  <update id="update">
    update purchase_order
    <set>
      <if test="purchaseApplyName != null">
        purchase_apply_name = #{purchaseApplyName,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterCode != null">
        transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="transportCenterName != null">
        transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseGroupCode != null">
        purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseGroupName != null">
        purchase_group_name = #{purchaseGroupName,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null">
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="warehouseName != null">
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="infoStatus != null">
        info_status = #{infoStatus,jdbcType=INTEGER},
      </if>
      <if test="purchaseOrderStatus != null">
        purchase_order_status = #{purchaseOrderStatus,jdbcType=INTEGER},
      </if>
      <if test="storageStatus != null">
        storage_status = #{storageStatus,jdbcType=INTEGER},
      </if>
      <if test="singleCount != null">
        single_count = #{singleCount,jdbcType=INTEGER},
      </if>
      <if test="productTotalAmount != null">
        product_total_amount = #{productTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="returnAmount != null">
        return_amount = #{returnAmount,jdbcType=DECIMAL},
      </if>
      <if test="purchaseMode != null">
        purchase_mode = #{purchaseMode,jdbcType=INTEGER},
      </if>
      <if test="settlementMethodCode != null">
        settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR},
      </if>
      <if test="settlementMethodName != null">
        settlement_method_name = #{settlementMethodName,jdbcType=VARCHAR},
      </if>
      <if test="cancelReason != null">
        cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelRemark != null">
        cancel_remark = #{cancelRemark,jdbcType=VARCHAR},
      </if>
      <if test="applyTypeForm != null">
        apply_type_form = #{applyTypeForm,jdbcType=VARCHAR},
      </if>
      <if test="approvalCode != null">
        approval_code = #{approvalCode,jdbcType=VARCHAR},
      </if>
      <if test="giftTaxSum != null">
        gift_tax_sum = #{giftTaxSum,jdbcType=DECIMAL},
      </if>
      <if test="companyCode != null">
        company_code = #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSource != null">
        purchase_source = #{purchaseSource,jdbcType=VARCHAR},
      </if>
      <if test="preArrivalTime != null">
        pre_arrival_time = #{preArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validTime != null">
        valid_time = #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualTotalCount != null">
        actual_total_count = #{actualTotalCount,jdbcType=BIGINT},
      </if>
      <if test="actualProductAmount != null">
        actual_product_amount = #{actualProductAmount,jdbcType=DECIMAL},
      </if>
      <if test="actualReturnAmount != null">
        actual_return_amount = #{actualReturnAmount,jdbcType=DECIMAL},
      </if>
      <if test="actualGiftAmount != null">
        actual_gift_amount = #{actualGiftAmount,jdbcType=DECIMAL},
      </if>
      <if test="chargePersonCode != null">
        charge_person_code = #{chargePersonCode,jdbcType=VARCHAR},
      </if>
      <if test="chargePersonName != null">
        charge_person_name = #{chargePersonName,jdbcType=VARCHAR},
      </if>
      <if test="supplierPerson != null">
        supplier_person = #{supplierPerson,jdbcType=VARCHAR},
      </if>
      <if test="supplierMobile != null">
        supplier_mobile = #{supplierMobile,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warehouseTime != null">
        warehouse_time = #{warehouseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentMode != null">
        payment_mode = #{paymentMode,jdbcType=INTEGER},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="inboundLine != null">
        inbound_line = #{inboundLine,jdbcType=INTEGER},
      </if>
      <if test="prePaymentAmount != null">
        pre_payment_amount = #{prePaymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="accountCode != null">
        account_code = #{accountCode,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null">
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="contractName != null">
        contract_name = #{contractName,jdbcType=VARCHAR},
      </if>
      update_time = now(),
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
    </set>
    where purchase_order_id = #{purchaseOrderId,jdbcType=VARCHAR}
  </update>
  <select id="purchaseOrderList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from purchase_order
    <where>
      purchase_group_code in
      <foreach collection="groupList" open="(" close=")" item="item" separator=",">
        #{item.purchaseGroupCode,jdbcType=VARCHAR}
      </foreach>
      <if test="createBeginTime != null">
        and create_time &gt;= #{createBeginTime,jdbcType=VARCHAR}
      </if>
      <if test="createFinishTime != null">
        and create_time &lt;= #{createFinishTime,jdbcType=VARCHAR}
      </if>
      <if test="updateBeginTime != null">
        and update_time &gt;= #{updateBeginTime,jdbcType=VARCHAR}
      </if>
      <if test="updateFinishTime != null">
        and update_time &lt;= #{updateFinishTime,jdbcType=VARCHAR}
      </if>
      <if test="purchaseOrderCode != null">
        and purchase_order_code = #{purchaseOrderCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseGroupCode != null">
        and purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierCode != null">
        and supplier_code = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierName != null">
        and supplier_name = #{supplierName,jdbcType=VARCHAR}
      </if>
      <if test="transportCenterCode != null">
        and transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
      </if>
      <if test="warehouseCode != null">
        and warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseOrderStatus != null">
        and purchase_order_status = #{purchaseOrderStatus,jdbcType=INTEGER}
      </if>
      <if test="purchaseSource != null">
        and purchase_source = #{purchaseSource,jdbcType=INTEGER}
      </if>
      <if test="purchaseApplyCode != null">
        and purchase_apply_code = #{purchaseApplyCode,jdbcType=VARCHAR}
      </if>
    </where>
    order by o.create_time desc
    LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  <select id="purchaseOrderCount" resultType="java.lang.Integer">
    select count(1)
    from purchase_order
    <where>
      purchase_group_code in
      <foreach collection="groupList" open="(" close=")" item="item" separator=",">
        #{item.purchaseGroupCode,jdbcType=VARCHAR}
      </foreach>
      <if test="createBeginTime != null">
        and create_time &gt;= #{createBeginTime,jdbcType=VARCHAR}
      </if>
      <if test="createFinishTime != null">
        and create_time &lt;= #{createFinishTime,jdbcType=VARCHAR}
      </if>
      <if test="updateBeginTime != null">
        and update_time &gt;= #{updateBeginTime,jdbcType=VARCHAR}
      </if>
      <if test="updateFinishTime != null">
        and update_time &lt;= #{updateFinishTime,jdbcType=VARCHAR}
      </if>
      <if test="purchaseOrderCode != null">
        and purchase_order_code = #{purchaseOrderCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseGroupCode != null">
        and purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierCode != null">
        and supplier_code = #{supplierCode,jdbcType=VARCHAR}
      </if>
      <if test="supplierName != null">
        and supplier_name = #{supplierName,jdbcType=VARCHAR}
      </if>
      <if test="transportCenterCode != null">
        and transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
      </if>
      <if test="warehouseCode != null">
        and warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseOrderStatus != null">
        and purchase_order_status = #{purchaseOrderStatus,jdbcType=INTEGER}
      </if>
      <if test="purchaseSource != null">
        and purchase_source = #{purchaseSource,jdbcType=INTEGER}
      </if>
      <if test="purchaseApplyCode != null">
        and purchase_apply_code = #{purchaseApplyCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="purchaseOrder"  resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from purchase_order where purchase_order_id = #{purchaseOrderId,jdbcType=VARCHAR}
  </select>
  <select id="purchaseOrderInfo" resultMap="BaseResultMap" parameterType="com.aiqin.bms.scmp.api.purchase.domain.PurchaseOrder">
     select <include refid="Base_Column_List"></include>
     from purchase_order where purchase_order_code = #{purchaseOrderCode,jdbcType=VARCHAR}
  </select>
  <select id="orderByExecuteWarehousing" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from purchase_order o
    where o.purchase_order_status in(0, 3, 4, 6)
    and valid_time &gt;= #{beginTime,jdbcType=VARCHAR}
    and valid_time &lt;= #{finishTime,jdbcType=VARCHAR}
  </select>
  <select id="listForSap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
      purchase_order
    <where>
         purchase_order_status = 8
      and synchr_status = 0
    </where>
  </select>
  <update id="updateByOrderCodes">
    update
      purchase_order
    set
    synchr_status=1
    where
    purchase_order_id in
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </update>
  <select id="getPurchaseOrderPre" resultType="java.lang.String">
    select o.purchase_order_code as purchaseOrderCode
    from purchase_order o
    inner join purchase_order_details d
    on o.purchase_order_id = d.purchase_order_id
    where o.purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
    and d.purchase_order_type_code = #{purchaseOrderTypeCode,jdbcType=INTEGER}
    and o.purchase_order_status in (2, 3, 4, 5, 6, 7)
    <if test="purchaseOrderCode != null">
      and o.purchase_order_code LIKE concat(#{purchaseOrderCode, jdbcType=VARCHAR}, '%')
    </if>
  </select>
</mapper>