<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.PurchaseApplyDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain1.PurchaseApply">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="purchase_apply_id" jdbcType="VARCHAR" property="purchaseApplyId" />
    <result column="purchase_apply_code" jdbcType="VARCHAR" property="purchaseApplyCode" />
    <result column="purchase_apply_name" jdbcType="VARCHAR" property="purchaseApplyName" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="apply_type" jdbcType="INTEGER" property="applyType" />
    <result column="apply_status" jdbcType="INTEGER" property="applyStatus" />
    <result column="purchase_group_code" jdbcType="VARCHAR" property="purchaseGroupCode" />
    <result column="purchase_group_name" jdbcType="VARCHAR" property="purchaseGroupName" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="total_count" jdbcType="VARCHAR" property="totalCount" />
    <result column="product_tax_amount" jdbcType="DECIMAL" property="productTaxAmount" />
    <result column="return_tax_amount" jdbcType="DECIMAL" property="returnTaxAmount" />
    <result column="gift_tax_amount" jdbcType="DECIMAL" property="giftTaxAmount" />
    <result column="purchase_source" jdbcType="INTEGER" property="purchaseSource" />
    <result column="pre_purchase_type" jdbcType="INTEGER" property="prePurchaseType" />
    <result column="account_code" jdbcType="VARCHAR" property="accountCode" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="charge_person_code" jdbcType="VARCHAR" property="chargePersonCode" />
    <result column="charge_person_name" jdbcType="VARCHAR" property="chargePersonName" />
    <result column="supplier_person" jdbcType="VARCHAR" property="supplierPerson" />
    <result column="supplier_mobile" jdbcType="VARCHAR" property="supplierMobile" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
    <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, purchase_apply_id, purchase_apply_code, purchase_apply_name, supplier_code, supplier_name,
    apply_type, apply_status, purchase_group_code, purchase_group_name, company_code,
    company_name, status, total_count, product_tax_amount, return_tax_amount, gift_tax_amount,
    purchase_source, pre_purchase_type, account_code, account_name, contract_code, contract_name,
    charge_person_code, charge_person_name, supplier_person, supplier_mobile, remark,
    create_time, update_time, create_by_id, update_by_id, create_by_name, update_by_name
  </sql>
  <insert id="insert">
    insert into purchase_apply (purchase_apply_id, purchase_apply_code, apply_type, apply_status, purchase_group_code,
      purchase_group_name, company_code, company_name, create_time, create_by_id, create_by_name)
    values (#{purchaseApplyId,jdbcType=VARCHAR}, #{purchaseApplyCode,jdbcType=VARCHAR}, #{applyType,jdbcType=INTEGER},
      #{applyStatus,jdbcType=INTEGER}, #{purchaseGroupCode,jdbcType=VARCHAR}, #{purchaseGroupName,jdbcType=VARCHAR},
      #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, now(), #{createById,jdbcType=VARCHAR},
      #{createByName,jdbcType=VARCHAR})
  </insert>
  <update id="update">
    update purchase_apply
    <set>
      <if test="applyType != null">
        apply_type = #{applyType,jdbcType=INTEGER},
      </if>
      <if test="applyStatus != null">
        apply_status = #{applyStatus,jdbcType=INTEGER},
      </if>
      <if test="purchaseGroupCode != null">
        purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseGroupName != null">
        purchase_group_name = #{purchaseGroupName,jdbcType=VARCHAR},
      </if>
      update_time = now(),
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR}
      </if>
    </set>
    where purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
  </update>
  <select id="applyList" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.PurchaseApplyResponse">
    select
    purchase_apply_id as purchaseApplyId, purchase_apply_code as purchaseApplyCode, apply_type as applyType,
    apply_status as applyStatus, purchase_group_code as purchaseGroupCode, purchase_group_name as purchaseGroupName,
    create_time as createTime, create_by_id as createById, create_by_name as createByName,
    update_by_id as updateById, update_by_name as updateByName, update_time as updateTime
    from purchase_apply
    <where>
      status = 0 and
      purchase_group_code in
      <foreach collection="groupList" open="(" close=")" item="item" separator=",">
        #{item.purchaseGroupCode,jdbcType=VARCHAR}
      </foreach>
      <if test="beginTime != null">
        and create_time &gt;= #{beginTime,jdbcType=VARCHAR}
      </if>
      <if test="finishTime != null">
        and create_time &lt;= #{finishTime,jdbcType=VARCHAR}
      </if>
      <if test="purchaseApplyCode != null">
        and purchase_apply_code = #{purchaseApplyCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseGroupCode != null">
        and purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="applyType != null">
        and apply_type = #{applyType,jdbcType=INTEGER}
      </if>
      <if test="applyStatus != null">
        and apply_status = #{applyStatus,jdbcType=INTEGER}
      </if>
    </where>
    order by create_time desc
    LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  <select id="applyCount" resultType="java.lang.Integer">
    select count(1) from purchase_apply
    <where>
      status = 0 and
      purchase_group_code in
      <foreach collection="groupList" open="(" close=")" item="item" separator=",">
        #{item.purchaseGroupCode,jdbcType=VARCHAR}
      </foreach>
      <if test="beginTime != null">
        and create_time &gt;= #{beginTime,jdbcType=VARCHAR}
      </if>
      <if test="finishTime != null">
        and create_time &lt;= #{finishTime,jdbcType=VARCHAR}
      </if>
      <if test="purchaseApplyCode != null">
        and purchase_apply_code = #{purchaseApplyCode,jdbcType=VARCHAR}
      </if>
      <if test="purchaseGroupCode != null">
        and purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
      </if>
      <if test="applyType != null">
        and apply_type = #{applyType,jdbcType=INTEGER}
      </if>
      <if test="applyStatus != null">
        and apply_status = #{applyStatus,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="purchaseApplyInfo" resultType="com.aiqin.bms.scmp.api.purchase.domain.PurchaseApply">
    select <include refid="Base_Column_List"></include>
    from purchase_apply
    where status = 0 and purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
  </select>
  <insert id="insertAll">
    insert into purchase_apply (purchase_apply_id, purchase_apply_code, apply_type,
      apply_status, purchase_group_code, purchase_group_name, create_time, create_by_id, create_by_name)
    values
    <foreach collection="list" item="item" index="" separator=",">
    (#{item.purchaseApplyId,jdbcType=VARCHAR}, #{item.purchaseApplyCode,jdbcType=VARCHAR},
      #{item.applyType,jdbcType=INTEGER}, #{item.applyStatus,jdbcType=INTEGER}, #{item.purchaseGroupCode,jdbcType=VARCHAR},
      #{item.purchaseGroupName,jdbcType=VARCHAR}, now(), #{item.createById,jdbcType=VARCHAR}, #{item.createByName,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <update id="delete">
    update purchase_apply
    set status = 1
    where purchase_apply_id = #{purchaseApplyId,jdbcType=VARCHAR}
  </update>
</mapper>