<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.RejectRecordDao">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.RejectRecord">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="reject_apply_record_code" jdbcType="VARCHAR" property="rejectApplyRecordCode" />
        <result column="reject_record_id" jdbcType="VARCHAR" property="rejectRecordId" />
        <result column="reject_record_code" jdbcType="VARCHAR" property="rejectRecordCode" />
        <result column="reject_record_name" jdbcType="VARCHAR" property="rejectRecordName" />
        <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
        <result column="settlement_method_code" jdbcType="VARCHAR" property="settlementMethodCode" />
        <result column="settlement_method_name" jdbcType="VARCHAR" property="settlementMethodName" />
        <result column="purchase_group_code" jdbcType="VARCHAR" property="purchaseGroupCode" />
        <result column="purchase_group_name" jdbcType="VARCHAR" property="purchaseGroupName" />
        <result column="transport_center_code" jdbcType="VARCHAR" property="transportCenterCode" />
        <result column="transport_center_name" jdbcType="VARCHAR" property="transportCenterName" />
        <result column="warehouse_code" jdbcType="VARCHAR" property="warehouseCode" />
        <result column="warehouse_name" jdbcType="VARCHAR" property="warehouseName" />
        <result column="product_count" jdbcType="BIGINT" property="productCount" />
        <result column="return_count" jdbcType="BIGINT" property="returnCount" />
        <result column="gift_count" jdbcType="BIGINT" property="giftCount" />
        <result column="total_count" jdbcType="BIGINT" property="totalCount" />
        <result column="product_tax_amount" jdbcType="DECIMAL" property="productTaxAmount" />
        <result column="return_tax_amount" jdbcType="DECIMAL" property="returnTaxAmount" />
        <result column="gift_tax_amount" jdbcType="DECIMAL" property="giftTaxAmount" />
        <result column="actual_product_count" jdbcType="BIGINT" property="actualProductCount" />
        <result column="actual_return_count" jdbcType="BIGINT" property="actualReturnCount" />
        <result column="actual_gift_count" jdbcType="BIGINT" property="actualGiftCount" />
        <result column="actual_total_count" jdbcType="BIGINT" property="actualTotalCount" />
        <result column="actual_product_tax_amount" jdbcType="DECIMAL" property="actualProductTaxAmount" />
        <result column="actual_return_tax_amount" jdbcType="DECIMAL" property="actualReturnTaxAmount" />
        <result column="actual_gift_tax_amount" jdbcType="DECIMAL" property="actualGiftTaxAmount" />
        <result column="valid_time" jdbcType="TIMESTAMP" property="validTime" />
        <result column="pre_deliver_time" jdbcType="TIMESTAMP" property="preDeliverTime" />
        <result column="charge_person" jdbcType="VARCHAR" property="chargePerson" />
        <result column="account_code" jdbcType="VARCHAR" property="accountCode" />
        <result column="account_name" jdbcType="VARCHAR" property="accountName" />
        <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
        <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
        <result column="supplier_person" jdbcType="VARCHAR" property="supplierPerson" />
        <result column="supplier_mobile" jdbcType="VARCHAR" property="supplierMobile" />
        <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
        <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
        <result column="city_id" jdbcType="VARCHAR" property="cityId" />
        <result column="city_name" jdbcType="VARCHAR" property="cityName" />
        <result column="district_id" jdbcType="VARCHAR" property="districtId" />
        <result column="district_name" jdbcType="VARCHAR" property="districtName" />
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
        <result column="score_code" jdbcType="VARCHAR" property="scoreCode" />
        <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
        <result column="out_stock_time" jdbcType="TIMESTAMP" property="outStockTime" />
        <result column="source_type" jdbcType="INTEGER" property="sourceType" />
        <result column="source_code" jdbcType="VARCHAR" property="sourceCode" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="approval_code" jdbcType="VARCHAR" property="approvalCode" />
        <result column="reject_status" jdbcType="INTEGER" property="rejectStatus" />
        <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
        <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
        <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
        <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="synchr_status" jdbcType="INTEGER" property="synchrStatus" />
    </resultMap>
    <sql id="Base_Column_List">
       id, reject_apply_record_code, reject_record_id, reject_record_code, reject_record_name,
       company_code, company_name, supplier_code, supplier_name, settlement_method_code,
       settlement_method_name, purchase_group_code, purchase_group_name, transport_center_code,
       transport_center_name, warehouse_code, warehouse_name, product_count, return_count,
       gift_count, total_count, product_tax_amount, return_tax_amount, gift_tax_amount,
       actual_product_count, actual_return_count, actual_gift_count, actual_total_count,
       actual_product_tax_amount, actual_return_tax_amount, actual_gift_tax_amount, valid_time,
       pre_deliver_time, charge_person, account_code, account_name, contract_code, contract_name,
       supplier_person, supplier_mobile, province_id, province_name, city_id, city_name,
       district_id, district_name, detail_address, score_code, confirm_time, out_stock_time,
       source_type, source_code, remark, approval_code, reject_status, create_by_id, create_by_name,
       update_by_id, update_by_name, create_time, update_time, synchr_status
    </sql>
    <sql id="LIST_QUERY">
        <where>
            purchase_group_code in
            <foreach collection="groupList" open="(" close=")" item="item" separator=",">
                #{item.purchaseGroupCode,jdbcType=VARCHAR}
            </foreach>
            <if test="rejectRecordCode != null and rejectRecordCode != ''">
                and reject_record_code like concat(#{rejectRecordCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="purchaseGroupCode != null and purchaseGroupCode != ''">
                and purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
            </if>
            <if test="rejectStatus != null ">
                and reject_status = #{rejectStatus,jdbcType=INTEGER}
            </if>
            <if test="createBeginTime != null">
                and create_time &gt;= #{createBeginTime,jdbcType=VARCHAR}
            </if>
            <if test="createFinishTime != null">
                and create_time &lt;= #{createFinishTime,jdbcType=VARCHAR}
            </if>
            <if test="updateBeginTime != null">
                and update_time &gt;= #{updateBeginTime,jdbcType=VARCHAR}
            </if>
            <if test="updateFinishTime != null">
                and update_time &lt;= #{updateFinishTime,jdbcType=VARCHAR}
            </if>
            <if test="transportCenterCode != null">
                and transport_center_code = #{transportCenterCode,jdbcType=VARCHAR}
            </if>
            <if test="warehouseCode != null">
                and warehouse_code = #{warehouseCode,jdbcType=VARCHAR}
            </if>
            <if test="supplierCode != null">
                and supplier_code = #{supplierCode,jdbcType=VARCHAR}
            </if>
            <if test="supplierName != null">
                and supplier_name like concat(#{supplierName,jdbcType=VARCHAR},'%')
            </if>
            <if test="sourceType != null">
                and source_type = #{sourceType,jdbcType=INTEGER}
            </if>
            <if test="sourceCode != null">
                and source_code = #{sourceCode,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from reject_record
        <include refid="LIST_QUERY"/>
        order by id desc
        LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>
    <select id="listCount" resultType="java.lang.Integer">
        select count(1)
        from reject_record
        <include refid="LIST_QUERY"/>
    </select>
    <insert id="insert">
        insert into reject_record (reject_apply_record_code, reject_record_id, reject_record_code, reject_record_name, company_code,
          company_name, supplier_code, supplier_name, settlement_method_code, settlement_method_name, purchase_group_code,
          purchase_group_name, transport_center_code, transport_center_name, warehouse_code, warehouse_name, product_count,
          return_count, gift_count, total_count, product_tax_amount, return_tax_amount, gift_tax_amount, actual_product_count,
          actual_return_count, actual_gift_count, actual_total_count, actual_product_tax_amount, actual_return_tax_amount,
          actual_gift_tax_amount, valid_time, pre_deliver_time, charge_person, account_code, account_name, contract_code,
          contract_name, supplier_person, supplier_mobile, province_id, province_name, city_id, city_name, district_id,
          district_name, detail_address, score_code, confirm_time, out_stock_time, source_type, source_code, remark,
          approval_code, reject_status, create_by_id, create_by_name, update_by_id, update_by_name,
          create_time, update_time)
        values (#{rejectApplyRecordCode,jdbcType=VARCHAR}, #{rejectRecordId,jdbcType=VARCHAR},
          #{rejectRecordCode,jdbcType=VARCHAR}, #{rejectRecordName,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR},
          #{companyName,jdbcType=VARCHAR}, #{supplierCode,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR},
          #{settlementMethodCode,jdbcType=VARCHAR}, #{settlementMethodName,jdbcType=VARCHAR},
          #{purchaseGroupCode,jdbcType=VARCHAR}, #{purchaseGroupName,jdbcType=VARCHAR}, #{transportCenterCode,jdbcType=VARCHAR},
          #{transportCenterName,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR}, #{warehouseName,jdbcType=VARCHAR},
          #{productCount,jdbcType=BIGINT}, #{returnCount,jdbcType=BIGINT}, #{giftCount,jdbcType=BIGINT},
          #{totalCount,jdbcType=BIGINT}, #{productTaxAmount,jdbcType=DECIMAL}, #{returnTaxAmount,jdbcType=DECIMAL},
          #{giftTaxAmount,jdbcType=DECIMAL}, #{actualProductCount,jdbcType=BIGINT}, #{actualReturnCount,jdbcType=BIGINT},
          #{actualGiftCount,jdbcType=BIGINT}, #{actualTotalCount,jdbcType=BIGINT}, #{actualProductTaxAmount,jdbcType=DECIMAL},
          #{actualReturnTaxAmount,jdbcType=DECIMAL}, #{actualGiftTaxAmount,jdbcType=DECIMAL},
          #{validTime,jdbcType=TIMESTAMP}, #{preDeliverTime,jdbcType=TIMESTAMP}, #{chargePerson,jdbcType=VARCHAR},
          #{accountCode,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR},
          #{contractName,jdbcType=VARCHAR}, #{supplierPerson,jdbcType=VARCHAR}, #{supplierMobile,jdbcType=VARCHAR},
          #{provinceId,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR},
          #{cityName,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, #{districtName,jdbcType=VARCHAR},
          #{detailAddress,jdbcType=VARCHAR}, #{scoreCode,jdbcType=VARCHAR}, #{confirmTime,jdbcType=TIMESTAMP},
          #{outStockTime,jdbcType=TIMESTAMP}, #{sourceType,jdbcType=INTEGER}, #{sourceCode,jdbcType=VARCHAR},
          #{remark,jdbcType=VARCHAR}, #{approvalCode,jdbcType=VARCHAR}, #{rejectStatus,jdbcType=INTEGER},
          #{createById,jdbcType=VARCHAR}, #{createByName,jdbcType=VARCHAR}, #{updateById,jdbcType=VARCHAR},
          #{updateByName,jdbcType=VARCHAR}, now(), now())
    </insert>
    <update id="update">
        update reject_record
        <set>
            <if test="rejectRecordName != null">
                reject_record_name = #{rejectRecordName,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                company_code = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="supplierCode != null">
                supplier_code = #{supplierCode,jdbcType=VARCHAR},
            </if>
            <if test="supplierName != null">
                supplier_name = #{supplierName,jdbcType=VARCHAR},
            </if>
            <if test="settlementMethodCode != null">
                settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR},
            </if>
            <if test="settlementMethodName != null">
                settlement_method_name = #{settlementMethodName,jdbcType=VARCHAR},
            </if>
            <if test="purchaseGroupCode != null">
                purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR},
            </if>
            <if test="purchaseGroupName != null">
                purchase_group_name = #{purchaseGroupName,jdbcType=VARCHAR},
            </if>
            <if test="transportCenterCode != null">
                transport_center_code = #{transportCenterCode,jdbcType=VARCHAR},
            </if>
            <if test="transportCenterName != null">
                transport_center_name = #{transportCenterName,jdbcType=VARCHAR},
            </if>
            <if test="warehouseCode != null">
                warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
            </if>
            <if test="warehouseName != null">
                warehouse_name = #{warehouseName,jdbcType=VARCHAR},
            </if>
            <if test="productCount != null">
                product_count = #{productCount,jdbcType=BIGINT},
            </if>
            <if test="returnCount != null">
                return_count = #{returnCount,jdbcType=BIGINT},
            </if>
            <if test="giftCount != null">
                gift_count = #{giftCount,jdbcType=BIGINT},
            </if>
            <if test="totalCount != null">
                total_count = #{totalCount,jdbcType=BIGINT},
            </if>
            <if test="productTaxAmount != null">
                product_tax_amount = #{productTaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="returnTaxAmount != null">
                return_tax_amount = #{returnTaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="giftTaxAmount != null">
                gift_tax_amount = #{giftTaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="actualProductCount != null">
                actual_product_count = #{actualProductCount,jdbcType=BIGINT},
            </if>
            <if test="actualReturnCount != null">
                actual_return_count = #{actualReturnCount,jdbcType=BIGINT},
            </if>
            <if test="actualGiftCount != null">
                actual_gift_count = #{actualGiftCount,jdbcType=BIGINT},
            </if>
            <if test="actualTotalCount != null">
                actual_total_count = #{actualTotalCount,jdbcType=BIGINT},
            </if>
            <if test="actualProductTaxAmount != null">
                actual_product_tax_amount = #{actualProductTaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="actualReturnTaxAmount != null">
                actual_return_tax_amount = #{actualReturnTaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="actualGiftTaxAmount != null">
                actual_gift_tax_amount = #{actualGiftTaxAmount,jdbcType=DECIMAL},
            </if>
            <if test="validTime != null">
                valid_time = #{validTime,jdbcType=TIMESTAMP},
            </if>
            <if test="preDeliverTime != null">
                pre_deliver_time = #{preDeliverTime,jdbcType=TIMESTAMP},
            </if>
            <if test="chargePerson != null">
                charge_person = #{chargePerson,jdbcType=VARCHAR},
            </if>
            <if test="accountCode != null">
                account_code = #{accountCode,jdbcType=VARCHAR},
            </if>
            <if test="accountName != null">
                account_name = #{accountName,jdbcType=VARCHAR},
            </if>
            <if test="contractCode != null">
                contract_code = #{contractCode,jdbcType=VARCHAR},
            </if>
            <if test="contractName != null">
                contract_name = #{contractName,jdbcType=VARCHAR},
            </if>
            <if test="supplierPerson != null">
                supplier_person = #{supplierPerson,jdbcType=VARCHAR},
            </if>
            <if test="supplierMobile != null">
                supplier_mobile = #{supplierMobile,jdbcType=VARCHAR},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=VARCHAR},
            </if>
            <if test="provinceName != null">
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=VARCHAR},
            </if>
            <if test="cityName != null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="districtId != null">
                district_id = #{districtId,jdbcType=VARCHAR},
            </if>
            <if test="districtName != null">
                district_name = #{districtName,jdbcType=VARCHAR},
            </if>
            <if test="detailAddress != null">
                detail_address = #{detailAddress,jdbcType=VARCHAR},
            </if>
            <if test="scoreCode != null">
                score_code = #{scoreCode,jdbcType=VARCHAR},
            </if>
            <if test="confirmTime != null">
                confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
            </if>
            <if test="outStockTime != null">
                out_stock_time = #{outStockTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType,jdbcType=INTEGER},
            </if>
            <if test="sourceCode != null">
                source_code = #{sourceCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="approvalCode != null">
                approval_code = #{approvalCode,jdbcType=VARCHAR},
            </if>
            <if test="rejectStatus != null">
                reject_status = #{rejectStatus,jdbcType=INTEGER},
            </if>
            <if test="updateById != null">
                update_by_id = #{updateById,jdbcType=VARCHAR},
            </if>
            <if test="updateByName != null">
                update_by_name = #{updateByName,jdbcType=VARCHAR},
            </if>
                update_time = now(),
            <if test="synchrStatus != null">
                synchr_status = #{synchrStatus,jdbcType=INTEGER},
            </if>
        </set>
      where reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR}
  </update>
  <select id="selectByRejectCode" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from
      reject_record
      where
      reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR}
  </select>
  <select id="rejectRecordByCode" resultType="java.lang.String">
      select reject_record_code
      from reject_record
      where reject_record_code like concat(#{code,jdbcType=VARCHAR},'%')
      order by id desc limit 1
  </select>
</mapper>