<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.RejectRecordDetailDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.RejectRecordDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="reject_record_detail_id" jdbcType="VARCHAR" property="rejectRecordDetailId" />
    <result column="reject_record_id" jdbcType="VARCHAR" property="rejectRecordId" />
    <result column="reject_record_code" jdbcType="VARCHAR" property="rejectRecordCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="product_type" jdbcType="BIT" property="productType" />
    <result column="product_spec" jdbcType="VARCHAR" property="productSpec" />
    <result column="color_code" jdbcType="VARCHAR" property="colorCode" />
    <result column="color_name" jdbcType="VARCHAR" property="colorName" />
    <result column="model_number" jdbcType="VARCHAR" property="modelNumber" />
    <result column="unit_code" jdbcType="VARCHAR" property="unitCode" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="product_count" jdbcType="BIGINT" property="productCount" />
    <result column="total_count" jdbcType="BIGINT" property="totalCount" />
    <result column="factory_sku_code" jdbcType="VARCHAR" property="factorySkuCode" />
    <result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="product_amount" jdbcType="DECIMAL" property="productAmount" />
    <result column="product_total_amount" jdbcType="DECIMAL" property="productTotalAmount" />
    <result column="actual_total_count" jdbcType="BIGINT" property="actualTotalCount" />
    <result column="actual_product_total_amount" jdbcType="DECIMAL" property="actualProductTotalAmount" />
    <result column="product_cost" jdbcType="DECIMAL" property="productCost" />
    <result column="line_code" jdbcType="INTEGER" property="lineCode" />
    <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, reject_record_detail_id, reject_record_id, reject_record_code, sku_code, sku_name,
    category_id, category_name, brand_id, brand_name, product_type, product_spec, color_code,
    color_name, model_number, unit_code, unit_name, product_count, total_count, factory_sku_code,
    tax_rate, barcode, product_amount, product_total_amount, actual_total_count, actual_product_total_amount,
    product_cost, line_code, create_by_id, create_by_name, update_by_id, update_by_name,
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reject_record_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reject_record_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertAll"  >
    insert into reject_record_detail ( reject_record_detail_id,reject_record_id, reject_record_code,
      barcode,sku_code, sku_name, product_id,single_count,
      category_id, category_name, brand_id, 
      brand_name, product_type,product_count, product_spec,
      unit_code,unit_name, tax_rate, product_amount,
      product_total_amount, actual_count, actual_amount,
      color_code,color_name,model_number,factory_sku_code,
      batch_no, batch_remark, batch_create_time, 
      create_by_id, create_by_name,update_by_id, update_by_name,
      create_time, update_time, linnum
      )
    values
    <foreach collection="list" separator="," item="item">
    (
      #{item.rejectRecordDetailId,jdbcType=VARCHAR},
      #{rejectRecordId,jdbcType=VARCHAR},
      #{rejectRecordCode,jdbcType=VARCHAR},
      #{item.barcode,jdbcType=VARCHAR},
      #{item.skuCode,jdbcType=VARCHAR},
      #{item.skuName,jdbcType=VARCHAR},
      #{item.productId,jdbcType=VARCHAR},
      #{item.singleCount,jdbcType=VARCHAR},
      #{item.categoryId,jdbcType=VARCHAR},
      #{item.categoryName,jdbcType=VARCHAR},
      #{item.brandId,jdbcType=VARCHAR},
      #{item.brandName,jdbcType=VARCHAR},
      #{item.productType,jdbcType=BIT},
      #{item.productCount,jdbcType=BIT},
      #{item.productSpec,jdbcType=VARCHAR},
      #{item.unitCode,jdbcType=VARCHAR},
      #{item.unitName,jdbcType=VARCHAR},
      #{item.taxRate,jdbcType=DECIMAL},
      #{item.productAmount,jdbcType=DECIMAL},
      #{item.productTotalAmount,jdbcType=DECIMAL},
      #{item.actualCount,jdbcType=INTEGER},
      #{item.actualAmount,jdbcType=DECIMAL},
      #{item.colorCode,jdbcType=VARCHAR},
      #{item.colorName,jdbcType=VARCHAR},
      #{item.modelNumber,jdbcType=VARCHAR},
      #{item.factorySkuCode,jdbcType=VARCHAR},
      #{item.batchNo,jdbcType=VARCHAR},
      #{item.batchRemark,jdbcType=VARCHAR},
      #{item.batchCreateTime,jdbcType=TIMESTAMP},
      #{createById,jdbcType=VARCHAR},
      #{createByName,jdbcType=VARCHAR},
      #{createById,jdbcType=VARCHAR},
      #{createByName,jdbcType=VARCHAR},
      now(),now(), #{item.linnum,jdbcType=INTEGER}
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.purchase.domain.RejectRecordDetail">
    insert into reject_record_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rejectRecordId != null">
        reject_record_id,
      </if>
      <if test="rejectRecordCode != null">
        reject_record_code,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="productSpec != null">
        product_spec,
      </if>
      <if test="unitCode != null">
        unit_code,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="productAmount != null">
        product_amount,
      </if>
      <if test="productTotalAmount != null">
        product_total_amount,
      </if>
      <if test="actualCount != null">
        actual_count,
      </if>
      <if test="actualAmount != null">
        actual_amount,
      </if>
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="batchRemark != null">
        batch_remark,
      </if>
      <if test="batchCreateTime != null">
        batch_create_time,
      </if>
      <if test="createById != null">
        create_by_id,
      </if>
      <if test="createByName != null">
        create_by_name,
      </if>
      <if test="updateById != null">
        update_by_id,
      </if>
      <if test="updateByName != null">
        update_by_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="rejectRecordId != null">
        #{rejectRecordId,jdbcType=VARCHAR},
      </if>
      <if test="rejectRecordCode != null">
        #{rejectRecordCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=BIT},
      </if>
      <if test="productSpec != null">
        #{productSpec,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null">
        #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="productAmount != null">
        #{productAmount,jdbcType=DECIMAL},
      </if>
      <if test="productTotalAmount != null">
        #{productTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="actualCount != null">
        #{actualCount,jdbcType=INTEGER},
      </if>
      <if test="actualAmount != null">
        #{actualAmount,jdbcType=DECIMAL},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="batchRemark != null">
        #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="batchCreateTime != null">
        #{batchCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        #{createById,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.purchase.domain.RejectRecordDetail">
    update reject_record_detail
    <set>
      <if test="rejectRecordId != null">
        reject_record_id = #{rejectRecordId,jdbcType=VARCHAR},
      </if>
      <if test="rejectRecordCode != null">
        reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=BIT},
      </if>
      <if test="productSpec != null">
        product_spec = #{productSpec,jdbcType=VARCHAR},
      </if>
      <if test="unitCode != null">
        unit_code = #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=DECIMAL},
      </if>
      <if test="productAmount != null">
        product_amount = #{productAmount,jdbcType=DECIMAL},
      </if>
      <if test="productTotalAmount != null">
        product_total_amount = #{productTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="actualCount != null">
        actual_count = #{actualCount,jdbcType=INTEGER},
      </if>
      <if test="actualAmount != null">
        actual_amount = #{actualAmount,jdbcType=DECIMAL},
      </if>
      <if test="batchNo != null">
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="batchRemark != null">
        batch_remark = #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="batchCreateTime != null">
        batch_create_time = #{batchCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        create_by_id = #{createById,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.purchase.domain.RejectRecordDetail">
    update reject_record_detail
    set reject_record_id = #{rejectRecordId,jdbcType=VARCHAR},
      reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=BIT},
      product_spec = #{productSpec,jdbcType=VARCHAR},
      unit_code = #{unitCode,jdbcType=VARCHAR},
      tax_rate = #{taxRate,jdbcType=DECIMAL},
      product_amount = #{productAmount,jdbcType=DECIMAL},
      product_total_amount = #{productTotalAmount,jdbcType=DECIMAL},
      actual_count = #{actualCount,jdbcType=INTEGER},
      actual_amount = #{actualAmount,jdbcType=DECIMAL},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      batch_remark = #{batchRemark,jdbcType=VARCHAR},
      batch_create_time = #{batchCreateTime,jdbcType=TIMESTAMP},
      create_by_id = #{createById,jdbcType=VARCHAR},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      update_by_id = #{updateById,jdbcType=VARCHAR},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByDetailId" parameterType="com.aiqin.bms.scmp.api.purchase.domain.request.RejectDetailStockRequest">
    UPDATE reject_record_detail
    SET
      actual_count = #{actualCount,jdbcType=INTEGER},
      actual_amount = #{actualAmount,jdbcType=DECIMAL},
      update_time = now()
    WHERE  id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectProductByRejectId" resultType="com.aiqin.bms.scmp.api.purchase.domain.response.RejectRecordDetailResponse" >
    SELECT
      sum(product_count) as productCount ,
      sku_code as skuCode,
      sku_name as skuName,
      brand_name as brandName,
      category_name as categoryName,
      single_count as singleCount,
      product_spec as productSpec,
      unit_name as unitName,
      color_name as colorName,
      model_number as modelNumber,
      tax_rate as taxRate,
      factory_sku_code as factorySkuCode,
      product_type as productType,
      product_amount as productAmount,
      actual_count as actualCount,
      actual_amount as actualAmount,
      sum(product_total_amount) as productTotalAmount,
      sum(actual_count) as actualCount,
      sum(actual_amount) as actualAmount
    FROM reject_record_detail
    WHERE      reject_record_id = #{rejectRecordId,jdbcType=VARCHAR}
    GROUP BY sku_code,product_type

  </select>
  <select id="selectByRejectId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    reject_record_detail
    where
    reject_record_id = #{rejectRecordId,jdbcType=VARCHAR}
  </select>
  <select id="selectByRejectDetailIdList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    reject_record_detail
    where
    id in(
    <foreach collection="list" item="item" separator=","  >
       #{item,jdbcType=VARCHAR}
    </foreach>
    )
  </select>
  <select id="listByRejectIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from
    reject_record_detail
    where
    reject_record_id in(
    <foreach collection="list" item="item" separator=","  >
      #{item,jdbcType=VARCHAR}
    </foreach>
    )
  </select>
</mapper>