<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.RejectApplyRecordDao">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.RejectApplyRecord">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="reject_apply_record_code" jdbcType="VARCHAR" property="rejectApplyRecordCode" />
        <result column="reject_apply_record_name" jdbcType="VARCHAR" property="rejectApplyRecordName" />
        <result column="purchase_group_code" jdbcType="VARCHAR" property="purchaseGroupCode" />
        <result column="purchase_group_name" jdbcType="VARCHAR" property="purchaseGroupName" />
        <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
        <result column="settlement_method_code" jdbcType="VARCHAR" property="settlementMethodCode" />
        <result column="settlement_method_name" jdbcType="VARCHAR" property="settlementMethodName" />
        <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
        <result column="company_name" jdbcType="VARCHAR" property="companyName" />
        <result column="product_count" jdbcType="BIGINT" property="productCount" />
        <result column="return_count" jdbcType="BIGINT" property="returnCount" />
        <result column="gift_count" jdbcType="BIGINT" property="giftCount" />
        <result column="total_count" jdbcType="BIGINT" property="totalCount" />
        <result column="product_tax_amount" jdbcType="DECIMAL" property="productTaxAmount" />
        <result column="gift_tax_amount" jdbcType="DECIMAL" property="giftTaxAmount" />
        <result column="return_tax_amount" jdbcType="DECIMAL" property="returnTaxAmount" />
        <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
        <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
        <result column="position_code" jdbcType="VARCHAR" property="positionCode" />
        <result column="position_name" jdbcType="VARCHAR" property="positionName" />
        <result column="direct_supervisor_code" jdbcType="VARCHAR" property="directSupervisorCode" />
        <result column="direct_supervisor_name" jdbcType="VARCHAR" property="directSupervisorName" />
        <result column="account_code" jdbcType="VARCHAR" property="accountCode" />
        <result column="account_name" jdbcType="VARCHAR" property="accountName" />
        <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
        <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
        <result column="charge_person" jdbcType="VARCHAR" property="chargePerson" />
        <result column="supplier_person" jdbcType="VARCHAR" property="supplierPerson" />
        <result column="supplier_mobile" jdbcType="VARCHAR" property="supplierMobile" />
        <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
        <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
        <result column="city_id" jdbcType="VARCHAR" property="cityId" />
        <result column="city_name" jdbcType="VARCHAR" property="cityName" />
        <result column="district_id" jdbcType="VARCHAR" property="districtId" />
        <result column="district_name" jdbcType="VARCHAR" property="districtName" />
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="apply_record_status" jdbcType="INTEGER" property="applyRecordStatus" />
        <result column="apply_type" jdbcType="INTEGER" property="applyType" />
        <result column="use_status" jdbcType="INTEGER" property="useStatus" />
        <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
        <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
        <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
        <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, reject_apply_record_code, reject_apply_record_name, purchase_group_code, purchase_group_name,
        supplier_code, supplier_name, settlement_method_code, settlement_method_name, company_code,
        company_name, product_count, return_count, gift_count, total_count, product_tax_amount,
        gift_tax_amount, return_tax_amount, brand_id, brand_name, position_code, position_name,
        direct_supervisor_code, direct_supervisor_name, account_code, account_name, contract_code,
        contract_name, charge_person, supplier_person, supplier_mobile, province_id, province_name,
        city_id, city_name, district_id, district_name, detail_address, remark, apply_record_status,
        apply_type, use_status, create_by_id, create_by_name, update_by_id, update_by_name,
        create_time, update_time
    </sql>
    <sql id="LIST_QUERY">
        <where>
            and purchase_group_code in
            <foreach collection="groupList" open="(" close=")" item="item" separator=",">
                #{item.purchaseGroupCode,jdbcType=VARCHAR}
            </foreach>
            <if test="createBeginTime != null">
                and create_time &gt;= #{createBeginTime,jdbcType=VARCHAR}
            </if>
            <if test="createFinishTime != null">
                and create_time &lt;= #{createFinishTime,jdbcType=VARCHAR}
            </if>
            <if test="updateBeginTime != null">
                and update_time &gt;= #{updateBeginTime,jdbcType=VARCHAR}
            </if>
            <if test="updateFinishTime != null">
                and update_time &lt;= #{updateFinishTime,jdbcType=VARCHAR}
            </if>
            <if test="purchaseGroupCode != null and purchaseGroupCode != ''">
                and purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR}
            </if>
            <if test="rejectApplyRecordCode != null and rejectApplyRecordCode != ''">
                and reject_apply_record_code like concat(#{rejectApplyRecordCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="supplierCode != null">
                and supplier_code = #{supplierCode,jdbcType=VARCHAR}
            </if>
            <if test="supplierName != null">
                and supplier_name like concat(#{supplierName,jdbcType=VARCHAR},'%')
            </if>
            <if test="applyType != null ">
                and apply_type = #{applyType,jdbcType=VARCHAR}
            </if>
            <if test="applyRecordStatus != null ">
                and apply_record_status = #{applyRecordStatus,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>
    <select id="list" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from reject_apply_record
          <include refid="LIST_QUERY"/>
        order by id desc
        LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>
    <select id="listCount" resultType="java.lang.Integer">
        select count(1)
        from reject_apply_record
        <include refid="LIST_QUERY"/>
    </select>
    <select id="selectByRejectCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List"></include>
        from reject_apply_record
        where use_status = 0 
        and reject_apply_record_code = #{rejectApplyRecordCode,jdbcType=VARCHAR}
    </select>
    <insert id="insert">
    insert into reject_apply_record (reject_apply_record_code, reject_apply_record_name, purchase_group_code, purchase_group_name, 
      supplier_code, supplier_name, settlement_method_code, settlement_method_name, company_code, company_name, 
      product_count, return_count, gift_count, total_count, product_tax_amount, gift_tax_amount, return_tax_amount, 
      brand_id, brand_name, position_code, position_name, direct_supervisor_code, direct_supervisor_name, 
      account_code, account_name, contract_code, contract_name, charge_person, supplier_person, 
      supplier_mobile, province_id, province_name, city_id, city_name, district_id, 
      district_name, detail_address, remark, apply_record_status, apply_type,
      create_by_id, create_by_name, update_by_id, update_by_name, create_time, update_time)
    values (#{rejectApplyRecordCode,jdbcType=VARCHAR}, #{rejectApplyRecordName,jdbcType=VARCHAR}, 
      #{purchaseGroupCode,jdbcType=VARCHAR}, #{purchaseGroupName,jdbcType=VARCHAR}, #{supplierCode,jdbcType=VARCHAR}, 
      #{supplierName,jdbcType=VARCHAR}, #{settlementMethodCode,jdbcType=VARCHAR}, #{settlementMethodName,jdbcType=VARCHAR}, 
      #{companyCode,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{productCount,jdbcType=BIGINT}, 
      #{returnCount,jdbcType=BIGINT}, #{giftCount,jdbcType=BIGINT}, #{totalCount,jdbcType=BIGINT}, 
      #{productTaxAmount,jdbcType=DECIMAL}, #{giftTaxAmount,jdbcType=DECIMAL}, #{returnTaxAmount,jdbcType=DECIMAL}, 
      #{brandId,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, #{positionCode,jdbcType=VARCHAR}, 
      #{positionName,jdbcType=VARCHAR}, #{directSupervisorCode,jdbcType=VARCHAR}, #{directSupervisorName,jdbcType=VARCHAR}, 
      #{accountCode,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR}, 
      #{contractName,jdbcType=VARCHAR}, #{chargePerson,jdbcType=VARCHAR}, #{supplierPerson,jdbcType=VARCHAR}, 
      #{supplierMobile,jdbcType=VARCHAR}, #{provinceId,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{districtId,jdbcType=VARCHAR}, 
      #{districtName,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{applyRecordStatus,jdbcType=INTEGER}, #{applyType,jdbcType=INTEGER},
      #{createById,jdbcType=VARCHAR}, #{createByName,jdbcType=VARCHAR}, #{updateById,jdbcType=VARCHAR}, 
      #{updateByName,jdbcType=VARCHAR}, now(), now())
  </insert>
  <update id="update">
      update reject_apply_record
      <set>
          <if test="rejectApplyRecordName != null">
              reject_apply_record_name = #{rejectApplyRecordName,jdbcType=VARCHAR},
          </if>
          <if test="purchaseGroupCode != null">
              purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR},
          </if>
          <if test="purchaseGroupName != null">
              purchase_group_name = #{purchaseGroupName,jdbcType=VARCHAR},
          </if>
          <if test="supplierCode != null">
              supplier_code = #{supplierCode,jdbcType=VARCHAR},
          </if>
          <if test="supplierName != null">
              supplier_name = #{supplierName,jdbcType=VARCHAR},
          </if>
          <if test="settlementMethodCode != null">
              settlement_method_code = #{settlementMethodCode,jdbcType=VARCHAR},
          </if>
          <if test="settlementMethodName != null">
              settlement_method_name = #{settlementMethodName,jdbcType=VARCHAR},
          </if>
          <if test="companyCode != null">
              company_code = #{companyCode,jdbcType=VARCHAR},
          </if>
          <if test="companyName != null">
              company_name = #{companyName,jdbcType=VARCHAR},
          </if>
          <if test="productCount != null">
              product_count = #{productCount,jdbcType=BIGINT},
          </if>
          <if test="returnCount != null">
              return_count = #{returnCount,jdbcType=BIGINT},
          </if>
          <if test="giftCount != null">
              gift_count = #{giftCount,jdbcType=BIGINT},
          </if>
          <if test="totalCount != null">
              total_count = #{totalCount,jdbcType=BIGINT},
          </if>
          <if test="productTaxAmount != null">
              product_tax_amount = #{productTaxAmount,jdbcType=DECIMAL},
          </if>
          <if test="giftTaxAmount != null">
              gift_tax_amount = #{giftTaxAmount,jdbcType=DECIMAL},
          </if>
          <if test="returnTaxAmount != null">
              return_tax_amount = #{returnTaxAmount,jdbcType=DECIMAL},
          </if>
          <if test="brandId != null">
              brand_id = #{brandId,jdbcType=VARCHAR},
          </if>
          <if test="brandName != null">
              brand_name = #{brandName,jdbcType=VARCHAR},
          </if>
          <if test="positionCode != null">
              position_code = #{positionCode,jdbcType=VARCHAR},
          </if>
          <if test="positionName != null">
              position_name = #{positionName,jdbcType=VARCHAR},
          </if>
          <if test="directSupervisorCode != null">
              direct_supervisor_code = #{directSupervisorCode,jdbcType=VARCHAR},
          </if>
          <if test="directSupervisorName != null">
              direct_supervisor_name = #{directSupervisorName,jdbcType=VARCHAR},
          </if>
          <if test="accountCode != null">
              account_code = #{accountCode,jdbcType=VARCHAR},
          </if>
          <if test="accountName != null">
              account_name = #{accountName,jdbcType=VARCHAR},
          </if>
          <if test="contractCode != null">
              contract_code = #{contractCode,jdbcType=VARCHAR},
          </if>
          <if test="contractName != null">
              contract_name = #{contractName,jdbcType=VARCHAR},
          </if>
          <if test="chargePerson != null">
              charge_person = #{chargePerson,jdbcType=VARCHAR},
          </if>
          <if test="supplierPerson != null">
              supplier_person = #{supplierPerson,jdbcType=VARCHAR},
          </if>
          <if test="supplierMobile != null">
              supplier_mobile = #{supplierMobile,jdbcType=VARCHAR},
          </if>
          <if test="provinceId != null">
              province_id = #{provinceId,jdbcType=VARCHAR},
          </if>
          <if test="provinceName != null">
              province_name = #{provinceName,jdbcType=VARCHAR},
          </if>
          <if test="cityId != null">
              city_id = #{cityId,jdbcType=VARCHAR},
          </if>
          <if test="cityName != null">
              city_name = #{cityName,jdbcType=VARCHAR},
          </if>
          <if test="districtId != null">
              district_id = #{districtId,jdbcType=VARCHAR},
          </if>
          <if test="districtName != null">
              district_name = #{districtName,jdbcType=VARCHAR},
          </if>
          <if test="detailAddress != null">
              detail_address = #{detailAddress,jdbcType=VARCHAR},
          </if>
          <if test="remark != null">
              remark = #{remark,jdbcType=VARCHAR},
          </if>
          <if test="applyRecordStatus != null">
              apply_record_status = #{applyRecordStatus,jdbcType=INTEGER},
          </if>
          <if test="applyType != null">
              apply_type = #{applyType,jdbcType=INTEGER},
          </if>
          <if test="useStatus != null">
              use_status = #{useStatus,jdbcType=INTEGER},
          </if>
          <if test="updateById != null">
              update_by_id = #{updateById,jdbcType=VARCHAR},
          </if>
          <if test="updateByName != null">
              update_by_name = #{updateByName,jdbcType=VARCHAR},
          </if>
              update_time = now(),
      </set>
      where reject_apply_record_code = #{rejectApplyRecordCode,jdbcType=VARCHAR}
  </update>
</mapper>