<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.RejectRecordBatchDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.RejectRecordBatch">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="reject_record_code" jdbcType="VARCHAR" property="rejectRecordCode" />
    <result column="batch_code" jdbcType="VARCHAR" property="batchCode" />
    <result column="batch_info_code" jdbcType="VARCHAR" property="batchInfoCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="batch_remark" jdbcType="VARCHAR" property="batchRemark" />
    <result column="product_date" jdbcType="VARCHAR" property="productDate" />
    <result column="be_overdue_date" jdbcType="VARCHAR" property="beOverdueDate" />
    <result column="total_count" jdbcType="BIGINT" property="totalCount" />
    <result column="actual_total_count" jdbcType="BIGINT" property="actualTotalCount" />
    <result column="purchase_price" jdbcType="DECIMAL" property="purchasePrice" />
    <result column="location_code" jdbcType="VARCHAR" property="locationCode" />
    <result column="line_code" jdbcType="INTEGER" property="lineCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, reject_record_code, batch_code, batch_info_code, sku_code, sku_name, supplier_code, 
    supplier_name, batch_remark, product_date, be_overdue_date, total_count, actual_total_count, purchase_price,
    location_code, line_code, create_time, update_time
  </sql>
  <insert id="insertAll">
    insert into reject_record_batch (reject_record_code, batch_code, batch_info_code, sku_code, sku_name,
      supplier_code, supplier_name, batch_remark, product_date, be_overdue_date, total_count,
      actual_total_count, purchase_price, location_code, line_code, create_time, update_time)
    values
    <foreach collection="list" separator="," item="item">
    (#{item.rejectRecordCode,jdbcType=VARCHAR}, #{item.batchCode,jdbcType=VARCHAR},
      #{item.batchInfoCode,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR}, #{item.skuName,jdbcType=VARCHAR},
      #{item.supplierCode,jdbcType=VARCHAR}, #{item.supplierName,jdbcType=VARCHAR}, #{item.batchRemark,jdbcType=VARCHAR},
      #{item.productDate,jdbcType=VARCHAR}, #{item.beOverdueDate,jdbcType=VARCHAR}, #{item.totalCount,jdbcType=BIGINT},
      #{item.actualTotalCount,jdbcType=BIGINT}, #{item.purchasePrice,jdbcType=DECIMAL}, #{item.locationCode,jdbcType=VARCHAR},
      #{item.lineCode,jdbcType=INTEGER}, now(), now())
    </foreach>
  </insert>
  <update id="update">
    update reject_record_batch
    <set>
      <if test="rejectRecordCode != null">
        reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR},
      </if>
      <if test="batchCode != null">
        batch_code = #{batchCode,jdbcType=VARCHAR},
      </if>
      <if test="batchInfoCode != null">
        batch_info_code = #{batchInfoCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="batchRemark != null">
        batch_remark = #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null">
        product_date = #{productDate,jdbcType=VARCHAR},
      </if>
      <if test="beOverdueDate != null">
        be_overdue_date = #{beOverdueDate,jdbcType=VARCHAR},
      </if>
      <if test="totalCount != null">
        total_count = #{totalCount,jdbcType=BIGINT},
      </if>
      <if test="actualTotalCount != null">
        actual_total_count = #{actualTotalCount,jdbcType=BIGINT},
      </if>
      <if test="purchasePrice != null">
        purchase_price = #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="locationCode != null">
        location_code = #{locationCode,jdbcType=VARCHAR},
      </if>
      <if test="lineCode != null">
        line_code = #{lineCode,jdbcType=INTEGER},
      </if>
        update_time = now(),
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="list" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from reject_record_batch
    where reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR}
    LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  <select id="listCount" resultType="java.lang.Integer">
    select count(1)
    from reject_record_batch
    where reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR}
  </select>
  <select id="rejectBatchListBySap" resultType="com.aiqin.bms.scmp.api.abutment.domain.request.purchase.ScmpPurchaseBatch">
    select
    purchase_oder_code purchaseOrderCode, batch_code batchNo, batch_info_code batchInfoCode, sku_code skuCode,
    sku_name skuName, supplier_code supplierCode, supplier_name supplierName, batch_remark batchRemark,
    product_date productDate, actual_total_count actualTotalCount, location_code locationCode, line_code lineCode
    from reject_record_batch
    where sku_code = #{skuCode,jdbcType=VARCHAR}
    and reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR}
    and line_code = #{lineCode,jdbcType=INTEGER}
  </select>
  <select id="rejectBatchInfoList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from reject_record_batch
    where reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR}
  </select>
</mapper>