<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.RejectRecordDetailDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.RejectRecordDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="reject_record_id" jdbcType="VARCHAR" property="rejectRecordId" />
    <result column="reject_record_code" jdbcType="VARCHAR" property="rejectRecordCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="brand_id" jdbcType="VARCHAR" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="product_type" jdbcType="BIT" property="productType" />
    <result column="product_spec" jdbcType="VARCHAR" property="productSpec" />
    <result column="product_unit" jdbcType="VARCHAR" property="productUnit" />
    <result column="tax_rate" jdbcType="INTEGER" property="taxRate" />
    <result column="product_amount" jdbcType="BIGINT" property="productAmount" />
    <result column="product_total_amount" jdbcType="BIGINT" property="productTotalAmount" />
    <result column="actual_count" jdbcType="INTEGER" property="actualCount" />
    <result column="actual_amount" jdbcType="BIGINT" property="actualAmount" />
    <result column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="batch_remark" jdbcType="VARCHAR" property="batchRemark" />
    <result column="batch_create_time" jdbcType="TIMESTAMP" property="batchCreateTime" />
    <result column="create_by_id" jdbcType="VARCHAR" property="createById" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="update_by_id" jdbcType="VARCHAR" property="updateById" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, reject_record_id, reject_record_code, sku_code, sku_name, product_id, category_id, 
    category_name, brand_id, brand_name, product_type, product_spec, product_unit, tax_rate, 
    product_amount, product_total_amount, actual_count, actual_amount, batch_no, batch_remark, 
    batch_create_time, create_by_id, create_by_name, update_by_id, update_by_name, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reject_record_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from reject_record_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertAll"  >
    insert into reject_record_detail ( reject_record_id, reject_record_code,
      sku_code, sku_name, product_id, 
      category_id, category_name, brand_id, 
      brand_name, product_type, product_spec, 
      product_unit, tax_rate, product_amount, 
      product_total_amount, actual_count, actual_amount, 
      batch_no, batch_remark, batch_create_time, 
      create_by_id, create_by_name,  create_time, update_time
      )
    values
    <foreach collection="list" separator="," item="item">
    (
      #{rejectRecordId,jdbcType=VARCHAR},
      #{rejectRecordCode,jdbcType=VARCHAR},
      #{item.skuCode,jdbcType=VARCHAR},
      #{item.skuName,jdbcType=VARCHAR},
      #{item.productId,jdbcType=VARCHAR},
      #{item.categoryId,jdbcType=VARCHAR},
      #{item.categoryName,jdbcType=VARCHAR},
      #{item.brandId,jdbcType=VARCHAR},
      #{item.brandName,jdbcType=VARCHAR},
      #{item.productType,jdbcType=BIT},
      #{item.productSpec,jdbcType=VARCHAR},
      #{item.productUnit,jdbcType=VARCHAR},
      #{item.taxRate,jdbcType=INTEGER},
      #{item.productAmount,jdbcType=BIGINT},
      #{item.productTotalAmount,jdbcType=BIGINT},
      #{item.actualCount,jdbcType=INTEGER},
      #{item.actualAmount,jdbcType=BIGINT},
      #{item.batchNo,jdbcType=VARCHAR},
      #{item.batchRemark,jdbcType=VARCHAR},
      #{item.batchCreateTime,jdbcType=TIMESTAMP},
      #{createById,jdbcType=VARCHAR},
      #{createByName,jdbcType=VARCHAR},
      now(),now()
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.purchase.domain.RejectRecordDetail">
    insert into reject_record_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rejectRecordId != null">
        reject_record_id,
      </if>
      <if test="rejectRecordCode != null">
        reject_record_code,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="productSpec != null">
        product_spec,
      </if>
      <if test="productUnit != null">
        product_unit,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="productAmount != null">
        product_amount,
      </if>
      <if test="productTotalAmount != null">
        product_total_amount,
      </if>
      <if test="actualCount != null">
        actual_count,
      </if>
      <if test="actualAmount != null">
        actual_amount,
      </if>
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="batchRemark != null">
        batch_remark,
      </if>
      <if test="batchCreateTime != null">
        batch_create_time,
      </if>
      <if test="createById != null">
        create_by_id,
      </if>
      <if test="createByName != null">
        create_by_name,
      </if>
      <if test="updateById != null">
        update_by_id,
      </if>
      <if test="updateByName != null">
        update_by_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="rejectRecordId != null">
        #{rejectRecordId,jdbcType=VARCHAR},
      </if>
      <if test="rejectRecordCode != null">
        #{rejectRecordCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=BIT},
      </if>
      <if test="productSpec != null">
        #{productSpec,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null">
        #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=INTEGER},
      </if>
      <if test="productAmount != null">
        #{productAmount,jdbcType=BIGINT},
      </if>
      <if test="productTotalAmount != null">
        #{productTotalAmount,jdbcType=BIGINT},
      </if>
      <if test="actualCount != null">
        #{actualCount,jdbcType=INTEGER},
      </if>
      <if test="actualAmount != null">
        #{actualAmount,jdbcType=BIGINT},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="batchRemark != null">
        #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="batchCreateTime != null">
        #{batchCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        #{createById,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.purchase.domain.RejectRecordDetail">
    update reject_record_detail
    <set>
      <if test="rejectRecordId != null">
        reject_record_id = #{rejectRecordId,jdbcType=VARCHAR},
      </if>
      <if test="rejectRecordCode != null">
        reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=BIT},
      </if>
      <if test="productSpec != null">
        product_spec = #{productSpec,jdbcType=VARCHAR},
      </if>
      <if test="productUnit != null">
        product_unit = #{productUnit,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=INTEGER},
      </if>
      <if test="productAmount != null">
        product_amount = #{productAmount,jdbcType=BIGINT},
      </if>
      <if test="productTotalAmount != null">
        product_total_amount = #{productTotalAmount,jdbcType=BIGINT},
      </if>
      <if test="actualCount != null">
        actual_count = #{actualCount,jdbcType=INTEGER},
      </if>
      <if test="actualAmount != null">
        actual_amount = #{actualAmount,jdbcType=BIGINT},
      </if>
      <if test="batchNo != null">
        batch_no = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="batchRemark != null">
        batch_remark = #{batchRemark,jdbcType=VARCHAR},
      </if>
      <if test="batchCreateTime != null">
        batch_create_time = #{batchCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createById != null">
        create_by_id = #{createById,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null">
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="updateById != null">
        update_by_id = #{updateById,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null">
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.purchase.domain.RejectRecordDetail">
    update reject_record_detail
    set reject_record_id = #{rejectRecordId,jdbcType=VARCHAR},
      reject_record_code = #{rejectRecordCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      brand_id = #{brandId,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=BIT},
      product_spec = #{productSpec,jdbcType=VARCHAR},
      product_unit = #{productUnit,jdbcType=VARCHAR},
      tax_rate = #{taxRate,jdbcType=INTEGER},
      product_amount = #{productAmount,jdbcType=BIGINT},
      product_total_amount = #{productTotalAmount,jdbcType=BIGINT},
      actual_count = #{actualCount,jdbcType=INTEGER},
      actual_amount = #{actualAmount,jdbcType=BIGINT},
      batch_no = #{batchNo,jdbcType=VARCHAR},
      batch_remark = #{batchRemark,jdbcType=VARCHAR},
      batch_create_time = #{batchCreateTime,jdbcType=TIMESTAMP},
      create_by_id = #{createById,jdbcType=VARCHAR},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      update_by_id = #{updateById,jdbcType=VARCHAR},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>