<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.mapper.ReturnOrderInfoItemMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.pojo.returngoods.ReturnOrderInfoItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="return_order_code" jdbcType="VARCHAR" property="returnOrderCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="spec_code" jdbcType="VARCHAR" property="specCode" />
    <result column="color_name" jdbcType="VARCHAR" property="colorName" />
    <result column="color_code" jdbcType="VARCHAR" property="colorCode" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="model_code" jdbcType="VARCHAR" property="modelCode" />
    <result column="base_product_content" jdbcType="INTEGER" property="baseProductContent" />
    <result column="unit_code" jdbcType="VARCHAR" property="unitCode" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="zero_disassembly_coefficient" jdbcType="INTEGER" property="zeroDisassemblyCoefficient" />
    <result column="give_promotion" jdbcType="INTEGER" property="givePromotion" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="num" jdbcType="BIGINT" property="num" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="activity_code" jdbcType="VARCHAR" property="activityCode" />
    <result column="product_line_num" jdbcType="BIGINT" property="productLineNum" />
    <result column="promotion_line_num" jdbcType="BIGINT" property="promotionLineNum" />
    <result column="product_status" jdbcType="INTEGER" property="productStatus" />
    <result column="actual_inbound_num" jdbcType="INTEGER" property="actualInboundNum" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="channel_unit_price" jdbcType="DECIMAL" property="channelUnitPrice" />
    <result column="total_channel_price" jdbcType="DECIMAL" property="totalChannelPrice" />
    <result column="actual_channel_unit_price" jdbcType="DECIMAL" property="actualChannelUnitPrice" />
    <result column="actual_total_channel_price" jdbcType="DECIMAL" property="actualTotalChannelPrice" />
    <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
  </resultMap>
  <sql id="Base_Column_List">
    id, return_order_code, sku_code, sku_name, picture_url, spec, spec_code, color_name,
    color_code, model, model_code, base_product_content, unit_code, unit_name, zero_disassembly_coefficient,
    give_promotion, price, num, amount, activity_code, product_line_num,
    promotion_line_num, product_status, actual_inbound_num, company_name, company_code,
    channel_unit_price, total_channel_price, actual_channel_unit_price, actual_total_channel_price,
    actual_amount, actual_price, tax
  </sql>
  <select id="selectByReturnOrderCode" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from return_order_info_item
      where return_order_code = #{returnOrderCode,jdbcType=VARCHAR}
  </select>
  <insert id="insertList">
    insert into return_order_info_item (return_order_code, sku_code, sku_name, picture_url, spec, spec_code, color_name,
      color_code, model, model_code, base_product_content, unit_code, unit_name, zero_disassembly_coefficient,
      give_promotion, price, num, amount, activity_code, product_line_num, promotion_line_num, product_status,
      actual_inbound_num, company_name, company_code,  channel_unit_price, total_channel_price, actual_channel_unit_price,
      actual_total_channel_price, actual_amount, actual_price, tax)
    values
    <foreach collection="list" item="item"  separator=",">
    (#{item.returnOrderCode,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR}, #{item.skuName,jdbcType=VARCHAR},
      #{item.pictureUrl,jdbcType=VARCHAR}, #{item.spec,jdbcType=VARCHAR}, #{item.specCode,jdbcType=VARCHAR},
      #{item.colorName,jdbcType=VARCHAR}, #{item.colorCode,jdbcType=VARCHAR}, #{item.model,jdbcType=VARCHAR},
      #{item.modelCode,jdbcType=VARCHAR}, #{item.baseProductContent,jdbcType=INTEGER}, #{item.unitCode,jdbcType=VARCHAR},
      #{item.unitName,jdbcType=VARCHAR},  #{item.zeroDisassemblyCoefficient,jdbcType=INTEGER},
      #{item.givePromotion,jdbcType=INTEGER}, #{item.price,jdbcType=DECIMAL}, #{item.num,jdbcType=BIGINT},
      #{item.amount,jdbcType=DECIMAL}, #{item.activityCode,jdbcType=VARCHAR}, #{item.productLineNum,jdbcType=BIGINT},
      #{item.promotionLineNum,jdbcType=BIGINT}, #{item.productStatus,jdbcType=INTEGER},
      #{item.actualInboundNum,jdbcType=INTEGER}, #{item.companyName,jdbcType=VARCHAR},
      #{item.companyCode,jdbcType=VARCHAR}, #{item.channelUnitPrice,jdbcType=DECIMAL},
      #{item.totalChannelPrice,jdbcType=DECIMAL}, #{item.actualChannelUnitPrice,jdbcType=DECIMAL},
      #{item.actualTotalChannelPrice,jdbcType=DECIMAL}, #{item.actualAmount,jdbcType=DECIMAL},
      #{item.actualPrice,jdbcType=DECIMAL}, #{item.tax,jdbcType=DECIMAL})
    </foreach>
  </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into return_order_info_item (id, return_order_code, sku_code,
      sku_name, picture_url, spec,
      spec_code, color_name, color_code,
      model, model_code, base_product_content,
      unit_code, unit_name, zero_disassembly_coefficient,
      give_promotion, batch_code, price,
      num, amount, activity_code,
      product_line_num, promotion_line_num, product_status,
      actual_inbound_num, company_name, company_code,
      channel_unit_price, total_channel_price, actual_channel_unit_price,
      actual_total_channel_price, actual_amount, actual_price
      )
    values
    <foreach collection="list" open="(" close=")" item="item" separator=",">
    (#{item.id,jdbcType=BIGINT}, #{item.returnOrderCode,jdbcType=VARCHAR}, #{item.skuCode,jdbcType=VARCHAR},
      #{item.skuName,jdbcType=VARCHAR}, #{item.pictureUrl,jdbcType=VARCHAR}, #{item.spec,jdbcType=VARCHAR},
      #{item.specCode,jdbcType=VARCHAR}, #{item.colorName,jdbcType=VARCHAR}, #{item.colorCode,jdbcType=VARCHAR},
      #{item.model,jdbcType=VARCHAR}, #{item.modelCode,jdbcType=VARCHAR}, #{item.baseProductContent,jdbcType=INTEGER},
      #{item.unitCode,jdbcType=VARCHAR}, #{item.unitName,jdbcType=VARCHAR}, #{item.zeroDisassemblyCoefficient,jdbcType=INTEGER},
      #{item.givePromotion,jdbcType=INTEGER}, #{item.batchCode,jdbcType=VARCHAR}, #{item.price,jdbcType=DECIMAL},
      #{item.num,jdbcType=BIGINT}, #{item.amount,jdbcType=DECIMAL}, #{item.activityCode,jdbcType=VARCHAR},
      #{item.productLineNum,jdbcType=BIGINT}, #{item.promotionLineNum,jdbcType=BIGINT}, #{item.productStatus,jdbcType=INTEGER},
      #{item.actualInboundNum,jdbcType=INTEGER}, #{item.companyName,jdbcType=VARCHAR}, #{item.companyCode,jdbcType=VARCHAR},
      #{item.channelUnitPrice,jdbcType=DECIMAL}, #{item.totalChannelPrice,jdbcType=DECIMAL}, #{item.actualChannelUnitPrice,jdbcType=DECIMAL},
      #{item.actualTotalChannelPrice,jdbcType=DECIMAL}, #{item.actualAmount,jdbcType=DECIMAL}, #{item.actualPrice,jdbcType=DECIMAL}
      )
    </foreach>
    </insert>
    <update id="update">
        update return_order_info_item
        <set>
            <if test="returnOrderCode != null">
                return_order_code = #{returnOrderCode,jdbcType=VARCHAR},
            </if>
            <if test="skuCode != null">
                sku_code = #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="skuName != null">
                sku_name = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="pictureUrl != null">
                picture_url = #{pictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="spec != null">
                spec = #{spec,jdbcType=VARCHAR},
            </if>
            <if test="specCode != null">
                spec_code = #{specCode,jdbcType=VARCHAR},
            </if>
            <if test="colorName != null">
                color_name = #{colorName,jdbcType=VARCHAR},
            </if>
            <if test="colorCode != null">
                color_code = #{colorCode,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="modelCode != null">
                model_code = #{modelCode,jdbcType=VARCHAR},
            </if>
            <if test="baseProductContent != null">
                base_product_content = #{baseProductContent,jdbcType=INTEGER},
            </if>
            <if test="unitCode != null">
                unit_code = #{unitCode,jdbcType=VARCHAR},
            </if>
            <if test="unitName != null">
                unit_name = #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="zeroDisassemblyCoefficient != null">
                zero_disassembly_coefficient = #{zeroDisassemblyCoefficient,jdbcType=INTEGER},
            </if>
            <if test="givePromotion != null">
                give_promotion = #{givePromotion,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="activityCode != null">
                activity_code = #{activityCode,jdbcType=VARCHAR},
            </if>
            <if test="productLineNum != null">
                product_line_num = #{productLineNum,jdbcType=BIGINT},
            </if>
            <if test="promotionLineNum != null">
                promotion_line_num = #{promotionLineNum,jdbcType=BIGINT},
            </if>
            <if test="productStatus != null">
                product_status = #{productStatus,jdbcType=INTEGER},
            </if>
            <if test="actualInboundNum != null">
                actual_inbound_num = #{actualInboundNum,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                company_code = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="channelUnitPrice != null">
                channel_unit_price = #{channelUnitPrice,jdbcType=DECIMAL},
            </if>
            <if test="totalChannelPrice != null">
                total_channel_price = #{totalChannelPrice,jdbcType=DECIMAL},
            </if>
            <if test="actualChannelUnitPrice != null">
                actual_channel_unit_price = #{actualChannelUnitPrice,jdbcType=DECIMAL},
            </if>
            <if test="actualTotalChannelPrice != null">
                actual_total_channel_price = #{actualTotalChannelPrice,jdbcType=DECIMAL},
            </if>
            <if test="actualAmount != null">
                actual_amount = #{actualAmount,jdbcType=DECIMAL},
            </if>
            <if test="actualPrice != null">
                actual_price = #{actualPrice,jdbcType=DECIMAL},
            </if>
        </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateByReturnOrderCodeSelective" parameterType="com.aiqin.bms.scmp.api.purchase.domain.pojo.returngoods.ReturnOrderInfoItem">
        update return_order_info_item
        <set>
            <if test="returnOrderCode != null">
                return_order_code = #{returnOrderCode,jdbcType=VARCHAR},
            </if>
            <if test="skuCode != null">
                sku_code = #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="skuName != null">
                sku_name = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="pictureUrl != null">
                picture_url = #{pictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="spec != null">
                spec = #{spec,jdbcType=VARCHAR},
            </if>
            <if test="specCode != null">
                spec_code = #{specCode,jdbcType=VARCHAR},
            </if>
            <if test="colorName != null">
                color_name = #{colorName,jdbcType=VARCHAR},
            </if>
            <if test="colorCode != null">
                color_code = #{colorCode,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="modelCode != null">
                model_code = #{modelCode,jdbcType=VARCHAR},
            </if>
            <if test="baseProductContent != null">
                base_product_content = #{baseProductContent,jdbcType=INTEGER},
            </if>
            <if test="unitCode != null">
                unit_code = #{unitCode,jdbcType=VARCHAR},
            </if>
            <if test="unitName != null">
                unit_name = #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="zeroDisassemblyCoefficient != null">
                zero_disassembly_coefficient = #{zeroDisassemblyCoefficient,jdbcType=INTEGER},
            </if>
            <if test="givePromotion != null">
                give_promotion = #{givePromotion,jdbcType=INTEGER},
            </if>
            <if test="batchCode != null">
                batch_code = #{batchNumber,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="activityCode != null">
                activity_code = #{activityCode,jdbcType=VARCHAR},
            </if>
            <if test="productLineNum != null">
                product_line_num = #{productLineNum,jdbcType=BIGINT},
            </if>
            <if test="promotionLineNum != null">
                promotion_line_num = #{promotionLineNum,jdbcType=BIGINT},
            </if>
            <if test="productStatus != null">
                product_status = #{productStatus,jdbcType=INTEGER},
            </if>
            <if test="actualInboundNum != null">
                actual_inbound_num = #{actualInboundNum,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                company_code = #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="channelUnitPrice != null">
                channel_unit_price = #{channelUnitPrice,jdbcType=DECIMAL},
            </if>
            <if test="totalChannelPrice != null">
                total_channel_price = #{totalChannelPrice,jdbcType=DECIMAL},
            </if>
            <if test="actualChannelUnitPrice != null">
                actual_channel_unit_price = #{actualChannelUnitPrice,jdbcType=DECIMAL},
            </if>
            <if test="actualTotalChannelPrice != null">
                actual_total_channel_price = #{actualTotalChannelPrice,jdbcType=DECIMAL},
            </if>
            <if test="actualAmount != null">
                actual_amount = #{actualAmount,jdbcType=DECIMAL},
            </if>
            <if test="actualPrice != null">
                actual_price = #{actualPrice,jdbcType=DECIMAL},
            </if>
        </set>
        where return_order_code = #{returnOrderCode,jdbcType=VARCHAR}
    </update>
    <update id="updateActualInboundNumByIdAndReturnOrderCode">
        <foreach collection="list" open="" close="" separator=";" item="item">
       update return_order_info_item
            set
              actual_inbound_num = #{item.actualInboundNum,jdbcType=INTEGER},
            where id = #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <select id="listDetailForSap" resultMap="BaseResultMap">
        select
          <include refid="Base_Column_List" />
        from return_order_info_item
        where return_order_code in
            <foreach collection="orderCodeList" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
    </select>
    <select id="returnOrderOne" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from return_order_info_item
        where return_order_code = #{returnOrderCode,jdbcType=VARCHAR}
        and sku_code = #{skuCode,jdbcType=VARCHAR}
        and product_line_num = #{lineCode,jdbcType=BIGINT}
    </select>
    <select id="list" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from return_order_info_item
        where return_order_code = #{returnOrderCode,jdbcType=VARCHAR}
        LIMIT #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>
    <select id="listCount" resultType="java.lang.Integer">
        select count(1)
        from return_order_info_item
        where return_order_code = #{returnOrderCode,jdbcType=VARCHAR}
    </select>
</mapper>