<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.mapper.TransportLogMapper">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.pojo.transport.TransportLog">
        <id column="id" jdbcType="BIGINT" property="id" />
        <id column="transport_code" jdbcType="VARCHAR" property="transportCode" />
        <id column="type" jdbcType="VARCHAR" property="type" />
        <id column="content" jdbcType="VARCHAR" property="content" />
        <id column="remark" jdbcType="VARCHAR" property="remark" />
        <id column="create_by" jdbcType="VARCHAR" property="createBy" />
        <id column="create_time" jdbcType="DATE" property="createTime" />
        <id column="update_by" jdbcType="VARCHAR" property="updateBy" />
        <id column="update_time" jdbcType="DATE" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_sql">
        id,transport_code,type,content,remark,create_by,create_time,update_by,update_time
    </sql>
    <insert id="insertOne">
        insert into transport_log (transport_code,type,content,remark,del_flag,create_by,create_time,update_by,update_time) values (
        #{transportCode},#{type},#{content},#{remark},#{delFlag},#{createBy},now(),#{updateBy},now()
        )
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into transport_log (transport_code,type,content,remark,create_by,create_time,update_by,update_time)
        values
        <foreach collection="list" item="item" separator="," close="" open="">
            (
            #{item.transportCode},#{item.type},#{item.content},#{item.remark},#{item.createBy},#{item.createTime},#{item.updateBy},#{item.updateTime}
            )
        </foreach>
    </insert>
    <select id="selectList" resultMap="BaseResultMap">
        select <include refid="Base_Column_sql"></include> from transport_log where transport_code=#{transportCode}
    </select>

</mapper>