<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.AllocationProductMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.AllocationProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="allocation_code" jdbcType="VARCHAR" property="allocationCode" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="classes" jdbcType="VARCHAR" property="classes" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
    <result column="tax_price" jdbcType="DECIMAL" property="taxPrice" />
    <result column="quantity" jdbcType="BIGINT" property="quantity" />
    <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="line_num" jdbcType="BIGINT" property="lineNum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, allocation_code, sku_code, sku_name, category, brand, color, specification, model, 
    unit, classes, `type`, tax, tax_price, quantity, tax_amount,
    del_flag, create_time, create_by, update_time, update_by, picture_url, line_num
  </sql>

  <sql id="Allocation_Column_List">
    a.id, a.allocation_code, a.sku_code, a.sku_name, a.category, a.brand, a.color, a.specification, a.model,
    a.unit, a.classes, a.`type`, a.tax, a.tax_price, a.quantity, a.tax_amount,
    a.del_flag, a.create_time, a.create_by, a.update_time, a.update_by, a.picture_url, a.line_num,
    c.pra_outbound_main_num callout_quantity,c.pra_tax_amount callout_tax_amount,
    d.pra_inbound_main_num callin_quantity,d.pra_tax_amount callin_tax_amount
  </sql>
  <resultMap id="ListResultMap" type="com.aiqin.bms.scmp.api.product.domain.response.allocation.AllocationProductResVo">
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="classes" jdbcType="VARCHAR" property="classes" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
    <result column="tax_price" jdbcType="DECIMAL" property="taxPrice" />
    <result column="quantity" jdbcType="BIGINT" property="quantity" />
    <result column="callout_quantity" jdbcType="BIGINT" property="callOutQuantity" />
    <result column="callin_quantity" jdbcType="BIGINT" property="callInQuantity" />
    <result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
    <result column="callout_tax_amount" jdbcType="DECIMAL" property="callOutTaxAmount" />
    <result column="callin_tax_amount" jdbcType="DECIMAL" property="callInTaxAmount" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="picture_url" jdbcType="VARCHAR" property="pictureUrl" />
    <result column="line_num" jdbcType="BIGINT" property="lineNum" />
  </resultMap>
  <select id="selectByAllocationCode" parameterType="java.lang.String" resultMap="ListResultMap">
    select 
    <include refid="Allocation_Column_List" />
    from allocation_product a
    LEFT JOIN allocation b ON a.allocation_code = b.allocation_code
    LEFT JOIN outbound_product c ON b.outbound_oder_code = c.outbound_oder_code
    AND a.sku_code = c.sku_code
    LEFT JOIN inbound_product d ON b.inbound_oder_code = d.inbound_oder_code
    AND a.sku_code = d.sku_code
    where a.allocation_code = #{allocationCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from allocation_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="saveList" parameterType="java.util.List">
    insert into allocation_product (id, allocation_code, sku_code, 
      sku_name, category, brand, 
      color, specification, model, 
      unit, classes, type, tax,
      tax_price, quantity, tax_amount, 
      del_flag, create_time, create_by, 
      update_time, update_by, picture_url, line_num)
    values
    <foreach collection="list" item="t" index= "index" separator =",">
      (#{t.id,jdbcType=BIGINT},
      #{t.allocationCode,jdbcType=VARCHAR},
      #{t.skuCode,jdbcType=VARCHAR},
      #{t.skuName,jdbcType=VARCHAR},
      #{t.category,jdbcType=VARCHAR},
      #{t.brand,jdbcType=VARCHAR},
      #{t.color,jdbcType=VARCHAR},
      #{t.specification,jdbcType=VARCHAR},
      #{t.model,jdbcType=VARCHAR},
      #{t.unit,jdbcType=VARCHAR},
      #{t.classes,jdbcType=VARCHAR},
      #{t.type,jdbcType=VARCHAR},
      #{t.tax,jdbcType=DECIMAL},
      #{t.taxPrice,jdbcType=DECIMAL},
      #{t.quantity,jdbcType=BIGINT},
      #{t.taxAmount,jdbcType=DECIMAL},
      #{t.delFlag,jdbcType=TINYINT},
      #{t.createTime,jdbcType=TIMESTAMP},
      #{t.createBy,jdbcType=VARCHAR},
      #{t.updateTime,jdbcType=TIMESTAMP},
      #{t.updateBy,jdbcType=VARCHAR},
      #{t.pictureUrl,jdbcType=VARCHAR},
      #{t.lineNum,jdbcType=BIGINT}
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.AllocationProduct">
    insert into allocation_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="allocationCode != null">
        allocation_code,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="classes != null">
        classes,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="inventoryUnit != null">
        inventory_unit,
      </if>
      <if test="inventory != null">
        inventory,
      </if>
      <if test="tax != null">
        tax,
      </if>
      <if test="taxPrice != null">
        tax_price,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="taxAmount != null">
        tax_amount,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="pictureUrl != null">
        picture_url,
      </if>
      <if test="lineNum != null">
        line_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="allocationCode != null">
        #{allocationCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="inventoryUnit != null">
        #{inventoryUnit,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=DECIMAL},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=DECIMAL},
      </if>
      <if test="taxPrice != null">
        #{taxPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=BIGINT},
      </if>
      <if test="taxAmount != null">
        #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="lineNum != null">
        #{lineNum,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.AllocationProduct">
    update allocation_product
    <set>
      <if test="allocationCode != null">
        allocation_code = #{allocationCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="inventoryUnit != null">
        inventory_unit = #{inventoryUnit,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null">
        inventory = #{inventory,jdbcType=BIGINT},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=DECIMAL},
      </if>
      <if test="taxPrice != null">
        tax_price = #{taxPrice,jdbcType=DECIMAL},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=BIGINT},
      </if>
      <if test="taxAmount != null">
        tax_amount = #{taxAmount,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="pictureUrl != null">
        picture_url = #{pictureUrl,jdbcType=VARCHAR},
      </if>
      <if test="lineNum != null">
        line_num = #{lineNum,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.AllocationProduct">
    update allocation_product
    set allocation_code = #{allocationCode,jdbcType=VARCHAR},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      inventory_unit = #{inventoryUnit,jdbcType=VARCHAR},
      inventory = #{inventory,jdbcType=BIGINT},
      tax = #{tax,jdbcType=DECIMAL},
      tax_price = #{taxPrice,jdbcType=DECIMAL},
      quantity = #{quantity,jdbcType=BIGINT},
      tax_amount = #{taxAmount,jdbcType=DECIMAL},
      del_flag = #{delFlag,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      picture_url = #{pictureUrl,jdbcType=VARCHAR},
      line_num = #{lineNum,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectQuantityBySkuCodeAndSource" resultType="com.aiqin.bms.scmp.api.product.domain.response.allocation.AllocationProductResVo">
    select
    quantity
    from allocation_product
    where
    allocation_code = #{allocationCode, jdbcType=VARCHAR}
    and sku_code = #{skuCode, jdbcType=VARCHAR}
    and line_num = #{lineCode, jdbcType=BIGINT}
  </select>
</mapper>