<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.mapper.AllocationMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.Allocation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="allocation_code" jdbcType="VARCHAR" property="allocationCode" />
    <result column="callout_logistics_center_code" jdbcType="VARCHAR" property="callOutLogisticsCenterCode" />
    <result column="callout_logistics_center_name" jdbcType="VARCHAR" property="callOutLogisticsCenterName" />
    <result column="callout_warehouse_code" jdbcType="VARCHAR" property="callOutWarehouseCode" />
    <result column="callout_warehouse_name" jdbcType="VARCHAR" property="callOutWarehouseName" />
    <result column="purchase_group_code" jdbcType="VARCHAR" property="purchaseGroupCode" />
    <result column="purchase_group_name" jdbcType="VARCHAR" property="purchaseGroupName" />
    <result column="callin_logistics_center_code" jdbcType="VARCHAR" property="callInLogisticsCenterCode" />
    <result column="callin_logistics_center_name" jdbcType="VARCHAR" property="callInLogisticsCenterName" />
    <result column="callin_warehouse_code" jdbcType="VARCHAR" property="callInWarehouseCode" />
    <result column="callin_warehouse_name" jdbcType="VARCHAR" property="callInWarehouseName" />
    <result column="principal" jdbcType="VARCHAR" property="principal" />
    <result column="quantity" jdbcType="BIGINT" property="quantity" />
    <result column="total_cost_rate" jdbcType="BIGINT" property="totalCostRate" />
    <result column="outbound_oder_code" jdbcType="VARCHAR" property="outboundOderCode" />
    <result column="inbound_oder_code" jdbcType="VARCHAR" property="inboundOderCode" />
    <result column="allocation_status_code" jdbcType="TINYINT" property="allocationStatusCode" />
    <result column="allocation_status_name" jdbcType="VARCHAR" property="allocationStatusName" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="form_no"  jdbcType="VARCHAR" property="formNo"/>
    <result column="company_code" jdbcType="VARCHAR" property="companyCode" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="direct_supervisor_code" jdbcType="VARCHAR" property="directSupervisorCode" />
    <result column="direct_supervisor_name" jdbcType="VARCHAR" property="directSupervisorName" />
    <result column="undertaking_unit_code" jdbcType="VARCHAR" property="undertakingUnitCode" />
    <result column="undertaking_unit_name" jdbcType="VARCHAR" property="undertakingUnitName" />
    <result column="remark" jdbcType="CLOB" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, allocation_code, callout_logistics_center_code,
      callout_logistics_center_name, callout_warehouse_code,
      callout_warehouse_name, purchase_group_code,
      purchase_group_name, callin_logistics_center_code,
      callin_logistics_center_name, callin_warehouse_code,
      callin_warehouse_name, principal, quantity,
      total_cost_rate, outbound_oder_code, inbound_oder_code,
      allocation_status_code, allocation_status_name,
      del_flag, create_time, create_by,
      update_time, update_by ,form_no,company_code,company_name,
      direct_supervisor_code,direct_supervisor_name,
      undertaking_unit_code,undertaking_unit_name,remark
  </sql>

  <select id="getList" parameterType="com.aiqin.bms.scmp.api.product.domain.request.allocation.QueryAllocationReqVo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM allocation
    where
    1=1
    <if test="createStartTime != null ">
      AND create_time &gt;=#{createStartTime,jdbcType=TIMESTAMP}
    </if>
    <if test="createEndTime != null">
      AND create_time &lt;=#{createEndTime,jdbcType=TIMESTAMP}
    </if>
    <if test="allocationCode != null and allocationCode != '' ">
      AND allocation_code  LIKE  CONCAT(CONCAT('%',#{allocationCode},'%'))
    </if>
    <if test="allocationStatusCode != null">
      AND allocation_status_code = #{allocationStatusCode}
    </if>
    <if test="callOutLogisticsCenterName != null and callOutLogisticsCenterName != ''">
      AND callout_logistics_center_name LIKE CONCAT('%',#{callOutLogisticsCenterName},'%')
    </if>
    <if test="callOutLogisticsCenterCode != null and callOutLogisticsCenterCode != ''">
      AND callout_logistics_center_code = #{callOutLogisticsCenterCode}
    </if>
    <if test="callOutWarehouseName != null and callOutWarehouseName != '' ">
      AND callout_warehouse_name LIKE  CONCAT('%',#{callOutWarehouseName},'%')
    </if>
    <if test="callOutWarehouseCode != null and callOutWarehouseCode != '' ">
      AND callout_warehouse_code = #{callOutWarehouseCode}
    </if>
    <if test="outboundOderCode != null and outboundOderCode != ''">
      AND outbound_oder_code LIKE  CONCAT(CONCAT('%',#{outboundOderCode},'%'))
    </if>
    <if test="callInLogisticsCenterName != null and callInLogisticsCenterName != ''">
      AND callin_logistics_center_name LIKE  CONCAT('%',#{callInLogisticsCenterName},'%')
    </if>
    <if test="callInLogisticsCenterCode != null and callInLogisticsCenterCode != ''">
      AND callin_logistics_center_code =  #{callInLogisticsCenterCode}
    </if>
    <if test="callInWarehouseName != null and callInWarehouseName != '' ">
      AND callin_warehouse_name LIKE  CONCAT(CONCAT('%',#{callInWarehouseName},'%'))
    </if>
    <if test="callInWarehouseCode != null and callInWarehouseCode != '' ">
      AND callin_warehouse_code =  #{callInWarehouseCode}
    </if>
    <if test="inboundOderCode != null and inboundOderCode != ''">
      AND inbound_oder_code LIKE  CONCAT(CONCAT('%',#{inboundOderCode},'%'))
    </if>
    <if test="companyCode != null and companyCode != ''">
      AND company_code = #{companyCode}
    </if>
    order by create_time desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from allocation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from allocation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.Allocation">
    insert into allocation (id, allocation_code, callout_logistics_center_code, 
      callout_logistics_center_name, callout_warehouse_code, 
      callout_warehouse_name,purchase_group_code,
      purchase_group_name, callin_logistics_center_code, 
      callin_logistics_center_name, callin_warehouse_code, 
      callin_warehouse_name, principal, quantity,
      total_cost_rate, outbound_oder_code, inbound_oder_code,
      allocation_status_code, allocation_status_name, 
      del_flag, create_time, create_by, 
      update_time, update_by ,form_no,
      company_code,company_name,
      direct_supervisor_code,direct_supervisor_name,
      undertaking_unit_code,undertaking_unit_name,remark)
    values (#{id,jdbcType=BIGINT}, #{allocationCode,jdbcType=VARCHAR}, #{callOutLogisticsCenterCode,jdbcType=VARCHAR}, 
      #{callOutLogisticsCenterName,jdbcType=VARCHAR}, #{callOutWarehouseCode,jdbcType=VARCHAR}, 
      #{callOutWarehouseName,jdbcType=VARCHAR}, #{purchaseGroupCode,jdbcType=VARCHAR},
      #{purchaseGroupName,jdbcType=VARCHAR}, #{callInLogisticsCenterCode,jdbcType=VARCHAR}, 
      #{callInLogisticsCenterName,jdbcType=VARCHAR}, #{callInWarehouseCode,jdbcType=VARCHAR}, 
      #{callInWarehouseName,jdbcType=VARCHAR}, #{principal,jdbcType=VARCHAR}, #{quantity,jdbcType=BIGINT},
      #{totalCostRate,jdbcType=BIGINT}, #{outboundOderCode,jdbcType=VARCHAR}, #{inboundOderCode,jdbcType=VARCHAR},
      #{allocationStatusCode,jdbcType=TINYINT}, #{allocationStatusName,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{update,jdbcType=VARCHAR},#{formNo,jdbcType=VARCHAR},
      #{company_code, jdbcType=VARCHAR },#{company_name,jdbcType=VARCHAR},
      #{directSupervisorCode,jdbcType=VARCHAR}, #{directSupervisorName,jdbcType=VARCHAR},
      #{undertakingUnitCode,jdbcType=VARCHAR},#{undertakingUnitName,jdbcType=VARCHAR},#{remark,jdbcType=CLOB})
</insert>
  <insert id="insertSelective"  keyProperty="id" useGeneratedKeys="true" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.Allocation">
    insert into allocation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="allocationCode != null">
        allocation_code,
      </if>
      <if test="callOutLogisticsCenterCode != null">
        callout_logistics_center_code,
      </if>
      <if test="callOutLogisticsCenterName != null">
        callout_logistics_center_name,
      </if>
      <if test="callOutWarehouseCode != null">
        callout_warehouse_code,
      </if>
      <if test="callOutWarehouseName != null">
        callout_warehouse_name,
      </if>
      <if test="purchaseGroupCode != null">
        purchase_group_code,
      </if>
      <if test="purchaseGroupName != null">
        purchase_group_name,
      </if>
      <if test="callInLogisticsCenterCode != null">
        callin_logistics_center_code,
      </if>
      <if test="callInLogisticsCenterName != null">
        callin_logistics_center_name,
      </if>
      <if test="callInWarehouseCode != null">
        callin_warehouse_code,
      </if>
      <if test="callInWarehouseName != null">
        callin_warehouse_name,
      </if>
      <if test="principal != null">
        principal,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="totalCostRate != null">
        total_cost_rate,
      </if>
      <if test="outboundOderCode != null">
        outbound_oder_code,
      </if>
      <if test="inboundOderCode != null">
        inbound_oder_code,
      </if>
      <if test="allocationStatusCode != null">
        allocation_status_code,
      </if>
      <if test="allocationStatusName != null">
        allocation_status_name,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="formNo !=null">
        form_no,
      </if>
      <if test="companyCode != null">
        company_code,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="directSupervisorCode != null">
        direct_supervisor_code,
      </if>
      <if test="directSupervisorName != null">
        direct_supervisor_name,
      </if>
      <if test="undertakingUnitCode != null">
        undertaking_unit_code,
      </if>
      <if test="undertakingUnitName != null">
        undertaking_unit_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="allocationCode != null">
        #{allocationCode,jdbcType=VARCHAR},
      </if>
      <if test="callOutLogisticsCenterCode != null">
        #{callOutLogisticsCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="callOutLogisticsCenterName != null">
        #{callOutLogisticsCenterName,jdbcType=VARCHAR},
      </if>
      <if test="callOutWarehouseCode != null">
        #{callOutWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="callOutWarehouseName != null">
        #{callOutWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="inventoryAttributesCode != null">
        #{inventoryAttributesCode,jdbcType=VARCHAR},
      </if>
      <if test="inventoryAttributesName != null">
        #{inventoryAttributesName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseGroupCode != null">
        #{purchaseGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseGroupName != null">
        #{purchaseGroupName,jdbcType=VARCHAR},
      </if>
      <if test="callInLogisticsCenterCode != null">
        #{callInLogisticsCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="callInLogisticsCenterName != null">
        #{callInLogisticsCenterName,jdbcType=VARCHAR},
      </if>
      <if test="callInWarehouseCode != null">
        #{callInWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="callInWarehouseName != null">
        #{callInWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="allocationTypeCode != null">
        #{allocationTypeCode,jdbcType=TINYINT},
      </if>
      <if test="allocationTypeName != null">
        #{allocationTypeName,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=BIGINT},
      </if>
      <if test="totalCostRate != null">
        #{totalCostRate,jdbcType=BIGINT},
      </if>
      <if test="outboundOderCode != null">
        #{outboundOderCode,jdbcType=VARCHAR},
      </if>
      <if test="inboundOderCode != null">
        #{inboundOderCode,jdbcType=VARCHAR},
      </if>
      <if test="allocationStatusCode != null">
        #{allocationStatusCode,jdbcType=TINYINT},
      </if>
      <if test="allocationStatusName != null">
        #{allocationStatusName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="formNo !=null">
       #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        #{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="directSupervisorCode != null">
        #{directSupervisorCode,jdbcType=VARCHAR},
      </if>
      <if test="directSupervisorName != null">
        #{directSupervisorName,jdbcType=VARCHAR},
      </if>
      <if test="undertakingUnitCode != null">
        #{undertakingUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="undertakingUnitName != null">
        #{undertakingUnitName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
       #{remark,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.Allocation">
    update allocation
    <set>
      <if test="allocationCode != null">
        allocation_code = #{allocationCode,jdbcType=VARCHAR},
      </if>
      <if test="callOutLogisticsCenterCode != null">
        callout_logistics_center_code = #{callOutLogisticsCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="callOutLogisticsCenterName != null">
        callout_logistics_center_name = #{callOutLogisticsCenterName,jdbcType=VARCHAR},
      </if>
      <if test="callOutWarehouseCode != null">
        callout_warehouse_code = #{callOutWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="callOutWarehouseName != null">
        callout_warehouse_name = #{callOutWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseGroupCode != null">
        purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseGroupName != null">
        purchase_group_name = #{purchaseGroupName,jdbcType=VARCHAR},
      </if>
      <if test="callInLogisticsCenterCode != null">
        callin_logistics_center_code = #{callInLogisticsCenterCode,jdbcType=VARCHAR},
      </if>
      <if test="callInLogisticsCenterName != null">
        callin_logistics_center_name = #{callInLogisticsCenterName,jdbcType=VARCHAR},
      </if>
      <if test="callInWarehouseCode != null">
        callin_warehouse_code = #{callInWarehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="callInWarehouseName != null">
        callin_warehouse_name = #{callInWarehouseName,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=BIGINT},
      </if>
      <if test="totalCostRate != null">
        total_cost_rate = #{totalCostRate,jdbcType=BIGINT},
      </if>
      <if test="outboundOderCode != null">
        outbound_oder_code = #{outboundOderCode,jdbcType=VARCHAR},
      </if>
      <if test="inboundOderCode != null">
        inbound_oder_code = #{inboundOderCode,jdbcType=VARCHAR},
      </if>
      <if test="allocationStatusCode != null">
        allocation_status_code = #{allocationStatusCode,jdbcType=TINYINT},
      </if>
      <if test="allocationStatusName != null">
        allocation_status_name = #{allocationStatusName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="formNo !=null">
        form_no = #{formNo,jdbcType=VARCHAR},
      </if>
      <if test="companyCode != null">
        company_code=#{companyCode,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name=#{companyName,jdbcType=VARCHAR},
      </if>
      <if test="directSupervisorCode != null">
        direct_supervisor_code = #{directSupervisorCode,jdbcType=VARCHAR},
      </if>
      <if test="directSupervisorName != null">
        direct_supervisor_name = #{directSupervisorName,jdbcType=VARCHAR},
      </if>
      <if test="undertakingUnitCode != null">
        undertaking_unit_code = #{undertakingUnitCode,jdbcType=VARCHAR},
      </if>
      <if test="undertakingUnitName != null">
        undertaking_unit_name = #{undertakingUnitName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=CLOB},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.Allocation">
    update allocation
    set allocation_code = #{allocationCode,jdbcType=VARCHAR},
      callout_logistics_center_code = #{callOutLogisticsCenterCode,jdbcType=VARCHAR},
      callout_logistics_center_name = #{callOutLogisticsCenterName,jdbcType=VARCHAR},
      callout_warehouse_code = #{callOutWarehouseCode,jdbcType=VARCHAR},
      callout_warehouse_name = #{callOutWarehouseName,jdbcType=VARCHAR},
      purchase_group_code = #{purchaseGroupCode,jdbcType=VARCHAR},
      purchase_group_name = #{purchaseGroupName,jdbcType=VARCHAR},
      callin_logistics_center_code = #{callInLogisticsCenterCode,jdbcType=VARCHAR},
      callin_logistics_center_name = #{callInLogisticsCenterName,jdbcType=VARCHAR},
      callin_warehouse_code = #{callInWarehouseCode,jdbcType=VARCHAR},
      callin_warehouse_name = #{callInWarehouseName,jdbcType=VARCHAR},
      principal = #{principal,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=BIGINT},
      total_cost_rate = #{totalCostRate,jdbcType=BIGINT},
      outbound_oder_code = #{outboundOderCode,jdbcType=VARCHAR},
      inbound_oder_code = #{inboundOderCode,jdbcType=VARCHAR},
      allocation_status_code = #{allocationStatusCode,jdbcType=TINYINT},
      allocation_status_name = #{allocationStatusName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      form_no = #{formNo,jdbcType=VARCHAR},
      company_code = #{companyCode,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      direct_supervisor_code = #{directSupervisorCode,jdbcType=VARCHAR},
      direct_supervisor_name = #{directSupervisorName,jdbcType=VARCHAR},
      undertaking_unit_code = #{undertakingUnitCode,jdbcType=VARCHAR},
      undertaking_unit_name = #{undertakingUnitName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=CLOB},
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByFormNO" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from allocation
    where form_no = #{formNo,jdbcType=VARCHAR}
  </select>

  <select id="findIdByFormNo" parameterType="java.lang.String" resultType="long">
    select
      id
    from allocation
    where form_no = #{formNo,jdbcType=BIGINT}
  </select>
  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from allocation
    where allocation_code = #{allocationCode,jdbcType=VARCHAR}
  </select>
</mapper>