<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.dao.DailyStockMapper">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.pojo.DailyStock">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="yesterday_stock_num" jdbcType="BIGINT" property="yesterdayStockNum" />
    <result column="yesterday_stock_price" jdbcType="BIGINT" property="yesterdayStockPrice" />
    <result column="yesterday_inbound_num" jdbcType="BIGINT" property="yesterdayInboundNum" />
    <result column="yesterday_outbound_num" jdbcType="BIGINT" property="yesterdayOutboundNum" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_code, sku_name, yesterday_stock_num, yesterday_stock_price, yesterday_inbound_num, 
    yesterday_outbound_num, del_flag, create_time, create_by, update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from daily_stock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from daily_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.DailyStock">
    insert into daily_stock (id, sku_code, sku_name, 
      yesterday_stock_num, yesterday_stock_price, yesterday_inbound_num, 
      yesterday_outbound_num, del_flag, create_time, 
      create_by, update_time, update_by
      )
    values (#{id,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR}, 
      #{yesterdayStockNum,jdbcType=BIGINT}, #{yesterdayStockPrice,jdbcType=BIGINT}, #{yesterdayInboundNum,jdbcType=BIGINT}, 
      #{yesterdayOutboundNum,jdbcType=BIGINT}, #{delFlag,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.DailyStock">
    insert into daily_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="skuName != null">
        sku_name,
      </if>
      <if test="yesterdayStockNum != null">
        yesterday_stock_num,
      </if>
      <if test="yesterdayStockPrice != null">
        yesterday_stock_price,
      </if>
      <if test="yesterdayInboundNum != null">
        yesterday_inbound_num,
      </if>
      <if test="yesterdayOutboundNum != null">
        yesterday_outbound_num,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="yesterdayStockNum != null">
        #{yesterdayStockNum,jdbcType=BIGINT},
      </if>
      <if test="yesterdayStockPrice != null">
        #{yesterdayStockPrice,jdbcType=BIGINT},
      </if>
      <if test="yesterdayInboundNum != null">
        #{yesterdayInboundNum,jdbcType=BIGINT},
      </if>
      <if test="yesterdayOutboundNum != null">
        #{yesterdayOutboundNum,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.DailyStock">
    update daily_stock
    <set>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="skuName != null">
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="yesterdayStockNum != null">
        yesterday_stock_num = #{yesterdayStockNum,jdbcType=BIGINT},
      </if>
      <if test="yesterdayStockPrice != null">
        yesterday_stock_price = #{yesterdayStockPrice,jdbcType=BIGINT},
      </if>
      <if test="yesterdayInboundNum != null">
        yesterday_inbound_num = #{yesterdayInboundNum,jdbcType=BIGINT},
      </if>
      <if test="yesterdayOutboundNum != null">
        yesterday_outbound_num = #{yesterdayOutboundNum,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aiqin.bms.scmp.api.product.domain.pojo.DailyStock">
    update daily_stock
    set sku_code = #{skuCode,jdbcType=VARCHAR},
      sku_name = #{skuName,jdbcType=VARCHAR},
      yesterday_stock_num = #{yesterdayStockNum,jdbcType=BIGINT},
      yesterday_stock_price = #{yesterdayStockPrice,jdbcType=BIGINT},
      yesterday_inbound_num = #{yesterdayInboundNum,jdbcType=BIGINT},
      yesterday_outbound_num = #{yesterdayOutboundNum,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>