<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.dao.ProductPriceChangeDao">

    <sql id="table">
        product_price_change
    </sql>
    <sql id="db_base_column">
      distributor_id,distributor_name,distributor_code,product_id,product_code,product_name,sku_code,spec,model,color,before_change_price,after_change_price,before_change_member_price,after_change_member_price,logo,images,create_time,create_by,create_by_name,purchase_price
    </sql>
    <sql id="base_column">
      id,distributor_id as distributorId,distributor_name as distributorName,distributor_code as distributorCode,product_id as productId,product_code as productCode,product_name as productName,sku_code as skuCode,spec,model,color,before_change_price as beforeChangePrice,after_change_price as afterChangePrice,before_change_member_price as beforeChangeMemberPrice,after_change_member_price as afterChangeMemberPrice,logo,images,create_time as createTime,create_by as createBy,create_by_name as createByName,purchase_price as purchasePrice
    </sql>

    <insert id="insert" parameterType="com.aiqin.bms.scmp.api.product.domain.ProductPriceChange">
        insert into
        <include refid="table"/>
        (
        <include refid="db_base_column"/>
        )
        values
        (
        #{distributorId},#{distributorName},#{distributorCode},#{productId},#{productCode},#{productName},#{skuCode},#{spec},#{model},#{color},#{beforeChangePrice},#{afterChangePrice},#{beforeChangeMemberPrice},#{afterChangeMemberPrice},#{logo},#{images},#{createTime},#{createBy},#{createByName},#{purchasePrice}
        )
    </insert>

    <select id="listProductPriceChange" parameterType="com.aiqin.bms.scmp.api.product.domain.request.ProductPriceChangeQuery" resultType="com.aiqin.bms.scmp.api.product.domain.ProductPriceChange">

    select
        <include refid="base_column"/>
        from
        <include refid="table"/>
        where
        distributor_id = #{distributorId}
        and
        sku_code = #{skuCode}
        order by create_time desc
        limit #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

    <select id="countPriceChange" resultType="java.lang.Integer" parameterType="com.aiqin.bms.scmp.api.product.domain.request.ProductPriceChangeQuery">
        select count(id)
        from
        <include refid="table"/>
        where
        distributor_id = #{distributorId}
        and
        sku_code = #{skuCode}

    </select>
</mapper>