<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.dao.ProductCycleDao">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.ProductCycle">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="cycle" jdbcType="INTEGER" property="cycle"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, product_id, cycle
  </sql>
    <select id="selectProductCycleByProductIdList" parameterType="string"
            resultMap="BaseResultMap" resultType="com.aiqin.bms.scmp.api.product.domain.ProductCycle">
        select
        <include refid="Base_Column_List"/>
        from product_cycle
        <where>
            <if test="productIdList != null and productIdList.size > 0">
                product_id in (
                <foreach collection="productIdList" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
        </where>
    </select>
</mapper>