<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.dao.ProductDistributorDao">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.ProductDistributor">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="spu_code" jdbcType="VARCHAR" property="spuCode"/>
        <result column="distributor_id" jdbcType="VARCHAR" property="distributorId"/>
        <result column="distributor_code" jdbcType="VARCHAR" property="distributorCode"/>
        <result column="distributor_name" jdbcType="VARCHAR" property="distributorName"/>
        <result column="storage_type" jdbcType="BIT" property="storageType"/>
        <result column="display_stock" jdbcType="INTEGER" property="displayStock"/>
        <result column="return_stock" jdbcType="INTEGER" property="returnStock"/>
        <result column="storage_stock" jdbcType="INTEGER" property="storageStock"/>
        <result column="lock_stock" jdbcType="INTEGER" property="lockStock"/>
        <result column="warning_stock" jdbcType="INTEGER" property="warningStock"/>
        <result column="default_warning_stock" jdbcType="INTEGER" property="defaultWarningStock"/>
        <result column="show_stock" jdbcType="INTEGER" property="showStock"/>
        <result column="warning_status" jdbcType="BIT" property="warningStatus"/>
        <result column="custom_sales" jdbcType="INTEGER" property="customSales"/>
        <result column="freight" jdbcType="INTEGER" property="freight"/>
        <result column="bar_code" jdbcType="VARCHAR" property="barCode"/>
        <result column="product_id" jdbcType="VARCHAR" property="productId"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="product_code" jdbcType="VARCHAR" property="productCode"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="spec" jdbcType="VARCHAR" property="spec"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="color_code" jdbcType="VARCHAR" property="colorCode"/>
        <result column="color_name" jdbcType="VARCHAR" property="colorName"/>
        <result column="unit_code" jdbcType="VARCHAR" property="unitCode"/>
        <result column="model_number" jdbcType="VARCHAR" property="modelNumber"/>
        <result column="show_name" jdbcType="VARCHAR" property="showName"/>
        <result column="price" jdbcType="BIGINT" property="price"/>
        <result column="member_price" jdbcType="BIGINT" property="memberPrice"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="images" jdbcType="VARCHAR" property="images"/>
        <result column="itro_images" jdbcType="VARCHAR" property="itroImages"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
        <result column="on_sale" jdbcType="BIT" property="onSale"/>
        <result column="distribution_channel" jdbcType="BIT" property="distributionChannel"/>
        <result column="brand_id" jdbcType="BIT" property="brandId"/>
        <result column="brand_name" jdbcType="BIT" property="brandName"/>
        <result column="sale_time" jdbcType="TIMESTAMP" property="saleTime"/>
        <result column="del_flag" jdbcType="BIT" property="delFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, sku_code, spu_code, distributor_id, distributor_code, distributor_name, storage_type, display_stock,
    return_stock, storage_stock, lock_stock, warning_stock, default_warning_stock, show_stock, warning_status,
    custom_sales, freight, bar_code, product_id, category_id, category_name, product_code, product_name, spec,
    unit,unit_code,color_code,color_name,model_number, show_name, price, member_price, logo, images, itro_images, keyword, on_sale, distribution_channel, brand_id, brand_name,
    sale_time, create_time, update_time, create_by, update_by
  </sql>
    <select id="countWeiShopSku" resultType="java.lang.Integer" parameterType="string">
    select count(1) from product_distributor where distribution_channel = 1 and distributor_id =
    #{distributorId, jdbcType=VARCHAR}
  </select>
    <select id="countShopSku" resultType="java.lang.Integer" parameterType="string">
    select count(1) from product_distributor where distributor_id =
    #{distributorId, jdbcType=VARCHAR}
  </select>
    <select id="countWeiShopTopSku" resultType="java.lang.Integer" parameterType="string">
    select count(1) from product_distributor where on_sale = 1 and distribution_channel = 1 and distributor_id =
    #{distributorId, jdbcType=VARCHAR}
  </select>
    <select id="countShopTopSku" resultType="java.lang.Integer" parameterType="string">
    select count(1) from product_distributor where on_sale = 1 and distributor_id =
    #{distributorId, jdbcType=VARCHAR}
  </select>
    <select id="countAllTopSku" resultType="java.lang.Integer" parameterType="string">
    select count(1) from product_distributor where on_sale = 1 and distributor_id = #{distributorId, jdbcType=VARCHAR}
  </select>
    <select id="countAllDownSku" resultType="java.lang.Integer" parameterType="string">
    select count(1) from product_distributor where on_sale = 0 and distributor_id = #{distributorId, jdbcType=VARCHAR}
  </select>
    <select id="countSoldOutShopSku" resultType="java.lang.Integer" parameterType="string">
    select count(1) from product_distributor where (storage_stock = 0 and display_stock = 0) or
    (storage_stock + display_stock - lock_stock = 0) and distributor_id = #{distributorId, jdbcType=VARCHAR}
  </select>
    <select id="countSoldOutWeiShopSku" resultType="java.lang.Integer" parameterType="string">
    select count(1) from product_distributor where storage_stock = 0 and display_stock = 0 and distribution_channel = 1
    and on_sale = 1 and distributor_id = #{distributorId, jdbcType=VARCHAR}
  </select>
    <select id="selectWarningStockSku" parameterType="string"
            resultType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_distributor where distributor_id =
        #{distributorId, jdbcType=VARCHAR} and warning_status=1 and IFNULL(display_stock,0)-IFNULL(lock_stock,0) &lt;=
        IFNULL(warning_stock,0)
    </select>
    <select id="countWarningStockSku" resultType="java.lang.Integer" parameterType="string">
    select count(1) from product_distributor where distributor_id =
    #{distributorId, jdbcType=VARCHAR} and warning_status=1 and IFNULL(display_stock,0)-IFNULL(lock_stock,0) &lt;= IFNULL(warning_stock,0)
  </select>
    <select id="selectProductInfoBySkuCode" parameterType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor"
            resultType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_distributor where
        <if test="skuCode != null">
            sku_code = #{skuCode,jdbcType=VARCHAR}
        </if>
        <if test="distributorId != null">
            and distributor_id = #{distributorId,jdbcType=VARCHAR}
        </if>
    </select>
    <update id="updateProductInfoByProductId" parameterType="com.aiqin.bms.scmp.api.product.domain.request.ProductRequest">
        update product_distributor
        <set>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="showName != null">
                show_name = #{showName,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=BIGINT},
            </if>
            <if test="memberPrice != null">
                member_price = #{memberPrice,jdbcType=BIGINT},
            </if>
            <if test="colorCode != null">
                color_code = #{colorCode}
            </if>
            <if test="colorName != null">
                color_name = #{colorName}
            </if>
            <if test="modelNumber != null">
                model_number = #{modelNumber}
            </if>
            <if test="unitCode != null">
                unit_code = #{unitCode}
            </if>
            <if test="warningStock != null">
                warning_stock = #{warningStock,jdbcType=INTEGER},
            </if>
            <if test="customSales != null">
                custom_sales = #{customSales,jdbcType=INTEGER},
            </if>
            <if test="images != null">
                images = #{images,jdbcType=VARCHAR},
            </if>
            <if test="keyword != null">
                keyword = #{keyword,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        where product_id = #{productId,jdbcType=VARCHAR}
    </update>
    <select id="selectProductInfoByProductCodeList" parameterType="com.aiqin.bms.scmp.api.product.domain.Product"
            resultMap="BaseResultMap" resultType="java.util.List">
        select d.*, p.retail_price
        from product_distributor d left join product p on p.product_id = d.product_id
        <where>
            <if test="productCodeList != null">
                d.product_code in(
                <foreach collection="productCodeList" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            and d.del_flag != 1
        </where>
    </select>
    <select id="selectProductInfoBySearch" parameterType="com.aiqin.bms.scmp.api.product.domain.Product"
            resultMap="BaseResultMap" resultType="java.util.List">
        select d.*, p.retail_price
        from product_distributor d left join product p on p.product_id = d.product_id
        <where>
            <if test="categoryId != null">
                p.category_id = #{categoryId,jdbcType=VARCHAR}
            </if>
            <if test="brandId != null">
                and p.brand_id = #{brandId,jdbcType=VARCHAR}
            </if>
            <if test="productName != null">
                and p.product_name like concat('%',#{productName,jdbcType=VARCHAR},'%')
            </if>
            and d.del_flag != 1
        </where>
    </select>
    <update id="updateProductDisBySearch">
        update product_distributor
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="spec =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.spec !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.spec,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="unit =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.unit !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.unit,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="unit_code =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.unitCode !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.unitCode,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="color_code =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.colorCode !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.colorCode,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="color_name =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.colorName !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.colorName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="model_number =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.modelNumber !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.modelNumber,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="brand_id =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.brandId !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.brandId,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="show_stock =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.showStock !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.showStock,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="warning_stock =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.warningStock !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.warningStock,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="show_name =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.showName !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.showName,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="price =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.price !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.price,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="member_price =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.memberPrice !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.memberPrice,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="images =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.images !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.images,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="itro_images =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.itroImages !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.itroImages,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="custom_sales =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.customSales !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.customSales,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="freight =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.freight !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.freight,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="on_sale =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.onSale !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then #{item.onSale,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sale_time =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.onSale !=null ">
                        when sku_code=#{item.skuCode,jdbcType=VARCHAR} then now()
                    </if>
                </foreach>
            </trim>
            distribution_channel = 1, update_time = now()
        </trim>
        where sku_code in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.skuCode,jdbcType=VARCHAR}
        </foreach>
        and distributor_id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.distributorId,jdbcType=VARCHAR}
        </foreach>
    </update>
    <select id="selectProductPage" parameterType="com.aiqin.bms.scmp.api.product.domain.request.ProductSearchRequest"
            resultType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_distributor
        <where>
            <if test="distributorId != null">
                distributor_id = #{distributorId,jdbcType=VARCHAR}
            </if>
            <if test="productName != null">
                and product_name like concat('%',#{productName,jdbcType=VARCHAR},'%')
            </if>
            <if test="skuCodes != null and skuCodes.size > 0">
                and sku_code in(
                <foreach collection="skuCodes" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="barCode != null">
                and bar_code like concat('%',#{barCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="distributionChannels != null and distributionChannels.size > 0">
                and distribution_channel in (
                <foreach collection="distributionChannels" item="item" index="" separator=",">
                    #{item,jdbcType=INTEGER}
                </foreach>
                )
            </if>
            <if test="brandIds != null and brandIds.size > 0">
                and brand_id in (
                <foreach collection="brandIds" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="categoryIds != null and categoryIds.size > 0">
                and category_id in (
                <foreach collection="categoryIds" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="onSale != null">
                and on_sale = #{onSale,jdbcType=BIT}
            </if>
            <if test="rangeStockFrom != null">
                and display_stock &gt;= #{rangeStockFrom,jdbcType=INTEGER}
            </if>
            <if test="rangeStockTo != null">
                and display_stock &lt;= #{rangeStockTo,jdbcType=INTEGER}
            </if>
            <if test="warningStatus != null">
                and warning_status = #{warningStatus,jdbcType=BIT}
            </if>
            <if test="showStock != null">
                and show_stock &gt; 0
            </if>
            <if test="keyword != null">
                and (keyword like concat('%',#{keyword,jdbcType=VARCHAR},'%')
                or product_name like concat('%',#{keyword,jdbcType=VARCHAR},'%')
                or show_name like concat('%',#{keyword,jdbcType=VARCHAR},'%'))
            </if>
            <if test="text != null">
                and (product_name like concat('%',#{text,jdbcType=VARCHAR},'%')
                or bar_code like concat('%',#{text,jdbcType=VARCHAR},'%')
                or sku_code like concat('%',#{text,jdbcType=VARCHAR},'%'))
            </if>
            <if test="skuCodesNotIn!=null and skuCodesNotIn.size > 0">
                and sku_code not in (
                <foreach collection="skuCodesNotIn" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
        </where>
        order by
        <if test="orderBy != null and orderBy == 'price'">
            price
            <if test="ascOrDesc != null and ascOrDesc == 'desc'">
                desc
            </if>
            <if test="ascOrDesc != null and ascOrDesc == 'asc'">
                asc
            </if>
        </if>
        <if test="orderBy != null and orderBy == 'sale'">
            custom_sales
            <if test="ascOrDesc != null and ascOrDesc == 'desc'">
                desc
            </if>
            <if test="ascOrDesc != null and ascOrDesc == 'asc'">
                asc
            </if>
        </if>
        <if test="orderBy == null or orderBy == ''">
            sale_time DESC,
            custom_sales ASC,
            show_stock ASC
        </if>
        limit #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>
    <select id="countProductPage" parameterType="com.aiqin.bms.scmp.api.product.domain.request.ProductSearchRequest"
            resultType="java.lang.Integer">
        select count(1)
        from product_distributor
        <where>
            <if test="distributorId != null">
                distributor_id = #{distributorId,jdbcType=VARCHAR}
            </if>
            <if test="productName != null">
                and product_name like concat('%',#{productName,jdbcType=VARCHAR},'%')
            </if>
            <if test="skuCodes != null and skuCodes.size > 0">
                and sku_code in(
                <foreach collection="skuCodes" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="barCode != null">
                and bar_code like concat('%',#{barCode,jdbcType=VARCHAR},'%')
            </if>
            <if test="distributionChannels != null and distributionChannels.size > 0">
                and distribution_channel in (
                <foreach collection="distributionChannels" item="item" index="" separator=",">
                    #{item,jdbcType=INTEGER}
                </foreach>
                )
            </if>
            <if test="brandIds != null and brandIds.size > 0">
                and brand_id in (
                <foreach collection="brandIds" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="categoryIds != null and categoryIds.size > 0">
                and category_id in (
                <foreach collection="categoryIds" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="onSale != null">
                and on_sale = #{onSale,jdbcType=BIT}
            </if>
            <if test="rangeStockFrom != null">
                and display_stock &gt;= #{rangeStockFrom,jdbcType=INTEGER}
            </if>
            <if test="rangeStockTo != null">
                and display_stock &lt;= #{rangeStockTo,jdbcType=INTEGER}
            </if>
            <if test="warningStatus != null">
                and warning_status = #{warningStatus,jdbcType=BIT}
            </if>
            <if test="showStock != null">
                and show_stock &gt; 0
            </if>
            <if test="keyword != null">
                and (keyword like concat('%',#{keyword,jdbcType=VARCHAR},'%')
                or product_name like concat('%',#{keyword,jdbcType=VARCHAR},'%')
                or show_name like concat('%',#{keyword,jdbcType=VARCHAR},'%'))
            </if>
            <if test="text != null">
                and (bar_code like concat('%',#{text,jdbcType=VARCHAR},'%')
                or sku_code like concat('%',#{text,jdbcType=VARCHAR},'%'))
            </if>
            <if test="skuCodesNotIn!=null and skuCodesNotIn.size > 0">
                and sku_code not in (
                <foreach collection="skuCodesNotIn" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
        </where>
    </select>
    <select id="selectProductDisByDisId" parameterType="string"
            resultMap="BaseResultMap" resultType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor">
        select
        <include refid="Base_Column_List"/>
        from product_distributor where distributor_id = #{distributorId,jdbcType=VARCHAR}
    </select>
    <update id="updateChannelBySkuCode" parameterType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor">
    update product_distributor set distribution_channel = 0, update_by = #{updateBy, jdbcType=VARCHAR} where
    sku_code = #{skuCode, jdbcType=VARCHAR} and distributor_id = #{distributorId, jdbcType=VARCHAR}
  </update>
    <select id="selectProductInfoByProductIdList"
            parameterType="com.aiqin.bms.scmp.api.product.domain.request.ProductSkuRequest"
            resultMap="BaseResultMap" resultType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor">
        select
        <include refid="Base_Column_List"/>
        from product_distributor
        <where>
            <if test="skuCodeList != null">
                sku_code in(
                <foreach collection="skuCodeList" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="brandIdList != null">
                and brand_id in(
                <foreach collection="brandIdList" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="categoryIdList != null">
                and category_id in(
                <foreach collection="categoryIdList" item="item" index="" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                )
            </if>
            <if test="productName != null">
                and product_name like concat('%',#{productName,jdbcType=VARCHAR},'%')
            </if>
            <if test="distributorId != null">
                and distributor_id = #{distributorId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectProductInfoByIdOrCode" parameterType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor"
            resultMap="BaseResultMap" resultType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor">
        select
        <include refid="Base_Column_List"/>
        from product_distributor
        <where>
            <if test="productName != null">
                (product_name like concat('%',#{productName,jdbcType=VARCHAR},'%') or
                product_code like concat('%',#{productName,jdbcType=VARCHAR},'%') or
                bar_code like concat('%',#{productName,jdbcType=VARCHAR},'%') )
            </if>
            <if test="distributorId != null">
                and distributor_id = #{distributorId, jdbcType=VARCHAR}
            </if>
        </where>
        limit #{beginIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>
    <select id="countProductInfoByIdOrCode" parameterType="com.aiqin.bms.scmp.api.product.domain.ProductDistributor"
            resultType="java.lang.Integer">
        select count(1)
        from product_distributor
        <where>
            <if test="productName != null">
                (product_name like concat('%',#{productName,jdbcType=VARCHAR},'%') or
                product_code like concat('%',#{productName,jdbcType=VARCHAR},'%') or
                bar_code like concat('%',#{productName,jdbcType=VARCHAR},'%') )
            </if>
            <if test="distributorId != null">
                and distributor_id = #{distributorId, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <sql id="table">
		product_distributor
	</sql>

    <update id="updateProductPrice" parameterType="int">
        update
        <include refid="table"/>
        set
        <if test="request.price != null">
            price = #{request.price},
        </if>
        <if test="request.memberPrice != null">
            member_price = #{request.memberPrice}
        </if>
        where
        distributor_id = #{request.distributorId}
        and
        sku_code = #{request.skuCode}
    </update>

    <select id="getSelectByDistributorIdAndSkuCodeIn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_distributor
        where distributor_id = #{distributorId}
        and
        sku_code in(
        <foreach collection="list" item="item" index="" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
        )
    </select>


    <update id="batchUpdateStock" parameterType="java.util.List">
        <foreach collection="list" separator=";" open="" close="" index="index" item="item">
            update product_distributor
            set display_stock= #{item.displayStock} ,update_time=NOW(),update_by=#{item.updateBy}
            where distributor_id=#{item.distributorId} and sku_code=#{item.skuCode}
        </foreach>
    </update>

    <insert id="batchInsertStock" parameterType="java.util.List">
        <foreach collection="list" separator=";" open="" close="" index="index" item="item">
            INSERT INTO product_distributor
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.spuCode!=null">spu_code,</if>
                <if test="item.skuCode!=null">sku_code,</if>
                <if test="item.distributorId!=null">distributor_id,</if>
                <if test="item.distributorCode!=null">distributor_code,</if>
                <if test="item.distributorName!=null">distributor_name,</if>
                <if test="item.storageType!=null">storage_type,</if>
                <if test="item.displayStock!=null">display_stock,</if>
                <if test="item.returnStock!=null">return_stock,</if>
                <if test="item.storageStock!=null">storage_stock,</if>
                <if test="item.lockStock!=null">lock_stock,</if>
                <if test="item.warningStock!=null">warning_stock,</if>
                <if test="item.defaultWarningStock!=null">default_warning_stock,</if>
                <if test="item.warningStatus!=null">warning_status,</if>
                <if test="item.freight!=null">freight,</if>
                <if test="item.barCode!=null">bar_code,</if>
                <if test="item.productId!=null">product_id,</if>
                <if test="item.categoryId!=null">category_id,</if>
                <if test="item.categoryName!=null">category_name,</if>
                <if test="item.productCode!=null">product_code,</if>
                <if test="item.productName!=null">product_name,</if>
                <if test="item.spec!=null">spec,</if>
                <if test="item.unit!=null">unit,</if>
                <if test="item.showName!=null">show_name,</if>
                <if test="item.price!=null">price,</if>
                <if test="item.logo!=null">logo,</if>
                <if test="item.images!=null">images,</if>
                <if test="item.itroImages!=null">itro_images,</if>
                <if test="item.keyword!=null">keyword,</if>
                <if test="item.onSale!=null">on_sale,</if>
                <if test="item.distributionChannel!=null">distribution_channel,</if>
                <if test="item.brandId!=null">brand_id,</if>
                <if test="item.brandName!=null">brand_name,</if>
                <if test="item.saleTime!=null">sale_time,</if>
                <if test="item.createTime!=null">create_time,</if>
                <if test="item.updateTime!=null">update_time,</if>
                <if test="item.createBy!=null">create_by,</if>
                <if test="item.updateBy!=null">update_by,</if>
                <if test="item.delFlag!=null">del_flag,</if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.spuCode!=null">#{item.spuCode},</if>
                <if test="item.skuCode!=null">#{item.skuCode},</if>
                <if test="item.distributorId!=null">#{item.distributorId},</if>
                <if test="item.distributorCode!=null">#{item.distributorCode},</if>
                <if test="item.distributorName!=null">#{item.distributorName},</if>
                <if test="item.storageType!=null">#{item.storageType},</if>
                <if test="item.displayStock!=null">#{item.displayStock},</if>
                <if test="item.returnStock!=null">#{item.returnStock},</if>
                <if test="item.storageStock!=null">#{item.storageStock},</if>
                <if test="item.lockStock!=null">#{item.lockStock},</if>
                <if test="item.warningStock!=null">#{item.warningStock},</if>
                <if test="item.defaultWarningStock!=null">#{item.defaultWarningStock},</if>
                <if test="item.warningStatus!=null">#{item.warningStatus},</if>
                <if test="item.freight!=null">#{item.freight},</if>
                <if test="item.barCode!=null">#{item.barCode},</if>
                <if test="item.productId!=null">#{item.productId},</if>
                <if test="item.categoryId!=null">#{item.categoryId},</if>
                <if test="item.categoryName!=null">#{item.categoryName},</if>
                <if test="item.productCode!=null">#{item.productCode},</if>
                <if test="item.productName!=null">#{item.productName},</if>
                <if test="item.spec!=null">#{item.spec},</if>
                <if test="item.unit!=null">#{item.unit},</if>
                <if test="item.showName!=null">#{item.showName},</if>
                <if test="item.price!=null">#{item.price},</if>
                <if test="item.logo!=null">#{item.logo},</if>
                <if test="item.images!=null">#{item.images},</if>
                <if test="item.itroImages!=null">#{item.itroImages},</if>
                <if test="item.keyword!=null">#{item.keyword},</if>
                <if test="item.onSale!=null">#{item.onSale},</if>
                <if test="item.distributionChannel!=null">#{item.distributionChannel},</if>
                <if test="item.brandId!=null">#{item.brandId},</if>
                <if test="item.brandName!=null">#{item.brandName},</if>
                <if test="item.saleTime!=null">#{item.saleTime},</if>
                <if test="item.createTime!=null">#{item.createTime},</if>
                <if test="item.updateTime!=null">#{item.updateTime},</if>
                <if test="item.createBy!=null">#{item.createBy},</if>
                <if test="item.updateBy!=null">#{item.updateBy},</if>
                <if test="item.delFlag!=null">#{item.delFlag},</if>
            </trim>
        </foreach>
    </insert>
    <select id="selectProductByCategoryId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_distributor
        <where>
            1=1
            <if test="categoryId != null">
                and category_id = #{categoryId, jdbcType=VARCHAR}
            </if>
            <if test="distributorId != null">
                and distributor_id = #{distributorId, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>