<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.dao.ProductCategoryDistributionDao">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.ProductCategoryDistribution">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="distributor_id" jdbcType="VARCHAR" property="distributorId"/>
        <result column="distributor_name" jdbcType="VARCHAR" property="distributorName"/>
        <result column="is_show" jdbcType="BIT" property="isShow"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, category_id, category_name, distributor_id, distributor_name, is_show, create_time, update_time,
        create_by, update_by
    </sql>
    <insert id="insertCategoryInfoWhenOnSale"
            parameterType="com.aiqin.bms.scmp.api.product.domain.ProductCategoryDistribution">
        insert into product_category_distributor(
        category_id,
        category_name,
        distributor_id,
        distributor_name,
        is_show,
        create_time,
        update_time,
        create_by,
        update_by)
        values (
        #{categoryId, jdbcType=VARCHAR},
        #{categoryName, jdbcType=VARCHAR},
        #{distributorId, jdbcType=VARCHAR},
        #{distributorName, jdbcType=VARCHAR},
        #{isShow, jdbcType=BIT},
        now(),
        now(),
        #{createBy, jdbcType=VARCHAR},
        #{updateBy, jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertList">
          insert into product_category_distributor(
        category_id,
        category_name,
        distributor_id,
        distributor_name,
        is_show,
        create_time,
        update_time,
        create_by,
        update_by)
        values
        <foreach collection="list" index="index" item="vo"   separator="," >
            (
            #{vo.categoryId},
            #{vo.categoryName},
            #{vo.distributorId},
            #{vo.distributorName},
            #{vo.isShow},
            now(),
            now(),
            #{vo.createBy},
            #{vo.updateBy}
            )
        </foreach>
    </insert>
    <update id="updateCategoryInfoWhenOnSale"
            parameterType="com.aiqin.bms.scmp.api.product.domain.ProductCategoryDistribution">
        update product_category_distributor
        <set>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=BIT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        where category_id = #{categoryId, jdbcType=VARCHAR}
    </update>
    <select id="selectCategoryDisInfoByCategoryId"
            resultType="com.aiqin.bms.scmp.api.product.domain.ProductCategoryDistribution">
        select
        <include refid="Base_Column_List"/>
        from product_category_distributor
        where category_id = #{categoryId, jdbcType=VARCHAR} and distributor_id = #{distributorId, jdbcType=VARCHAR}
    </select>
    <select id="selectCategoryDisInfoByDisId" parameterType="string"
            resultMap="BaseResultMap" resultType="com.aiqin.bms.scmp.api.product.domain.ProductCategoryDistribution">
        select
        <include refid="Base_Column_List"/>
        from product_category_distributor
        where distributor_id = #{distributorId, jdbcType=VARCHAR}
    </select>
    <update id="deleteCategoryInfoByCategoryIdAndDisId">
        update product_category_distributor set del_flag = 1
        where 1=1
        <if test="brandId != null">
            and category_id = #{categoryId, jdbcType=VARCHAR}
        </if>
        <if test="distributorId != null">
            and distributor_id = #{distributorId, jdbcType=VARCHAR}
        </if>
    </update>
</mapper>