<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.product.dao.ProductBrandTypeDao">
    <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.product.domain.ProductBrandType">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="brand_id" jdbcType="VARCHAR" property="brandId"/>
        <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
        <result column="brand_status" jdbcType="BIT" property="brandStatus"/>
        <result column="brand_logo" jdbcType="VARCHAR" property="brandLogo"/>
        <result column="brand_top" jdbcType="BIT" property="brandTop"/>
        <result column="brand_tag" jdbcType="VARCHAR" property="brandTag"/>
        <result column="brand_code" jdbcType="VARCHAR" property="brandCode"/>
        <result column="brand_logo_name" jdbcType="VARCHAR" property="brandLogoName"/>
        <result column="brand_introduction" jdbcType="VARCHAR" property="brandIntroduction"/>
        <result column="brand_initials" jdbcType="VARCHAR" property="brandInitials"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="del_flag" jdbcType="BIT" property="delFlag"/>
        <result column="holder" jdbcType="BIT" property="holder"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, brand_id, brand_name, brand_status, brand_logo, brand_top, brand_tag, brand_code,brand_logo_name,
        brand_introduction, brand_initials, create_time, update_time, create_by, update_by, del_flag, holder
  </sql>
    <select id="selectListByQueryVO"
            resultType="com.aiqin.bms.scmp.api.product.domain.response.QueryProductBrandRespVO">
        select
        id id,
        brand_id brandId,
        brand_name brandName,
        brand_status brandStatus,
        brand_logo brandLogo,
        brand_logo_name brandLogoName,
        brand_initials brandInitials,
        create_time createTime,
        update_time updateTime,
        create_by createBy,
        update_by updateBy
        from product_brand_type
        where 1=1
        <if test="brandId != null and brandId !='' ">
            and brand_id LIKE CONCAT('%',#{brandId,jdbcType=VARCHAR}, '%')
        </if>
        <if test="brandInitials != null and brandInitials !='' ">
            and brand_initials LIKE CONCAT('%',#{brandInitials,jdbcType=VARCHAR}, '%')
        </if>
        <if test="brandStatus != null">
            and brand_status = #{brandStatus,jdbcType=INTEGER}
        </if>
        <if test="brandName != null and brandName !='' ">
            and brand_name LIKE CONCAT('%', #{brandName,jdbcType=INTEGER}, '%')
        </if>
        <if test="createDateStart != null ">
            and create_time &gt; #{createDateStart,jdbcType=TIMESTAMP}
        </if>
        <if test="createDateEnd != null ">
            and create_time &lt; #{createDateEnd,jdbcType=TIMESTAMP}
        </if>
        <if test="companyCode != null and companyCode != '' ">
            and company_code = #{companyCode,jdbcType=VARCHAR}
        </if>
        order by create_time desc
    </select>
    <insert id="insertBrand" useGeneratedKeys="true" keyProperty="id" parameterType="com.aiqin.bms.scmp.api.product.domain.ProductBrandType">
    insert into product_brand_type (id, brand_id, brand_name,
      brand_status, brand_logo, brand_top,
      brand_tag, brand_code, brand_logo_name,
      brand_initials, brand_introduction, create_time,
      update_time, create_by, update_by,
      del_flag,holder,company_code,company_name)
    values (#{id,jdbcType=BIGINT}, #{brandId,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR},
      #{brandStatus,jdbcType=TINYINT}, #{brandLogo,jdbcType=VARCHAR}, #{brandTop,jdbcType=TINYINT},
      #{brandTag,jdbcType=VARCHAR}, #{brandCode,jdbcType=VARCHAR}, #{brandLogoName,jdbcType=VARCHAR},
      #{brandInitials,jdbcType=VARCHAR}, #{brandIntroduction,jdbcType=VARCHAR}, now(),
      now(), #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR},
      #{delFlag,jdbcType=TINYINT}, #{holder,jdbcType=VARCHAR}, #{companyCode,jdbcType=VARCHAR},
      #{companyName,jdbcType=VARCHAR})
  </insert>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from product_brand_type
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByBrandName" resultType="com.aiqin.bms.scmp.api.product.domain.ProductBrandType">
        select
        <include refid="Base_Column_List" />
        from product_brand_type
        where brand_name = #{brandName,jdbcType=VARCHAR}
        <if test="companyCode != null and companyCode != '' ">
            and company_code = #{companyCode,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectByBrandCodes" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from product_brand_type
        where brand_id in
        <foreach collection="codes" separator="," item="code" open="(" close=")">
            #{code}
        </foreach>
    </select>
    <select id="selectByBrandNames" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from product_brand_type
        where company_code = #{companyCode} and brand_status = 0
        and brand_name in
        <foreach collection="list" separator="," item="code" open="(" close=")">
            #{code}
        </foreach>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.aiqin.bms.scmp.api.product.domain.ProductBrandType">
        update product_brand_type
        <set>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=VARCHAR},
            </if>
            <if test="brandName != null">
                brand_name = #{brandName,jdbcType=VARCHAR},
            </if>
            <if test="brandStatus != null">
                brand_status = #{brandStatus,jdbcType=TINYINT},
            </if>
            <if test="brandLogo != null">
                brand_logo = #{brandLogo,jdbcType=VARCHAR},
            </if>
            <if test="brandTop != null">
                brand_top = #{brandTop,jdbcType=TINYINT},
            </if>
            <if test="brandTag != null">
                brand_tag = #{brandTag,jdbcType=VARCHAR},
            </if>
            <if test="brandCode != null">
                brand_code = #{brandCode,jdbcType=VARCHAR},
            </if>
            <if test="brandLogoName != null">
                brand_logo_name = #{brandLogoName,jdbcType=VARCHAR},
            </if>
            <if test="brandInitials != null">
                brand_initials = #{brandInitials,jdbcType=VARCHAR},
            </if>
            <if test="brandIntroduction != null">
                brand_introduction = #{brandIntroduction,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="holder != null">
                holder = #{holder,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>