<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.statistics.dao.StatComMonthAccSalesDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.statistics.domain.StatComMonthAccSales">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stat_year" jdbcType="BIGINT" property="statYear" />
    <result column="stat_month" jdbcType="BIGINT" property="statMonth" />
    <result column="product_sort_code" jdbcType="VARCHAR" property="productSortCode" />
    <result column="product_sort_name" jdbcType="VARCHAR" property="productSortName" />
    <result column="price_channel_code" jdbcType="VARCHAR" property="priceChannelCode" />
    <result column="price_channel_name" jdbcType="VARCHAR" property="priceChannelName" />
    <result column="product_property_code" jdbcType="BIGINT" property="productPropertyCode" />
    <result column="product_property_name" jdbcType="VARCHAR" property="productPropertyName" />
    <result column="store_type_code" jdbcType="BIGINT" property="storeTypeCode" />
    <result column="store_type" jdbcType="VARCHAR" property="storeType" />
    <result column="data_type_code" jdbcType="BIGINT" property="dataTypeCode" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="channel_sales_cost_acc" jdbcType="BIGINT" property="channelSalesCostAcc" />
    <result column="channel_sales_cost_acc_yearonyear" jdbcType="DECIMAL" property="channelSalesCostAccYearonyear" />
    <result column="channel_sales_cost_acc_link_rela" jdbcType="DECIMAL" property="channelSalesCostAccLinkRela" />
    <result column="channel_sales_amount_acc" jdbcType="BIGINT" property="channelSalesAmountAcc" />
    <result column="channel_sales_amount_acc_yearonyear" jdbcType="DECIMAL" property="channelSalesAmountAccYearonyear" />
    <result column="channel_sales_amount_acc_link_rela" jdbcType="DECIMAL" property="channelSalesAmountAccLinkRela" />
    <result column="channel_margin_acc" jdbcType="BIGINT" property="channelMarginAcc" />
    <result column="channel_margin_acc_yearonyear" jdbcType="DECIMAL" property="channelMarginAccYearonyear" />
    <result column="channel_margin_acc_link_rela" jdbcType="DECIMAL" property="channelMarginAccLinkRela" />
    <result column="channel_margin_acc_rate" jdbcType="DECIMAL" property="channelMarginAccRate" />
    <result column="channel_margin_acc_rate_yearonyear" jdbcType="DECIMAL" property="channelMarginAccRateYearonyear" />
    <result column="channel_margin_acc_rate_link_rela" jdbcType="DECIMAL" property="channelMarginAccRateLinkRela" />
    <result column="distribution_sales_cost_acc" jdbcType="BIGINT" property="distributionSalesCostAcc" />
    <result column="distribution_sales_cost_acc_yearonyear" jdbcType="DECIMAL" property="distributionSalesCostAccYearonyear" />
    <result column="distribution_sales_cost_acc_link_rela" jdbcType="DECIMAL" property="distributionSalesCostAccLinkRela" />
    <result column="distribution_sales_amount_acc" jdbcType="BIGINT" property="distributionSalesAmountAcc" />
    <result column="distribution_sales_amount_acc_yearonyear" jdbcType="DECIMAL" property="distributionSalesAmountAccYearonyear" />
    <result column="distribution_sales_amount_acc_link_rela" jdbcType="DECIMAL" property="distributionSalesAmountAccLinkRela" />
    <result column="distribution_margin_acc" jdbcType="BIGINT" property="distributionMarginAcc" />
    <result column="distribution_margin_acc_yearonyear" jdbcType="DECIMAL" property="distributionMarginAccYearonyear" />
    <result column="distribution_margin_acc_link_rela" jdbcType="DECIMAL" property="distributionMarginAccLinkRela" />
    <result column="distribution_margin_acc_rate" jdbcType="DECIMAL" property="distributionMarginAccRate" />
    <result column="distribution_margin_acc_rate_yearonyear" jdbcType="DECIMAL" property="distributionMarginAccRateYearonyear" />
    <result column="distribution_margin_acc_rate_link_rela" jdbcType="DECIMAL" property="distributionMarginAccRateLinkRela" />
    <result column="channel_budget_acc" jdbcType="BIGINT" property="channelBudgetAcc" />
    <result column="distribution_budget_acc" jdbcType="BIGINT" property="distributionBudgetAcc" />
    <result column="channel_acc_achievement" jdbcType="DECIMAL" property="channelAccAchievement" />
    <result column="distribution_acc_achievement" jdbcType="DECIMAL" property="distributionAccAchievement" />
    <result column="channe_acc_rate" jdbcType="DECIMAL" property="channeAccRate" />
    <result column="distribution_acc_rate" jdbcType="DECIMAL" property="distributionAccRate" />
    <result column="channel_amount_acc_last_year" jdbcType="BIGINT" property="channelAmountAccLastYear" />
    <result column="channel_amount_acc_last_month" jdbcType="BIGINT" property="channelAmountAccLastMonth" />
    <result column="channel_margin_acc_last_year" jdbcType="BIGINT" property="channelMarginAccLastYear" />
    <result column="channel_margin_acc_last_month" jdbcType="BIGINT" property="channelMarginAccLastMonth" />
    <result column="distribution_amount_acc_last_year" jdbcType="BIGINT" property="distributionAmountAccLastYear" />
    <result column="distribution_amount_acc_last_month" jdbcType="BIGINT" property="distributionAmountAccLastMonth" />
    <result column="distribution_margin_acc_last_year" jdbcType="BIGINT" property="distributionMarginAccLastYear" />
    <result column="distribution_margin_acc_last_month" jdbcType="BIGINT" property="distributionMarginAccLastMonth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stat_year, stat_month, product_sort_code, product_sort_name, price_channel_code, 
    price_channel_name, product_property_code, product_property_name, store_type_code, 
    store_type, data_type_code, data_type, channel_sales_cost_acc, channel_sales_cost_acc_yearonyear, 
    channel_sales_cost_acc_link_rela, channel_sales_amount_acc, channel_sales_amount_acc_yearonyear, 
    channel_sales_amount_acc_link_rela, channel_margin_acc, channel_margin_acc_yearonyear, 
    channel_margin_acc_link_rela, channel_margin_acc_rate, channel_margin_acc_rate_yearonyear, 
    channel_margin_acc_rate_link_rela, distribution_sales_cost_acc, distribution_sales_cost_acc_yearonyear, 
    distribution_sales_cost_acc_link_rela, distribution_sales_amount_acc, distribution_sales_amount_acc_yearonyear, 
    distribution_sales_amount_acc_link_rela, distribution_margin_acc, distribution_margin_acc_yearonyear, 
    distribution_margin_acc_link_rela, distribution_margin_acc_rate, distribution_margin_acc_rate_yearonyear, 
    distribution_margin_acc_rate_link_rela, channel_budget_acc, distribution_budget_acc, 
    channel_acc_achievement, distribution_acc_achievement, channe_acc_rate, distribution_acc_rate, 
    channel_amount_acc_last_year, channel_amount_acc_last_month, channel_margin_acc_last_year, 
    channel_margin_acc_last_month, distribution_amount_acc_last_year, distribution_amount_acc_last_month, 
    distribution_margin_acc_last_year, distribution_margin_acc_last_month, create_time
  </sql>
  <select id="saleSum" resultType="com.aiqin.bms.scmp.api.statistics.domain.response.sale.SaleSumResponse">
    select
    sum(ifnull(channel_sales_cost_acc,0)) as channelSalesCost, sum(ifnull(channel_sales_amount_acc,0)) as channelSalesAmount,
    sum(ifnull(channel_margin_acc,0)) as channelMargin, sum(ifnull(distribution_sales_cost_acc,0)) as distributionSalesCost,
    sum(ifnull(distribution_sales_amount_acc,0)) as distributionSalesAmount, sum(ifnull(distribution_margin_acc,0)) as distributionMargin,
    sum(ifnull(channel_amount_acc_last_year,0)) as channelAmountLastYear, sum(ifnull(channel_amount_acc_last_month,0)) as channelAmountLastMonth,
    sum(ifnull(channel_margin_acc_last_year,0)) as channelMarginLastYear, sum(ifnull(channel_margin_acc_last_month,0)) as channelMarginLastMonth,
    sum(ifnull(distribution_amount_acc_last_year,0)) as distributionAmountLastYear, sum(ifnull(distribution_amount_acc_last_month,0)) as distributionAmountLastMonth,
    sum(ifnull(distribution_margin_acc_last_year,0)) as distributionMarginLastYear, sum(ifnull(distribution_margin_acc_last_month,0)) as distributionMarginLastMonth,
    sum(ifnull(channel_budget_acc,0)) as channelBudget, sum(ifnull(distribution_budget_acc,0)) as distributionBudget
    from stat_com_month_acc_sales
    where stat_year = #{year,jdbcType=BIGINT}
    and stat_month = #{month,jdbcType=BIGINT}
    <if test="dataTypeCode != null">
      and data_type_code = #{dataTypeCode,jdbcType=BIGINT}
    </if>
    <if test="productPropertyCode != null">
      and product_property_code = #{productPropertyCode,jdbcType=BIGINT}
    </if>
  </select>
  <select id="saleByDept" resultType="com.aiqin.bms.scmp.api.statistics.domain.response.CompanyAndDeptResponse">
    select
    product_sort_code as productSortCode, product_sort_name as productSortName
    from stat_com_month_acc_sales
    where stat_year = #{year,jdbcType=BIGINT}
    and stat_month = #{month,jdbcType=BIGINT}
    <if test="dataTypeCode != null">
      and data_type_code = #{dataTypeCode,jdbcType=BIGINT}
    </if>
    <if test="productPropertyCode != null">
      and product_property_code = #{productPropertyCode,jdbcType=BIGINT}
    </if>
    group by product_sort_code
    order by product_sort_code
  </select>
  <select id="saleSumDept" resultType="com.aiqin.bms.scmp.api.statistics.domain.response.sale.SaleDeptResponse">
    select
    product_sort_code as productSortCode, product_sort_name as productSortName,
    sum(ifnull(channel_sales_cost_acc,0)) as channelSalesCost, sum(ifnull(channel_sales_amount_acc,0)) as channelSalesAmount,
    sum(ifnull(channel_margin_acc,0)) as channelMargin, sum(ifnull(distribution_sales_cost_acc,0)) as distributionSalesCost,
    sum(ifnull(distribution_sales_amount_acc,0)) as distributionSalesAmount, sum(ifnull(distribution_margin_acc,0)) as distributionMargin,
    sum(ifnull(channel_amount_acc_last_year,0)) as channelAmountLastYear, sum(ifnull(channel_amount_acc_last_month,0)) as channelAmountLastMonth,
    sum(ifnull(channel_margin_acc_last_year,0)) as channelMarginLastYear, sum(ifnull(channel_margin_acc_last_month,0)) as channelMarginLastMonth,
    sum(ifnull(distribution_amount_acc_last_year,0)) as distributionAmountLastYear, sum(ifnull(distribution_amount_acc_last_month,0)) as distributionAmountLastMonth,
    sum(ifnull(distribution_margin_acc_last_year,0)) as distributionMarginLastYear, sum(ifnull(distribution_margin_acc_last_month,0)) as distributionMarginLastMonth,
    sum(ifnull(channel_budget_acc,0)) as channelBudget, sum(ifnull(distribution_budget_acc,0)) as distributionBudget
    from stat_com_month_acc_sales
    where stat_year = #{year,jdbcType=BIGINT}
    and stat_month = #{month,jdbcType=BIGINT}
    and product_sort_code = #{productSortCode,jdbcType=VARCHAR}
    <if test="dataTypeCode != null">
      and data_type_code = #{dataTypeCode,jdbcType=BIGINT}
    </if>
    <if test="productPropertyCode != null">
      and product_property_code = #{productPropertyCode,jdbcType=BIGINT}
    </if>
  </select>
  <select id="saleByCompany" resultType="com.aiqin.bms.scmp.api.statistics.domain.response.CompanyAndDeptResponse">
    select
    product_sort_code as productSortCode, product_sort_name as productSortName,
    price_channel_code as priceChannelCode, price_channel_name as priceChannelName
    from stat_com_month_acc_sales
    where stat_year = #{year,jdbcType=BIGINT}
    and stat_month = #{month,jdbcType=BIGINT}
    and product_sort_code = #{productSortCode,jdbcType=VARCHAR}
    <if test="dataTypeCode != null">
      and data_type_code = #{dataTypeCode,jdbcType=BIGINT}
    </if>
    <if test="productPropertyCode != null">
      and product_property_code = #{productPropertyCode,jdbcType=BIGINT}
    </if>
    group by price_channel_code
    order by price_channel_code
  </select>
  <select id="saleSumCompany" resultType="com.aiqin.bms.scmp.api.statistics.domain.response.sale.SaleCompanyResponse">
    select
    product_sort_code as productSortCode, product_sort_name as productSortName,
    price_channel_code as priceChannelCode, price_channel_name as priceChannelName,
    sum(ifnull(channel_sales_cost_acc,0)) as channelSalesCost, sum(ifnull(channel_sales_amount_acc,0)) as channelSalesAmount,
    sum(ifnull(channel_margin_acc,0)) as channelMargin, sum(ifnull(distribution_sales_cost_acc,0)) as distributionSalesCost,
    sum(ifnull(distribution_sales_amount_acc,0)) as distributionSalesAmount, sum(ifnull(distribution_margin_acc,0)) as distributionMargin,
    sum(ifnull(channel_amount_acc_last_year,0)) as channelAmountLastYear, sum(ifnull(channel_amount_acc_last_month,0)) as channelAmountLastMonth,
    sum(ifnull(channel_margin_acc_last_year,0)) as channelMarginLastYear, sum(ifnull(channel_margin_acc_last_month,0)) as channelMarginLastMonth,
    sum(ifnull(distribution_amount_acc_last_year,0)) as distributionAmountLastYear, sum(ifnull(distribution_amount_acc_last_month,0)) as distributionAmountLastMonth,
    sum(ifnull(distribution_margin_acc_last_year,0)) as distributionMarginLastYear, sum(ifnull(distribution_margin_acc_last_month,0)) as distributionMarginLastMonth
    from stat_com_month_acc_sales
    where stat_year = #{year,jdbcType=BIGINT}
    and stat_month = #{month,jdbcType=BIGINT}
    and product_sort_code = #{productSortCode,jdbcType=VARCHAR}
    and price_channel_code = #{priceChannelCode,jdbcType=VARCHAR}
    <if test="dataTypeCode != null">
      and data_type_code = #{dataTypeCode,jdbcType=BIGINT}
    </if>
    <if test="productPropertyCode != null">
      and product_property_code = #{productPropertyCode,jdbcType=BIGINT}
    </if>
  </select>
  <select id="saleStoreList" resultType="com.aiqin.bms.scmp.api.statistics.domain.response.sale.SaleStoreResponse">
    select
    product_sort_code as productSortCode, product_sort_name as productSortName, price_channel_code as priceChannelCode,
    price_channel_name as priceChannelName, store_type_code as storeTypeCode, store_type as storeType,
    product_property_code as productPropertyCode, product_property_name as productPropertyName,
    data_type_code as dataTypeCode, data_type as dataType, create_time as createTime,
    sum(ifnull(channel_sales_cost_acc,0)) as channelSalesCost, sum(ifnull(channel_sales_amount_acc,0)) as channelSalesAmount,
    sum(ifnull(channel_margin_acc,0)) as channelMargin, sum(ifnull(distribution_sales_cost_acc,0)) as distributionSalesCost,
    sum(ifnull(distribution_sales_amount_acc,0)) as distributionSalesAmount, sum(ifnull(distribution_margin_acc,0)) as distributionMargin,
    sum(ifnull(channel_amount_acc_last_year,0)) as channelAmountLastYear, sum(ifnull(channel_amount_acc_last_month,0)) as channelAmountLastMonth,
    sum(ifnull(channel_margin_acc_last_year,0)) as channelMarginLastYear, sum(ifnull(channel_margin_acc_last_month,0)) as channelMarginLastMonth,
    sum(ifnull(distribution_amount_acc_last_year,0)) as distributionAmountLastYear, sum(ifnull(distribution_amount_acc_last_month,0)) as distributionAmountLastMonth,
    sum(ifnull(distribution_margin_acc_last_year,0)) as distributionMarginLastYear, sum(ifnull(distribution_margin_acc_last_month,0)) as distributionMarginLastMonth
    from stat_com_month_acc_sales
    where stat_year = #{year,jdbcType=BIGINT}
    and stat_month = #{month,jdbcType=BIGINT}
    and product_sort_code = #{productSortCode,jdbcType=VARCHAR}
    and price_channel_code = #{priceChannelCode,jdbcType=VARCHAR}
    <if test="dataTypeCode != null">
      and data_type_code = #{dataTypeCode,jdbcType=BIGINT}
    </if>
    <if test="productPropertyCode != null">
      and product_property_code = #{productPropertyCode,jdbcType=BIGINT}
    </if>
    group by store_type_code
    order by store_type_code
  </select>
</mapper>