<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.statistics.dao.StatDeptCategorySalesDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.statistics.domain.StatDeptCategorySales">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stat_year" jdbcType="BIGINT" property="statYear" />
    <result column="stat_month" jdbcType="BIGINT" property="statMonth" />
    <result column="product_sort_code" jdbcType="VARCHAR" property="productSortCode" />
    <result column="product_sort_name" jdbcType="VARCHAR" property="productSortName" />
    <result column="price_channel_code" jdbcType="VARCHAR" property="priceChannelCode" />
    <result column="price_channel_name" jdbcType="VARCHAR" property="priceChannelName" />
    <result column="store_type_code" jdbcType="BIGINT" property="storeTypeCode" />
    <result column="store_type" jdbcType="VARCHAR" property="storeType" />
    <result column="lv1" jdbcType="VARCHAR" property="lv1" />
    <result column="lv1_category_name" jdbcType="VARCHAR" property="lv1CategoryName" />
    <result column="curr_sales_amount" jdbcType="BIGINT" property="currSalesAmount" />
    <result column="pre_sales_amount" jdbcType="BIGINT" property="preSalesAmount" />
    <result column="curr_margin" jdbcType="BIGINT" property="currMargin" />
    <result column="pre_margin" jdbcType="BIGINT" property="preMargin" />
    <result column="sales_amount_link_rela_growth_rate" jdbcType="DECIMAL" property="salesAmountLinkRelaGrowthRate" />
    <result column="margin_link_rela_growth_rate" jdbcType="DECIMAL" property="marginLinkRelaGrowthRate" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stat_year, stat_month, product_sort_code, product_sort_name, price_channel_code, 
    price_channel_name, store_type_code, store_type, lv1, lv1_category_name, curr_sales_amount, 
    pre_sales_amount, curr_margin, pre_margin, sales_amount_link_rela_growth_rate, margin_link_rela_growth_rate, 
    rate, create_time
  </sql>
  <select id="categorySum" resultType="com.aiqin.bms.scmp.api.statistics.domain.response.category.CategoryResponse">
    select
    product_sort_code as productSortCode, product_sort_name as productSortName, price_channel_code as priceChannelCode,
    price_channel_name as priceChannelName, store_type_code as storeTypeCode, store_type as storeType, lv1,
    lv1_category_name as lv1CategoryName,
    sum(ifnull(curr_sales_amount,0)) as currSalesAmount, sum(ifnull(pre_sales_amount,0)) as preSalesAmount,
    sum(ifnull(curr_margin,0)) as currMargin, sum(ifnull(pre_margin,0)) as preMargin
    from stat_com_category_sales
    where stat_year = #{year,jdbcType=BIGINT}
    and stat_month = #{month,jdbcType=BIGINT}
    and product_sort_code = #{productSortCode,jdbcType=VARCHAR}
    <if test="priceChannelCode != null">
      and price_channel_code = #{priceChannelCode,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="categoryByCompany" resultType="com.aiqin.bms.scmp.api.statistics.domain.response.CompanyAndDeptResponse">
    select
    product_sort_code as productSortCode, product_sort_name as productSortName,
    price_channel_code as priceChannelCode, price_channel_name as priceChannelName
    from stat_com_category_sales
    where stat_year = #{year,jdbcType=BIGINT}
    and stat_month = #{month,jdbcType=BIGINT}
    and product_sort_code = #{productSortCode,jdbcType=VARCHAR}
    group by price_channel_code
    order by price_channel_code
  </select>
  <select id="categoryList" resultType="com.aiqin.bms.scmp.api.statistics.domain.response.category.CategoryResponse">
     select
      product_sort_code as productSortCode, product_sort_name as productSortName, price_channel_code as priceChannelCode,
      price_channel_name as priceChannelName, store_type_code as storeTypeCode, store_type as storeType, lv1,
      lv1_category_name as lv1CategoryName, create_time as createTime, ifnull(curr_sales_amount,0) as currSalesAmount,
      ifnull(pre_sales_amount,0) as preSalesAmount, ifnull(curr_margin,0) as currMargin,
      ifnull(pre_margin,0) as preMargin
    from stat_com_category_sales
    where stat_year = #{year,jdbcType=BIGINT}
    and stat_month = #{month,jdbcType=BIGINT}
    and product_sort_code = #{productSortCode,jdbcType=VARCHAR}
    and price_channel_code = #{priceChannelCode,jdbcType=VARCHAR}
    order by store_type_code,lv1
  </select>
</mapper>