<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.statistics.dao.StatComSalesMonthlyDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.statistics.domain.StatComSalesMonthly">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stat_year" jdbcType="BIGINT" property="statYear" />
    <result column="stat_month" jdbcType="BIGINT" property="statMonth" />
    <result column="product_sort_code" jdbcType="VARCHAR" property="productSortCode" />
    <result column="product_sort_name" jdbcType="VARCHAR" property="productSortName" />
    <result column="price_channel_code" jdbcType="VARCHAR" property="priceChannelCode" />
    <result column="price_channel_name" jdbcType="VARCHAR" property="priceChannelName" />
    <result column="product_property_code" jdbcType="BIGINT" property="productPropertyCode" />
    <result column="product_property_name" jdbcType="VARCHAR" property="productPropertyName" />
    <result column="store_type_code" jdbcType="BIGINT" property="storeTypeCode" />
    <result column="store_type" jdbcType="VARCHAR" property="storeType" />
    <result column="data_type_code" jdbcType="BIGINT" property="dataTypeCode" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="channel_sales_cost" jdbcType="BIGINT" property="channelSalesCost" />
    <result column="channel_sales_cost_yearonyear" jdbcType="DECIMAL" property="channelSalesCostYearonyear" />
    <result column="channel_sales_cost_link_rela" jdbcType="DECIMAL" property="channelSalesCostLinkRela" />
    <result column="channel_sales_amount" jdbcType="BIGINT" property="channelSalesAmount" />
    <result column="channel_sales_amount_yearonyear" jdbcType="DECIMAL" property="channelSalesAmountYearonyear" />
    <result column="channel_sales_amount_link_rela" jdbcType="DECIMAL" property="channelSalesAmountLinkRela" />
    <result column="channel_margin" jdbcType="BIGINT" property="channelMargin" />
    <result column="channel_margin_yearonyear" jdbcType="DECIMAL" property="channelMarginYearonyear" />
    <result column="channel_margin_link_rela" jdbcType="DECIMAL" property="channelMarginLinkRela" />
    <result column="channel_margin_rate" jdbcType="DECIMAL" property="channelMarginRate" />
    <result column="channel_margin_rate_yearonyear" jdbcType="DECIMAL" property="channelMarginRateYearonyear" />
    <result column="channel_margin_rate_link_rela" jdbcType="DECIMAL" property="channelMarginRateLinkRela" />
    <result column="distribution_sales_cost" jdbcType="BIGINT" property="distributionSalesCost" />
    <result column="distribution_sales_cost_yearonyear" jdbcType="DECIMAL" property="distributionSalesCostYearonyear" />
    <result column="distribution_sales_cost_link_rela" jdbcType="DECIMAL" property="distributionSalesCostLinkRela" />
    <result column="distribution_sales_amount" jdbcType="BIGINT" property="distributionSalesAmount" />
    <result column="distribution_sales_amount_yearonyear" jdbcType="DECIMAL" property="distributionSalesAmountYearonyear" />
    <result column="distribution_sales_amount_link_rela" jdbcType="DECIMAL" property="distributionSalesAmountLinkRela" />
    <result column="distribution_margin" jdbcType="BIGINT" property="distributionMargin" />
    <result column="distribution_margin_yearonyear" jdbcType="DECIMAL" property="distributionMarginYearonyear" />
    <result column="distribution_margin_link_rela" jdbcType="DECIMAL" property="distributionMarginLinkRela" />
    <result column="distribution_margin_rate" jdbcType="DECIMAL" property="distributionMarginRate" />
    <result column="distribution_margin_rate_yearonyear" jdbcType="DECIMAL" property="distributionMarginRateYearonyear" />
    <result column="distribution_margin_rate_link_rela" jdbcType="DECIMAL" property="distributionMarginRateLinkRela" />
    <result column="channel_budget" jdbcType="BIGINT" property="channelBudget" />
    <result column="distribution_budget" jdbcType="BIGINT" property="distributionBudget" />
    <result column="channel_achievement" jdbcType="DECIMAL" property="channelAchievement" />
    <result column="distribution_achievement" jdbcType="DECIMAL" property="distributionAchievement" />
    <result column="channe_rate" jdbcType="DECIMAL" property="channeRate" />
    <result column="distribution_rate" jdbcType="DECIMAL" property="distributionRate" />
    <result column="channel_amount_last_year" jdbcType="BIGINT" property="channelAmountLastYear" />
    <result column="channel_amount_last_month" jdbcType="BIGINT" property="channelAmountLastMonth" />
    <result column="channel_margin_last_year" jdbcType="BIGINT" property="channelMarginLastYear" />
    <result column="channel_margin_last_month" jdbcType="BIGINT" property="channelMarginLastMonth" />
    <result column="distribution_amount_last_year" jdbcType="BIGINT" property="distributionAmountLastYear" />
    <result column="distribution_amount_last_month" jdbcType="BIGINT" property="distributionAmountLastMonth" />
    <result column="distribution_margin_last_year" jdbcType="BIGINT" property="distributionMarginLastYear" />
    <result column="distribution_margin_last_month" jdbcType="BIGINT" property="distributionMarginLastMonth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stat_year, stat_month, product_sort_code, product_sort_name, price_channel_code, 
    price_channel_name, product_property_code, product_property_name, store_type_code, 
    store_type, data_type_code, data_type, channel_sales_cost, channel_sales_cost_yearonyear, 
    channel_sales_cost_link_rela, channel_sales_amount, channel_sales_amount_yearonyear, 
    channel_sales_amount_link_rela, channel_margin, channel_margin_yearonyear, channel_margin_link_rela, 
    channel_margin_rate, channel_margin_rate_yearonyear, channel_margin_rate_link_rela, 
    distribution_sales_cost, distribution_sales_cost_yearonyear, distribution_sales_cost_link_rela, 
    distribution_sales_amount, distribution_sales_amount_yearonyear, distribution_sales_amount_link_rela, 
    distribution_margin, distribution_margin_yearonyear, distribution_margin_link_rela, 
    distribution_margin_rate, distribution_margin_rate_yearonyear, distribution_margin_rate_link_rela, 
    channel_budget, distribution_budget, channel_achievement, distribution_achievement, 
    channe_rate, distribution_rate, channel_amount_last_year, channel_amount_last_month, 
    channel_margin_last_year, channel_margin_last_month, distribution_amount_last_year, 
    distribution_amount_last_month, distribution_margin_last_year, distribution_margin_last_month, 
    create_time
  </sql>
</mapper>