<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiqin.bms.scmp.api.purchase.dao.bi.BiGrossProfitMarginDao">
  <resultMap id="BaseResultMap" type="com.aiqin.bms.scmp.api.purchase.domain.bi.BiGrossProfitMargin">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="total_turnover" jdbcType="DECIMAL" property="totalTurnover" />
    <result column="inventory_cost" jdbcType="DECIMAL" property="inventoryCost" />
    <result column="gross_profit_margin" jdbcType="DECIMAL" property="grossProfitMargin" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    total_turnover, inventory_cost, gross_profit_margin
  </sql>
  <select id="grossProfitMargin" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from bi_gross_profit_margin where
    create_time &gt;= #{beginTime,jdbcType=VARCHAR}
    and create_time &lt;= #{finishTime,jdbcType=VARCHAR}
  </select>
</mapper>